Repository facebook/react, pull requests merged in 2020-10, with the labels that each got.

#19939 DevTools: Remove ReactJS.org version check "cheat"
  packages/react-devtools-extensions/src/background.js
Labels: CLA Signed

#19928 Fix codestyle for typeof comparison
  packages/react-reconciler/src/ReactFiberHooks.new.js
Labels: CLA Signed

#19943 Debug tracing tests for CPU bound suspense
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#19949 Remove unnecessary error overriding in
  packages/shared/__tests__/ReactErrorProd-test.internal.js
Labels: CLA Signed

#19959 Revert "DevTools: Improve browser extension iframe support (#19854)"
  fixtures/devtools/iframe/iframe-in-component.html
  fixtures/devtools/iframe/iframe-other-origin.html
  fixtures/devtools/iframe/iframe-same-origin-sandbox.html
  fixtures/devtools/iframe/iframe-same-origin.html
  fixtures/devtools/iframe/index.html
  fixtures/devtools/iframe/main.html
  fixtures/devtools/iframe/server.js
  fixtures/devtools/regression/14.9.html
  fixtures/devtools/regression/15.0.html
  fixtures/devtools/regression/15.1.html
  fixtures/devtools/regression/15.2.html
  fixtures/devtools/regression/15.3.html
  fixtures/devtools/regression/15.4.html
  fixtures/devtools/regression/15.5.html
  fixtures/devtools/regression/15.6.html
  fixtures/devtools/regression/16.0.html
  fixtures/devtools/regression/16.1.html
  fixtures/devtools/regression/16.2.html
  fixtures/devtools/regression/16.3.html
  fixtures/devtools/regression/16.4.html
  fixtures/devtools/regression/16.5.html
  fixtures/devtools/regression/16.6.html
  fixtures/devtools/regression/16.7.html
  fixtures/devtools/regression/canary.html
  fixtures/devtools/regression/next.html
  packages/react-devtools-extensions/README.md
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed, React Core Team

#19961 Removed skip-error-boundaries modifications from old fork
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#19960 Revert "Temporarily disable Profiler commit hooks flag (#19900)"
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19951 Treat <time> tag as a normal HTML tag.
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/client/ReactDOMComponent.js
Labels: CLA Signed

#19979 updating the informations needed when adding a root node to a tree in react-devtools overview doc
  packages/react-devtools/OVERVIEW.md
Labels: CLA Signed, Component: Developer Tools

#19980 [Flight] Add Runtime Errors for Non-serializable Values
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#19983 Enable eager listeners statically
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMEventHandle.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-dom/src/events/plugins/SelectEventPlugin.js
  packages/react-dom/src/events/plugins/__tests__/SimpleEventPlugin-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19986 [Flight] Don't warn for key, but error for ref
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#19985 Update outdated links and fix two broken links
  CHANGELOG.md
  fixtures/attribute-behavior/README.md
  fixtures/flight/config/jest/cssTransform.js
  fixtures/flight/config/jest/fileTransform.js
  packages/react-debug-tools/src/__tests__/ReactDevToolsHooksIntegration-test.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-extensions/popups/deadcode.html
  packages/react-devtools-extensions/popups/development.html
  packages/react-devtools-extensions/popups/outdated.html
  packages/react-devtools-extensions/popups/unminified.html
  packages/react-devtools/README.md
  packages/react-test-renderer/README.md
  packages/shared/invokeGuardedCallbackImpl.js
Labels: CLA Signed

#19981 Updated OVERVIEW.md to the new infos required when adding a new leaf node to the tree
  packages/react-devtools/OVERVIEW.md
Labels: CLA Signed

#18994 [DevTools] Add DevTools forked Feature flags
  .eslintrc.js
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-shared/buildUtils.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension.js
  packages/react-devtools-shared/src/hook.js
  packages/react-devtools-shell/webpack.config.js
  scripts/flow/createFlowConfigs.js
  scripts/flow/react-devtools.js
  scripts/jest/config.build-devtools.js
  scripts/jest/setupEnvironment.js
  scripts/jest/typescript/jest.d.ts
Labels: CLA Signed

#20010 Fix bad null check in DevTools highlight code
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Labels: CLA Signed, React Core Team

#19987 handled a missing suspense fiber when suspense is filtered on the profiler
  packages/react-devtools-shared/src/__tests__/__snapshots__/storeComponentFilters-test.js.snap
  packages/react-devtools-shared/src/__tests__/storeComponentFilters-test.js
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed

#19893 Deprecate old test script commands
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  scripts/jest/jest-cli.js
Labels: CLA Signed, React Core Team

#20011 DevTools always overrides the dispatcher when shallow rendering
  packages/react-devtools-shared/src/__tests__/componentStacks-test.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
Labels: CLA Signed, React Core Team

#20012 Fixture: Legacy JSX Runtimes
  fixtures/legacy-jsx-runtimes/README.md
  fixtures/legacy-jsx-runtimes/babel.config.js
  fixtures/legacy-jsx-runtimes/lint-runtimes.js
  fixtures/legacy-jsx-runtimes/package.json
  fixtures/legacy-jsx-runtimes/react-14/cjs/react-jsx-dev-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-14/cjs/react-jsx-dev-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-14/cjs/react-jsx-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-14/cjs/react-jsx-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-14/jsx-dev-runtime.js
  fixtures/legacy-jsx-runtimes/react-14/jsx-runtime.js
  fixtures/legacy-jsx-runtimes/react-14/package.json
  fixtures/legacy-jsx-runtimes/react-14/react-14.test.js
  fixtures/legacy-jsx-runtimes/react-14/yarn.lock
  fixtures/legacy-jsx-runtimes/react-15/cjs/react-jsx-dev-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-15/cjs/react-jsx-dev-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-15/cjs/react-jsx-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-15/cjs/react-jsx-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-15/jsx-dev-runtime.js
  fixtures/legacy-jsx-runtimes/react-15/jsx-runtime.js
  fixtures/legacy-jsx-runtimes/react-15/package.json
  fixtures/legacy-jsx-runtimes/react-15/react-15.test.js
  fixtures/legacy-jsx-runtimes/react-15/yarn.lock
  fixtures/legacy-jsx-runtimes/react-16/cjs/react-jsx-dev-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-16/cjs/react-jsx-dev-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-16/cjs/react-jsx-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-16/cjs/react-jsx-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-16/jsx-dev-runtime.js
  fixtures/legacy-jsx-runtimes/react-16/jsx-runtime.js
  fixtures/legacy-jsx-runtimes/react-16/package.json
  fixtures/legacy-jsx-runtimes/react-16/react-16.test.js
  fixtures/legacy-jsx-runtimes/react-16/yarn.lock
  fixtures/legacy-jsx-runtimes/react-17/cjs/react-jsx-dev-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-17/cjs/react-jsx-dev-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-17/cjs/react-jsx-runtime.development.js
  fixtures/legacy-jsx-runtimes/react-17/cjs/react-jsx-runtime.production.min.js
  fixtures/legacy-jsx-runtimes/react-17/jsx-dev-runtime.js
  fixtures/legacy-jsx-runtimes/react-17/jsx-runtime.js
  fixtures/legacy-jsx-runtimes/react-17/package.json
  fixtures/legacy-jsx-runtimes/react-17/react-17.test.js
  fixtures/legacy-jsx-runtimes/react-17/yarn.lock
  fixtures/legacy-jsx-runtimes/setupTests.js
  fixtures/legacy-jsx-runtimes/yarn.lock
  scripts/prettier/index.js
Labels: CLA Signed, React Core Team

#20023 DevTools: Handle restricted browser pages properly like new tab page, extensions page etc(only chrome and edge for now)
  packages/react-devtools-extensions/icons/128-restricted.png
  packages/react-devtools-extensions/icons/16-restricted.png
  packages/react-devtools-extensions/icons/32-restricted.png
  packages/react-devtools-extensions/icons/48-restricted.png
  packages/react-devtools-extensions/icons/restricted.svg
  packages/react-devtools-extensions/popups/deadcode.html
  packages/react-devtools-extensions/popups/development.html
  packages/react-devtools-extensions/popups/disabled.html
  packages/react-devtools-extensions/popups/outdated.html
  packages/react-devtools-extensions/popups/production.html
  packages/react-devtools-extensions/popups/restricted.html
  packages/react-devtools-extensions/popups/shared.css
  packages/react-devtools-extensions/src/background.js
Labels: CLA Signed

#20020 [EventSystem] Revise onBeforeBlur propagation mechanics
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-dom/src/events/plugins/SimpleEventPlugin.js
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
Labels: CLA Signed, React Core Team

#20028 Don't double-invoke effects in legacy roots
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/__tests__/ReactDoubleInvokeEvents-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#20033 ReactIs.isValidElementType Unit Test extended with PureComponent case
  packages/react-is/src/__tests__/ReactIs-test.js
Labels: CLA Signed

#20019 fixed unfound node error when Suspense is filtered
  packages/react-devtools-shared/src/__tests__/__snapshots__/storeComponentFilters-test.js.snap
  packages/react-devtools-shared/src/__tests__/storeComponentFilters-test.js
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed

#20038 Don't visit passive effects during "before mutation" phase
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#20029 Bump to latest eslint-config-fbjs
  .eslintrc.js
  package.json
  packages/react-devtools-shared/src/__tests__/inspectedElementContext-test.js
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  yarn.lock
Labels: CLA Signed

#20002 test: Add regression test for hooks after error boundaries
  packages/react-dom/src/__tests__/ReactErrorBoundariesHooks-test.internal.js
Labels: CLA Signed

#19990 Remove Set bookkeeping for root events
  packages/react-dom/src/__tests__/ReactDOMEventListener-test.js
  packages/react-dom/src/client/ReactDOMEventHandle.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
Labels: CLA Signed, React Core Team

#20042 Remove last schedulePassiveEffectCallback call
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#20043 Add Visibility flag for hiding/unhiding trees
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#20044 Use bitwise OR to define flag masks
  packages/react-reconciler/src/ReactFiberFlags.js
Labels: CLA Signed, React Core Team

#20039 [Fast Refresh] Fix crashes caused by rogue Proxies (#20030)
  packages/react-refresh/src/ReactFreshRuntime.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
Labels: CLA Signed

#20053 Improved Profiler commit hooks test
  packages/react/src/__tests__/ReactProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#20055 DevTools fix props editing for host components
  packages/react-devtools-shared/src/__tests__/editing-test.js
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed, React Core Team

#18545 useRef: Warn about reading or writing mutable values during render
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/useRef-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#20060 Profiler: Include ref callbacks in onCommit duration
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#20062 Bump versions for 17
  packages/create-subscription/package.json
  packages/eslint-plugin-react-hooks/package.json
  packages/jest-mock-scheduler/package.json
  packages/jest-react/package.json
  packages/react-art/package.json
  packages/react-cache/package.json
  packages/react-client/package.json
  packages/react-debug-tools/package.json
  packages/react-dom/package.json
  packages/react-fetch/package.json
  packages/react-interactions/package.json
  packages/react-is/package.json
  packages/react-native-renderer/package.json
  packages/react-noop-renderer/package.json
  packages/react-reconciler/package.json
  packages/react-refresh/package.json
  packages/react-server/package.json
  packages/react-test-renderer/package.json
  packages/react-transport-dom-relay/package.json
  packages/react-transport-dom-webpack/package.json
  packages/react/package.json
  packages/scheduler/package.json
  packages/shared/ReactVersion.js
  packages/use-subscription/package.json
Labels: CLA Signed, React Core Team

#20071 Remove usage of Array#fill to fix IE11
  packages/react-reconciler/src/ReactFiberLane.js
Labels: CLA Signed, React Core Team

#20072 Use react-shallow-renderer@16.14.1 in yarn.lock
  yarn.lock
Labels: CLA Signed

#20078 Overly eager update-notifier usage in react-devtools
  packages/react-devtools/bin.js
Labels: CLA Signed

#20079 Fix error loading source maps for devtools extension
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
Labels: CLA Signed

#20108 Allow Node 15.x
  package.json
Labels: CLA Signed

#20094 Traverse commit phase effects iteratively
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#20105 Prevent inlining into recursive commit functions
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
Labels: CLA Signed, React Core Team

#20107 Make DevTools Websocket retry delay configurable
  packages/react-devtools-core/README.md
  packages/react-devtools-core/src/backend.js
Labels: CLA Signed, React Core Team

#20129 Fast Refresh: Don't block DevTools commit hook
  packages/react-refresh/package.json
  packages/react-refresh/src/ReactFreshRuntime.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
  yarn.lock
Labels: CLA Signed, React Core Team

#20121 [Flight] Add support for Module References in transport protocol
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightClientStream.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightServerBundlerConfigCustom.js
  packages/react-server/src/ReactFlightServerConfigStream.js
  packages/react-transport-dom-relay/src/ReactFlightDOMRelayClient.js
  packages/react-transport-dom-relay/src/ReactFlightDOMRelayClientHostConfig.js
  packages/react-transport-dom-relay/src/ReactFlightDOMRelayServerHostConfig.js
  packages/react-transport-dom-relay/src/__mocks__/JSResourceReference.js
  packages/react-transport-dom-relay/src/__mocks__/ReactFlightDOMRelayClientIntegration.js
  packages/react-transport-dom-relay/src/__mocks__/ReactFlightDOMRelayServerIntegration.js
  packages/react-transport-dom-relay/src/__tests__/ReactFlightDOMRelay-test.internal.js
  packages/react-transport-dom-webpack/src/ReactFlightServerWebpackBundlerConfig.js
  packages/react-transport-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/shared/isValidElementType.js
  scripts/flow/react-relay-hooks.js
  scripts/jest/setupHostConfigs.js
  scripts/rollup/bundles.js
Labels: CLA Signed

#20136 [Flight] Allow values to be encoded by "reference" to a value rather than the value itself
  packages/react-client/src/ReactFlightClient.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#20137 [Flight] Serialize pending server components by reference (lazy component)
  packages/react-server/src/ReactFlightServer.js
  packages/react-transport-dom-webpack/src/__tests__/ReactFlightDOM-test.js
Labels: CLA Signed, React Core Team
