Repository facebook/react, pull requests merged in 2020-04, with the labels that each got.

#18448 Reset stateNode in resetWorkInProgress
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.internal.js
Labels: CLA Signed, React Core Team

#18441 ReactDOM.useEvent: revert and add guard for null stateNode
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.internal.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-dom/src/events/accumulateTwoPhaseListeners.js
  packages/react-dom/src/shared/ReactDOMTypes.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18407 Move accumulateEventTargetListeners to its own module/function
  packages/react-dom/src/events/SimpleEventPlugin.js
  packages/react-dom/src/events/accumulateEventTargetListeners.js
  packages/react-dom/src/events/accumulateTwoPhaseListeners.js
Labels: CLA Signed, React Core Team

#18450 Remove ConcurrentMode and AsyncMode symbols
  packages/react-devtools-shared/src/utils.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-is/src/ReactIs.js
  packages/react-reconciler/src/ReactFiber.js
  packages/shared/ReactSymbols.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#18446 Disable module components dynamically for WWW
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponentState-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-refresh/src/__tests__/ReactFreshIntegration-test.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#18453 Remove state update warning for passive effect cleanup functions
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  scripts/jest/matchers/toWarnDev.js
Labels: CLA Signed, React Core Team

#18379 Fix email cursor jump
  fixtures/dom/src/components/Header.js
  fixtures/dom/src/components/fixtures/email-inputs/EmailDisabledAttributesTestCase.js
  fixtures/dom/src/components/fixtures/email-inputs/EmailEnabledAttributesTestCase.js
  fixtures/dom/src/components/fixtures/email-inputs/JumpingCursorTestCase.js
  fixtures/dom/src/components/fixtures/email-inputs/index.js
  packages/react-dom/src/client/ReactDOMInput.js
  packages/react-dom/src/events/ChangeEventPlugin.js
Labels: CLA Signed

#18386 feat(createContext): Include displayName in warning
  packages/react/src/ReactContext.js
  packages/react/src/__tests__/ReactContextValidator-test.js
Labels: CLA Signed

#18189 Do not warn when a controlled input has `onInput` handler.
  packages/react-dom/src/__tests__/ReactDOMInput-test.js
  packages/react-dom/src/shared/ReactControlledValuePropTypes.js
Labels: CLA Signed

#18449 Use Closure Compiler to compile to ES5 instead of Babel
  package.json
  packages/shared/ReactSymbols.js
  scripts/rollup/build.js
  scripts/rollup/plugins/closure-plugin.js
  yarn.lock
Labels: CLA Signed, React Core Team

#18455 Fix ESLint rule crash
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed, React Core Team

#16607 [eslint-plugin-react-hooks] Added meta property (including docs)
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.js
  packages/eslint-plugin-react-hooks/src/index.js
Labels: CLA Signed

#18458 Don't close "Needs Investigation" issues
  .github/stale.yml
Labels: CLA Signed, React Core Team

#18456 Fixed race condition in release script
  scripts/rollup/packaging.js
Labels: CLA Signed, React Core Team

#18457 Fix: Don't read primaryChild.childExpirationTime
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18459 Revert "Fix email cursor jump (#18379)"
  packages/react-dom/src/client/ReactDOMInput.js
  packages/react-dom/src/events/ChangeEventPlugin.js
Labels: CLA Signed, React Core Team

#18405 Refactor Enter/Leave listener accumulation
  packages/legacy-events/EventPropagators.js
  packages/legacy-events/ReactSyntheticEventType.js
  packages/legacy-events/ResponderEventPlugin.js
  packages/legacy-events/__tests__/ResponderEventPlugin-test.internal.js
  packages/react-dom/src/events/EnterLeaveEventPlugin.js
  packages/react-dom/src/events/accumulateEnterLeaveListeners.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-native-renderer/src/ReactNativeBridgeEventPlugin.js
  packages/react-reconciler/src/ReactTreeTraversal.js
Labels: CLA Signed, React Core Team

#18462 Remove a flag for style collision warning
  packages/react-dom/src/shared/CSSPropertyOperations.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18461 Run more flags in VARIANT tests
  packages/react-interactions/events/src/dom/__tests__/Input-test.internal.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#18467 Revert: Enable new passive effect behavior for FB builds
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18466 Modern Event System: refine flags and handling of enableLegacyFBSupport
  packages/legacy-events/EventSystemFlags.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/SimpleEventPlugin.js
Labels: CLA Signed, React Core Team

#18464 ReactDOM.useEvent: fix scope propagation issue
  packages/legacy-events/EventPluginUtils.js
  packages/legacy-events/ReactSyntheticEventType.js
  packages/legacy-events/SyntheticEvent.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/EventSystemFlags.js
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-dom/src/events/accumulateEnterLeaveListeners.js
  packages/react-dom/src/events/accumulateEventTargetListeners.js
  packages/react-dom/src/events/accumulateTwoPhaseListeners.js
Labels: CLA Signed, React Core Team

#18469 Cleanup getListener and EventSystemFlags
  packages/legacy-events/EventSystemFlags.js
  packages/legacy-events/PluginModuleType.js
  packages/legacy-events/ResponderEventPlugin.js
  packages/legacy-events/__tests__/ResponderEventPlugin-test.internal.js
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.internal.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/DeprecatedDOMEventResponderSystem.js
  packages/react-dom/src/events/EnterLeaveEventPlugin.js
  packages/react-dom/src/events/EventSystemFlags.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/SimpleEventPlugin.js
  packages/react-dom/src/events/accumulateEnterLeaveListeners.js
  packages/react-dom/src/events/accumulateTwoPhaseListeners.js
  packages/react-dom/src/events/getListener.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-native-renderer/src/ReactFabricEventEmitter.js
  packages/react-native-renderer/src/ReactNativeBridgeEventPlugin.js
  packages/react-native-renderer/src/ReactNativeEventEmitter.js
  packages/react-native-renderer/src/ReactNativeGetListener.js
Labels: CLA Signed, React Core Team

#18468 (Revert) Enable new passive effect behavior for FB builds
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#13407 Deprecate undocumented ReactTestUtils.SimulateNative API
  packages/react-dom/src/__tests__/InvalidEventListeners-test.js
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
Labels: CLA Signed, React Core Team

#18471 Modern Event System: Remove TestUtils.SimulateNative support
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/__tests__/__snapshots__/ReactTestUtils-test.js.snap
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
Labels: CLA Signed, React Core Team

#18473 Remove /dist/ UMD builds
  .circleci/config.yml
  fixtures/fizz-ssr-browser/index.html
  fixtures/flight-browser/index.html
  fixtures/packaging/rjs/dev/config.js
  fixtures/packaging/rjs/prod/config.js
  fixtures/packaging/systemjs-builder/dev/config.js
  fixtures/packaging/systemjs-builder/prod/config.js
  scripts/circleci/upload_build.sh
  scripts/rollup/build.js
  scripts/rollup/packaging.js
Labels: CLA Signed, React Core Team

#18293 Add <progress> to DOM fixtures
  fixtures/dom/src/components/Header.js
  fixtures/dom/src/components/fixtures/progress/index.js
Labels: CLA Signed

#18480 Update to Jest 25
  fixtures/dom/package.json
  fixtures/dom/yarn.lock
  package.json
  packages/jest-mock-scheduler/package.json
  packages/jest-react/package.json
  packages/react-dom/src/__tests__/CSSPropertyOperations-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMInput-test.js
  packages/react-dom/src/__tests__/ReactDOMSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationAttributes-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationUserInteraction-test.js
  packages/react-dom/src/events/__tests__/ChangeEventPlugin-test.internal.js
  packages/react-dom/src/events/__tests__/DeprecatedDOMEventResponderSystem-test.internal.js
  packages/react-dom/src/events/__tests__/SelectEventPlugin-test.js
  packages/react-interactions/events/src/dom/__tests__/Input-test.internal.js
  scripts/jest/config.base.js
  scripts/jest/matchers/interactionTracingMatchers.js
  scripts/jest/matchers/profilerMatchers.js
  scripts/jest/matchers/toWarnDev.js
  yarn.lock
Labels: CLA Signed, React Core Team

#18297 useMutableSource: bugfix for new getSnapshot with mutation
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactMutableSource.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
Labels: CLA Signed, React Core Team

#18479 [DevTools] - Highlight rendered by elements on hover.
  packages/react-devtools-shared/src/devtools/views/Components/SelectedElement.css
  packages/react-devtools-shared/src/devtools/views/Components/SelectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Labels: CLA Signed

#18484 remove JSX Babel Plugin from React packages
  packages/babel-plugin-react-jsx/README.md
  packages/babel-plugin-react-jsx/__tests__/TransformJSXToReactJSX-test.js
  packages/babel-plugin-react-jsx/__tests__/__snapshots__/TransformJSXToReactJSX-test.js.snap
  packages/babel-plugin-react-jsx/index.js
  packages/babel-plugin-react-jsx/npm/index.js
  packages/babel-plugin-react-jsx/package.json
  packages/babel-plugin-react-jsx/src/TransformJSXToReactBabelPlugin.js
Labels: CLA Signed, React Core Team

#18485 [Flight] Add webpack plugin build
  fixtures/flight/config/env.js
  fixtures/flight/config/jest/cssTransform.js
  fixtures/flight/config/jest/fileTransform.js
  fixtures/flight/config/modules.js
  fixtures/flight/config/paths.js
  fixtures/flight/config/pnpTs.js
  fixtures/flight/config/webpack.config.js
  fixtures/flight/config/webpackDevServer.config.js
  fixtures/flight/package.json
  fixtures/flight/scripts/build.js
  fixtures/flight/scripts/start.js
  fixtures/flight/scripts/test.js
  fixtures/flight/yarn.lock
  packages/react-flight-dom-webpack/npm/plugin.js
  packages/react-flight-dom-webpack/package.json
  packages/react-flight-dom-webpack/plugin.js
  packages/react-flight-dom-webpack/src/ReactFlightWebpackPlugin.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#18476 [Flight] Lazily parse models and allow any value to suspend
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightClientHostConfigStream.js
  packages/react-client/src/ReactFlightClientStream.js
  packages/react-client/src/forks/ReactFlightClientHostConfig.custom.js
  packages/react-client/src/forks/ReactFlightClientHostConfig.dom-browser.js
  packages/react-client/src/forks/ReactFlightClientHostConfig.dom.js
  packages/react-flight-dom-relay/src/ReactFlightDOMRelayClient.js
  packages/react-flight-dom-relay/src/ReactFlightDOMRelayClientHostConfig.js
  packages/react-flight-dom-webpack/src/ReactFlightDOMClient.js
  packages/react-flight-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-server/src/ReactFlightServer.js
  scripts/eslint/index.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#18487 Refactor Error Dialog Logging
  packages/react-reconciler/src/ReactCapturedValue.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberErrorDialog.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/forks/ReactFiberErrorDialog.native.js
  packages/react-reconciler/src/forks/ReactFiberErrorDialog.www.js
Labels: CLA Signed, React Core Team

#18287 Add KeyboardEvent.code to synthetic event
  packages/react-dom/src/events/SyntheticKeyboardEvent.js
  packages/react-dom/src/events/__tests__/SyntheticKeyboardEvent-test.js
Labels: CLA Signed

#16784 [eslint] strip tailing property in assignments
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed, Resolution: Backlog

#18488 Don't use checkPropTypes for internals
  packages/react-dom/src/__tests__/ReactDOMInput-test.js
  packages/react-dom/src/client/ReactDOMInput.js
  packages/react-dom/src/client/ReactDOMSelect.js
  packages/react-dom/src/client/ReactDOMTextarea.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-dom/src/shared/ReactControlledValuePropTypes.js
Labels: CLA Signed, React Core Team

#18496 [eslint] Consider `useRef() as ...` as constant
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/package.json
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
  yarn.lock
Labels: CLA Signed

#18498 Fix performance issue in react-devtools when highlight enabled
  packages/react-devtools-shared/src/backend/views/TraceUpdates/index.js
Labels: CLA Signed

#18510 Profiler tooltip shows self duration
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.css
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.js
Labels: CLA Signed

#18503 React Event System: cleanup plugins + break out update batching logic
  packages/legacy-events/EventPluginRegistry.js
  packages/legacy-events/ReactGenericBatching.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMClientInjection.js
  packages/react-dom/src/events/ChangeEventPlugin.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/DeprecatedDOMEventResponderSystem.js
  packages/react-dom/src/events/ReactDOMControlledComponent.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMUpdateBatching.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsAct.js
Labels: CLA Signed, React Core Team

#18495 Refactor Component Stack Traces
  packages/react-devtools-shared/src/__tests__/__snapshots__/store-test.js.snap
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-dom/src/__tests__/findDOMNode-test.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
  packages/react-reconciler/src/ReactCapturedValue.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactStrictModeWarnings.js
  packages/react/src/ReactDebugCurrentFrame.js
  packages/react/src/ReactForwardRef.js
  packages/react/src/ReactMemo.js
  packages/react/src/__tests__/ReactContextValidator-test.js
  packages/react/src/__tests__/ReactStrictMode-test.js
  packages/react/src/__tests__/forwardRef-test.js
  packages/shared/ReactComponentStackFrame.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/describeComponentFrame.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#17322 Add useOpaqueIdentifier Hook
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.internal.js
  packages/react-dom/src/client/DOMPropertyOperations.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/React.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactSymbols.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#18517 Revert "Refactor commitPlacement to recursively insert nodes (#17996)"
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#18523 Improved Profiler tooltip confusing/misleading wording
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.js
Labels: CLA Signed, React Core Team

#18524 Change stalebot messages
  .github/stale.yml
Labels: CLA Signed, React Core Team

#18513 Filter certain DOM attributes (e.g. src) if value is empty string
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/shared/DOMProperty.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18527 Fix whitespace problem wiht DevTools Components search
  packages/react-devtools-shared/src/devtools/views/Components/Element.css
Labels: CLA Signed, React Core Team

#18532 Export unstable_useEvent for www FB ReactDOM builds
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.modern.fb.js
Labels: CLA Signed, React Core Team

#18515 Clear finished discrete updates during commit phase
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
Labels: CLA Signed

#17070 Make uncontrolled -> controlled warning clearer
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
  packages/react-dom/src/__tests__/ReactDOMComponentTree-test.js
  packages/react-dom/src/__tests__/ReactDOMInput-test.js
  packages/react-dom/src/client/ReactDOMInput.js
Labels: CLA Signed

#18536 Improve detachFiber
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#18535 More robust fix for #18515
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18537 Bugfix: Render phase update causes remaining updates in same component to be dropped
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18539 Fix bailout broken in lazy components due to default props resolving
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
Labels: CLA Signed

#18547 Disable console.logs in the second render pass of DEV mode double render
  packages/create-subscription/src/__tests__/createSubscription-test.internal.js
  packages/react-art/src/__tests__/ReactART-test.js
  packages/react-cache/src/__tests__/ReactCache-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-dom/src/events/__tests__/DeprecatedDOMEventResponderSystem-test.internal.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactUpdateQueue.js
  packages/react-reconciler/src/__tests__/ErrorBoundaryReconciliation-test.internal.js
  packages/react-reconciler/src/__tests__/ReactBatchedMode-test.internal.js
  packages/react-reconciler/src/__tests__/ReactDisableSchedulerTimeoutBasedOnReactExpirationTime-test.internal.js
  packages/react-reconciler/src/__tests__/ReactExpiration-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalReflection-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.internal.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.internal.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSchedulerIntegration-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseFuzz-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspensePlaceholder-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactTransition-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererAsync-test.internal.js
  packages/react/src/__tests__/ReactDOMTracing-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/react/src/__tests__/ReactProfilerDOM-test.internal.js
  packages/react/src/__tests__/ReactProfilerDevToolsIntegration-test.internal.js
  packages/react/src/__tests__/forwardRef-test.internal.js
  packages/scheduler/src/forks/SchedulerHostConfig.mock.js
  packages/shared/ConsolePatchingDev.js
  packages/use-subscription/src/__tests__/useSubscription-test.internal.js
Labels: CLA Signed, React Core Team

#18278 Don't use closures in DevTools injection
  packages/react-reconciler/src/ReactFiberDevToolsHook.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
Labels: CLA Signed, React Core Team

#18549 Port more tests to the Scheduler.unstable_yieldValue pattern and drop internal.js
  packages/create-subscription/src/__tests__/createSubscription-test.js
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-dom/src/events/__tests__/ChangeEventPlugin-test.js
  packages/react-dom/src/events/__tests__/SimpleEventPlugin-test.js
  packages/react-interactions/events/src/dom/__tests__/Input-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/MixedResponders-test-internal.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactUpdateQueue.js
  packages/react-reconciler/src/__tests__/ReactExpiration-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalReflection-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalScheduling-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalTriangle-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalUpdates-test.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-reconciler/src/__tests__/ReactSchedulerIntegration-test.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererAsync-test.js
  packages/use-subscription/src/__tests__/useSubscription-test.js
Labels: CLA Signed, React Core Team

#18553 Move plugins into their own directory and add Legacy prefix
  packages/react-dom/src/client/ReactDOMClientInjection.js
  packages/react-dom/src/events/plugins/LegacyBeforeInputEventPlugin.js
  packages/react-dom/src/events/plugins/LegacyChangeEventPlugin.js
  packages/react-dom/src/events/plugins/LegacyEnterLeaveEventPlugin.js
  packages/react-dom/src/events/plugins/LegacySelectEventPlugin.js
  packages/react-dom/src/events/plugins/LegacySimpleEventPlugin.js
  packages/react-dom/src/events/plugins/__tests__/BeforeInputEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/ChangeEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/EnterLeaveEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/SelectEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/SimpleEventPlugin-test.js
Labels: CLA Signed, React Core Team

#18551 Make enableLegacyFBSupport flag dynamic for www
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18554 Fix fiber memory leak with runAllPassiveEffectDestroysBeforeCreates
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#18556 Clear more Fiber fields in detachFiber
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
Labels: CLA Signed, React Core Team

#18558 Port error boundaries test to yieldValue
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
Labels: CLA Signed, React Core Team

#18550 Script for syncing changes between forks
  package.json
  scripts/merge-fork/README.md
  scripts/merge-fork/merge-fork.js
Labels: CLA Signed, React Core Team

#18559 Exclude forwardRef and memo from stack frames
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/shared/ReactComponentStackFrame.js
Labels: CLA Signed, React Core Team

#18562 Revert "Clear more Fiber fields in detachFiber"
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
Labels: CLA Signed

#18566 Don't return from perform/completeUnitOfWork
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#18567 Bubble errors if processing the error itself errors
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#18568 ESLint rule to forbid cross fork imports
  .eslintrc.js
  scripts/eslint-rules/__tests__/no-cross-fork-imports-test.internal.js
  scripts/eslint-rules/index.js
  scripts/eslint-rules/no-cross-fork-imports.js
Labels: CLA Signed, React Core Team

#18569 Overhauled release scripts and docs
  scripts/release/README.md
  scripts/release/build-release-locally-commands/add-build-info-json.js
  scripts/release/build-release-locally-commands/build-artifacts.js
  scripts/release/build-release-locally-commands/confirm-automated-testing.js
  scripts/release/build-release-locally-commands/copy-repo-to-temp-directory.js
  scripts/release/build-release-locally-commands/npm-pack-and-unpack.js
  scripts/release/build-release-locally-commands/update-version-numbers.js
  scripts/release/build-release-locally.js
  scripts/release/build-release.js
  scripts/release/ci-add-build-info-json.js
  scripts/release/prepare-release-from-ci.js
  scripts/release/prepare-release-from-npm-commands/check-out-packages.js
  scripts/release/prepare-release-from-npm-commands/confirm-stable-version-numbers.js
  scripts/release/prepare-release-from-npm-commands/get-latest-next-version.js
  scripts/release/prepare-release-from-npm-commands/guess-stable-version-numbers.js
  scripts/release/prepare-release-from-npm-commands/parse-params.js
  scripts/release/prepare-release-from-npm-commands/update-stable-version-numbers.js
  scripts/release/prepare-release-from-npm.js
  scripts/release/snapshot-test.js
Labels: CLA Signed, React Core Team

#18561 Build Component Stacks from Native Stack Frames
  fixtures/stacks/BabelClass-compiled.js
  fixtures/stacks/BabelClass-compiled.js.map
  fixtures/stacks/BabelClass.js
  fixtures/stacks/Component.js
  fixtures/stacks/Example.js
  fixtures/stacks/babel.config.json
  fixtures/stacks/index.html
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.internal.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-native-renderer/src/__tests__/ReactNativeError-test.internal.js
  packages/react-reconciler/src/__tests__/ReactFragment-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react/src/ReactDebugCurrentFrame.js
  packages/react/src/ReactElementValidator.js
  packages/react/src/__tests__/ReactElementClone-test.js
  packages/react/src/__tests__/ReactElementJSX-test.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/react/src/__tests__/forwardRef-test.internal.js
  packages/react/src/jsx/ReactJSXElementValidator.js
  packages/shared/ConsolePatchingDev.js
  packages/shared/ReactComponentStackFrame.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/__tests__/describeComponentFrame-test.js
  scripts/jest/matchers/toWarnDev.js
  scripts/rollup/validate/eslintrc.cjs.js
  scripts/rollup/validate/eslintrc.fb.js
  scripts/rollup/validate/eslintrc.rn.js
  scripts/rollup/validate/eslintrc.umd.js
Labels: CLA Signed, React Core Team

#18575 Fix Component Stacks for IE and Native Classes in Safari
  fixtures/stacks/BabelClass-compiled.js
  fixtures/stacks/BabelClass-compiled.js.map
  fixtures/stacks/BabelClass.js
  fixtures/stacks/BabelClasses-compiled.js
  fixtures/stacks/BabelClasses-compiled.js.map
  fixtures/stacks/BabelClasses.js
  fixtures/stacks/Components.js
  fixtures/stacks/Example.js
  fixtures/stacks/babel.config.json
  fixtures/stacks/index.html
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/shared/ReactComponentStackFrame.js
Labels: CLA Signed, React Core Team

#18581 Add pragma for feature testing: @gate
  .eslintrc.js
  scripts/babel/__tests__/transform-test-gate-pragma-test.js
  scripts/babel/transform-test-gate-pragma.js
  scripts/jest/TestFlags.js
  scripts/jest/preprocessor.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#18582 Codemod it.experimental to gate pragma
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-dom/src/__tests__/ReactDOMHooks-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/__tests__/ReactUnmockedSchedulerWarning-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-dom/src/events/__tests__/DeprecatedDOMEventResponderSystem-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ChangeEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/SimpleEventPlugin-test.js
  packages/react-flight-dom-relay/src/__tests__/ReactFlightDOMRelay-test.internal.js
  packages/react-flight-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/Input-test.internal.js
  packages/react-reconciler/src/__tests__/ReactBlocks-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactTransition-test.internal.js
  packages/react/src/__tests__/ReactStrictMode-test.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#18592 Fix "missing flag" error for non-boolean types
  scripts/babel/__tests__/transform-test-gate-pragma-test.js
  scripts/jest/TestFlags.js
Labels: CLA Signed, React Core Team

#18586 DevTools: Switch between "Rendered At" renders using keyboard arrow keys
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarSelectedFiberInfo.js
Labels: CLA Signed

#18585 Migrate conditional tests to gate pragma
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.internal.js
  packages/react-devtools-shared/src/__tests__/storeStressTestConcurrent-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSuspense-test.internal.js
  packages/react-dom/src/__tests__/renderSubtreeIntoContainer-test.js
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-dom/src/events/__tests__/DeprecatedDOMEventResponderSystem-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/ContextMenu-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/Focus-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/Hover-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/Input-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/Keyboard-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/MixedResponders-test-internal.js
  packages/react-interactions/events/src/dom/__tests__/Press-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/PressLegacy-test.internal.js
  packages/react-interactions/events/src/dom/__tests__/Tap-test.internal.js
  packages/react-noop-renderer/src/ReactNoopPersistent.js
  packages/react-reconciler/src/__tests__/ReactFiberFundamental-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactScope-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
  packages/react/src/__tests__/ReactDOMTracing-test.internal.js
  packages/react/src/__tests__/ReactProfilerDOM-test.internal.js
  packages/shared/__tests__/ReactError-test.internal.js
  packages/shared/__tests__/describeComponentFrame-test.js
  scripts/jest/TestFlags.js
Labels: CLA Signed, React Core Team

#18593 Fix www tests not running in prod
  .circleci/config.yml
  package.json
Labels: CLA Signed, React Core Team

#18596 Delete flushSuspenseFallbacksInTests flag
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.internal.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactTransition-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18598 remove unnecessary variable comparation
  packages/react-dom/src/client/ReactDOMComponent.js
Labels: CLA Signed

#18597 Remove `.internal` from more test suites
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactTransition-test.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
Labels: CLA Signed, React Core Team

#18609 Move beforeblur phase to prepareForCommit
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberScope.new.js
  packages/react-reconciler/src/ReactFiberScope.old.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
Labels: CLA Signed, React Core Team

#18613 Delete mutableSourceFirstPendingUpdateTime
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
Labels: CLA Signed, React Core Team

#18623 Update nvmrc to the same one used in CI
  .nvmrc
Labels: CLA Signed, React Core Team

#18531 Add experimental DebugTracing logger for internal use
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationModes-test.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-reconciler/src/DebugTracing.js
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiber.old.js
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactTypeOfMode.js
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/React.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactSymbols.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#18624 Fix wrong command in config.yml
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#18626 Fix CI
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
Labels: CLA Signed, React Core Team

#18619 ADD: disableRemotePlayback attribute for HTML5 videos
  fixtures/attribute-behavior/src/attributes.js
  packages/react-dom/src/shared/DOMProperty.js
  packages/react-dom/src/shared/possibleStandardNames.js
Labels: CLA Signed

#18632 Fix requiring timers module with non standard require
  packages/shared/enqueueTask.js
Labels: CLA Signed

#18628 Run error replay test again new reconciler
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorReplay-test.internal.js
Labels: CLA Signed, React Core Team

#18637 Create copy of Legacy event plugins for Modern system
  packages/react-dom/src/client/ReactDOMClientInjection.js
  packages/react-dom/src/events/plugins/ModernBeforeInputEventPlugin.js
  packages/react-dom/src/events/plugins/ModernChangeEventPlugin.js
  packages/react-dom/src/events/plugins/ModernEnterLeaveEventPlugin.js
  packages/react-dom/src/events/plugins/ModernSelectEventPlugin.js
  packages/react-dom/src/events/plugins/ModernSimpleEventPlugin.js
  packages/react-dom/src/events/plugins/__tests__/LegacyBeforeInputEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/LegacyChangeEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/LegacyEnterLeaveEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/LegacySelectEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/LegacySimpleEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/ModernBeforeInputEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernChangeEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernEnterLeaveEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernSelectEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernSimpleEventPlugin-test.internal.js
Labels: CLA Signed, React Core Team

#18638 Revert legacy plugin modules
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/plugins/LegacyBeforeInputEventPlugin.js
  packages/react-dom/src/events/plugins/LegacyChangeEventPlugin.js
  packages/react-dom/src/events/plugins/LegacyEnterLeaveEventPlugin.js
  packages/react-dom/src/events/plugins/LegacySelectEventPlugin.js
  packages/react-dom/src/events/plugins/LegacySimpleEventPlugin.js
Labels: CLA Signed, React Core Team

#18636 Unify Flare FocusWithin responder with useFocusWithin
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-interactions/events/src/dom/DeprecatedFocus.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
Labels: CLA Signed, React Core Team

#18641 Statically disable factory components for WWW
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18639 Clean up modern plugins to remove dead code
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/accumulateEnterLeaveListeners.js
  packages/react-dom/src/events/accumulateEventTargetListeners.js
  packages/react-dom/src/events/accumulateTwoPhaseListeners.js
  packages/react-dom/src/events/plugins/ModernBeforeInputEventPlugin.js
  packages/react-dom/src/events/plugins/ModernChangeEventPlugin.js
  packages/react-dom/src/events/plugins/ModernEnterLeaveEventPlugin.js
  packages/react-dom/src/events/plugins/ModernSelectEventPlugin.js
  packages/react-dom/src/events/plugins/ModernSimpleEventPlugin.js
  packages/react-dom/src/events/plugins/__tests__/ModernBeforeInputEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernChangeEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernEnterLeaveEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernSelectEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernSimpleEventPlugin-test.internal.js
Labels: CLA Signed, React Core Team

#18648 Fixed DevTools extension build:dev command
  packages/react-devtools-extensions/package.json
Labels: CLA Signed, React Core Team

#18649 Further cleanup to before/after blur
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-interactions/events/src/dom/DeprecatedFocus.js
Labels: CLA Signed, React Core Team

#18655 Revert focus event PRs
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-interactions/events/src/dom/DeprecatedFocus.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
Labels: CLA Signed, React Core Team

#18620 Remove redundant expiration time comparisons
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
Labels: CLA Signed, React Core Team

#18662 Revise isFiberInsideHiddenOrRemovedTree
  packages/react-reconciler/src/ReactFiberTreeReflection.js
Labels: CLA Signed, React Core Team

#18663 Fix for #18657
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#18664 Make Flow work with your editor
  .gitignore
  scripts/flow/config/flowconfig
  scripts/flow/runFlow.js
Labels: CLA Signed, React Core Team

#18617 Fix incorrect unmounted state update warning
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactSideEffectTags.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#18483 ReactDOM: remove unstable-native-dependencies bundle
  packages/legacy-events/__tests__/ResponderEventPlugin-test.internal.js
  packages/react-dom/npm/unstable-native-dependencies.js
  packages/react-dom/package.json
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsAct.js
  packages/react-dom/src/unstable-native-dependencies/ReactDOMUnstableNativeDependencies.js
  packages/react-dom/unstable-native-dependencies.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#18671 Revert "Revert focus event PRs"
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-interactions/events/src/dom/DeprecatedFocus.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
Labels: CLA Signed, React Core Team

#18676 fix: skip dangerouslySetInnerHtml hydration warning if it's undefined
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/client/ReactDOMComponent.js
Labels: CLA Signed

#18679 chore: Build react-dom/server in codesandbox CI
  .codesandbox/ci.json
Labels: CLA Signed

#18668 Refine the heuristics around beforeblur/afterblur
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/client/ReactInputSelection.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
  packages/react-interactions/events/src/dom/use-event/__tests__/useFocusWithin-test.internal.js
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
Labels: CLA Signed, React Core Team

#18680 Modern event system: fix selectionchange bug
  packages/react-dom/src/events/DOMEventListenerMap.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/plugins/ModernSelectEventPlugin.js
  packages/react-dom/src/events/plugins/__tests__/LegacySelectEventPlugin-test.js
  packages/react-dom/src/events/plugins/__tests__/ModernBeforeInputEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernSelectEventPlugin-test.internal.js
Labels: CLA Signed, React Core Team

#18625 Pressable click fix
  packages/react-dom/src/shared/ReactDOMTypes.js
  packages/react-interactions/events/src/dom/PressLegacy.js
  packages/react-interactions/events/src/dom/__tests__/PressLegacy-test.internal.js
Labels: CLA Signed

#18684 Upgrade fbjs-scripts
  package.json
  packages/react-refresh/src/__tests__/ReactFreshBabelPlugin-test.js
  packages/react-refresh/src/__tests__/__snapshots__/ReactFreshBabelPlugin-test.js.snap
  yarn.lock
Labels: CLA Signed, React Core Team

#18687 Remove null sibling
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
Labels: CLA Signed, React Core Team

#18688 Revert "Pressable click fix"
  packages/react-dom/src/shared/ReactDOMTypes.js
  packages/react-interactions/events/src/dom/PressLegacy.js
  packages/react-interactions/events/src/dom/__tests__/PressLegacy-test.internal.js
Labels: CLA Signed, React Core Team

#18689 Remove ReactDOM.useEvent and associated types+tests
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.internal.js
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.modern.fb.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMComponentTree.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/client/ReactDOMUseEvent.js
  packages/react-dom/src/events/DOMEventProperties.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-dom/src/events/plugins/ModernSimpleEventPlugin.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
  packages/react-dom/src/shared/ReactDOMTypes.js
  packages/react-interactions/events/focus.js
  packages/react-interactions/events/src/dom/use-event/Focus.js
  packages/react-interactions/events/src/dom/use-event/__tests__/useFocus-test.internal.js
  packages/react-interactions/events/src/dom/use-event/__tests__/useFocusWithin-test.internal.js
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18685 Avoid passing custom stacks to console.error
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/shared/assertValidProps.js
  packages/react-dom/src/shared/sanitizeURL.js
  packages/react-reconciler/src/ReactChildFiber.new.js
  packages/react-reconciler/src/ReactChildFiber.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactStrictModeWarnings.new.js
  packages/react-reconciler/src/ReactStrictModeWarnings.old.js
  packages/react/src/ReactChildren.js
  packages/shared/consoleWithStackDev.js
  packages/shared/forks/consoleWithStackDev.www.js
  scripts/error-codes/codes.json
  scripts/jest/matchers/toWarnDev.js
Labels: CLA Signed, React Core Team

#18656 DevTools: Improved "native" component stacks
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/ReactSymbols.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/describeComponentFrame.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/devtools/views/Components/SelectedElement.js
  packages/react-devtools-shell/webpack.config.js
  packages/shared/ReactSymbols.js
  scripts/jest/config.build-devtools.js
Labels: CLA Signed, React Core Team

#18692 Pin RNW to canary
  packages/react-devtools-shell/package.json
  yarn.lock
Labels: CLA Signed, React Core Team

#18660 Fix mistyped script arbitrary code execution vulnerability
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/__tests__/trustedTypes-test.internal.js
Labels: CLA Signed

#18696 Nit: add suffix _TIMEOUT consistently in scheduler
  packages/scheduler/src/Scheduler.js
Labels: CLA Signed, React Core Team

#18697 Temporarily Remove DebugTracing from the New Reconciler
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactUpdateQueue.new.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#18693 Don't dedupe using the stack
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/client/validateDOMNesting.js
  packages/react-reconciler/src/ReactChildFiber.new.js
  packages/react-reconciler/src/ReactChildFiber.old.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/__tests__/ReactFragment-test.js
  packages/shared/__tests__/describeComponentFrame-test.js
Labels: CLA Signed, React Core Team

#18717 DevTools temporarily disable prepareStackTrace before creating custom component stacks
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
Labels: CLA Signed, React Core Team

#18708 Disable prepareStackTrace while we're generating stacks
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/shared/ReactComponentStackFrame.js
Labels: CLA Signed, React Core Team

#18707 Remove unnecessary stack
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
Labels: CLA Signed, React Core Team

#18713 ReactDOMEventListener: clean up module
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/DeprecatedDOMEventResponderSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/plugins/__tests__/ModernChangeEventPlugin-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ModernSimpleEventPlugin-test.internal.js
Labels: CLA Signed, React Core Team

#18720 Modern Event System: register onMouseEnter for portals
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/plugins/__tests__/ModernEnterLeaveEventPlugin-test.internal.js
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
Labels: CLA Signed, React Core Team

#18722 [ESLint] Extend isHook to recognize those under PascalCase's namespace
  packages/eslint-plugin-react-hooks/__tests__/ESLintRulesOfHooks-test.js
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.js
Labels: CLA Signed

#18732 Make ExpirationTime an opaque type
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/events/DeprecatedDOMEventResponderSystem.js
  packages/react-reconciler/src/ReactChildFiber.new.js
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiber.old.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberDeprecatedEvents.new.js
  packages/react-reconciler/src/ReactFiberDeprecatedEvents.old.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberExpirationTime.new.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHotReloading.new.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberNewContext.new.js
  packages/react-reconciler/src/ReactFiberNewContext.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.new.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberUnwindWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/ReactMutableSource.new.js
  packages/react-reconciler/src/ReactUpdateQueue.new.js
  packages/react-reconciler/src/__tests__/ReactExpiration-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalUpdates-test.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#18711 Always wrap Suspense children
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
  packages/react-reconciler/src/__tests__/ReactSuspensePlaceholder-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#18738 SuspenseList: Reschedule continuation at same priority
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
Labels: CLA Signed, React Core Team

#18759 Allow flushSync to noop in life cycles but with a warning
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#18755 Allow Node 14.x
  package.json
Labels: CLA Signed

#18730 Root API should clear non-empty roots before mounting
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberHostConfigWithNoMutation.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
Labels: CLA Signed, React Core Team

#18766 Refactor ElementListenerMap to use expando properties
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMComponentTree.js
  packages/react-dom/src/events/DOMEventListenerMap.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/plugins/LegacySelectEventPlugin.js
  packages/react-dom/src/events/plugins/ModernSelectEventPlugin.js
Labels: CLA Signed, React Core Team

#18773 [Blocks] Add Client Fixture
  fixtures/blocks/.env
  fixtures/blocks/db.json
  fixtures/blocks/package.json
  fixtures/blocks/public/index.html
  fixtures/blocks/src/App.js
  fixtures/blocks/src/Comments.js
  fixtures/blocks/src/Post.js
  fixtures/blocks/src/index.css
  fixtures/blocks/src/index.js
  fixtures/blocks/src/lib/cache.js
  fixtures/blocks/src/lib/data.js
  fixtures/blocks/yarn.lock
Labels: CLA Signed, React Core Team

#18783 Consistent useCallback implementation in ReactDOMServer
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
Labels: CLA Signed

#18784 [Blocks] Use native fetch
  fixtures/blocks/src/Comments.js
  fixtures/blocks/src/Post.js
  packages/react-data/src/fetch/ReactDataFetch.js
Labels: CLA Signed, React Core Team

#18785 [Blocks] Add preload to fetch
  fixtures/blocks/src/Post.js
  packages/react-data/src/fetch/ReactDataFetch.js
Labels: CLA Signed, React Core Team

#18792 Prevent stale legacy root from clearing a container (DRAFT)
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
Labels: CLA Signed, React Core Team
