Repository facebook/react, pull requests merged in 2020-06, with the labels that each got.

#19053 Bugfix: Infinite loop in beforeblur event
  packages/react-dom/src/events/__tests__/DOMModernPluginEventSystem-test.internal.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#19059 Remove synamic modern event system flag for FB
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/rollup/modules.js
Labels: CLA Signed, React Core Team

#19120 Enable component stacks everywhere except RN
  fixtures/dom/src/__tests__/wrong-act-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#19124 Remove shouldDeprioritizeSubtree from host config
  packages/react-art/src/ReactARTHostConfig.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-reconciler/src/__tests__/ReactSchedulerIntegration-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
  packages/react-test-renderer/src/ReactTestHostConfig.js
  packages/react/src/__tests__/ReactDOMTracing-test.internal.js
Labels: CLA Signed, React Core Team

#19142 Re-enabled DebugTracing feature for old reconciler fork
  packages/react-reconciler/src/DebugTracing.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19145 [eslint-plugin-react-hooks]: handling empty element in array
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed

#19159 Revert "Re-enabled DebugTracing feature for old reconciler fork (#191…
  packages/react-reconciler/src/DebugTracing.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19164 Bugfix: Legacy Mode + DevTools "force fallback"
  packages/react-devtools-shared/src/__tests__/__snapshots__/store-test.js.snap
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
Labels: CLA Signed, React Core Team

#19123 fix: use define property to overwrite console, close #19099
  packages/shared/ConsolePatchingDev.js
Labels: CLA Signed

#19180 Shutdown DevTools Bridge synchronously when unmounting
  packages/react-devtools-shared/src/devtools/views/DevTools.js
Labels: React Core Team

#19179 Updates the DevTools test script
  .gitignore
  packages/react-devtools-extensions/chrome/test.js
  packages/react-devtools-extensions/edge/test.js
  packages/react-devtools-extensions/firefox/test.js
  scripts/flow/config/flowconfig
Labels: React Core Team

#19161 Re-enabled DebugTracing feature for old reconciler fork
  packages/react-reconciler/src/DebugTracing.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19195 [DevTools] Remove unnecessary tag end from CommitRanked view
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitRanked.js
Labels: CLA Signed

#19193 Fix react-runtime `main` field
  packages/react-refresh/package.json
Labels: CLA Signed

#19184 Add new test cli
  .circleci/config.yml
  package.json
  scripts/jest/jest-cli.js
  scripts/jest/jest.js
  yarn.lock
Labels: CLA Signed

#19197 Move TOP_BEFORE_BLUR to bubble phase
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/DOMModernPluginEventSystem.js
Labels: CLA Signed, React Core Team

#19209 Fixed test script handling of unknown/additional args
  scripts/jest/jest-cli.js
Labels: CLA Signed, React Core Team

#18538 Add regression test for #18497
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  scripts/jest/matchers/schedulerTestMatchers.js
Labels: CLA Signed

#19062 fix(eslint-plugin-react-hooks): Support optional chaining when accessing prototype method inside useCallback and useMemo #19061
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed

#18608 Add regression tests where sync render causes later concurrent render to expire soon
  packages/react-reconciler/src/__tests__/ReactIncrementalUpdates-test.js
Labels: CLA Signed

#19147 make link HTTPS
  fixtures/attribute-behavior/src/attributes.js
  packages/react-devtools-extensions/deploy.html
  packages/react-devtools-extensions/flow-typed/jest.js
  packages/react-devtools/README.md
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  scripts/bench/benchmarks/hacker-news/top-stories.js
Labels: CLA Signed

#19054 Added warning to <Context.Provider> in case no value prop is provided
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererTraversal-test.js
  packages/react/src/__tests__/ReactContextValidator-test.js
Labels: CLA Signed

#19216 Don't bailout after Suspending in Legacy Mode
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactSideEffectTags.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
Labels: CLA Signed, React Core Team
