Repository facebook/react, pull requests merged in 2020-09, with the labels that each got.

#19009 Support Babel's envName option in React Refresh plugin
  packages/react-refresh/src/ReactFreshBabelPlugin.js
  packages/react-refresh/src/__tests__/ReactFreshBabelPlugin-test.js
Labels: CLA Signed

#19733 Fix instances of function declaration after return
  .eslintrc.js
  package.json
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/UIManager.js
  packages/react-native-renderer/src/legacy-events/SyntheticEvent.js
  yarn.lock
Labels: CLA Signed

#19741 Add ⎇ + arrow key navigation to DevTools
  packages/react-devtools-shared/src/__tests__/__snapshots__/treeContext-test.js.snap
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
Labels: CLA Signed, React Core Team

#19737 Fix typo in comment (Noticable→Noticeable)
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed

#19750 Add failing test for passive effect cleanup functions and memoized components
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#19714 Add checkbox toggle for boolean values
  packages/react-devtools-shared/src/devtools/views/Components/EditableValue.css
  packages/react-devtools-shared/src/devtools/views/Components/EditableValue.js
Labels: CLA Signed

#19757 Scheduling Profiler: Add Fast Refresh
  package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools-scheduling-profiler/webpack.config.js
  yarn.lock
Labels: CLA Signed

#19682 Scheduling Profiler: Extract and test scroll state from horizontal pan and zoom view
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/view-base/HorizontalPanAndZoomView.js
  packages/react-devtools-scheduling-profiler/src/view-base/VerticalScrollView.js
  packages/react-devtools-scheduling-profiler/src/view-base/constants.js
  packages/react-devtools-scheduling-profiler/src/view-base/utils/__tests__/clamp-test.js
  packages/react-devtools-scheduling-profiler/src/view-base/utils/__tests__/scrollState-test.js
  packages/react-devtools-scheduling-profiler/src/view-base/utils/scrollState.js
Labels: CLA Signed

#19759 Scheduling Profiler: Move preprocessing to web worker and add loading indicator
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools-scheduling-profiler/src/App.js
  packages/react-devtools-scheduling-profiler/src/ImportButton.css
  packages/react-devtools-scheduling-profiler/src/ImportButton.js
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.css
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.js
  packages/react-devtools-scheduling-profiler/src/hooks.js
  packages/react-devtools-scheduling-profiler/src/import-worker/InvalidProfileError.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/__snapshots__/preprocessData-test.js.snap
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.js
  packages/react-devtools-scheduling-profiler/src/import-worker/import.worker.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/import-worker/readInputData.js
  packages/react-devtools-scheduling-profiler/webpack.config.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsContext.js
  yarn.lock
Labels: CLA Signed

#19771 Add feature flag to disable scheduler timeout in work loop
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19772 Decrease expiration time of input updates
  packages/react-reconciler/src/ReactFiberLane.js
Labels: CLA Signed, React Core Team

#19755 Rename effect fields
  .eslintrc.js
  fixtures/fiber-debugger/src/Fibers.js
  fixtures/fiber-debugger/src/describeFibers.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-reconciler/src/ReactChildFiber.new.js
  packages/react-reconciler/src/ReactChildFiber.old.js
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiber.old.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.old.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberHydrationContext.new.js
  packages/react-reconciler/src/ReactFiberHydrationContext.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.new.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.old.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/ReactFiberUnwindWork.new.js
  packages/react-reconciler/src/ReactFiberUnwindWork.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactHookEffectTags.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/ReactSubtreeFlags.js
  packages/react-reconciler/src/ReactUpdateQueue.new.js
  packages/react-reconciler/src/ReactUpdateQueue.old.js
  scripts/eslint-rules/__tests__/no-cross-fork-types-test.internal.js
Labels: CLA Signed, React Core Team

#19775 Combine Flags and SubtreeFlags types
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/ReactSubtreeFlags.js
Labels: CLA Signed, React Core Team

#19752 Bugfix: Effect clean up when deleting suspended tree
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#19776 [Flight] Set dispatcher for duration of performWork()
  packages/react-server/src/ReactFlightServer.js
  packages/react-transport-dom-relay/src/__tests__/ReactFlightDOMRelay-test.internal.js
Labels: CLA Signed

#19745 Decouple public and internal act implementation
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElementContext-test.js
  packages/react-devtools-shared/src/__tests__/storeComponentFilters-test.js
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSuspense-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSuspensePlaceholder-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/ChangeEventPlugin-test.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsAct.js
  packages/react-interactions/events/src/dom/create-event-handle/__tests__/useFocusWithin-test.internal.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/SchedulerWithReactIntegration.new.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactNoopRendererAct-test.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSourceHydration-test.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
  packages/react-refresh/src/__tests__/ReactFreshIntegration-test.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-transport-dom-relay/src/__tests__/ReactFlightDOMRelay-test.internal.js
  packages/react-transport-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react/src/__tests__/ReactDOMTracing-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/use-subscription/src/__tests__/useSubscription-test.js
Labels: CLA Signed, React Core Team

#19788 Internal `act`: Flush timers at end of scope
  packages/react-dom/src/test-utils/ReactTestUtilsAct.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/__tests__/ReactBlocks-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  scripts/rollup/validate/eslintrc.cjs.js
  scripts/rollup/validate/eslintrc.cjs2015.js
  scripts/rollup/validate/eslintrc.fb.js
  scripts/rollup/validate/eslintrc.rn.js
  scripts/rollup/validate/eslintrc.umd.js
Labels: CLA Signed, React Core Team

#19762 Remove double space in test name
  packages/react/src/__tests__/ReactChildren-test.js
Labels: CLA Signed

#19803 Listen to onScroll during hydration
  packages/react-dom/src/__tests__/ReactDOMEventListener-test.js
  packages/react-dom/src/client/ReactDOMComponent.js
Labels: CLA Signed, React Core Team

#19751 eslint-plugin-react-hooks: fix compatibility with @typescript-eslint/parser@4.0.0+
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed, Component: ESLint Rules, Type: Bug

#19792 test(eslint-plugin-react-hooks): Run with TS parsers >= 2.x
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/package.json
  yarn.lock
Labels: CLA Signed, Component: ESLint Rules

#19809 Don't visit passive effects during layout phase
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#19815 Consider components in jsx as missing dependencies in @typescript-eslint/parser@4.x
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed

#19824 updates mailmap entries for Seth Webster
  .mailmap
Labels: CLA Signed

#19807 [Events] Make passiveness and priority non-configurable
  packages/react-dom/src/client/ReactDOMComponentTree.js
  packages/react-dom/src/client/ReactDOMEventHandle.js
  packages/react-dom/src/events/DOMEventProperties.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/EventRegistry.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-dom/src/events/plugins/SelectEventPlugin.js
  packages/react-interactions/events/src/dom/create-event-handle/Focus.js
  packages/react-interactions/events/src/dom/create-event-handle/useEvent.js
Labels: CLA Signed, React Core Team

#19786 React DevTools: Show symbols used as keys in state
  fixtures/devtools/standalone/index.html
  packages/react-devtools-shared/src/__tests__/__snapshots__/inspectedElementContext-test.js.snap
  packages/react-devtools-shared/src/__tests__/inspectedElementContext-test.js
  packages/react-devtools-shared/src/__tests__/legacy/__snapshots__/inspectElement-test.js.snap
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-devtools-shared/src/hydration.js
  packages/react-devtools-shared/src/utils.js
  packages/react-devtools-shell/src/app/InspectableElements/InspectableElements.js
  packages/react-devtools-shell/src/app/InspectableElements/SymbolKeys.js
Labels: CLA Signed, Component: Developer Tools

#19827 DevTools: Improve browser extension iframe support
  fixtures/devtools/iframe/iframe-in-component.html
  fixtures/devtools/iframe/iframe-other-origin.html
  fixtures/devtools/iframe/iframe-same-origin-sandbox.html
  fixtures/devtools/iframe/iframe-same-origin.html
  fixtures/devtools/iframe/index.html
  fixtures/devtools/iframe/main.html
  fixtures/devtools/iframe/server.js
  fixtures/devtools/regression/14.9.html
  fixtures/devtools/regression/15.0.html
  fixtures/devtools/regression/15.1.html
  fixtures/devtools/regression/15.2.html
  fixtures/devtools/regression/15.3.html
  fixtures/devtools/regression/15.4.html
  fixtures/devtools/regression/15.5.html
  fixtures/devtools/regression/15.6.html
  fixtures/devtools/regression/16.0.html
  fixtures/devtools/regression/16.1.html
  fixtures/devtools/regression/16.2.html
  fixtures/devtools/regression/16.3.html
  fixtures/devtools/regression/16.4.html
  fixtures/devtools/regression/16.5.html
  fixtures/devtools/regression/16.6.html
  fixtures/devtools/regression/16.7.html
  fixtures/devtools/regression/canary.html
  fixtures/devtools/regression/next.html
  packages/react-devtools-extensions/README.md
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed

#19832 Fix `act` bundle size regression
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsInternalAct.js
  packages/react-dom/src/test-utils/ReactTestUtilsPublicAct.js
Labels: CLA Signed, React Core Team

#19836 Moved resetChildLanes into complete work
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#19830 chore(docs): update url from fb.me to reactjs.org
  packages/scheduler/src/forks/SchedulerHostConfig.default.js
Labels: CLA Signed

#19849 Remove passive intervention flag
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-dom/src/events/plugins/__tests__/SimpleEventPlugin-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19773 Enable source maps for DevTools production builds
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-scheduling-profiler/webpack.config.js
  packages/react-devtools-shell/webpack.config.js
Labels: CLA Signed

#19774 Improve DevTools editing interface
  packages/react-devtools-shared/package.json
  packages/react-devtools-shared/src/__tests__/__snapshots__/inspectedElementContext-test.js.snap
  packages/react-devtools-shared/src/__tests__/editing-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElementContext-test.js
  packages/react-devtools-shared/src/__tests__/legacy/editing-test.js
  packages/react-devtools-shared/src/backend/NativeStyleEditor/setupNativeStyleEditor.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/utils.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/utils.js
  packages/react-devtools-shared/src/devtools/views/Components/CannotSuspendWarningMessage.js
  packages/react-devtools-shared/src/devtools/views/Components/Components.css
  packages/react-devtools-shared/src/devtools/views/Components/Components.js
  packages/react-devtools-shared/src/devtools/views/Components/EditableName.css
  packages/react-devtools-shared/src/devtools/views/Components/EditableName.js
  packages/react-devtools-shared/src/devtools/views/Components/EditableValue.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContextTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementPropsTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSharedStyles.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementStateTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSuspenseToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.css
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/AutoSizeInput.css
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/AutoSizeInput.js
  packages/react-devtools-shared/src/devtools/views/Components/NewArrayValue.css
  packages/react-devtools-shared/src/devtools/views/Components/NewArrayValue.js
  packages/react-devtools-shared/src/devtools/views/Components/NewKeyValue.css
  packages/react-devtools-shared/src/devtools/views/Components/NewKeyValue.js
  packages/react-devtools-shared/src/devtools/views/Components/SelectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/types.js
  packages/react-devtools-shared/src/devtools/views/Components/utils.js
  packages/react-devtools-shared/src/utils.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  yarn.lock
Labels: CLA Signed, React Core Team

#19862 Use Passive flag to schedule onPostCommit
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#19873 Use single quotes in getComponentName return
  packages/shared/getComponentName.js
Labels: CLA Signed

#19871 Don't trigger lazy in DEV during element creation
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react/src/ReactElementValidator.js
  packages/react/src/__tests__/ReactElementJSX-test.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
  packages/react/src/jsx/ReactJSXElementValidator.js
Labels: CLA Signed, React Core Team

#19875 DevTools: Drop IE 11 support
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-shared/babel.config.js
Labels: CLA Signed, React Core Team

#19691 Enable building of DevTools and scheduling profiler in CI
  .circleci/config.yml
Labels: CLA Signed

#19878 Improved DevTools context test harness
  packages/react-devtools-shell/src/app/InspectableElements/Contexts.js
Labels: CLA Signed, React Core Team

#19874 Add scheduling profiler deployment CI job
  .circleci/config.yml
  packages/react-devtools-scheduling-profiler/README.md
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools-scheduling-profiler/vercel.json
  yarn.lock
Labels: CLA Signed

#19864 Consolidate commit phase functions
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#19863 Don't call onCommit et al if there are no effects
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#19831 Rename from iterator to iterable and split the functionality
  packages/react-devtools-shared/src/__tests__/__snapshots__/inspectedElementContext-test.js.snap
  packages/react-devtools-shared/src/__tests__/inspectedElementContext-test.js
  packages/react-devtools-shared/src/__tests__/legacy/__snapshots__/inspectElement-test.js.snap
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-devtools-shared/src/hydration.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed

#19885 Only call Profiler onRender if we performed work
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react/src/__tests__/ReactDOMTracing-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#19854 DevTools: Improve browser extension iframe support
  fixtures/devtools/iframe/iframe-in-component.html
  fixtures/devtools/iframe/iframe-other-origin.html
  fixtures/devtools/iframe/iframe-same-origin-sandbox.html
  fixtures/devtools/iframe/iframe-same-origin.html
  fixtures/devtools/iframe/index.html
  fixtures/devtools/iframe/main.html
  fixtures/devtools/iframe/server.js
  fixtures/devtools/regression/14.9.html
  fixtures/devtools/regression/15.0.html
  fixtures/devtools/regression/15.1.html
  fixtures/devtools/regression/15.2.html
  fixtures/devtools/regression/15.3.html
  fixtures/devtools/regression/15.4.html
  fixtures/devtools/regression/15.5.html
  fixtures/devtools/regression/15.6.html
  fixtures/devtools/regression/16.0.html
  fixtures/devtools/regression/16.1.html
  fixtures/devtools/regression/16.2.html
  fixtures/devtools/regression/16.3.html
  fixtures/devtools/regression/16.4.html
  fixtures/devtools/regression/16.5.html
  fixtures/devtools/regression/16.6.html
  fixtures/devtools/regression/16.7.html
  fixtures/devtools/regression/canary.html
  fixtures/devtools/regression/next.html
  packages/react-devtools-extensions/README.md
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed

#19523 Double Invoke Effects in __DEV__
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/__tests__/ReactDoubleInvokeEvents-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19907 Separate SyntheticEvent constructors to prevent deopts
  packages/react-dom/src/events/SyntheticEvent.js
  packages/react-dom/src/events/plugins/BeforeInputEventPlugin.js
  packages/react-dom/src/events/plugins/EnterLeaveEventPlugin.js
  packages/react-dom/src/events/plugins/SimpleEventPlugin.js
Labels: CLA Signed, React Core Team

#19908 Remove Array.from() from hot path
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-interactions/events/src/dom/create-event-handle/useEvent.js
Labels: CLA Signed, React Core Team

#19909 Create Synthetic Events Lazily
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/plugins/BeforeInputEventPlugin.js
  packages/react-dom/src/events/plugins/ChangeEventPlugin.js
  packages/react-dom/src/events/plugins/SelectEventPlugin.js
  packages/react-dom/src/events/plugins/SimpleEventPlugin.js
Labels: CLA Signed, React Core Team

#19897 Fix contradiction in the README.md
  packages/react-devtools-inline/README.md
Labels: CLA Signed, Component: Developer Tools

#19902 Remove disableSchedulerTimeoutInWorkLoop flag
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#19895 Refactor layout effect methods
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
Labels: CLA Signed, React Core Team

#19935 Fix missing context to componentDidMount() when double-invoking lifecycles
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/__tests__/ReactDoubleInvokeEvents-test.internal.js
Labels: CLA Signed, React Core Team

#19936 Suspense for CPU-bound trees
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.new.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.old.js
  packages/react-reconciler/src/__tests__/ReactCPUSuspense-test.js
Labels: CLA Signed, React Core Team

#19900 Temporarily disable Profiler commit hooks flag
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team
