Repository facebook/react, pull requests merged in 2020-02, with the labels that each got.

#17848 Fix Cannot read property 'sub' of undefined when navigating to plain-text pages
  packages/react-devtools-core/src/backend.js
  packages/react-devtools-extensions/src/backend.js
  packages/react-devtools-extensions/src/injectGlobalHook.js
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-inline/src/backend.js
  packages/react-devtools-shared/src/backend/index.js
Labels: CLA Signed

#17959 Add beforeRemoveInstance method to ReactNoop
  packages/react-noop-renderer/src/createReactNoop.js
Labels: CLA Signed, React Core Team

#15780 [FIX] - ReactDOM Add back version property to client
  packages/react-dom/src/client/ReactDOM.js
Labels: CLA Signed

#17925 Flush `useEffect` clean up functions in the passive effects phase
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactHookEffectTags.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#17952 Simplify Continuous Hydration Targets
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-reconciler/src/ReactFiberExpirationTime.js
  packages/react-reconciler/src/ReactFiberReconciler.js
Labels: CLA Signed, React Core Team

#17951 Add dom fixture for autofilled form state
  fixtures/dom/src/components/Header.js
  fixtures/dom/src/components/fixtures/form-state/ControlledFormFixture.js
  fixtures/dom/src/components/fixtures/form-state/index.js
Labels: CLA Signed

#17675 Fix onMouseEnter is fired on disabled buttons
  packages/legacy-events/EventPluginHub.js
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.internal.js
Labels: CLA Signed

#17971 Remove Suspense priority warning
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#17062 apply changes on editablevalue on blur feature implemented
  packages/react-devtools-shared/src/devtools/views/Components/EditableValue.js
Labels: CLA Signed, Resolution: Backlog

#17967 [Mock Scheduler] Mimic browser's advanceTime
  packages/react-dom/src/events/__tests__/ChangeEventPlugin-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalUpdates-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/scheduler/src/__tests__/Scheduler-test.js
  packages/scheduler/src/forks/SchedulerHostConfig.mock.js
Labels: CLA Signed, React Core Team

#17972 Fix release script artifact path.
  scripts/release/shared-commands/download-build-artifacts.js
Labels: CLA Signed, React Core Team

#17975 fix sizebot - point correctly to circleci artifact
  dangerfile.js
Labels: CLA Signed, React Core Team

#17929 Updated release script documentation and command names
  scripts/release/README.md
  scripts/release/ci-add-build-info-json.js
  scripts/release/ci-update-package-versions.js
  scripts/release/create-next-commands/add-build-info-json.js
  scripts/release/create-next-commands/build-artifacts.js
  scripts/release/create-next-commands/confirm-automated-testing.js
  scripts/release/create-next-commands/copy-repo-to-temp-directory.js
  scripts/release/create-next-commands/npm-pack-and-unpack.js
  scripts/release/create-next-commands/update-version-numbers.js
  scripts/release/create-next.js
  scripts/release/prepare-next.js
  scripts/release/prepare-stable-commands/check-out-packages.js
  scripts/release/prepare-stable-commands/get-latest-next-version.js
  scripts/release/prepare-stable-commands/parse-params.js
  scripts/release/prepare-stable-commands/update-stable-version-numbers.js
  scripts/release/prepare-stable.js
  scripts/release/publish-commands/print-follow-up-instructions.js
  scripts/release/publish-commands/validate-tags.js
  scripts/release/shared-commands/print-prerelease-summary.js
  scripts/release/snapshot-test.js
  scripts/release/utils.js
Labels: CLA Signed, React Core Team

#17988 Use babel parser rather than Babylon in extract errors
  scripts/error-codes/extract-errors.js
Labels: CLA Signed, React Core Team

#17990 Add feature flag for removing children Map support
  packages/react/src/ReactChildren.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#17992 Fix Flow type for React Native
  packages/react-native-renderer/src/ReactNativeComponent.js
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed, React Core Team

#17993 dataForRoots.set duplicate removal
  packages/react-devtools-shared/src/devtools/views/Profiler/utils.js
Labels: CLA Signed

#17995 Move React Map child check to behind flags or __DEV__
  packages/react/src/ReactChildren.js
Labels: CLA Signed, React Core Team

#17999 Ignore react-native-web in Flow checks
  scripts/flow/config/flowconfig
Labels: CLA Signed, React Core Team

#18001 Added $FlowFixMe to DevTools shell for module we Flow-ignore
  packages/react-devtools-shell/src/app/ReactNativeWeb/index.js
Labels: CLA Signed, React Core Team

#18002 Re-enable shorthand CSS property collision warning
  packages/react-dom/src/__tests__/ReactDOMShorthandCSSPropertyCollision-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#18005 fix: typo in test case comment
  packages/react-reconciler/src/__tests__/ReactExpiration-test.internal.js
Labels: CLA Signed

#17825 Grammar fix
  packages/react-reconciler/src/ReactFiberExpirationTime.js
Labels: CLA Signed

#18007 Tweak comment wording
  packages/react-reconciler/src/ReactFiberExpirationTime.js
Labels: CLA Signed, React Core Team

#18011 Stop exposing some internals on FB build
  packages/react-dom/src/client/ReactDOMFB.js
Labels: CLA Signed, React Core Team

#17996 Refactor commitPlacement to recursively insert nodes
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#18015 Change build from babylon to babel
  scripts/rollup/build.js
  scripts/shared/__tests__/evalToString-test.js
Labels: CLA Signed, React Core Team

#18016 Remove legacy www config from Rollup build
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team

#17947 Flush all passive destroy fns before calling create fns
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18022 Do not export passiveBrowserEventsSupported from Focus module
  packages/react-interactions/events/src/dom/Focus.js
Labels: CLA Signed, React Core Team

#18019 Remove getIsHydrating
  packages/react-dom/src/client/ReactDOMFB.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
Labels: CLA Signed, React Core Team

#18027 remove "Unreleased" section from CHANGELOG
  CHANGELOG.md
Labels: CLA Signed, React Core Team

#16626 Add Auto Import to Babel Plugin
  packages/babel-plugin-react-jsx/__tests__/TransformJSXToReactCreateElement-test.js
  packages/babel-plugin-react-jsx/__tests__/TransformJSXToReactJSX-test.js
  packages/babel-plugin-react-jsx/__tests__/__snapshots__/TransformJSXToReactCreateElement-test.js.snap
  packages/babel-plugin-react-jsx/__tests__/__snapshots__/TransformJSXToReactJSX-test.js.snap
  packages/babel-plugin-react-jsx/package.json
  packages/babel-plugin-react-jsx/src/TransformJSXToReactBabelPlugin.js
Labels: CLA Signed, React Core Team

#18036 [Native] Delete NativeComponent and NativeMethodsMixin
  packages/react-native-renderer/src/NativeMethodsMixin.js
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeComponent.js
  packages/react-native-renderer/src/ReactNativeFiberHostComponent.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
  packages/react/src/__tests__/createReactClassIntegration-test.internal.js
  scripts/rollup/shims/react-native/NativeMethodsMixin.js
Labels: CLA Signed

#18025 Refactor DOM plugin system to fewer modules
  packages/legacy-events/EventPluginHub.js
  packages/legacy-events/EventPluginRegistry.js
  packages/legacy-events/EventPropagators.js
  packages/legacy-events/ResponderEventPlugin.js
  packages/legacy-events/__tests__/EventPluginRegistry-test.internal.js
  packages/legacy-events/getListener.js
  packages/react-dom/src/__tests__/InvalidEventListeners-test.js
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.internal.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMClientInjection.js
  packages/react-dom/src/events/DOMEventPluginOrder.js
  packages/react-dom/src/events/DOMEventPluginSystem.js
  packages/react-dom/src/events/ReactBrowserEventEmitter.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-native-renderer/src/ReactFabricEventEmitter.js
  packages/react-native-renderer/src/ReactNativeBridgeEventPlugin.js
  packages/react-native-renderer/src/ReactNativeEventEmitter.js
  packages/react-native-renderer/src/ReactNativeInjectionShared.js
  scripts/error-codes/codes.json
Labels: CLA Signed

#17385 Update eslint rule exhaustive deps to use new suggestions feature
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed

#18056 Further cleanup of plugin event system
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.internal.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMFB.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/events/DOMEventListenerMap.js
  packages/react-dom/src/events/DOMEventPluginSystem.js
  packages/react-dom/src/events/ReactBrowserEventEmitter.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/SelectEventPlugin.js
Labels: CLA Signed, React Core Team

#18041 React developer tools extension for Microsoft Edge
  packages/react-devtools-extensions/deploy.edge.html
  packages/react-devtools-extensions/edge/README.md
  packages/react-devtools-extensions/edge/build.js
  packages/react-devtools-extensions/edge/deploy.js
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/edge/now.json
  packages/react-devtools-extensions/edge/test.js
  packages/react-devtools-extensions/package.json
Labels: CLA Signed

#18039 [ISSUE_TEMPLATE] Show Actual Link Buttom to ReactDocs/issues and stackoverflow
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/question.md
Labels: CLA Signed

#18064 [react-interactions] Ensure onBeforeBlur fires for hideInstance
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-interactions/events/src/dom/__tests__/FocusWithin-test.internal.js
Labels: CLA Signed, React Core Team

#18069 [www] Disable Scheduler `timeout` w/ dynamic flag
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18030 Split recent passive effects changes into 2 flags
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18029 Re-throw errors thrown by the renderer at the root in the complete phase
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
Labels: CLA Signed, React Core Team

#18073 Add modern event system flag + rename legacy plugin module
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.internal.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/SelectEventPlugin.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18076 add no-restricted-globals to eslint config
  .eslintrc.js
  package.json
  yarn.lock
Labels: CLA Signed, React Core Team

#18077 Remove Flare bundles from build
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#18078 Don't build some packages for WWW
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#18075 Add container to event listener signature
  packages/legacy-events/ReactGenericBatching.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#18080 Add guard around FocusWithin responder root events
  packages/react-interactions/events/src/dom/Focus.js
Labels: CLA Signed, React Core Team

#18082 Profiler tooltip tweaks
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitFlamegraph.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitRanked.js
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.css
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.js
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarSelectedFiberInfo.js
  packages/react-devtools-shared/src/devtools/views/Profiler/Tooltip.css
  packages/react-devtools-shared/src/devtools/views/Profiler/Tooltip.js
  packages/react-devtools-shared/src/devtools/views/Profiler/WhatChanged.css
  packages/react-devtools-shared/src/devtools/views/Profiler/WhatChanged.js
Labels: CLA Signed, React Core Team

#18068 [Native] Migrate focus/blur to call TextInputState with the host component
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeFiberHostComponent.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/TextInputState.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
Labels: CLA Signed

#17099 Warn for update on different component in render
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18083 Further pre-requisite changes to plugin event system
  packages/legacy-events/PluginModuleType.js
  packages/legacy-events/ReactSyntheticEventType.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/events/DOMLegacyEventPluginSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/SelectEventPlugin.js
Labels: CLA Signed, React Core Team

#18074 Feature Flag for React.jsx' "spreading a key to jsx" warning
  packages/react/src/ReactElementValidator.js
  packages/react/src/__tests__/ReactElementJSX-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#15037 Update Rollup version to 1.19.4 and fix breaking changes
  package.json
  scripts/rollup/build.js
  scripts/rollup/plugins/closure-plugin.js
  scripts/rollup/plugins/sizes-plugin.js
  scripts/rollup/plugins/strip-unused-imports.js
  scripts/rollup/validate/eslintrc.umd.js
  yarn.lock
Labels: CLA Signed

#18091 Bugfix: `memo` drops lower pri updates on bail out
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.internal.js
Labels: CLA Signed, React Core Team

#18092 Remove unused arguments in the reconciler
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactUpdateQueue.js
Labels: CLA Signed, React Core Team

#18086 Rename Chunks API to Blocks
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactBlocks-test.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react/src/React.js
  packages/react/src/block.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactSymbols.js
  packages/shared/ReactWorkTags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/getComponentName.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#18031 Change string refs in function component message
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#18096 Don't warn about unmounted updates if pending passive unmount
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18105 Code mod import * as React from 'react' in react-window
  packages/react-devtools-shared/src/node_modules/react-window/src/createGridComponent.js
  packages/react-devtools-shared/src/node_modules/react-window/src/createListComponent.js
Labels: CLA Signed, React Core Team

#18112 Move type DOMContainer to HostConfig
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
Labels: CLA Signed

#18108 Cross platform support to run yarn test:edge for Microsoft Edge dev tools extension
  packages/react-devtools-extensions/edge/test.js
  packages/react-devtools-extensions/package.json
  yarn.lock
Labels: CLA Signed

#16853 [eslint-plugin-react-hooks] Fix cyclic caching for loops containing a…
  packages/eslint-plugin-react-hooks/__tests__/ESLintRulesOfHooks-test.js
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.js
Labels: CLA Signed

#18125 [react-interactions] Ensure blur to window disengages press
  packages/react-interactions/events/src/dom/PressLegacy.js
  packages/react-interactions/events/src/dom/__tests__/PressLegacy-test.internal.js
Labels: CLA Signed, React Core Team

#18126 Add @nolint to FB bundle headers
  scripts/rollup/wrappers.js
Labels: CLA Signed, React Core Team

#18119 Fixed a spelling mistake in a comment.
  packages/react-dom/src/shared/DOMProperty.js
Labels: CLA Signed

#18137 Remove /testing entry point from 'react' package
  packages/react/npm/testing.js
  packages/react/testing.js
Labels: CLA Signed, React Core Team

#18138 Remove react-dom OSS testing builds
  fixtures/dom/src/__tests__/nested-act-test.js
  fixtures/dom/src/__tests__/wrong-act-test.js
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#18130 Update ReactDebugHooks to handle composite hooks
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
Labels: CLA Signed, React Core Team

#18046 [DevTools] Added resize support for Components panel.
  packages/react-devtools-shared/src/devtools/views/Components/Components.css
  packages/react-devtools-shared/src/devtools/views/Components/Components.js
  packages/react-devtools-shared/src/devtools/views/Components/ComponentsResizer.css
  packages/react-devtools-shared/src/devtools/views/Components/ComponentsResizer.js
Labels: CLA Signed

#18124 Changelog for 16.13.0
  CHANGELOG.md
Labels: CLA Signed, React Core Team

#18143 update version numbers for 16.13
  packages/create-subscription/package.json
  packages/eslint-plugin-react-hooks/package.json
  packages/jest-react/package.json
  packages/react-art/package.json
  packages/react-dom/package.json
  packages/react-is/package.json
  packages/react-reconciler/package.json
  packages/react-refresh/package.json
  packages/react-test-renderer/package.json
  packages/react/package.json
  packages/scheduler/package.json
  packages/shared/ReactVersion.js
  packages/use-subscription/package.json
  scripts/release/publish-commands/download-error-codes-from-ci.js
Labels: CLA Signed, React Core Team

#18145 Convert the rest of react-dom and react-test-renderer to Named Exports
  packages/react-dom/server.browser.js
  packages/react-dom/server.js
  packages/react-dom/server.node.js
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/server/ReactDOMFizzServerBrowser.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-dom/src/server/ReactDOMServerBrowser.js
  packages/react-dom/src/server/ReactDOMServerNode.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/test-utils.js
  packages/react-dom/unstable-fizz.browser.js
  packages/react-dom/unstable-fizz.js
  packages/react-dom/unstable-fizz.node.js
  packages/react-dom/unstable-native-dependencies.js
  packages/react-server/src/ReactDOMServerFormatConfig.js
  packages/react-test-renderer/index.js
  packages/react-test-renderer/shallow.js
  packages/react-test-renderer/src/ReactShallowRenderer.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactShallowRenderer-test.js
  packages/react-test-renderer/src/__tests__/ReactShallowRendererHooks-test.js
  packages/react-test-renderer/src/__tests__/ReactShallowRendererMemo-test.js
Labels: CLA Signed, React Core Team

#18135 Remove unnecessary warnings
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberContext.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#18132 Remove unused flag
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#18152 Run test-prod job for experimental builds
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#18144 Replace ReactShallowRenderer with a dependency
  packages/react-test-renderer/package.json
  packages/react-test-renderer/shallow.js
  packages/react-test-renderer/src/ReactShallowRenderer.js
  yarn.lock
Labels: CLA Signed

#18153 Don't build shallow renderer for FB
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#18136 Convert React Native builds to named exports
  packages/react-native-renderer/fabric.js
  packages/react-native-renderer/index.js
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed, React Core Team

#18157 Remove shallow Node builds
  packages/react-test-renderer/npm/shallow.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#18165 Move remaining things to named exports
  packages/eslint-plugin-react-hooks/index.js
  packages/react-art/Circle.js
  packages/react-art/Rectangle.js
  packages/react-art/Wedge.js
  packages/react-art/index.js
  packages/react-art/src/__tests__/ReactART-test.js
  packages/react-debug-tools/index.js
  packages/react-flight-dom-webpack/index.js
  packages/react-flight-dom-webpack/server.browser.js
  packages/react-flight-dom-webpack/server.js
  packages/react-flight-dom-webpack/server.node.js
  packages/react-flight-dom-webpack/src/ReactFlightDOMClient.js
  packages/react-flight-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-flight-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-flight/index.js
  packages/react-interactions/events/context-menu.js
  packages/react-interactions/events/focus.js
  packages/react-interactions/events/hover.js
  packages/react-interactions/events/input.js
  packages/react-interactions/events/keyboard.js
  packages/react-interactions/events/press-legacy.js
  packages/react-interactions/events/press.js
  packages/react-interactions/events/tap.js
  packages/react-noop-renderer/flight-client.js
  packages/react-noop-renderer/flight-server.js
  packages/react-noop-renderer/index.js
  packages/react-noop-renderer/persistent.js
  packages/react-noop-renderer/server.js
  packages/react-noop-renderer/src/ReactNoop.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-noop-renderer/src/ReactNoopPersistent.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-reconciler/index.js
  packages/react-reconciler/persistent.js
  packages/react-refresh/babel.js
  packages/react-refresh/runtime.js
  packages/react-server/flight.js
  packages/react-server/index.js
  scripts/rollup/wrappers.js
Labels: CLA Signed, React Core Team

#18127 Remove runtime dependency on prop-types
  packages/react-art/package.json
  packages/react-dom/package.json
  packages/react-dom/src/server/ReactPartialRendererContext.js
  packages/react-dom/src/shared/ReactControlledValuePropTypes.js
  packages/react-flight/package.json
  packages/react-native-renderer/package.json
  packages/react-noop-renderer/package.json
  packages/react-reconciler/package.json
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberContext.js
  packages/react-server/package.json
  packages/react-test-renderer/package.json
  packages/react/package.json
  packages/react/src/ReactElementValidator.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/shared/checkPropTypes.js
Labels: CLA Signed, React Core Team

#18156 [Fabric] Fix targetAsInstance dispatchEvent "cannot read property of null"
  packages/react-native-renderer/src/ReactFabricEventEmitter.js
Labels: CLA Signed

#14762 feat: add recommended config eslint rule
  packages/eslint-plugin-react-hooks/README.md
  packages/eslint-plugin-react-hooks/src/index.js
Labels: CLA Signed

#18103 Fix typo in warning text
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed

#18159 [RN] Add an early invariant to debug a mystery crash
  packages/react-reconciler/src/ReactFiber.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#17439 react-test-renderer: improve findByType() error message
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
Labels: CLA Signed

#18180 Check in a forked version of object-assign only for UMD builds
  packages/shared/forks/object-assign.inline-umd.js
  scripts/babel/transform-object-assign-require.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#18181 Change ReactVersion from CJS to ES module
  packages/shared/ReactVersion.js
  scripts/release/publish-commands/update-stable-version-numbers.js
  scripts/release/utils.js
  scripts/tasks/version-check.js
Labels: CLA Signed, React Core Team

#18182 [Native] Enable and remove targetAsInstance feature flag.
  packages/react-native-renderer/src/ReactFabricComponentTree.js
  packages/react-native-renderer/src/ReactFabricEventEmitter.js
  packages/react-native-renderer/src/ReactNativeComponentTree.js
  packages/react-native-renderer/src/ReactNativeEventEmitter.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeEvents-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.persistent.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/flow/react-native-host-hooks.js
  scripts/rollup/shims/react-native/ReactFeatureFlags.js
Labels: CLA Signed

#18185 Update react-shallow-renderer from 16.12.0 to 16.13.0
  packages/react-test-renderer/package.json
  yarn.lock
Labels: CLA Signed

#18186 Only use Rollup's CommonJS plugin for "react-art"
  packages/jest-react/package.json
  packages/react-debug-tools/package.json
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team
