Repository facebook/react, pull requests merged in 2021-10, with the labels that each got.

#22480 React DevTools 4.19.0 -> 4.19.1
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: React Core Team

#22484 Reopen #22481 Fixed modal closing issue
  packages/react-devtools-shared/src/devtools/views/hooks.js
Labels: CLA Signed

#22448 Sync hydrate discrete events in capture phase and dont replay discrete events
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22500 fix: useSyncExternalStoreExtra
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStoreExtra.js
Labels: CLA Signed

#22513 Remove duplicate error code
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#22450 [Fizz/Flight] pipeToNodeWritable(..., writable).startWriting() -> renderToPipeableStream(...).pipe(writable)
  fixtures/flight/server/handler.server.js
  fixtures/ssr/server/render.js
  fixtures/ssr2/server/render.js
  packages/react-dom/npm/server.node.js
  packages/react-dom/server.node.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#22516 Follow-up improvements to error code extraction infra
  .circleci/config.yml
  package.json
  packages/shared/__tests__/ReactError-test.internal.js
  scripts/error-codes/README.md
  scripts/error-codes/__tests__/__snapshots__/transform-error-messages.js.snap
  scripts/error-codes/__tests__/transform-error-messages.js
  scripts/error-codes/extract-errors.js
  scripts/error-codes/transform-error-messages.js
  scripts/jest/preprocessor.js
  scripts/rollup/build.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#22661 React DevTools 4.20.2 -> 4.21.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, Component: Developer Tools
