Repository facebook/react, pull requests merged in 2021-08, with the labels that each got.

#21990 Scheduling profiler UX changes
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/EventTooltip.css
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.js
  packages/react-devtools-scheduling-profiler/src/content-views/FlamechartView.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/SchedulingEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/SuspenseEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/UserTimingMarksView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-scheduling-profiler/src/content-views/index.js
  packages/react-devtools-scheduling-profiler/src/content-views/utils/text.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-scheduling-profiler/src/utils/formatting.js
  packages/react-devtools-scheduling-profiler/src/utils/useSmartTooltip.js
  packages/react-devtools-scheduling-profiler/src/view-base/BackgroundColorView.js
  packages/react-devtools-scheduling-profiler/src/view-base/HorizontalPanAndZoomView.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableSplitView.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableView.js
  packages/react-devtools-scheduling-profiler/src/view-base/Surface.js
  packages/react-devtools-scheduling-profiler/src/view-base/VerticalScrollOverflowView.js
  packages/react-devtools-scheduling-profiler/src/view-base/VerticalScrollView.js
  packages/react-devtools-scheduling-profiler/src/view-base/View.js
  packages/react-devtools-scheduling-profiler/src/view-base/geometry.js
  packages/react-devtools-scheduling-profiler/src/view-base/index.js
  packages/react-devtools-scheduling-profiler/src/view-base/layouter.js
  packages/react-devtools-scheduling-profiler/src/view-base/useCanvasInteraction.js
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsContext.js
  packages/react-devtools-shared/src/devtools/views/TabBar.js
  packages/react-devtools-shared/src/devtools/views/root.css
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/SchedulingProfiler.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#21968 [DevTools] Optimize Images yarn command (part 2)
  packages/react-devtools-extensions/improveImages.mjs
  packages/react-devtools-extensions/package.json
  yarn.lock
Labels: CLA Signed, Component: Developer Tools

#21885 [DevTools] Disable sizeBot on DevTools Rull Request
  dangerfile.js
Labels: CLA Signed, Component: Build Infrastructure, Component: Developer Tools

#21950 Devtools: Refactor imperative theme code
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsContext.js
  packages/react-devtools-shared/src/devtools/views/ThemeProvider.js
  packages/react-devtools-shared/src/devtools/views/portaledContent.js
  packages/react-devtools-shared/src/devtools/views/root.css
Labels: CLA Signed, Component: Developer Tools

#22006 DevTools: Scheduling profiler
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/SuspenseEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/UserTimingMarksView.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableView.js
  packages/react-devtools-scheduling-profiler/src/view-base/View.js
  packages/react-devtools-scheduling-profiler/src/view-base/geometry.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/ContextMenu/ContextMenu.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/devtools/views/portaledContent.js
  packages/react-devtools-shared/src/devtools/views/root.css
Labels: CLA Signed, React Core Team

#22011 Switch on enableProfilerChangedHookIndices flag for OSS devtools builds
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
Labels: CLA Signed

#22008 [DevTools] Fix: highlight updates with memoized components
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed, Component: Developer Tools

#22013 DevTools scheduling profiler: Add React component measures
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/SchedulingProfilerContext.js
  packages/react-devtools-scheduling-profiler/src/content-views/ComponentMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/FlamechartView.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/SuspenseEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-scheduling-profiler/src/content-views/index.js
  packages/react-devtools-scheduling-profiler/src/content-views/utils/text.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableView.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ClearProfilingDataButton.js
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ReloadAndProfileButton.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/SchedulingProfiler.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#21955 typos fixed
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
  packages/react-devtools-extensions/src/astUtils.js
Labels: CLA Signed

#22019 [Fabric] Add `flex: 1` to Offscreen view container
  packages/react-native-renderer/src/ReactFabricHostConfig.js
Labels: CLA Signed, React Core Team

#22018 Re-add old Fabric Offscreen impl behind flag
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberHostConfigWithNoPersistence.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/flow/config/flowconfig
  scripts/flow/xplat.js
  scripts/rollup/bundles.js
  scripts/rollup/modules.js
Labels: CLA Signed, React Core Team

#22029 Scheduling profiler: Added lane labels and durations to React measures
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/constants.js
  packages/react-devtools-scheduling-profiler/src/content-views/ComponentMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-scheduling-profiler/src/content-views/utils/text.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableView.js
  packages/react-devtools-shared/src/constants.js
  packages/react-reconciler/src/ReactFiberLane.new.js
  packages/react-reconciler/src/ReactFiberLane.old.js
  packages/react-reconciler/src/SchedulingProfiler.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
  packages/react-reconciler/src/__tests__/SchedulingProfilerLabels-test.internal.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22037 [DevTools] Hook names are correctly extracted when parsing nested hook calls
  packages/react-devtools-extensions/src/__tests__/__source__/ComponentWithNestedHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithNestedHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithNestedHooks.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ComponentWithNestedHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ComponentWithNestedHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithNestedHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/index.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/astUtils.js
Labels: CLA Signed

#22038 Scheduling Profiler: Improve warnings and add unit tests
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.css
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/utils/getBatchRange.js
Labels: CLA Signed, React Core Team

#22042 Fix typo in parseHookNames.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.js
Labels: CLA Signed

#22050 Enable enableSuspenseLayoutEffectSemantics flag statically for Facebook
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22043 Scheduling Profiler: Misc UX and performance improvements
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/SchedulingProfiler.js
  packages/react-devtools-scheduling-profiler/src/SchedulingProfilerContext.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-scheduling-profiler/src/utils/getBatchRange.js
  packages/react-devtools-scheduling-profiler/src/view-base/HorizontalPanAndZoomView.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableView.js
  packages/react-devtools-scheduling-profiler/src/view-base/VerticalScrollView.js
  packages/react-devtools-scheduling-profiler/src/view-base/utils/scrollState.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22047 Devtools/function context change
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shell/src/app/InspectableElements/Contexts.js
Labels: CLA Signed

#21953 Show a soft error when a text string or number is supplied as a child to non text wrappers
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
Labels: CLA Signed

#22075 Updated @reach packages to fix unmount bug
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools-shared/package.json
  yarn.lock
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22073 [DevTools] Updated source map extension format + more precise types
  packages/react-devtools-extensions/src/SourceMapTypes.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentUsingHooksIndirectly.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentWithExternalCustomHooks.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentWithMultipleHooksPerLine.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentWithNestedHooks.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ContainingStringSourceMappingURL.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/Example.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/InlineRequire.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ToDoList.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/useTheme.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ComponentUsingHooksIndirectly.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ComponentWithExternalCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ComponentWithMultipleHooksPerLine.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ComponentWithNestedHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ContainingStringSourceMappingURL.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/Example.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/InlineRequire.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ToDoList.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/useTheme.js
  packages/react-devtools-extensions/src/__tests__/updateMockSourceMaps.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.js
Labels: CLA Signed

#22076 DevTools 4.14.0 -> 4.15.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed

#22077 Add script to generate DevTools changelog text
  package.json
  packages/react-devtools/get-commit-list.js
Labels: CLA Signed, React Core Team

#22083 Fixed Components tree indentation bug for Chrome extension
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools-shared/package.json
  yarn.lock
Labels: CLA Signed, Component: Developer Tools

#22088 [DevTools] Add screenshots to Scheduling Profiler
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/content-views/SnapshotsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-scheduling-profiler/src/content-views/index.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/importFile.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22091 Scheduling Profiler: Inline snapshots
  packages/react-devtools-scheduling-profiler/src/EventTooltip.css
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/content-views/SnapshotsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22094 Typo: 'occured' -> 'occurred' in comment
  packages/react-devtools-scheduling-profiler/src/content-views/SnapshotsView.js
Labels: CLA Signed

#22100 Scheduling profiler: Canvas views clip by default
  packages/react-devtools-scheduling-profiler/src/content-views/SnapshotsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/SuspenseEventsView.js
  packages/react-devtools-scheduling-profiler/src/view-base/View.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22102 make parseHookNames a separate bundle
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-extensions/src/parseHookNames/index.js
  packages/react-devtools-extensions/webpack.config.js
Labels: CLA Signed, React Core Team

#22104 DevTools 4.15.0 -> 4.16.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#22107 [Scheduler] Check for continuous input events
  packages/scheduler/src/forks/Scheduler.js
Labels: CLA Signed, React Core Team

#22108 Revert "Show a soft error when a text string or number is supplied as a child to non text wrappers"
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/ReactNativeHostConfig.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
Labels: CLA Signed

#22109 Show a soft error when a text string or number is supplied as a child…
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed

#22117 Fixed ReactSharedInternals export in UMD bundle
  packages/react/src/forks/ReactSharedInternals.umd.js
Labels: CLA Signed, React Core Team

#22112 Scheduling Profiler: Add network measures
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/EventTooltip.css
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/content-views/NetworkMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-scheduling-profiler/src/content-views/index.js
  packages/react-devtools-scheduling-profiler/src/content-views/utils/text.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-scheduling-profiler/src/view-base/HorizontalPanAndZoomView.js
  packages/react-devtools-scheduling-profiler/src/view-base/Surface.js
  packages/react-devtools-scheduling-profiler/src/view-base/VerticalScrollView.js
  packages/react-devtools-shared/src/constants.js
Labels: CLA Signed, React Core Team

#22114 Remove the warning for setState on unmounted components
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#22128 [DevTools] Support object destructuring pattern without runtime errors
  packages/react-devtools-extensions/src/SourceMapMetadataConsumer.js
  packages/react-devtools-extensions/src/__tests__/__source__/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/index-map/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/fb-sources-extended/index-map/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index-map/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index-map/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/react-sources-extended/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/react-sources-extended/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/react-sources-extended/index-map/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/react-sources-extended/index-map/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/fb-sources-extended/index-map/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/index-map/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/react-sources-extended/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/react-sources-extended/index-map/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithUnnamedCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/astUtils.js
Labels: CLA Signed, Component: Developer Tools

#22129 [DevTools] Using array destructuring without assigning first variable does not error
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithUseState.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/astUtils.js
Labels: CLA Signed, Component: Developer Tools

#22130 Scheduling profiler: Fix tooltip wheel event regression
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/utils/useSmartTooltip.js
  packages/react-devtools-scheduling-profiler/src/view-base/Surface.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22126 Replace "source-map" library with "source-map-js"
  packages/react-devtools-extensions/build.js
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-extensions/package.json
  packages/react-devtools-extensions/src/SourceMapMetadataConsumer.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/parseHookNames/index.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.js
  yarn.lock
Labels: Type: Discussion, Component: Developer Tools

#22139 Set up test infra for dynamic Scheduler flags
  packages/scheduler/src/SchedulerFeatureFlags.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www-dynamic.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www.js
  scripts/jest/TestFlags.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#22140 [Scheduler] Add tests for isInputPending
  packages/scheduler/src/__tests__/Scheduler-test.js
Labels: CLA Signed, React Core Team

#22144 DevTools: update error indices when elements are added/removed
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-devtools-shared/src/devtools/store.js
Labels: CLA Signed

#22147 DevTools: Reset cached indices in Store after elements reordered
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-devtools-shared/src/devtools/store.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22136 [DevTools] Add options for disabling some features
  packages/react-devtools-inline/src/frontend.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementPropsTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSuspenseToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/devtools/views/context.js
Labels: CLA Signed

#22150 Fix typo in preprocessData.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
Labels: CLA Signed

#22154 Fix a few typos
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberInterleavedUpdates.new.js
  packages/react-reconciler/src/ReactFiberInterleavedUpdates.old.js
  packages/react-reconciler/src/ReactFiberNewContext.new.js
  packages/react-reconciler/src/ReactFiberNewContext.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberSyncTaskQueue.new.js
  packages/react-reconciler/src/ReactFiberSyncTaskQueue.old.js
  packages/react-reconciler/src/ReactUpdateQueue.new.js
  packages/react-reconciler/src/ReactUpdateQueue.old.js
  packages/react-reconciler/src/__tests__/ReactEffectOrdering-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
  packages/react/src/ReactAct.js
  packages/scheduler/src/forks/Scheduler.js
  packages/scheduler/src/forks/SchedulerMock.js
Labels: CLA Signed

#22156 Yarn replace-fork should not silently error
  scripts/merge-fork/replace-fork.js
Labels: CLA Signed, React Core Team

#21998 Renames master to main in fixtures/flight webpack config file
  fixtures/flight/config/webpack.config.js
Labels: CLA Signed

#22157 add more detailed error handling if profiling data does not have any React marks
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
Labels: CLA Signed

#22160 DevTools: Replaced WeakMap with LRU for inspected element cache
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/inspectedElementCache.js
  packages/react-devtools-shared/src/inspectedElementMutableSource.js
  packages/react-devtools-shared/src/types.js
Labels: CLA Signed, React Core Team

#22105 Add feature flags for scheduler experiments
  packages/scheduler/src/SchedulerFeatureFlags.js
  packages/scheduler/src/forks/Scheduler.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www-dynamic.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22165 Add maxYieldMs feature flag in Scheduler
  packages/scheduler/src/SchedulerFeatureFlags.js
  packages/scheduler/src/forks/Scheduler.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www-dynamic.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22161 Automated DevTools release process
  package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/get-commit-list.js
  scripts/devtools/.gitignore
  scripts/devtools/README.md
  scripts/devtools/package.json
  scripts/devtools/release.js
  scripts/devtools/yarn.lock
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22170 DevTools release script updates:
  scripts/devtools/.gitignore
  scripts/devtools/README.md
  scripts/devtools/build-and-test.js
  scripts/devtools/configuration.js
  scripts/devtools/prepare-release.js
  scripts/devtools/publish-release.js
  scripts/devtools/release.js
  scripts/devtools/utils.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22202 Set up use-sync-external-store package
  ReactVersions.js
  packages/use-sync-external-store/README.md
  packages/use-sync-external-store/index.js
  packages/use-sync-external-store/npm/index.js
  packages/use-sync-external-store/package.json
  packages/use-sync-external-store/src/__tests__/useSyncExternalStore-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#22200 devtools: Don't display hook index of useContext
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shell/src/app/InspectableElements/CustomHooks.js
Labels: CLA Signed

#22199 Added Separate DevTools Feature Flags for react-devtools-core
  packages/react-devtools-core/package.json
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-shared/buildUtils.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22175 [DevTools] Throw error in console without interfering with logs
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/console.js
Labels: CLA Signed, React Core Team

#22215 Add consoleManagedByDevToolsDuringStrictMode feature flag in DevTools
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed, React Core Team
