Repository facebook/react, pull requests merged in 2021-06, with the labels that each got.

#21596 Fix Fizz exported types
  packages/react-dom/src/server/ReactDOMFizzServerBrowser.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
Labels: CLA Signed, React Core Team

#21504 Define global __WWW__ = true flag during www tests
  packages/react-reconciler/src/__tests__/ReactSuspenseCallback-test.js
  scripts/jest/TestFlags.js
  scripts/jest/config.source-www.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#21597 OSS feature flag updates
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#21386 [Offscreen] Mount/unmount layout effects
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/React.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#21602 Expose Fizz in stable builds
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#21415 chore: Delete the use of an old field (Fiber.responders)
  packages/react-reconciler/src/ReactFiberNewContext.new.js
  packages/react-reconciler/src/ReactFiberNewContext.old.js
Labels: CLA Signed

#21605 Disable deferRenderPhaseUpdateToNextBatch by default
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
Labels: CLA Signed, React Core Team

#21505 Resolve the true entry point during tests
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMTestSelectors-test.internal.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/__tests__/ReactWrongReturnPointer-test.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-fetch/src/__tests__/ReactFetchNode-test.js
  packages/react-interactions/events/src/dom/create-event-handle/__tests__/useFocus-test.internal.js
  packages/react-interactions/events/src/dom/create-event-handle/__tests__/useFocusWithin-test.internal.js
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/react-reconciler/src/__tests__/ReactCache-test.js
  packages/react-reconciler/src/__tests__/ReactContextPropagation-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
  packages/react-reconciler/src/__tests__/ReactSchedulerIntegration-test.js
  packages/react-reconciler/src/__tests__/ReactScope-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSubtreeFlagsWarning-test.js
  scripts/jest/TestFlags.js
  scripts/jest/config.source-persistent.js
  scripts/jest/config.source-www.js
  scripts/jest/config.source.js
  scripts/jest/setupHostConfigs.js
Labels: CLA Signed, React Core Team

#21608 Add single source of truth for package versions
  ReactVersions.js
  packages/shared/ReactVersion.js
  scripts/release/utils.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#21611 [Fizz] Fix <select> check of defaultValue/value type
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
Labels: CLA Signed, React Core Team

#21583 Devtools: add feature to trigger an error boundary
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElementSerializer.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/ButtonIcon.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/types.js
  packages/react-devtools-shell/src/app/ErrorBoundaries/index.js
  packages/react-devtools-shell/src/app/index.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
Labels: CLA Signed

#21613 Use ReactVersions module as package allowlist
  ReactVersions.js
  scripts/release/utils.js
Labels: CLA Signed, React Core Team

#21615 Prepare semver (`@latest`) releases in CI
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#21616 Support `@latest` in prepare-release-from-ci
  scripts/release/prepare-release-from-ci.js
  scripts/release/shared-commands/download-build-artifacts.js
  scripts/release/shared-commands/parse-params.js
Labels: CLA Signed, React Core Team

#21617 Make enableSuspenseLayoutEffectSemantics static for www
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#21610 [Fizz] Implement Component Stacks in DEV for warnings
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#21618 [Fizz] Minor Fixes for Warning Parity
  packages/react-dom/src/__tests__/ReactDOMServerLifecycles-test.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-server/src/ReactFizzClassComponent.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#21621 Fix typo in bridge.js
  packages/react-devtools-shared/src/bridge.js
Labels: CLA Signed

#21625 [Fizz] Always call flush() if it exists
  packages/react-server/src/ReactServerStreamConfigNode.js
Labels: CLA Signed, React Core Team

#21627 [Fizz] Add another fixture
  fixtures/ssr2/package-lock.json
  fixtures/ssr2/package.json
  fixtures/ssr2/public/main.css
  fixtures/ssr2/scripts/build.js
  fixtures/ssr2/server/delays.js
  fixtures/ssr2/server/render.js
  fixtures/ssr2/server/server.js
  fixtures/ssr2/src/App.js
  fixtures/ssr2/src/Comments.js
  fixtures/ssr2/src/Html.js
  fixtures/ssr2/src/Layout.js
  fixtures/ssr2/src/NavBar.js
  fixtures/ssr2/src/Post.js
  fixtures/ssr2/src/Sidebar.js
  fixtures/ssr2/src/Spinner.js
  fixtures/ssr2/src/data.js
  fixtures/ssr2/src/index.js
Labels: CLA Signed, React Core Team

#21551 fix comments: expiration time -> lanes
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed

#21629 Fix typo in comment (satsify → satisfy)
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed

#21635 Fix typo in comment (environement → environment)
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed

#21637 Fix typo in comment (accumlated → accumulated)
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
Labels: CLA Signed

#21642 Fix Issue with Undefined Lazy Imports By Refactoring Lazy Initialization Order
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react/src/ReactLazy.js
Labels: CLA Signed, React Core Team

#21647 Update next React version
  .circleci/config.yml
  ReactVersions.js
  scripts/release/publish-commands/validate-tags.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#21553 [React Native] Fabric get current event priority
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  scripts/flow/react-native-host-hooks.js
Labels: CLA Signed

#21652 Deprecate ReactDOM.render and ReactDOM.hydrate
  fixtures/dom/src/__tests__/wrong-act-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactErrorLoggingRecovery-test.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyRootWarnings-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  scripts/jest/shouldIgnoreConsoleError.js
Labels: CLA Signed, React Core Team

#21648 Add concurrentRoot property to ReactNativeTypes
  packages/react-native-renderer/src/ReactNativeTypes.js
  scripts/rollup/shims/react-native/ReactFabric.js
Labels: CLA Signed

#21656 Revert "Make enableSuspenseLayoutEffectSemantics static for www (#21617)"
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#21661 Export React Native `AttributeType` Types
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed

#21660 DevTools can inspect Proxies that return broken iterator functions
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#21657 Wrap createEventHandle-specific logic in a flag
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#21679 Set deletedTreeCleanUpLevel to 3
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#21666 Remove invokeGuardedCallback from commit phase
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactSuspenseCallback-test.js
Labels: CLA Signed, React Core Team

#21680 Add a DOCTYPE to the stream if the <html> tag is rendered at the root
  fixtures/fizz-ssr-browser/index.html
  fixtures/ssr/server/render.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.js
  packages/react-dom/src/server/ReactDOMLegacyServerNode.js
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
  packages/react-dom/src/server/ReactDOMServerLegacyFormatConfig.js
Labels: CLA Signed, React Core Team

#21681 [Fizz/Flight] Don't use default args
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#21682 Clean up partial renderer entry points
  packages/react-dom/server.browser.classic.fb.js
  packages/react-dom/server.browser.stable.js
  packages/react-dom/server.node.classic.fb.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationNewContext-test.js
  packages/react-dom/src/server/ReactDOMNodeStreamRenderer.js
  packages/react-dom/src/server/ReactDOMServerLegacyPartialRendererBrowser.js
  packages/react-dom/src/server/ReactDOMServerNode.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#21683 Use the server src files as entry points for the builds/tests
  fixtures/fizz-ssr-browser/index.html
  fixtures/ssr/src/index.js
  packages/react-dom/npm/server.browser.js
  packages/react-dom/npm/server.node.js
  packages/react-dom/npm/unstable-fizz.browser.js
  packages/react-dom/npm/unstable-fizz.node.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.classic.fb.js
  scripts/rollup/bundles.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#21684 Merge /unstable-fizz entry point into /server
  fixtures/ssr/server/render.js
  packages/react-dom/npm/server.browser.js
  packages/react-dom/npm/server.node.js
  packages/react-dom/npm/unstable-fizz.browser.js
  packages/react-dom/npm/unstable-fizz.js
  packages/react-dom/npm/unstable-fizz.node.js
  packages/react-dom/package.json
  packages/react-dom/server.browser.js
  packages/react-dom/server.node.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingBrowser-test.js
  packages/react-dom/src/server/ReactDOMFizzServerBrowser.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-dom/unstable-fizz.browser.js
  packages/react-dom/unstable-fizz.js
  packages/react-dom/unstable-fizz.node.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#21687 createRoot(..., {hydrate:true}) -> hydrateRoot(...)
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.experimental.js
  packages/react-dom/index.js
  packages/react-dom/index.modern.fb.js
  packages/react-dom/index.stable.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/client/ReactDOMRoot.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#21688 [SSR2 Fixture] Update APIs
  fixtures/ssr2/package-lock.json
  fixtures/ssr2/package.json
  fixtures/ssr2/server/render.js
  fixtures/ssr2/src/index.js
  fixtures/ssr2/yarn.lock
Labels: CLA Signed, React Core Team

#21686 Throw when `act` is used in production
  fixtures/legacy-jsx-runtimes/setupTests.js
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/__tests__/ReactTestUtilsActUnmockedScheduler-test.js
  packages/react-dom/src/test-utils/ReactTestUtilsPublicAct.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-reconciler/src/__tests__/ReactUpdaters-test.internal.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererAct-test.js
  packages/react/src/__tests__/ReactCoffeeScriptClass-test.coffee
  packages/react/src/__tests__/ReactES6Class-test.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
  packages/react/src/__tests__/testDefinitions/ReactDOMTestUtils.d.ts
  scripts/error-codes/codes.json
  scripts/jest/shouldIgnoreConsoleError.js
Labels: CLA Signed, React Core Team

#21694 Fix for failed Suspense layout semantics
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
Labels: CLA Signed, React Core Team

#21697 Fix failing test
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
Labels: CLA Signed, React Core Team

#21698 Remove unstable_createRoot from internal builds
  fixtures/blocks/src/index.js
  fixtures/concurrent/time-slicing/src/index.js
  fixtures/devtools/scheduling-profiler/app.js
  fixtures/dom/src/__tests__/wrong-act-test.js
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.js
  packages/react-dom/index.modern.fb.js
Labels: CLA Signed, React Core Team

#21703 Delete test-utils implementation of `act`
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsInternalAct.js
  packages/react-dom/src/test-utils/ReactTestUtilsPublicAct.js
Labels: CLA Signed, React Core Team

#21714 Reimplement `act` without mock Scheduler
  fixtures/dom/src/__tests__/nested-act-test.js
  fixtures/dom/src/__tests__/wrong-act-test.js
  packages/react-dom/src/__tests__/ReactDOMTestSelectors-test.internal.js
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/__tests__/ReactUnmockedSchedulerWarning-test.internal.js
  packages/react-dom/src/__tests__/ReactUnmockedSchedulerWarning-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsInternalAct.js
  packages/react-dom/testing.classic.fb.js
  packages/react-dom/testing.experimental.js
  packages/react-dom/testing.js
  packages/react-dom/testing.modern.fb.js
  packages/react-dom/testing.stable.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererAct-test.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/index.stable.js
  packages/react/src/React.js
  packages/react/src/ReactAct.js
  packages/react/src/ReactCurrentActQueue.js
  packages/react/src/ReactSharedInternals.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#21700 Next/experimental release versions include commit date
  ReactVersions.js
  scripts/release/README.md
  scripts/release/prepare-release-from-npm-commands/parse-params.js
  scripts/release/prepare-release-from-npm-commands/update-stable-version-numbers.js
  scripts/release/snapshot-test.js
  scripts/release/utils.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#21734 Add tests for invokeGuardedCallback
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
Labels: CLA Signed, React Core Team

#21741 Pass Jest useStderr flag when debugging
  scripts/jest/jest-cli.js
Labels: CLA Signed, React Core Team

#21740 act: Bypass microtask for "default sync" updates
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#21723 Log and show error overlay for commit phase errors
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
Labels: CLA Signed, React Core Team

#21747 DevTools: Fix Settings dialog scroll/size bug in Firefox
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsModal.css
  packages/react-devtools-shared/src/devtools/views/TabBar.css
Labels: CLA Signed, Component: Developer Tools, React Core Team

#21739 Always keep disabled logs in the second pass
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react/src/__tests__/ReactStrictMode-test.js
Labels: CLA Signed, React Core Team

#21737 Move error logging to update callback
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
Labels: CLA Signed, React Core Team

#21748 DevTools: Update tests to fix warnings/errors
  packages/react-devtools-shared/src/__tests__/FastRefreshDevToolsIntegration-test.js
  packages/react-devtools-shared/src/__tests__/componentStacks-test.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/__tests__/editing-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/ownersListContext-test.js
  packages/react-devtools-shared/src/__tests__/profilerContext-test.js
  packages/react-devtools-shared/src/__tests__/profilerStore-test.js
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-devtools-shared/src/__tests__/profilingCharts-test.js
  packages/react-devtools-shared/src/__tests__/profilingCommitTreeBuilder-test.js
  packages/react-devtools-shared/src/__tests__/profilingHostRoot-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/__tests__/storeComponentFilters-test.js
  packages/react-devtools-shared/src/__tests__/storeOwners-test.js
  packages/react-devtools-shared/src/__tests__/storeStressSync-test.js
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-devtools-shared/src/__tests__/useEditableValue-test.js
  packages/react-devtools-shared/src/__tests__/utils.js
Labels: CLA Signed, React Core Team

#21743 act: Add test for bypassing queueMicrotask
  packages/react-reconciler/src/__tests__/ReactIsomorphicAct-test.js
Labels: CLA Signed, React Core Team

#21759 `act`: Resolve to return value of scope function
  packages/react-reconciler/src/__tests__/ReactIsomorphicAct-test.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react/src/ReactAct.js
Labels: CLA Signed, React Core Team

#21768 Updated scripts and config to replace "master" with "main" branch
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
  appveyor.yml
  packages/create-subscription/README.md
  packages/eslint-plugin-react-hooks/CHANGELOG.md
  packages/react-devtools-extensions/flow-typed/npm/react-test-renderer_v16.x.x.js
  packages/react-devtools-extensions/popups/disabled.html
  packages/react-devtools-inline/README.md
  packages/react-devtools-scheduling-profiler/src/view-base/utils/normalizeWheel.js
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/cache.js
  packages/react-devtools-shell/README.md
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/OVERVIEW.md
  packages/react-devtools/README.md
  packages/react-reconciler/README.md
  packages/react/index.js
  packages/use-subscription/README.md
  scripts/bench/README.md
  scripts/bench/build.js
  scripts/bench/runner.js
  scripts/error-codes/README.md
  scripts/error-codes/extract-errors.js
  scripts/merge-fork/README.md
  scripts/print-warnings/print-warnings.js
  scripts/release/README.md
  scripts/release/prepare-release-from-ci.js
  scripts/release/prepare-release-from-npm-commands/guess-stable-version-numbers.js
  scripts/release/publish-using-ci-workflow.js
  scripts/shared/listChangedFiles.js
Labels: CLA Signed, React Core Team

#21204 chore: Ignore build2/ when linting
  .eslintignore
Labels: CLA Signed

#21773 Simplify `discreteUpdates`
  packages/react-dom/src/events/ReactDOMUpdateBatching.js
Labels: CLA Signed, React Core Team

#21774 Delete batchedEventUpdates
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMUpdateBatching.js
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/legacy-events/ReactGenericBatching.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team
