Repository facebook/react, pull requests merged in 2021-09, with the labels that each got.

#22198 DevTools: Improve named hooks network caching
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/background.js
  packages/react-devtools-extensions/src/injectGlobalHook.js
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-extensions/src/parseHookNames/index.js
  packages/react-devtools-extensions/src/parseHookNames/loadSourceAndMetadata.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.worker.js
  packages/react-devtools-extensions/src/parseHookNames/parseSourceAndMetadata.js
  packages/react-devtools-extensions/src/parseHookNames/parseSourceAndMetadata.worker.js
  packages/react-devtools-shared/src/PerformanceMarks.js
  packages/react-devtools-shared/src/devtools/views/Components/HookNamesContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/hookNamesCache.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22196 Add consoleManagedByDevToolsDuringStrictMode feature flag in React Reconciler
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react/src/__tests__/ReactStrictMode-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22232 [DevTools] Remove `dist` build folder in release script before rebuilding
  scripts/devtools/build-and-test.js
Labels: CLA Signed, React Core Team

#22233 [DevTools] Fix Issue in release script where commits for the last DevTools release are undefined
  scripts/devtools/prepare-release.js
Labels: CLA Signed, React Core Team

#22234 React DevTools 4.17.0 -> 4.18.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#22211 Initial shim of useSyncExternalStore
  packages/use-sync-external-store/extra.js
  packages/use-sync-external-store/npm/extra.js
  packages/use-sync-external-store/package.json
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  packages/use-sync-external-store/src/useSyncExternalStoreExtra.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#22203 Fix typo in ReactDOMServerFormatConfig.js
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
Labels: CLA Signed

#22171 Typo fixed in react-devtools changelog.md file
  packages/react-devtools/CHANGELOG.md
Labels: CLA Signed

#22142 Add aria-description to the list of known ARIA attributes
  packages/react-dom/src/shared/validAriaProperties.js
Labels: CLA Signed

#22248 feat(eslint-plugin-react-hooks): support ESLint 8.x
  .eslintrc.js
  package.json
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/package.json
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.js
  yarn.lock
Labels: CLA Signed

#22249 feat(eslint-plugin-react-internal): support ESLint 8.x
  .eslintrc.js
  scripts/eslint-rules/__tests__/invariant-args-test.internal.js
  scripts/eslint-rules/__tests__/no-cross-fork-imports-test.internal.js
  scripts/eslint-rules/__tests__/no-cross-fork-types-test.internal.js
  scripts/eslint-rules/__tests__/no-primitive-constructors-test.internal.js
  scripts/eslint-rules/__tests__/no-production-logging-test.internal.js
  scripts/eslint-rules/__tests__/no-to-warn-dev-within-to-throw-test.internal.js
  scripts/eslint-rules/__tests__/warning-args-test.internal.js
  scripts/eslint-rules/invariant-args.js
  scripts/eslint-rules/no-cross-fork-types.js
  scripts/eslint-rules/no-primitive-constructors.js
  scripts/eslint-rules/no-production-logging.js
  scripts/eslint-rules/no-to-warn-dev-within-to-throw.js
  scripts/eslint-rules/warning-args.js
Labels: CLA Signed

#22255 Build ReactDOMServer on CodeSandbox CI
  .codesandbox/ci.json
Labels: CLA Signed, React Core Team

#21958 Fix typo in ReactUpdatePriority-test.js
  packages/react-reconciler/src/__tests__/ReactUpdatePriority-test.js
Labels: CLA Signed

#21918 break up import keyword
  packages/react/src/ReactLazy.js
Labels: CLA Signed

#21829 [package:react-dom] updateREADME's Class Component to Function Component
  packages/react-dom/README.md
Labels: CLA Signed

#22181 [DevTools] Only call SourceMapConsumer.originalPositionFor once
  packages/react-devtools-extensions/src/parseHookNames/parseSourceAndMetadata.js
Labels: CLA Signed, Component: Developer Tools

#22262 Add warning and test for useSyncExternalStore when getSnapshot isn't cached
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
Labels: CLA Signed

#22237 Wire up the native API for useSyncExternalStore
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-suspense-test-utils/src/ReactSuspenseTestUtils.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/React.js
  packages/react/src/ReactHooks.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  scripts/jest/TestFlags.js
Labels: CLA Signed, React Core Team

#22239 Implement useSyncExternalStore in Fiber
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
Labels: CLA Signed, React Core Team

#22265 Remove state queue from useSyncExternalStore
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
Labels: CLA Signed, React Core Team

#22240 Add useSyncExternalStore to react-debug-tools
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
Labels: CLA Signed, React Core Team

#22253 Adjust consoleManagedByDevToolsDuringStrictMode feature flag
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#21973 Fix #21972: Add `onResize` event to video elements
  fixtures/dom/src/components/fixtures/media-events/index.js
  packages/react-dom/src/__tests__/ReactDOMEventListener-test.js
  packages/react-dom/src/__tests__/ReactDOMEventPropagation-test.js
  packages/react-dom/src/__tests__/__snapshots__/ReactTestUtils-test.js.snap
  packages/react-dom/src/events/DOMEventNames.js
  packages/react-dom/src/events/DOMEventProperties.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/TopLevelEventTypes.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
Labels: CLA Signed

#22266 Reorder VARIANT feature flags
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#22271 Detect subscriptions wrapped in startTransition
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react/src/ReactCurrentBatchConfig.js
  packages/react/src/ReactStartTransition.js
  packages/react/src/__tests__/ReactStartTransition-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#22258 Test bad useEffect return value with noop-renderer
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed

#22275 DevTools Suspense cache cleanup
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-devtools-shared/src/hooks/__tests__/__source__/ContainingStringSourceMappingURL.js
  packages/react-devtools-shared/src/hooks/__tests__/parseHookNames-test.js
  packages/react-devtools-shared/src/hooks/parseHookNames/loadSourceAndMetadata.js
  packages/react-devtools-shared/src/inspectedElementCache.js
Labels: CLA Signed, React Core Team

#22277 [Bugfix] Prevent infinite update loop caused by a synchronous update in a passive effect
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#22263 Add named hooks support to react-devtools-inline
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-inline/README.md
  packages/react-devtools-inline/hookNames.js
  packages/react-devtools-inline/package.json
  packages/react-devtools-inline/src/hookNames.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
  packages/react-devtools-shared/src/devtools/views/Components/FetchFileWithCachingContext.js
  packages/react-devtools-shared/src/devtools/views/Components/HookNamesContext.js
  packages/react-devtools-shared/src/devtools/views/Components/HookNamesModuleLoaderContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/dynamicImportCache.js
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-devtools-shared/src/hooks/parseHookNames/index.js
  packages/react-devtools-shared/src/hooks/parseHookNames/loadSourceAndMetadata.js
  packages/react-devtools-shell/src/devtools.js
  packages/react-devtools-shell/webpack.config.js
Labels: CLA Signed, React Core Team

#22281 [DevTools] Fix `react-devtools-extension` build error and `react-devtools-inline`'s `package.json`
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-inline/package.json
Labels: CLA Signed, React Core Team

#22283 [DevTools] Add React Devtools Extension Startup and File Structure to OVERVIEW.md
  packages/react-devtools/OVERVIEW.md
Labels: CLA Signed, React Core Team

#22279 update error message to include useLayoutEffect or useEffect on bad e…
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed

#22285 Replaced network.onRequestFinished() caching with network.getHAR()
  packages/react-devtools-extensions/src/main.js
Labels: CLA Signed, React Core Team

#22291 DevTools: Add missing param to fetchFromPage()
  packages/react-devtools-extensions/src/main.js
Labels: CLA Signed, React Core Team

#22295 Clean up my "hard to read" code
  scripts/jest/jest-cli.js
Labels: CLA Signed, React Core Team

#22296 Fix link
  packages/react/index.js
Labels: CLA Signed

#22290 Check for store mutations before commit
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberLane.new.js
  packages/react-reconciler/src/ReactFiberLane.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/useSyncExternalStore-test.js
  scripts/jest/TestFlags.js
Labels: CLA Signed, React Core Team

#22307 [useSES/extra] Reuse old selection if possible
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStoreExtra.js
Labels: CLA Signed, React Core Team

#22310 [useSES shim] Import prefixed native API
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
Labels: CLA Signed, React Core Team

#21913 [Experimental] Add useInsertionEffect
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactHookEffectTags.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-suspense-test-utils/src/ReactSuspenseTestUtils.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/React.js
  packages/react/src/ReactHooks.js
Labels: CLA Signed, React Core Team

#22276 [DevTools] Add initial APIs for logging instrumentation events under feature flag
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/PerformanceLoggingUtils.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-devtools-shared/src/hooks/astUtils.js
  packages/react-devtools-shared/src/hooks/parseHookNames/index.js
  packages/react-devtools-shared/src/hooks/parseHookNames/loadSourceAndMetadata.js
  packages/react-devtools-shared/src/hooks/parseHookNames/parseSourceAndMetadata.js
Labels: CLA Signed

#22313 [Experiment] Warn if callback ref returns a function
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22324 Fixed broken build script --unsafe-partial flag
  scripts/rollup/utils.js
Labels: CLA Signed, React Core Team

#22322 Fixed issue for better bundles,chunks and workers name in devtools-extensions.
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-extensions/webpack.config.js
Labels: CLA Signed, Component: Developer Tools

#22329 [DevTools] Fix runtime error when inspecting an element times out
  packages/react-devtools-shared/src/backendAPI.js
Labels: CLA Signed, Component: Developer Tools

#22337 Scheduling profiler: Fix typo in View.js
  packages/react-devtools-scheduling-profiler/src/view-base/View.js
Labels: CLA Signed

#22341 VerticalScrollView -> fixed typos
  packages/react-devtools-scheduling-profiler/src/view-base/VerticalScrollView.js
Labels: CLA Signed

#22330 Updated the utfDecodeString() method to avoid call stack exceeded error
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#22320 [DevTools] Enable hook names in standalone app
  packages/react-devtools-core/src/standalone.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/hooks/parseHookNames/parseSourceAndMetadata.js
  packages/react-devtools/app.js
Labels: CLA Signed, Component: Developer Tools

#22345 Clear performance marks after measuring
  packages/react-devtools-shared/src/PerformanceLoggingUtils.js
Labels: CLA Signed, React Core Team

#22346 DevTools: Fix memory leak via alternate Fiber pointer
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed, React Core Team

#22292 Delete useMutableSource implementation
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberLane.new.js
  packages/react-reconciler/src/ReactFiberLane.old.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
  packages/react-reconciler/src/ReactFiberUnwindWork.new.js
  packages/react-reconciler/src/ReactFiberUnwindWork.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/ReactMutableSource.new.js
  packages/react-reconciler/src/ReactMutableSource.old.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSourceHydration-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-suspense-test-utils/src/ReactSuspenseTestUtils.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/index.stable.js
  packages/react/src/React.js
  packages/react/src/ReactHooks.js
  packages/react/src/ReactMutableSource.js
  packages/react/unstable-shared-subset.experimental.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#22348 replace-fork should not clear uncommitted changes
  scripts/merge-fork/replace-fork.js
Labels: CLA Signed, React Core Team

#22364 replace-fork: Cleanup after failure if no unstaged changes
  scripts/merge-fork/replace-fork.js
Labels: CLA Signed, React Core Team

#22359 Implement getServerSnapshot in userspace shim
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShimServer-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#22363 devtools: Display actual ReactDOM API name in root type
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElementSerializer.js
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
Labels: CLA Signed

#22365 Enabled enableProfilerChangedHookIndices feature flag for all builds
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
Labels: CLA Signed, React Core Team

#22372 react-devtools\OVERVIEW.md --> fixed typos
  packages/react-devtools/OVERVIEW.md
Labels: CLA Signed

#22299 Fix typo in types.js (react-devtools-shared)
  packages/react-devtools-shared/src/types.js
Labels: CLA Signed

#22356 Fix links in packages/react-devtools/README.md
  packages/react-devtools/README.md
Labels: CLA Signed

#22318 [Fizz] add avoidThisFallback support
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
  packages/react-dom/src/server/ReactDOMServerLegacyFormatConfig.js
  packages/react-native-renderer/src/server/ReactNativeServerFormatConfig.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/forks/ReactServerFormatConfig.custom.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#22368 Remove root Fiber fields that were used for hydrating `useMutableSource`
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
Labels: CLA Signed

#22385 Move DOM fixtures test job to main CI workflow
  .circleci/config.yml
  fixtures/dom/package.json
Labels: CLA Signed, React Core Team

#22367 useSyncExternalStore React Native version
  packages/use-sync-external-store/index.native.js
  packages/use-sync-external-store/npm/index.native.js
  packages/use-sync-external-store/package.json
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreNative-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  packages/use-sync-external-store/src/useSyncExternalStoreClient.js
  packages/use-sync-external-store/src/useSyncExternalStoreServer.js
  scripts/rollup/bundles.js
Labels: CLA Signed

#22388 Move build_devtools_and_process_artifacts to new workflow
  .circleci/config.yml
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-shell/webpack.config.js
Labels: CLA Signed, React Core Team

#22389 build2 -> build
  fixtures/dom/package.json
  package.json
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-extensions/build.js
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-shell/webpack.config.js
  scripts/circleci/check_minified_errors.sh
  scripts/jest/config.build-devtools.js
  scripts/jest/config.build.js
  scripts/jest/jest-cli.js
  scripts/release/utils.js
  scripts/rollup/validate/index.js
Labels: CLA Signed, React Core Team

#22391 Delete all but one `build2` reference
  .circleci/config.yml
  .eslintignore
  .gitignore
  scripts/flow/config/flowconfig
  scripts/release/shared-commands/download-build-artifacts.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#22308 [Draft] don't patch console during first render
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/hook.js
  packages/react-devtools-shell/src/app/console.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.old.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactUpdateQueue.new.js
  packages/react-reconciler/src/ReactUpdateQueue.old.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22392 Increase polling threshold for publish-prereleases
  scripts/release/publish-using-ci-workflow.js
Labels: CLA Signed, React Core Team

#22394 Fix sizebot mistakenly detecting deleted files
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#22393 Scrape warning messages in CI
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#22396 Add back useMutableSource temporarily
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberLane.new.js
  packages/react-reconciler/src/ReactFiberLane.old.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
  packages/react-reconciler/src/ReactFiberUnwindWork.new.js
  packages/react-reconciler/src/ReactFiberUnwindWork.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/ReactMutableSource.new.js
  packages/react-reconciler/src/ReactMutableSource.old.js
  packages/react-reconciler/src/__tests__/useMutableSource-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSourceHydration-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-suspense-test-utils/src/ReactSuspenseTestUtils.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/index.stable.js
  packages/react/src/React.js
  packages/react/src/ReactHooks.js
  packages/react/src/ReactMutableSource.js
  packages/react/unstable-shared-subset.experimental.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#22399 [Old server renderer] Retry error on client
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSuspense-test.internal.js
  packages/react-dom/src/server/ReactPartialRenderer.js
Labels: CLA Signed, React Core Team

#22400 Update CodeSandbox to pull build artifacts from CI
  .codesandbox/ci.json
  package.json
Labels: CLA Signed, React Core Team

#22403 DevTools: Hook names optimizations
  packages/react-devtools-shared/src/hooks/SourceMapConsumer.js
  packages/react-devtools-shared/src/hooks/astUtils.js
  packages/react-devtools-shared/src/hooks/parseHookNames/parseSourceAndMetadata.js
Labels: CLA Signed, React Core Team

#22407 Never attach ping listeners in legacy Suspense
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
Labels: CLA Signed, React Core Team

#22401 Update Node.js to latest v14.17.6 LTS
  .codesandbox/ci.json
  .nvmrc
Labels: CLA Signed

#22410 [Fizz] Remove assignID mechanism
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
  packages/react-dom/src/server/ReactDOMServerLegacyFormatConfig.js
  packages/react-native-renderer/src/server/ReactNativeServerFormatConfig.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/forks/ReactServerFormatConfig.custom.js
Labels: CLA Signed, React Core Team

#22418 Update Yarn build-for-devtools script to account for build/build2 changes
  package.json
Labels: React Core Team

#22415 DevTools: Lazily parse indexed map sections
  packages/react-devtools-shared/src/hooks/SourceMapConsumer.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22417 Scheduling Profiler marks should include thrown Errors
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/SchedulingProfiler.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#22420 root.hydrate -> root.isDehydrated
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
Labels: CLA Signed, React Core Team

#22416 Hydration errors should force a client render
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
Labels: CLA Signed, React Core Team

#22437 add hasOwnProperty to devTools backend
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed

#22423 [Fix] Errors should not "unsuspend" a transition
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactConcurrentErrorRecovery-test.js
Labels: CLA Signed, React Core Team

#22064 Improve DEV errors if string coercion throws (Temporal.*, Symbol, etc.)
  .eslintrc.js
  dangerfile.js
  fixtures/dom/src/components/fixtures/error-handling/index.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/utils.js
  packages/react-devtools-shared/src/devtools/views/ErrorBoundary/ErrorBoundary.js
  packages/react-devtools-shared/src/devtools/views/utils.js
  packages/react-devtools-shared/src/hook.js
  packages/react-devtools-shared/src/hooks/SourceMapMetadataConsumer.js
  packages/react-devtools-shared/src/utils.js
  packages/react-dom/src/__tests__/ReactDOMAttribute-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMInput-test.js
  packages/react-dom/src/__tests__/ReactDOMSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationUntrustedURL-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMTextComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMTextarea-test.js
  packages/react-dom/src/__tests__/ReactIdentity-test.js
  packages/react-dom/src/__tests__/ReactMultiChildText-test.js
  packages/react-dom/src/client/DOMPropertyOperations.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMInput.js
  packages/react-dom/src/client/ToStringValue.js
  packages/react-dom/src/client/inputValueTracking.js
  packages/react-dom/src/server/DOMMarkupOperations.js
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-dom/src/server/escapeTextForBrowser.js
  packages/react-dom/src/shared/dangerousStyleValue.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactChildFiber.new.js
  packages/react-reconciler/src/ReactChildFiber.old.js
  packages/react-reconciler/src/ReactPortal.js
  packages/react-reconciler/src/__tests__/ReactCache-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/react-reconciler/src/__tests__/ReactPersistent-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react/src/ReactChildren.js
  packages/react/src/ReactElement.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/CheckStringCoercion.js
  packages/shared/consoleWithStackDev.js
  scripts/eslint-rules/__tests__/no-primitive-constructors-test.internal.js
  scripts/eslint-rules/__tests__/safe-string-coercion-test.internal.js
  scripts/eslint-rules/index.js
  scripts/eslint-rules/no-primitive-constructors.js
  scripts/eslint-rules/safe-string-coercion.js
  scripts/flow/runFlow.js
  scripts/merge-fork/merge-fork.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed

#22424 DevTools encoding supports multibyte characters (e.g. "🟩")
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#22443 [Fizz] Rename onReadyToStream to onCompleteShell
  fixtures/ssr/server/render.js
  fixtures/ssr2/server/render.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/server/ReactDOMFizzServerBrowser.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFizzServer.js
Labels: React Core Team

#22444 Make root.unmount() synchronous
  packages/react-devtools-shared/src/__tests__/storeStressTestConcurrent-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#22438 Add isArray in devTools utils
  packages/react-devtools-shared/src/isArray.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed

#22442 prevent unused exec getCurrentValue after re-render
  packages/react-devtools-shared/src/devtools/views/hooks.js
Labels: CLA Signed

#22445 Remove usereducer eager bailout
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
Labels: CLA Signed

#22446 [Fizz/Flight] Remove reentrancy hack
  package.json
  packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server-dom-relay/src/ReactFlightDOMRelayServer.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-native-relay/src/ReactFlightNativeRelayServer.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  yarn.lock
Labels: CLA Signed, React Core Team

#22451 Scheduling Profiler: Show Suspense resource .displayName
  packages/react-devtools-scheduling-profiler/src/EventTooltip.css
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/content-views/SuspenseEventsView.js
  packages/react-devtools-scheduling-profiler/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-shared/src/devtools/views/ErrorBoundary/cache.js
  packages/react-devtools-shared/src/dynamicImportCache.js
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-devtools-shared/src/inspectedElementCache.js
  packages/react-reconciler/src/SchedulingProfiler.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
Labels: CLA Signed, React Core Team

#22452 Extract queueing logic into shared functions
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
Labels: CLA Signed, React Core Team

#22449 [Fizz/Flight] Pass in Destination lazily to startFlowing instead of in createRequest
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/server/ReactDOMFizzServerBrowser.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.js
  packages/react-dom/src/server/ReactDOMLegacyServerNode.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server-dom-relay/src/ReactDOMServerFB.js
  packages/react-server-dom-relay/src/ReactFlightDOMRelayServer.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server-native-relay/src/ReactFlightNativeRelayServer.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#22453 Call get snapshot in useSyncExternalStore server shim
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShimServer-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  packages/use-sync-external-store/src/useSyncExternalStoreClient.js
  packages/use-sync-external-store/src/useSyncExternalStoreServer.js
Labels: CLA Signed, React Core Team

#22461 React DevTools 4.18.0 -> 4.19.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-scheduling-profiler/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#22463 [DevTools] Commands for internal builds all follow :fb convention
  packages/react-devtools-extensions/package.json
Labels: Component: Developer Tools

#22464 Release pooled cache reference in complete/unwind
  packages/react-reconciler/src/ReactFiberCacheComponent.new.js
  packages/react-reconciler/src/ReactFiberCacheComponent.old.js
Labels: CLA Signed

#22465 Fixed Link on Documentation
  README.md
Labels: CLA Signed

#22473 CodeSandbox CI: Fall back to local build
  package.json
Labels: React Core Team

#22472 DevTools: Fixed potential cache miss when insepcting elements
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/inspectedElementMutableSource.js
Labels: CLA Signed, React Core Team

#22475 [DevTools] Extension reports logged events when feature flag is enabled
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-extensions/src/registerExtensionsEventLogger.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/hookNamesCache.js
Labels: CLA Signed, Component: Developer Tools

#22476 [DevTools] Enable logger for internal build of DevTools extensions
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
Labels: Component: Developer Tools

#22478 [DevTools] Log basic usage events
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/hookNamesCache.js
Labels: CLA Signed, Component: Developer Tools
