Repository facebook/react, pull requests merged in 2021-12, with the labels that each got.

#22854 Remove unused flag
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22851 Decouple dispatching from attemptToDispatchEvent
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
Labels: CLA Signed, React Core Team

#22852 Fork dispatch function based on the flag
  packages/react-dom/src/events/ReactDOMEventListener.js
Labels: CLA Signed, React Core Team

#22853 Track currently replaying event
  packages/react-dom/src/events/CurrentReplayingEvent.js
  packages/react-dom/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/events/EventSystemFlags.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/events/plugins/EnterLeaveEventPlugin.js
Labels: CLA Signed, React Core Team

#22856 [Alt] Replay capture phase for continuous events
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/events/ReactDOMEventListener.js
  packages/react-dom/src/events/ReactDOMEventReplaying.js
Labels: CLA Signed, React Core Team

#22855 Implement identifierPrefix option for useId
  packages/react-art/src/ReactART.js
  packages/react-dom/src/__tests__/ReactDOMUseId-test.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
  packages/react-dom/src/server/ReactDOMServerLegacyFormatConfig.js
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/server/ReactNativeServerFormatConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberRoot.new.js
  packages/react-reconciler/src/ReactFiberRoot.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/forks/ReactServerFormatConfig.custom.js
  packages/react-test-renderer/src/ReactTestRenderer.js
Labels: CLA Signed, React Core Team

#22799 Timeline search
  packages/react-devtools-shared/src/devtools/views/Components/ComponentSearchInput.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ClearProfilingDataButton.js
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.css
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilingImportExportButtons.js
  packages/react-devtools-shared/src/devtools/views/SearchInput.css
  packages/react-devtools-shared/src/devtools/views/SearchInput.js
  packages/react-devtools-timeline/src/CanvasPage.js
  packages/react-devtools-timeline/src/Timeline.js
  packages/react-devtools-timeline/src/TimelineContext.js
  packages/react-devtools-timeline/src/TimelineSearchContext.js
  packages/react-devtools-timeline/src/TimelineSearchInput.js
  packages/react-devtools-timeline/src/content-views/ComponentMeasuresView.js
  packages/react-devtools-timeline/src/content-views/constants.js
  packages/react-devtools-timeline/src/timelineCache.js
  packages/react-devtools-timeline/src/types.js
Labels: CLA Signed, Component: Developer Tools, React Core Team, Component: Scheduling Profiler

#22863 Enable continuous event replay flag
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
Labels: CLA Signed, React Core Team

#22848 [DevTools] Emit new event when DevTools connects in standalone app
  packages/react-devtools-core/src/standalone.js
Labels: CLA Signed, Component: Developer Tools

#22873 Test showing that a mismatch at the root recovers with client render but shows loading state
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
Labels: CLA Signed, React Core Team

#22878 Remove hydrate option from createRoot
  fixtures/ssr/src/index.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerSuspense-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/events/__tests__/DOMPluginEventSystem-test.internal.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/__tests__/ReactScope-test.internal.js
  packages/react-reconciler/src/__tests__/useMutableSourceHydration-test.js
Labels: CLA Signed, React Core Team

#22808 StyleX plug-in for resolving atomic styles to values for props.xstyle
  packages/react-devtools-shared/src/backend/StyleX/__tests__/utils-test.js
  packages/react-devtools-shared/src/backend/StyleX/utils.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementStyleXPlugin.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementStyleXPlugin.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/types.js
  packages/react-devtools-shared/src/types.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22881 Add CI job to check npm dependencies
  .circleci/config.yml
  package.json
  scripts/release/check-release-dependencies.js
Labels: CLA Signed, React Core Team

#22882 Don't override use-sync-external-store peerDeps
  packages/use-sync-external-store/package.json
  scripts/release/publish-commands/parse-params.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#22184 Add custom element property support behind a flag
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationAttributes-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/client/DOMPropertyOperations.js
  packages/react-dom/src/client/ReactDOMComponent.js
  packages/react-dom/src/client/ReactDOMHostConfig.js
  packages/react-dom/src/server/ReactDOMServerFormatConfig.js
  packages/react-dom/src/shared/DOMProperty.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#22884 Remove unstableAvoidThisFallback from OSS
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.new.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.old.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#22932 DevTools should inject XHTML pages too (not just HTML)
  packages/react-devtools-extensions/src/injectGlobalHook.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22886 Advocate for StrictMode usage within Components tree
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-devtools-shared/src/__tests__/legacy/storeLegacy-v15-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/store.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.css
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/types.js
  packages/react-devtools-shared/src/devtools/views/Icon.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitTreeBuilder.js
  packages/react-devtools-shared/src/types.js
  packages/react-devtools-shared/src/utils.js
  packages/react-devtools-shell/src/app/PartiallyStrictApp/index.js
  packages/react-devtools-shell/src/app/index.js
  packages/react-devtools/OVERVIEW.md
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22948 [DevTools] Log errors occurring or reported to the frontend
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/devtools/views/ErrorBoundary/ErrorBoundary.js
Labels: CLA Signed, Component: Developer Tools

#22950 DevTools: Correctly log errors reported from the store
  packages/react-devtools-shared/src/devtools/views/ErrorBoundary/ErrorBoundary.js
Labels: Component: Developer Tools

#22949 DevTools: Support mulitple DevTools instances per page
  packages/react-devtools-inline/README.md
  packages/react-devtools-inline/src/backend.js
  packages/react-devtools-inline/src/constants.js
  packages/react-devtools-inline/src/frontend.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shell/app.html
  packages/react-devtools-shell/multi.html
  packages/react-devtools-shell/now.json
  packages/react-devtools-shell/package.json
  packages/react-devtools-shell/src/app/devtools.js
  packages/react-devtools-shell/src/multi/devtools.js
  packages/react-devtools-shell/src/multi/left.js
  packages/react-devtools-shell/src/multi/right.js
  packages/react-devtools-shell/webpack.config.js
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#22951 React DevTools 4.21.0 -> 4.22.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, Component: Developer Tools

#22933 Build both a partial renderer and fizz renderer of the legacy API for FB
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#22960 Re-added deleted files array to react-devtools package.json
  packages/react-devtools/package.json
Labels: Component: Developer Tools

#22961 Revert changes to react-devtools-inline Webpack config from PR #22760
  packages/react-devtools-inline/webpack.config.js
Labels: Type: Bug, Component: Developer Tools

#22962 React DevTools 4.22.0 -> 4.22.1
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: Component: Developer Tools

#22967 react-devtools-inline README updates
  packages/react-devtools-inline/README.md
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22968 Refactored DevTools test shell for e2e
  packages/react-devtools-inline/__tests__/__e2e__/inspecting-props.test.js
  packages/react-devtools-shell/e2e.html
  packages/react-devtools-shell/index.html
  packages/react-devtools-shell/package.json
  packages/react-devtools-shell/src/e2e/app.js
  packages/react-devtools-shell/src/e2e/devtools.js
  packages/react-devtools-shell/webpack.config.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22979 Remove unnecessary clearContainer call
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#22978 Use ReactDOM Test Selector API in DevTools e2e tests
  packages/react-devtools-inline/__tests__/__e2e__/components.test.js
  packages/react-devtools-inline/__tests__/__e2e__/devtools-utils.js
  packages/react-devtools-inline/__tests__/__e2e__/inspecting-props.test.js
  packages/react-devtools-inline/__tests__/__e2e__/list-app-utils.js
  packages/react-devtools-inline/__tests__/__e2e__/profiler.test.js
  packages/react-devtools-inline/playwright.config.js
  packages/react-devtools-shared/src/devtools/views/Button.js
  packages/react-devtools-shared/src/devtools/views/Components/ComponentSearchInput.js
  packages/react-devtools-shared/src/devtools/views/Components/EditableName.js
  packages/react-devtools-shared/src/devtools/views/Components/EditableValue.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementPropsTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/AutoSizeInput.js
  packages/react-devtools-shared/src/devtools/views/Profiler/RecordToggle.js
  packages/react-devtools-shared/src/devtools/views/Profiler/SnapshotSelector.js
  packages/react-devtools-shared/src/devtools/views/SearchInput.js
  packages/react-devtools-shared/src/devtools/views/TabBar.js
  packages/react-devtools-shared/src/devtools/views/Toggle.js
  packages/react-devtools-shell/src/e2e/app.js
  packages/react-devtools-shell/src/e2e/apps/ListApp.js
  packages/react-devtools-shell/src/e2e/devtools.js
Labels: CLA Signed, React Core Team

#23004 #22988 - Fix Bug: @license header in React 18 bundles contains vundefined
  scripts/rollup/wrappers.js
Labels: CLA Signed

#23012 DevTools: Only show StrictMode badge on root elements
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
Labels: CLA Signed, React Core Team

#23017 Fix:Made the variable name more meaningful
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
Labels: CLA Signed

#23021 Fix: fixed incorrect Function name
  packages/react-devtools-inline/__tests__/__e2e__/profiler.test.js
Labels: CLA Signed

#22537 fix: parseExportNamesInto specifiers typo
  packages/react-server-dom-webpack/src/ReactFlightWebpackNodeLoader.js
Labels: CLA Signed
