Repository facebook/react, pull requests merged in 2021-07, with the labels that each got.

#21779 Install nested packages from Yarn cache before running build tests
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#21781 ReactDebugHooks optionally includes fileName, and line/column numbers
  packages/react-debug-tools/src/ReactDebugHooks.js
Labels: CLA Signed, React Core Team

#21775 Replace flushDiscreteUpdates with flushSync
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/events/ReactDOMUpdateBatching.js
  packages/react-noop-renderer/src/ReactNoop.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
Labels: CLA Signed, React Core Team

#21776 Replace unbatchedUpdates with flushSync
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-dom/src/__tests__/ReactMount-test.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-noop-renderer/src/ReactNoop.js
  packages/react-noop-renderer/src/ReactNoopPersistent.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactIncrementalScheduling-test.js
Labels: CLA Signed, React Core Team

#21790 [WIP] DevTools: Support named hooks for >1 module in a bundle
  packages/react-devtools-extensions/package.json
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithCustomHook.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithExternalCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/Example.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/InlineRequire.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ToDoList.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/useTheme.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ComponentWithExternalCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/Example.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/InlineRequire.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ToDoList.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/useTheme.js
  packages/react-devtools-extensions/src/__tests__/__source__/index.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/__tests__/updateMockSourceMaps.js
  packages/react-devtools-extensions/src/astUtils.js
  packages/react-devtools-extensions/src/parseHookNames.js
  packages/react-devtools-shared/src/hookNamesCache.js
Labels: CLA Signed

#21814 DevTooks: Don't dehydrate hook source fileNames
  packages/react-devtools-extensions/src/parseHookNames.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/hydration.js
Labels: CLA Signed, React Core Team

#21815 DevTools named hooks: Support FLow syntax
  packages/react-devtools-extensions/src/parseHookNames.js
Labels: CLA Signed, React Core Team

#21816 Reverting recent flushSync changes
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/__tests__/ReactMount-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/events/ReactDOMUpdateBatching.js
  packages/react-noop-renderer/src/ReactNoop.js
  packages/react-noop-renderer/src/ReactNoopPersistent.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalScheduling-test.js
Labels: CLA Signed, React Core Team

#21820 DevTools show error icon when hook name parsing fails
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
Labels: CLA Signed, React Core Team

#21824 [SSR2 Fixture] Delete duplicate DOCTYPE
  fixtures/ssr2/server/render.js
Labels: CLA Signed

#21831 DevTool: hook names cache no longer loses entries between selection
  packages/react-devtools-extensions/src/parseHookNames.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-devtools-shared/src/types.js
Labels: CLA Signed, React Core Team

#21821 Reset inspected element cache in the event of an error
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementErrorBoundary.js
  packages/react-devtools-shared/src/devtools/views/ErrorBoundary/ErrorBoundary.js
  packages/react-devtools-shared/src/inspectedElementCache.js
Labels: CLA Signed, React Core Team

#21833 DevTools: Update named hooks match to use column number also
  .eslintignore
  .prettierignore
  packages/react-devtools-extensions/src/__tests__/__source__/ComponentWithMultipleHooksPerLine.js
  packages/react-devtools-extensions/src/__tests__/__source__/README.md
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithMultipleHooksPerLine.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentWithMultipleHooksPerLine.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ComponentWithMultipleHooksPerLine.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithNamedCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithUnnamedCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithUseEffect.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithUseReducer.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithUseState.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/README.md
  packages/react-devtools-extensions/src/__tests__/__source__/index.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/astUtils.js
  packages/react-devtools-extensions/src/parseHookNames.js
  scripts/jest/config.build-devtools.js
  scripts/prettier/index.js
Labels: CLA Signed, React Core Team

#21835 DevTools: Don't load source files contaning only unnamed hooks
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentWithExternalUseEffect.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/useCustom.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/astUtils.js
  packages/react-devtools-extensions/src/parseHookNames.js
Labels: CLA Signed, React Core Team

#21839 Use `act()` in ReactFabric tests
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed

#21837 Guard against reused fibers in React Native commands
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
Labels: CLA Signed

#21841 Use `act()` in ReactFabric tests
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed, React Core Team

#21842 Add test for #21837
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed, React Core Team

#21846 Bugfix: Flush legacy sync passive effects at beginning of event
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/__tests__/ReactMount-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/events/ReactDOMUpdateBatching.js
  packages/react-noop-renderer/src/ReactNoop.js
  packages/react-noop-renderer/src/ReactNoopPersistent.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalScheduling-test.js
Labels: CLA Signed, React Core Team

#21784 Inline discreteUpdates
  packages/react-dom/src/events/ReactDOMEventListener.js
Labels: CLA Signed, React Core Team

#21702 Capture suspense boundaries with undefined fallbacks
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.new.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.old.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseFallback-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#21854 Capture suspense boundaries with undefined fallbacks
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.new.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.old.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseFallback-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#21797 act: Batch updates, even in legacy roots
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactIsomorphicAct-test.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react/src/ReactAct.js
  packages/react/src/ReactCurrentActQueue.js
Labels: CLA Signed, React Core Team

#21864 Fix DevTools console announcement being suppressed by Fast Refresh
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.old.js
Labels: CLA Signed, React Core Team

#21863 Fix link to fbjs
  scripts/print-warnings/print-warnings.js
Labels: CLA Signed

#21862 Update link to flow
  packages/react/index.js
Labels: CLA Signed

#21865 Adjust Error stack columns numbers by 1
  packages/react-devtools-extensions/src/astUtils.js
  packages/react-devtools-extensions/src/parseHookNames.js
Labels: CLA Signed, React Core Team

#21867 Enable scheduling profiler flag for react-dom profiling builds
  packages/shared/ReactFeatureFlags.js
Labels: CLA Signed, React Core Team

#21869 Allow components to render undefined
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactEmptyComponent-test.js
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-dom/src/__tests__/ReactMockedComponent-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-reconciler/src/ReactChildFiber.new.js
  packages/react-reconciler/src/ReactChildFiber.old.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/__tests__/ReactError-test.internal.js
Labels: CLA Signed, React Core Team

#21871 DevTools: Ignore multiple sourceMappingUrls for external source maps
  packages/react-devtools-extensions/src/__tests__/__source__/ContainingStringSourceMappingURL.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ContainingStringSourceMappingURL.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ContainingStringSourceMappingURL.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ContainingStringSourceMappingURL.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/index.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/parseHookNames.js
Labels: CLA Signed, React Core Team

#21766 fix: restore execution context after RetryAfterError completed
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed

#21881 Add comment support to `@gate` pragma
  scripts/babel/__tests__/transform-test-gate-pragma-test.js
  scripts/babel/transform-test-gate-pragma.js
Labels: CLA Signed, React Core Team

#21875 [Bugfix] Don't hide/unhide unless visibility changes
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/__tests__/ReactSuspenseEffectsSemanticsDOM-test.js
Labels: CLA Signed, React Core Team

#21874 DevTools: Named hooks supports "cheap-module-source-map"
  packages/react-devtools-extensions/package.json
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ComponentWithCustomHook.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ComponentWithExternalCustomHooks.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ComponentWithMultipleHooksPerLine.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ContainingStringSourceMappingURL.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/Example.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/InlineRequire.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ToDoList.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/useTheme.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/__tests__/updateMockSourceMaps.js
  packages/react-devtools-extensions/src/astUtils.js
  packages/react-devtools-extensions/src/parseHookNames.js
  yarn.lock
Labels: CLA Signed, React Core Team

#19957 Devtools Profiler: allow user to enter commit number
  packages/react-devtools-shared/src/devtools/views/Profiler/SnapshotSelector.css
  packages/react-devtools-shared/src/devtools/views/Profiler/SnapshotSelector.js
Labels: CLA Signed, Component: Developer Tools

#21671 Fix typo
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/devtools/store.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed, Component: Developer Tools

#21886 Cache local reference to global Promise
  packages/react-dom/src/client/ReactDOMHostConfig.js
Labels: CLA Signed, React Core Team

#21891 Clear named hooks Suspense and AST cache after a Fast Refresh
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/main.js
  packages/react-devtools-extensions/src/parseHookNames.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/index.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/HookNamesContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/LoadHookNamesFunctionContext.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/hookNamesCache.js
  packages/react-devtools-shared/src/types.js
Labels: CLA Signed, React Core Team

#21894 Remove named hooks feature flag
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/parseHookNames.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/Settings/ComponentsSettings.js
  packages/react-devtools-shared/src/hookNamesCache.js
Labels: CLA Signed, React Core Team

#21887 Clean up flushSync flow types
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-test-renderer/src/ReactTestRenderer.js
Labels: CLA Signed, React Core Team

#21898 Refactor "reappear" logic into its own traversal
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
Labels: CLA Signed, React Core Team

#21901 Implement enableSuspenseLayoutEffectSemantics in Fabric
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseEffectsSemantics-test.js
Labels: CLA Signed, React Core Team

#21908 react-devtools: set icon on macos
  packages/react-devtools/app.js
Labels: CLA Signed, Component: Developer Tools

#21857 Update test comments with explanations
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalScheduling-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalUpdates-test.js
Labels: CLA Signed, React Core Team

#21729 Typo fix
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed

#21926 Fix global reference to Promise
  packages/react-dom/src/client/ReactDOMHostConfig.js
Labels: CLA Signed, React Core Team

#21925 Clean-up: Move visibility toggling logic from Suspense fiber to Offscreen fiber
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
Labels: CLA Signed, React Core Team

#21902 DevTools: Parse named source AST in a worker
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-extensions/package.json
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
  packages/react-devtools-extensions/src/parseHookNames/index.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.js
  packages/react-devtools-extensions/src/parseHookNames/parseHookNames.worker.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-shared/src/hookNamesCache.js
  yarn.lock
Labels: CLA Signed, Component: Developer Tools

#21928 Fix: LegacyHidden should not toggle effects
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
Labels: CLA Signed, React Core Team

#21572 React Native: Export getInspectorDataForInstance API
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeFiberInspector.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#21929 Fix: Hide new/updated nodes in already hidden tree
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
Labels: CLA Signed, React Core Team

#21960 [Fabric] Use container node to toggle the visibility of Offscreen and Suspense trees
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiber.old.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberHostConfigWithNoPersistence.js
  packages/react-reconciler/src/ReactFiberOffscreenComponent.js
  packages/react-reconciler/src/forks/ReactFiberHostConfig.custom.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#21966 Scheduling profiler: Improve native events UI
  packages/react-devtools-scheduling-profiler/src/content-views/FlamechartView.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/TimeAxisMarkersView.js
  packages/react-devtools-scheduling-profiler/src/content-views/UserTimingMarksView.js
  packages/react-devtools-scheduling-profiler/src/content-views/constants.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsContext.js
  packages/react-devtools-shared/src/devtools/views/root.css
Labels: CLA Signed, Component: Developer Tools, React Core Team

#21967 Fix `ReactFabricHostComponent` methods if detached
  packages/react-native-renderer/src/ReactFabricHostConfig.js
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed

#21969 Separate unit tests for ReactFabricHostComponent
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactFabricHostComponent-test.internal.js
Labels: CLA Signed

#21970 Sceduling profiler: Added custom view cursors
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/content-views/FlamechartView.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/UserTimingMarksView.js
  packages/react-devtools-scheduling-profiler/src/view-base/HorizontalPanAndZoomView.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableSplitView.js
  packages/react-devtools-scheduling-profiler/src/view-base/Surface.js
  packages/react-devtools-scheduling-profiler/src/view-base/View.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#21971 Scheduling profiler: UX tweaks
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/content-views/FlamechartView.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactEventsView.js
  packages/react-devtools-scheduling-profiler/src/content-views/ReactMeasuresView.js
  packages/react-devtools-scheduling-profiler/src/content-views/UserTimingMarksView.js
  packages/react-devtools-scheduling-profiler/src/view-base/HorizontalPanAndZoomView.js
  packages/react-devtools-scheduling-profiler/src/view-base/ResizableSplitView.js
  packages/react-devtools-scheduling-profiler/src/view-base/Surface.js
  packages/react-devtools-scheduling-profiler/src/view-base/View.js
Labels: CLA Signed, React Core Team

#21975 Display warnings in tooltips for native events that render sync updates
  packages/react-devtools-scheduling-profiler/src/CanvasPage.js
  packages/react-devtools-scheduling-profiler/src/EventTooltip.js
  packages/react-devtools-scheduling-profiler/src/content-views/NativeEventsView.js
  packages/react-devtools-scheduling-profiler/src/import-worker/preprocessData.js
  packages/react-devtools-scheduling-profiler/src/types.js
  packages/react-devtools-scheduling-profiler/src/utils/useSmartTooltip.js
Labels: CLA Signed, React Core Team

#21976 [Fizz] Don't add aborted segments to the completedSegments list
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#21964 Devtools: Display as link if value is in specified protocols
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.css
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.js
  packages/react-devtools-shared/src/devtools/views/Components/constants.js
Labels: CLA Signed, Component: Developer Tools

#21852 Tidy up early bailout logic at start of begin phase
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
Labels: CLA Signed, React Core Team

#21982 Some remaining instances of master to main
  fixtures/attribute-behavior/README.md
  fixtures/concurrent/time-slicing/README.md
  fixtures/devtools/regression/shared.js
  packages/react-devtools-extensions/flow-typed/npm/react-test-renderer_v16.x.x.js
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-devtools/CHANGELOG.md
  scripts/error-codes/extract-errors.js
Labels: CLA Signed

#21995 [Fabric] Fix reparenting bug in legacy Suspense mount
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberThrow.new.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
Labels: CLA Signed, React Core Team

#21996 New devtools test for named hooks verifying case when hooks are used indirectly
  packages/react-devtools-extensions/src/__tests__/__source__/ComponentUsingHooksIndirectly.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/bundle/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentUsingHooksIndirectly.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/ComponentUsingHooksIndirectly.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/external/index.js.map
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/ComponentUsingHooksIndirectly.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/inline/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/ComponentUsingHooksIndirectly.js
  packages/react-devtools-extensions/src/__tests__/__source__/__compiled__/no-columns/index.js
  packages/react-devtools-extensions/src/__tests__/__source__/__untransformed__/ComponentUsingHooksIndirectly.js
  packages/react-devtools-extensions/src/__tests__/__source__/index.js
  packages/react-devtools-extensions/src/__tests__/parseHookNames-test.js
Labels: CLA Signed, Component: Developer Tools
