Repository facebook/react, pull requests merged in 2022-01, with the labels that each got.

#23019 Circle CI: Run DevTools Playwright e2e tests
  .circleci/config.yml
  scripts/circleci/run_devtools_e2e_tests.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#22965 Correct typing errors detected in several files
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.css
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.js
  packages/react-devtools-shared/src/hooks/__tests__/__source__/README.md
  packages/react-devtools-shared/src/hooks/astUtils.js
  packages/react-devtools-shared/src/inspectedElementMutableSource.js
  packages/react-dom/src/client/ReactDOMLegacy.js
Labels: CLA Signed

#23067 Console message fixed for devtools
  scripts/circleci/run_devtools_e2e_tests.js
  scripts/devtools/build-and-test.js
  scripts/flow/runFlow.js
  scripts/jest/jest-cli.js
Labels: CLA Signed

#22954 Add package.json as one of entry point
  packages/react/package.json
Labels: CLA Signed

#23079 [Transition Tracing] add enableTransitionTracing feature flag
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#23087 Add exports field to react-refresh's package.json
  packages/react-refresh/package.json
Labels: CLA Signed

#23038 Add --no-show-signature to "git show" commands
  packages/react-devtools-extensions/utils.js
  scripts/release/utils.js
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed

#23042 Allow functions to be passed to custom element setters
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
  packages/react-dom/src/client/DOMPropertyOperations.js
Labels: CLA Signed

#23101 Add RN_FB bundles for react-is
  scripts/rollup/bundles.js
  scripts/rollup/packaging.js
Labels: CLA Signed

#23102 Refactored how React/DevTools log Timeline performance data
  packages/react-devtools-shared/src/__tests__/TimelineProfiler-test.js
  packages/react-devtools-shared/src/__tests__/preprocessData-test.js
  packages/react-devtools-shared/src/__tests__/setupTests.js
  packages/react-devtools-shared/src/__tests__/utils.js
  packages/react-devtools-shared/src/backend/profilingHooks.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/hook.js
  packages/react-devtools-timeline/src/import-worker/__tests__/preprocessData-test.internal.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberClassComponent.new.js
  packages/react-reconciler/src/ReactFiberClassComponent.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.old.js
  packages/react-reconciler/src/ReactFiberHooks.new.js
  packages/react-reconciler/src/ReactFiberHooks.old.js
  packages/react-reconciler/src/ReactFiberReconciler.new.js
  packages/react-reconciler/src/ReactFiberReconciler.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/SchedulingProfiler.js
  packages/react-reconciler/src/__tests__/ReactUpdaters-test.internal.js
  packages/react-reconciler/src/__tests__/SchedulingProfiler-test.internal.js
  packages/react-reconciler/src/__tests__/SchedulingProfilerLabels-test.internal.js
  scripts/jest/matchers/profilerMatchers.js
Labels: CLA Signed, React Core Team

#23111 Fix setState ignored in Safari when iframe is added to DOM in the same commit
  packages/react-dom/src/__tests__/ReactDOMSafariMicrotaskBug-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
Labels: CLA Signed, React Core Team

#23142 Enable scheduling profiler flag in react-dom/testing builds
  packages/react-devtools-shared/src/backend/profilingHooks.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.old.js
  packages/shared/forks/ReactFeatureFlags.testing.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#23095 Fix context propagation for offscreen/fallback trees
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberNewContext.new.js
  packages/react-reconciler/src/ReactFiberNewContext.old.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
Labels: CLA Signed, React Core Team

#22938 Fix change events for custom elements
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
  packages/react-dom/src/events/plugins/ChangeEventPlugin.js
Labels: CLA Signed

#23145 Warn when a callback ref returns a function
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.testing.js
  packages/shared/forks/ReactFeatureFlags.testing.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#23152 Include other build types when building for CodeSandbox CI
  package.json
Labels: CLA Signed

#23151 Don't inject timeline hooks unless React supports profiling
  packages/react-reconciler/src/ReactFiberDevToolsHook.new.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.old.js
Labels: CLA Signed, React Core Team

#23139 DevTools: Add Jest snapshot serializer for number formatting
  packages/react-devtools-shared/src/__tests__/__serializers__/dehydratedValueSerializer.js
  packages/react-devtools-shared/src/__tests__/__serializers__/hookSerializer.js
  packages/react-devtools-shared/src/__tests__/__serializers__/inspectedElementSerializer.js
  packages/react-devtools-shared/src/__tests__/__serializers__/numberToFixedSerializer.js
  packages/react-devtools-shared/src/__tests__/__serializers__/storeSerializer.js
  packages/react-devtools-shared/src/__tests__/__serializers__/treeContextStateSerializer.js
  packages/react-devtools-shared/src/__tests__/preprocessData-test.js
  packages/react-devtools-shared/src/__tests__/storeStressSync-test.js
  packages/react-devtools-shared/src/__tests__/storeStressTestConcurrent-test.js
  scripts/jest/config.build-devtools.js
Labels: CLA Signed, Component: Developer Tools, React Core Team

#23156 [DevTools][BugFix] Memoized Updaters Should Not Contain Deleted Nodes
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed, React Core Team

#23154 styles: replace Array.isArray with module isArray
  packages/react-devtools-shared/src/backend/NativeStyleEditor/setupNativeStyleEditor.js
  packages/react-devtools-shared/src/backend/StyleX/utils.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.js
  packages/react-devtools-shared/src/devtools/views/utils.js
Labels: CLA Signed

#23162 DevTools should not crawl unmounted subtrees when profiling starts
  packages/react-devtools-shared/src/__tests__/profilerStore-test.js
  packages/react-devtools-shared/src/backend/renderer.js
Labels: Type: Bug, CLA Signed, Component: Developer Tools, React Core Team

#23171 Fix context providers in SSR when handling multiple requests
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-server/src/ReactFizzNewContext.js
Labels: CLA Signed

#23190 Gracefully handle empty "xstyle" prop values
  packages/react-devtools-shared/src/backend/StyleX/__tests__/utils-test.js
  packages/react-devtools-shared/src/backend/StyleX/utils.js
Labels: CLA Signed, React Core Team

#23192 Suppress act() warnings in DevTools tests
  packages/react-devtools-shared/src/__tests__/editing-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/setupTests.js
Labels: CLA Signed, React Core Team

#23187 Readme fixes
  README.md
Labels: CLA Signed

#23185 DevTools: Profiler refactor incremental changes
  packages/react-devtools-shared/src/__tests__/TimelineProfiler-test.js
  packages/react-devtools-shared/src/__tests__/__serializers__/profilingSerializer.js
  packages/react-devtools-shared/src/__tests__/__serializers__/timelineDataSerializer.js
  packages/react-devtools-shared/src/__tests__/__snapshots__/profilingCache-test.js.snap
  packages/react-devtools-shared/src/__tests__/preprocessData-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/__tests__/utils.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/profilingHooks.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/store.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ClearProfilingDataButton.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitTreeBuilder.js
  packages/react-devtools-shared/src/devtools/views/Profiler/NoProfilingData.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProcessingData.js
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.css
  packages/react-devtools-shared/src/devtools/views/Profiler/Profiler.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilingImportExportButtons.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilingNotSupported.js
  packages/react-devtools-shared/src/devtools/views/Profiler/RecordingInProgress.js
  packages/react-devtools-shared/src/devtools/views/Profiler/types.js
  packages/react-devtools-shared/src/devtools/views/Profiler/utils.js
  packages/react-devtools-timeline/src/CanvasPage.js
  packages/react-devtools-timeline/src/EventTooltip.js
  packages/react-devtools-timeline/src/ImportButton.css
  packages/react-devtools-timeline/src/ImportButton.js
  packages/react-devtools-timeline/src/Timeline.js
  packages/react-devtools-timeline/src/TimelineContext.js
  packages/react-devtools-timeline/src/TimelineNotSupported.css
  packages/react-devtools-timeline/src/TimelineNotSupported.js
  packages/react-devtools-timeline/src/TimelineSearchContext.js
  packages/react-devtools-timeline/src/content-views/ComponentMeasuresView.js
  packages/react-devtools-timeline/src/content-views/NativeEventsView.js
  packages/react-devtools-timeline/src/content-views/NetworkMeasuresView.js
  packages/react-devtools-timeline/src/content-views/ReactMeasuresView.js
  packages/react-devtools-timeline/src/content-views/SchedulingEventsView.js
  packages/react-devtools-timeline/src/content-views/SnapshotsView.js
  packages/react-devtools-timeline/src/content-views/SuspenseEventsView.js
  packages/react-devtools-timeline/src/content-views/ThrownErrorsView.js
  packages/react-devtools-timeline/src/createDataResourceFromImportedFile.js
  packages/react-devtools-timeline/src/import-worker/index.js
  packages/react-devtools-timeline/src/import-worker/preprocessData.js
  packages/react-devtools-timeline/src/timelineCache.js
  packages/react-devtools-timeline/src/types.js
  packages/react-devtools-timeline/src/utils/getBatchRange.js
  scripts/jest/config.build-devtools.js
Labels: CLA Signed, Component: Developer Tools, React Core Team
