Repository facebook/react, pull requests merged in 2022-07, with the labels that each got.

#24855 [Transition Tracing] Refactor Code to Remove OffscreeInstance TODOs
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
Labels: CLA Signed, React Core Team

#24868 Delete Partial Renderer SSR implementation
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.classic.fb.js
  packages/react-dom/src/server/ReactDOMLegacyServerNode.classic.fb.js
  packages/react-dom/src/server/ReactDOMServerLegacyPartialRendererBrowser.js
  packages/react-dom/src/server/ReactDOMStringRenderer.js
  packages/react-dom/src/server/ReactPartialRenderer.js
  packages/react-dom/src/server/ReactPartialRendererContext.js
  packages/react-dom/src/server/ReactPartialRendererHooks.js
Labels: CLA Signed, React Core Team

#24878 Land forked reconciler changes
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/ReactFiberHiddenContext.old.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.old.js
  packages/react-reconciler/src/ReactFiberSuspenseContext.old.js
  packages/react-reconciler/src/ReactFiberThrow.old.js
  packages/react-reconciler/src/ReactFiberUnwindWork.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreenSuspense-test.js
  scripts/merge-fork/forked-revisions
Labels: CLA Signed, React Core Team

#24833 [Transition Tracing] Add onTransitionProgress Callback
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberOffscreenComponent.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.new.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactTransitionTracing-test.js
Labels: CLA Signed, React Core Team

#24873 [Transition Tracing] Tracing Marker Name Change in Update Warning
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactTransitionTracing-test.js
Labels: CLA Signed, React Core Team

#24887 [Transition Tracing] Don't call transition callbacks if no transition name specified
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactTransitionTracing-test.js
Labels: CLA Signed, React Core Team

#24861 [Transition Tracing] onMarkerProgress
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.new.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/__tests__/ReactTransitionTracing-test.js
Labels: CLA Signed, React Core Team

#24880 [Transition Tracing] Code Cleanup
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiber.old.js
  packages/react-reconciler/src/ReactFiberBeginWork.new.js
  packages/react-reconciler/src/ReactFiberBeginWork.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.new.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.old.js
  packages/react-reconciler/src/ReactFiberWorkLoop.new.js
  packages/react-reconciler/src/ReactFiberWorkLoop.old.js
  packages/react-reconciler/src/ReactInternalTypes.js
Labels: CLA Signed, React Core Team

#24908 [Transition Tracing][Code Cleanup] Delete Marker Name Change Tests
  packages/react-reconciler/src/__tests__/ReactTransitionTracing-test.js
Labels: CLA Signed, React Core Team

#24921 [DevTools] enable `enableProfilerComponentTree` flag for all builds
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
Labels: CLA Signed

#24920 [Transition Tracing] Rename transitionCallbacks to unstable_transitionCallbacks
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/__tests__/ReactTransitionTracing-test.js
Labels: CLA Signed, React Core Team

#24919 React DevTools 4.24.7 -> 4.25.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed

#24918 Use recursion to traverse during passive unmount phase
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
Labels: CLA Signed, React Core Team

#24937 [Transition Tracing] Add Transition Callbacks to hydrateRoot
  packages/react-dom/src/client/ReactDOMRoot.js
Labels: CLA Signed, React Core Team

#24888 [DevTools] add simple usage events for internal logging
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectHostNodesToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
Labels: CLA Signed

#24936 Bugfix: Reused components should commit with same timing as new ones
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
Labels: CLA Signed, React Core Team

#24951 [devtools] log more events + metadata
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
  packages/react-devtools-shared/src/registerDevToolsEventLogger.js
Labels: CLA Signed

#24853 Add 4.5.0 release to eslint rules CHANGELOG
  packages/eslint-plugin-react-hooks/CHANGELOG.md
Labels: CLA Signed

#24945 test(react-debug-tools): Improve coverage of currentDispatcher.current setter
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.js
Labels: CLA Signed

#24946 test: Throw custom error instead of relying on runtime error
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
Labels: CLA Signed

#24972 Bug fix for "<App />" vs. "<Counter />"
  packages/react/README.md
Labels: CLA Signed

#21952 devtools: Remove ForwardRef/Memo from display name if `displayName` is set
  packages/react-devtools-shared/src/__tests__/profilingCharts-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, Component: Developer Tools

#24966 [Devtools] add logs for profiler tab switch & settings change
  packages/react-devtools-shared/src/Logger.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsContext.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
  packages/react-devtools-shared/src/registerDevToolsEventLogger.js
Labels: CLA Signed

#24988 Implement Offscreen in Fizz
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#24967 Don't fire passive effects during initial mount of a hidden Offscreen tree
  packages/react-reconciler/src/ReactFiber.new.js
  packages/react-reconciler/src/ReactFiber.old.js
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberConcurrentUpdates.new.js
  packages/react-reconciler/src/ReactFiberConcurrentUpdates.old.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberOffscreenComponent.js
  packages/react-reconciler/src/__tests__/ReactCache-test.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
Labels: CLA Signed, React Core Team

#24977 Mount/unmount passive effects when Offscreen visibility changes
  packages/react-reconciler/src/ReactFiberCommitWork.new.js
  packages/react-reconciler/src/ReactFiberCommitWork.old.js
  packages/react-reconciler/src/ReactFiberCompleteWork.new.js
  packages/react-reconciler/src/ReactFiberCompleteWork.old.js
  packages/react-reconciler/src/__tests__/ReactOffscreen-test.js
Labels: CLA Signed, React Core Team

#25001 docs(react-devtools-inline): `react-dom@experimental` instead of `react-dom@experimenal`
  packages/react-devtools-inline/README.md
Labels: CLA Signed
