Repository facebook/react, pull requests merged in 2024-06, with the labels that each got.

#29693 [Fiber][Float] Error when a host fiber changes "flavor"
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMHostComponentTransitions-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#29732 Fix stylesheet typo in 29693
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMHostComponentTransitions-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#29694 useActionState: Transfer transition context
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#29695 useActionState: On error, cancel remaining actions
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#29697 [Fiber] Prefix owner stacks with the current stack at the console call
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactSharedInternalsServer.js
  packages/shared/consoleWithStackDev.js
  packages/shared/forks/consoleWithStackDev.www.js
Labels: CLA Signed, React Core Team

#29738 Fix xplat sync to ignore @generated header
  .github/workflows/commit_artifacts.yml
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#29720 fix<compiler>: only call readTestFilter if the filter option is enabled
  compiler/packages/snap/src/runner-watch.ts
Labels: Component: Optimizing Compiler, CLA Signed

#29756 www: set enableRefAsProp to true
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29753 Remove startTransition and useActionState from react-server condition of react
  packages/react/src/ReactServer.js
Labels: CLA Signed

#29734 Add xplat test variants
  .circleci/config.yml
  packages/react-native-renderer/src/__tests__/ResponderEventPlugin-test.internal.js
  packages/react-reconciler/src/__tests__/Activity-test.js
  packages/react-reconciler/src/__tests__/ActivitySuspense-test.js
  packages/react-reconciler/src/__tests__/ReactContextPropagation-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-reconciler/src/__tests__/ReactSchedulerIntegration-test.js
  packages/react-reconciler/src/__tests__/ReactScope-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSubtreeFlagsWarning-test.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  scripts/jest/TestFlags.js
  scripts/jest/config.source-xplat.js
  scripts/jest/jest-cli.js
  scripts/jest/setupHostConfigs.js
  scripts/jest/setupTests.xplat.js
Labels: CLA Signed, React Core Team

#29725 Fix #29724: `ip` dependency update for CVE-2024-29415
  packages/react-devtools/package.json
Labels: CLA Signed

#29664 Add enableShallowPropDiffing feature flag
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
  packages/react-native-renderer/src/__tests__/ReactNativeAttributePayloadFabric-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#29772 chore[react-devtools]: ip => internal-ip
  packages/react-devtools/package.json
  packages/react-devtools/preload.js
  yarn.lock
Labels: CLA Signed, React Core Team

#29705 feat<Compiler>: consider that the dispatch function from `useReducer` is non-reactive
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReactivePlaces.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonReactiveDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.modify-useReducer-state.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.modify-useReducer-state.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useReducer-returned-dispatcher-is-non-reactive.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useReducer-returned-dispatcher-is-non-reactive.js
Labels: Component: Optimizing Compiler, CLA Signed

#29779 fix[react-devtools] remove native inspection button when it can't be used
  packages/react-devtools-core/src/standalone.js
  packages/react-devtools-fusebox/src/frontend.js
  packages/react-devtools-inline/src/frontend.js
Labels: CLA Signed

#29784 Default native inspections config false
  packages/react-devtools-core/src/standalone.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-fusebox/src/frontend.js
  packages/react-devtools-inline/src/frontend.js
  packages/react-devtools-shared/src/devtools/store.js
Labels: CLA Signed

#29551 [Flight][Fizz] schedule work async
  packages/react-dom/src/__tests__/ReactClassComponentPropResolutionFizz-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzDeferredValue-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzForm-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticFloat-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOM-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMBrowser-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMNode-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMReply-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactServerStreamConfigBrowser.js
  packages/react-server/src/ReactServerStreamConfigBun.js
  packages/react-server/src/forks/ReactServerStreamConfig.dom-fb-experimental.js
  packages/react/src/__tests__/ReactMismatchedVersions-test.js
  scripts/jest/patchMessageChannel.js
  scripts/jest/patchSetImmediate.js
  scripts/jest/setupEnvironment.js
Labels: CLA Signed, React Core Team

#29491 [Flight] Schedule work in a microtask
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactServerStreamConfigBrowser.js
  packages/react-server/src/ReactServerStreamConfigBun.js
  packages/react-server/src/ReactServerStreamConfigEdge.js
  packages/react-server/src/ReactServerStreamConfigNode.js
  packages/react-server/src/forks/ReactServerStreamConfig.custom.js
  packages/react-server/src/forks/ReactServerStreamConfig.dom-fb-experimental.js
  packages/react-server/src/forks/ReactServerStreamConfig.dom-fb.js
Labels: CLA Signed, React Core Team

#29775 fix<compiler>: reread the testfilter file if filter enabled during the watch process
  compiler/packages/snap/src/runner-watch.ts
Labels: CLA Signed

#29787 Fix RN version string in builds
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#29777 fix[react-devtools/store-test]: fork the test to represent current be…
  packages/react-devtools-shared/src/__tests__/store-test.js
Labels: CLA Signed, React Core Team

#29764 [Flight] Allow aborting during render
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server/src/ReactFlightServer.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#29774 www: make disableLegacyMode dynamic flag
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/findDOMNodeFB-test.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29717 [Flight] Run recreated Errors within a fake native stack
  fixtures/flight/config/webpack.config.js
  fixtures/flight/server/region.js
  fixtures/flight/src/index.js
  packages/react-client/src/ReactFlightClient.js
Labels: CLA Signed, React Core Team

#29800 [compiler] Fix outdated comment in scripts/release
  compiler/scripts/release/publish-manual.js
Labels: CLA Signed, React Core Team

#29791 [Fiber] Track the Real Fiber for Key Warnings
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-dom/src/__tests__/ReactChildReconciler-test.js
  packages/react-dom/src/__tests__/ReactMultiChild-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
Labels: CLA Signed, React Core Team

#29811 [Float][Fiber] Assume stylesheets in document are already loaded
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetExternalRuntime.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineCodeStrings.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineSource.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
Labels: CLA Signed, React Core Team

#29812 [Float][Fiber] Assume stylesheets in document are already loaded (#29811)
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetExternalRuntime.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineCodeStrings.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineSource.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
Labels: CLA Signed

#29809 Minify DEV bundles with closure
  packages/shared/CheckStringCoercion.js
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team

#29752 feat(compiler): Support MetaProperty
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/visitors.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/DeadCodeElimination.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-new-target-meta-property.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-new-target-meta-property.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/meta-property.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/meta-property.mjs
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/tsconfig.json
  compiler/packages/snap/src/SproutTodoFilter.ts
  compiler/packages/snap/src/fixture-utils.ts
Labels: CLA Signed

#29799 Move @generated from build to sync
  .github/workflows/commit_artifacts.yml
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/deepDiffer.js
  scripts/rollup/packaging.js
  scripts/rollup/shims/react-native/ReactFabric.js
  scripts/rollup/shims/react-native/ReactFeatureFlags.js
  scripts/rollup/shims/react-native/ReactNative.js
  scripts/rollup/shims/react-native/ReactNativeViewConfigRegistry.js
  scripts/rollup/shims/react-native/createReactNativeComponentClass.js
  scripts/rollup/wrappers.js
Labels: CLA Signed, React Core Team

#29833 Fix xplat sync
  .github/workflows/commit_artifacts.yml
Labels: CLA Signed, React Core Team

#29835 [Float][Fiber] Assume stylesheets in document are already loaded (cherrypick #29811)
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetExternalRuntime.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineCodeStrings.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineSource.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
Labels: CLA Signed

#29831 fix[compiler] remove duplicate parsePluginOptions from the compilePro…
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Labels: CLA Signed

#29841 [compiler] Remove playground postinstall script
  compiler/apps/playground/package.json
Labels: CLA Signed, React Core Team

#29842 [compiler] Remove unused scripts
  compiler/package.json
Labels: CLA Signed, React Core Team

#29852 fix[react-devtools] component badge in light mode is now not invisible
  packages/react-devtools-shared/src/devtools/constants.js
Labels: CLA Signed

#29837 [compiler] Add pruned-scope terminal in HIR
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/visitors.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/BuildReactiveFunction.ts
Labels: Component: Optimizing Compiler, CLA Signed, React Core Team

#29838 [compiler] HIR-based FlattenReactiveLoops
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/FlattenReactiveLoopsHIR.ts
Labels: Component: Optimizing Compiler, CLA Signed, React Core Team

#29861 [compiler] Remove .vscode
  compiler/.vscode/settings.json
Labels: CLA Signed, React Core Team

#29858 [Flight/Fizz] Use Constructors for Large Request/Response Objects in Flight/Fizz
  packages/react-client/src/ReactFlightClient.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#29804 [Fiber] Create virtual Fiber when an error occurs during reconcilation
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactWorkTags.js
Labels: CLA Signed, React Core Team

#29807 [Fiber] Track debugInfo on module state instead of stack
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/ReactChildFiber.js
Labels: CLA Signed, React Core Team

#29814 Use the Nearest Parent of an Errored Promise as its Owner
  .eslintrc.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#29867 [Flight] Let environmentName vary over time by making it a function of string
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server-dom-esm/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#29836 delete ReactServerStreamConfig.dom-fb-experimental.js
  packages/react-server/src/forks/ReactServerStreamConfig.dom-fb-experimental.js
Labels: CLA Signed, React Core Team

#29771 remove unstable_renderSubtreeIntoContainer
  packages/react-dom/src/ReactDOMFB.js
  packages/react-dom/src/__tests__/renderSubtreeIntoContainer-test.js
  packages/react-dom/src/client/ReactDOMRootFB.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/shared/ReactInstanceMap.js
Labels: CLA Signed, React Core Team

#29868 Avoid acccessing React internals from `use-sync-external-store/shim`
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  packages/use-sync-external-store/src/useSyncExternalStore.js
  packages/use-sync-external-store/src/useSyncExternalStoreShimClient.js
  scripts/jest/TestFlags.js
Labels: CLA Signed

#29876 Execute event handlers in the context of the instance that it's associated with
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-native-renderer/src/legacy-events/EventPluginUtils.js
Labels: CLA Signed, React Core Team

#29877 Standardize condition order so that edge-lite preferred over browser
  packages/react-dom/package.json
Labels: CLA Signed, React Core Team

#29880 [compiler] Make unary and binary operator types more precise
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
Labels: CLA Signed

#29885 fix[react-devtools] divided inspecting elements between inspecting do…
  packages/react-devtools-core/src/standalone.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-fusebox/src/frontend.js
  packages/react-devtools-shared/src/devtools/store.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
Labels: CLA Signed

#29884 [compiler] Fix visitors to emit the correct kind
  compiler/packages/babel-plugin-react-compiler/src/HIR/visitors.ts
Labels: CLA Signed, React Core Team

#29830 created a vscode workspace file for the repo
  .prettierrc.js
  react.code-workspace
Labels: CLA Signed

#29889 [compiler][playground] Make change detection work in playground
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
Labels: CLA Signed

#29871 Set disableLegacyMode to true for www
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29808 sanitize javascript: urls for <object> tags
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationObject-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationUntrustedURL-test.js
Labels: CLA Signed, React Core Team

#29888 Use a constant HostContext in prod builds for Fabric renderer
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
Labels: CLA Signed

#29901 Revert "Set disableLegacyMode to true for www"
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29881 [compiler] Allow more instruction kinds btw merged scopes
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MergeReactiveScopesThatInvalidateTogether.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-in-effect-indirect-usecallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-in-effect-indirect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-reassignment-in-effect-indirect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-reassignment-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-mutate-global-in-effect-fixpoint.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/concise-arrow-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/conditional-on-mutable.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-into-function-expressions.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/context-variable-reassigned-outside-of-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/declare-reassign-variable-in-function-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-and-local-variables-with-default.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-computed-member-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-member-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/multi-arrow-expr-export-default-gating-test.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/multi-arrow-expr-export-gating-test.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/multi-arrow-expr-gating-test.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/property-assignment.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassignment-conditional.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassignment.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ssa-leave-case.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/switch-non-final-default.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/switch.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo-function-expression-captures-value-later-frozen.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-test-field-load-binary-op.expect.md
Labels: Component: Optimizing Compiler, CLA Signed, React Core Team

#29903 Prepare Feature Flags for React Native 0.75
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Labels: CLA Signed

#29886 chore[react-devtools/extensions]: make source maps url relative
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
Labels: CLA Signed, React Core Team

#29856 chore[react-devtools/backend]: remove consoleManagedByDevToolsDuringStrictMode
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.core-oss.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.default.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-fb.js
  packages/react-devtools-shared/src/config/DevToolsFeatureFlags.extension-oss.js
Labels: CLA Signed, React Core Team

#29873 chore[react-devtools]: improve console arguments formatting before passing it to original console
  packages/react-devtools-shared/src/__tests__/utils-test.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/utils.js
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed, React Core Team

#29917 Consider dispatch function from useActionState non-reactive
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReactivePlaces.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonReactiveDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useActionState-dispatch-considered-as-non-reactive.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useActionState-dispatch-considered-as-non-reactive.js
Labels: CLA Signed, React Core Team

#29918 React DevTools 5.2.0 -> 5.3.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#29916 [compiler] Treat ref-like named objects as refs
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Types.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.ref-like-name-not-Ref.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.ref-like-name-not-Ref.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.ref-like-name-not-a-ref.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.ref-like-name-not-a-ref.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ref-like-name-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ref-like-name-in-effect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ref-like-name-in-useCallback-2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ref-like-name-in-useCallback-2.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ref-like-name-in-useCallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ref-like-name-in-useCallback.js
Labels: Component: Optimizing Compiler, CLA Signed, React Core Team

#29929 refactor[react-devtools/tests]: use registered marks instead of cleared in tests
  packages/react-devtools-shared/src/__tests__/TimelineProfiler-test.js
  packages/react-devtools-shared/src/__tests__/preprocessData-test.js
Labels: CLA Signed, React Core Team

#29963 fix[react-devtools/extensions]: propagate globals from env
  packages/react-devtools-extensions/webpack.backend.js
Labels: CLA Signed, React Core Team

#29957 fix[compiler playground]: Set source as the pre-change state in HIR diff
  compiler/apps/playground/components/Editor/Output.tsx
Labels: CLA Signed

#29906 [chore] Fix TypeError in shouldSkipBundle During yarn build-for-devtools-dev and yarn build-for-devtools-prod Commands
  scripts/rollup/build.js
Labels: CLA Signed

#29994 www: remove dynamic feature flag enableSchedulingProfiler
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29995 Revert "www: remove dynamic feature flag enableSchedulingProfiler"
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29967 Plumbing of isomorphic code
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactSharedInternalsServer.js
Labels: CLA Signed, React Core Team

#29996 www: remove dynamic scheduler feature flag: enableProfiling
  packages/scheduler/src/forks/SchedulerFeatureFlags.www-dynamic.js
  packages/scheduler/src/forks/SchedulerFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30023 [ci] Add new lint GitHub action
  .github/workflows/lint.yml
Labels: CLA Signed, React Core Team

#30024 [ci] Remove circleci yarn_lint job
  .github/workflows/lint.yml
Labels: CLA Signed, React Core Team

#30025 [ci] Add new flow GitHub action
  .github/workflows/flow.yml
Labels: CLA Signed, React Core Team

#30028 [ci] Remove circleci yarn_flow job
  .github/workflows/flow.yml
Labels: CLA Signed, React Core Team

#30034 [ci] Remove circleci yarn_test job
  .github/workflows/runtime_test.yml
Labels: CLA Signed, React Core Team

#30035 [ci] Add new fizz GitHub action
  .github/workflows/runtime_test.yml
Labels: CLA Signed, React Core Team

#30036 [ci] Remove circleci check_generated_fizz_runtime job
  .github/workflows/runtime_test.yml
Labels: CLA Signed, React Core Team

#30027 refactor[react-devtools/extensions]: dont debounce cleanup logic on navigation
  packages/react-devtools-extensions/src/main/index.js
Labels: CLA Signed, React Core Team

#30066 Set renameElementSymbol to dynamic value
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30064 [compiler] Enable sourceMaps in tsconfig
  compiler/packages/snap/src/runner-watch.ts
Labels: CLA Signed, React Core Team

#30092 [ez] Remove outdated files
  compiler/packages/snap/src/SproutTodoFilter.ts
  compiler/scripts/build-packages-forget-feedback.sh
  compiler/scripts/copyright.js
Labels: CLA Signed, React Core Team

#29954 Read constructor name more carefully
  packages/react-devtools-shared/src/hydration.js
Labels: CLA Signed

#30078 [compiler][ez] PrintHIR prints optional flag for debugging
  compiler/packages/babel-plugin-react-compiler/src/HIR/PruneUnusedLabelsHIR.ts
Labels: CLA Signed, React Core Team

#30091 fix[react-devtools]: restore original args when recording errors
  packages/react-devtools-shared/src/backend/console.js
Labels: CLA Signed, React Core Team

#30069 compiler: fix the `hookKind` for `useInsertionEffect`
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
Labels: CLA Signed

#30090 Enable `enableDeferRootSchedulingToMicrotask` and `enableInfiniteRenderLoopDetection` for React Native (Meta)
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Labels: CLA Signed

#30101 Run ReactFabric-test.internal.js in xplat variant
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-native-renderer/src/__tests__/__snapshots__/ReactFabric-test.internal.js.snap
Labels: CLA Signed, React Core Team

#29846 Badge Environment Name on Thrown Errors from the Server
  packages/internal-test-utils/consoleMock.js
  packages/internal-test-utils/shouldIgnoreConsoleError.js
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-browser-esm.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-browser-turbopack.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-browser.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-bun.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-edge-turbopack.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-edge-webpack.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-legacy.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node-esm.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node-turbopack-bundled.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node-turbopack.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node-webpack.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/forks/ReactFiberConfig.art.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-reconciler/src/forks/ReactFiberConfig.dom.js
  packages/react-reconciler/src/forks/ReactFiberConfig.fabric.js
  packages/react-reconciler/src/forks/ReactFiberConfig.native.js
  packages/react-reconciler/src/forks/ReactFiberConfig.test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
  packages/react-server/src/forks/ReactFizzConfig.dom-edge.js
  packages/react-server/src/forks/ReactFizzConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFizzConfig.dom-node.js
  packages/react-server/src/forks/ReactFizzConfig.dom.js
Labels: CLA Signed, React Core Team

#29853 Add new error message for awaiting the client export
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackReferences.js
  packages/react-server-dom-webpack/src/ReactFlightWebpackReferences.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
Labels: CLA Signed

#30103 Update ReactFabric-test.internal to concurrent root
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed, React Core Team

#30109 [compiler] Add todo fixtures for local reassignment in an async callback
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-async-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-async-callback.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Labels: CLA Signed, React Core Team

#30115 Remove isPrimaryRenderer from Flight Server Config
  packages/react-dom-bindings/src/server/ReactFlightServerConfigDOM.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
Labels: CLA Signed, React Core Team

#30105 Add new package with renderToMarkup export
  packages/react-client/src/forks/ReactFlightClientConfig.dom-bun.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-legacy.js
  packages/react-html/README.md
  packages/react-html/index.js
  packages/react-html/npm/index.js
  packages/react-html/npm/react-html.react-server.js
  packages/react-html/package.json
  packages/react-html/react-html.react-server.js
  packages/react-html/src/ReactHTMLLegacyClientStreamConfig.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  scripts/error-codes/codes.json
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#30102 Warn for invalid type in renderer with the correct RSC stack
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ErrorBoundaryReconciliation-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#30123 [fix] replace polyfill.io with cloudflare equivalent
  fixtures/dom/public/renderer.html
Labels: CLA Signed

#30122 Add doctype to renderToMarkup when html tags are rendered
  packages/react-html/src/ReactFizzConfigHTML.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Labels: CLA Signed, React Core Team

#30129 Only build react-html in experimental channel
  packages/react-html/src/ReactHTMLClient.stable.js
  packages/react-html/src/ReactHTMLServer.stable.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#30130 [Flight] Make byteLengthOfChunk Optional
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30149 [prettier][eslint] Support sapling in prettier changed files command
  scripts/shared/listChangedFiles.js
Labels: CLA Signed
