Repository facebook/react, pull requests merged in 2024-03, with the labels that each got.

#28475 Clean up empty string special cases
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-reconciler/src/ReactFiberConfigWithNoHydration.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
Labels: CLA Signed, React Core Team

#28464 Move ref type check to receiver
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactFiberRefs-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28478 Update homepage URLs to react.dev
  packages/eslint-plugin-react-hooks/package.json
  packages/jest-react/package.json
  packages/react-art/package.json
  packages/react-client/package.json
  packages/react-debug-tools/package.json
  packages/react-dom-bindings/package.json
  packages/react-dom/package.json
  packages/react-interactions/package.json
  packages/react-is/package.json
  packages/react-reconciler/package.json
  packages/react-refresh/package.json
  packages/react-server-dom-esm/package.json
  packages/react-server-dom-turbopack/package.json
  packages/react-server-dom-webpack/package.json
  packages/react-server/package.json
  packages/react-test-renderer/package.json
  packages/react/package.json
  packages/scheduler/package.json
Labels: CLA Signed, React Core Team

#28480 Remove loose-envify dep and browserify configs
  packages/react-art/package.json
  packages/react-client/package.json
  packages/react-dom/package.json
  packages/react-interactions/package.json
  packages/react-reconciler/package.json
  packages/react-server-dom-turbopack/package.json
  packages/react-server-dom-webpack/package.json
  packages/react-server/package.json
  packages/react/package.json
  packages/scheduler/package.json
Labels: CLA Signed

#28479 [devtools][tests] add support for @gate pragma
  .eslintrc.js
  packages/react-devtools-shared/src/__tests__/gate-test.js
  packages/react-devtools-shared/src/__tests__/setupTests.js
Labels: CLA Signed, React Core Team

#28321 Fix Broken Links In Documentation
  fixtures/dom/src/components/fixtures/suspense/index.js
  packages/react-devtools-shared/src/devtools/cache.js
  packages/react-devtools-timeline/src/view-base/Surface.js
  packages/react-devtools-timeline/src/view-base/utils/normalizeWheel.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/isCustomElement.js
Labels: CLA Signed

#28490 [Test] Update `flushSync` tests to use react-dom
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
  packages/react-reconciler/src/__tests__/ReactFlushSyncNoAggregateError-test.js
Labels: CLA Signed, React Core Team

#28486 fix[devtools/tree/element]: onClick -> onMouseDown to handle first click correctly
  packages/react-devtools-inline/__tests__/__e2e__/devtools-utils.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
Labels: CLA Signed, React Core Team

#28351 refactor[devtools]: lazily define source for fiber based on component stacks
  packages/react-devtools-core/src/standalone.js
  packages/react-devtools-inline/__tests__/__e2e__/components.test.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/storeComponentFilters-test.js
  packages/react-devtools-shared/src/__tests__/utils-test.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/utils.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/frontend/types.js
  packages/react-devtools-shared/src/shared/types.js
Labels: CLA Signed, React Core Team

#28471 feat[devtools]: symbolicate source for inspected element
  .eslintrc.js
  packages/react-debug-tools/package.json
  packages/react-devtools-core/src/standalone.js
  packages/react-devtools-extensions/src/main/fetchFileWithCaching.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-shared/package.json
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSourcePanel.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSourcePanel.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementViewSourceButton.js
  packages/react-devtools-shared/src/devtools/views/Components/OpenInEditorButton.js
  packages/react-devtools-shared/src/devtools/views/Components/Skeleton.css
  packages/react-devtools-shared/src/devtools/views/Components/Skeleton.js
  packages/react-devtools-shared/src/devtools/views/Components/ViewSourceContext.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarEventInfo.js
  packages/react-devtools-shared/src/symbolicateSource.js
  packages/react-devtools-shared/src/utils.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28501 Move tail hydration mismatch back to hydration context
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
Labels: CLA Signed, React Core Team

#28499 Devtools: Display actual pending state when inspecting `useTransition`
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-shell/src/app/InspectableElements/CustomHooks.js
Labels: CLA Signed, React Core Team

#28504 useless returnFiber
  packages/react-reconciler/src/ReactChildFiber.js
Labels: CLA Signed

#28493 Link to reactjs/react.dev repo instead of reactjs/reactjs.org
  README.md
Labels: CLA Signed

#28518 fix[devtools/e2e]: fixed source inspection in e2e tests
  packages/react-devtools-inline/__tests__/__e2e__/components.test.js
Labels: CLA Signed, React Core Team

#28520 Fix ReactHooksInspection-test.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.js
Labels: CLA Signed

#28411 Remove RTR from DebugTracing-test
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
Labels: CLA Signed, React Core Team

#28519 Configure "Always On" Feature Flags for React Native
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
Labels: CLA Signed

#28528 Upgrade flow to 0.230.0
  package.json
  packages/react-server-dom-fb/src/ReactFlightServerConfigFBBundler.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28527 Configure Dynamic Feature Flags for React Native
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  scripts/flow/xplat.js
Labels: CLA Signed

#28534 Remove remaining usages of ReactTestUtils in tests unrelated to `react-dom/test-util`
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-dom/src/__tests__/ReactLegacyMount-test.js
  packages/react-dom/src/__tests__/findDOMNode-test.js
  packages/react-dom/src/__tests__/renderSubtreeIntoContainer-test.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
Labels: CLA Signed, React Core Team

#28509 cleanup enableProfilerNestedUpdateScheduledHook feature flag
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28538 Land enableClientRenderFallbackOnTextMismatch for www
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28522 Concurrent rendering in ReactDevToolsHooksIntegration-test
  packages/react-debug-tools/src/__tests__/ReactDevToolsHooksIntegration-test.js
Labels: CLA Signed, React Core Team

#28531 Remove ReactTestUtils from ReactLegacyUpdates-test
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
Labels: CLA Signed, React Core Team

#28532 Remove ReactTestUtils from refs-destruction-test
  packages/react-dom/src/__tests__/refs-destruction-test.js
Labels: CLA Signed, React Core Team

#28533 Remove ReactTestUtils from ReactBrowserEventEmitter-test
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.js
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
Labels: CLA Signed, React Core Team

#28515 Remove invokeGuardedCallback and replay trick
  fixtures/dom/src/toWarnDev.js
  packages/react-cache/src/__tests__/ReactCacheOld-test.internal.js
  packages/react-devtools-shared/src/__tests__/TimelineProfiler-test.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/__tests__/InvalidEventListeners-test.js
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReportingLegacy-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationLegacyContext-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationLegacyContextDisabled-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-native-renderer/src/legacy-events/EventBatching.js
  packages/react-native-renderer/src/legacy-events/EventPluginUtils.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ErrorBoundaryReconciliation-test.internal.js
  packages/react-reconciler/src/__tests__/ReactBatching-test.internal.js
  packages/react-reconciler/src/__tests__/ReactConcurrentErrorRecovery-test.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorReplay-test.internal.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseEffectsSemantics-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseFuzz-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspensePlaceholder-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/react/src/__tests__/ReactCoffeeScriptClass-test.coffee
  packages/react/src/__tests__/ReactES6Class-test.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
  packages/react/src/__tests__/forwardRef-test.internal.js
  packages/shared/ReactErrorUtils.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/__tests__/ReactErrorUtils-test.internal.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/forks/invokeGuardedCallbackImpl.www.js
  packages/shared/invokeGuardedCallbackImpl.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  scripts/jest/shouldIgnoreConsoleError.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#28526 Remove renderSubtreeIntoContainer_DO_NOT_USE
  scripts/rollup/shims/facebook-www/renderSubtreeIntoContainer_DO_NOT_USE.js
Labels: CLA Signed, React Core Team

#28548 Revert "Land enableClientRenderFallbackOnTextMismatch for www"
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28514 Add pending state to useFormState
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-dom-bindings/src/shared/ReactDOMFormActions.js
  packages/react-dom/index.experimental.js
  packages/react-dom/server-rendering-stub.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
  packages/react-server/src/ReactFizzHooks.js
Labels: CLA Signed, React Core Team

#27991 Disable legacy context
  packages/react-devtools-shared/src/__tests__/editing-test.js
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
Labels: CLA Signed, React Core Team

#24730 React DOM: Support boolean values for `inert` prop
  fixtures/attribute-behavior/AttributeTableSnapshot.md
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/ReactDOMUnknownPropertyHook.js
  packages/react-dom-bindings/src/shared/possibleStandardNames.js
  packages/react-dom/src/__tests__/ReactDOMAttribute-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationAttributes-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React 19

#28555 just a spelling mistake.
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiberNewContext.js
Labels: CLA Signed

#20432 Add passing exhaustive-deps test for type parameters in TypeScript
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
Labels: CLA Signed, Component: ESLint Rules

#28508 Devtools: Ensure component control flow is consistent with commit when using `useDeferredValue
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
Labels: CLA Signed, React Core Team

#28565 Revert rollout state of enableCache in React Native to next major only
  packages/shared/forks/ReactFeatureFlags.native-oss.js
Labels: CLA Signed

#28566 Remove excess `ms` prop from Suspense tests
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseEffectsSemantics-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseFallback-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactTransition-test.js
Labels: CLA Signed, React Core Team

#28562 Fix log assertion in cancels tasks in Scheduler-test
  packages/scheduler/src/__tests__/Scheduler-test.js
Labels: CLA Signed

#28568 [Fizz] Prevent uncloned large precomputed chunks without relying on render-time assertions
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server/src/ReactServerStreamConfigBrowser.js
  packages/react-server/src/ReactServerStreamConfigBun.js
  packages/react-server/src/ReactServerStreamConfigEdge.js
  packages/react-server/src/ReactServerStreamConfigFB.js
  packages/react-server/src/ReactServerStreamConfigNode.js
  packages/react-server/src/forks/ReactServerStreamConfig.custom.js
Labels: CLA Signed, React Core Team

#28546 Update isConcurrent RTR option usage
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-reconciler/src/__tests__/ErrorBoundaryReconciliation-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererAsync-test.js
  packages/react/src/__tests__/ReactProfilerDevToolsIntegration-test.internal.js
  packages/react/src/__tests__/ReactStartTransition-test.js
Labels: CLA Signed, React Core Team

#28569 Performance: avoid triggering map deopt in V8
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberHostContext.js
Labels: CLA Signed

#28576 Upgrade flow to 0.231.0
  package.json
  yarn.lock
Labels: CLA Signed, React Core Team

#28550 Add `alwaysThrottleDisappearingFallbacks` Flag
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/flow/xplat.js
Labels: CLA Signed

#28521 Concurrent rendering for ReactART-test
  packages/react-art/src/__tests__/ReactART-test.js
Labels: CLA Signed, React Core Team

#28578 Use RTR with concurrent root in ReactHooks-test.internal
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
Labels: CLA Signed, React Core Team

#28579 Set disableModulePatternComponents flag to __NEXT_MAJOR__
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
Labels: CLA Signed, React Core Team, React 19

#28580 (cherrypick b09e102f) [Fizz] Prevent uncloned large precomputed chunks without relying on render-time assertions
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server/src/ReactServerStreamConfigBrowser.js
  packages/react-server/src/ReactServerStreamConfigBun.js
  packages/react-server/src/ReactServerStreamConfigEdge.js
  packages/react-server/src/ReactServerStreamConfigFB.js
  packages/react-server/src/ReactServerStreamConfigNode.js
  packages/react-server/src/forks/ReactServerStreamConfig.custom.js
Labels: CLA Signed, React Core Team

#28585 (cherrypick b09e102f) [Fizz] Prevent uncloned large precomputed chunks without relying on render-time assertions #28580
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server/src/ReactServerStreamConfigBrowser.js
  packages/react-server/src/ReactServerStreamConfigBun.js
  packages/react-server/src/ReactServerStreamConfigEdge.js
  packages/react-server/src/ReactServerStreamConfigFB.js
  packages/react-server/src/ReactServerStreamConfigNode.js
  packages/react-server/src/forks/ReactServerStreamConfig.custom.js
Labels: CLA Signed, React Core Team

#28582 Change to content hash for RN canary VERSION strings
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#28564 [Flight] Encode React Elements in Replies as Temporary References
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/ReactFlightTemporaryReferences.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server/src/ReactFlightReplyServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightServerTemporaryReferences.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28590 Also apply content hash for experimental files
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#28467 DevTools: Read context values from context dependencies
  packages/react-debug-tools/src/ReactDebugHooks.js
Labels: CLA Signed, React Core Team, React 19

#28557 Ensure dispatch from `useFormState` works in `StrictMode`
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team, React 19

#28549 Concurrent RTR in ReactHooksInspectionIntegration-test
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
Labels: CLA Signed, React Core Team

#28598 Update RTR usage in ReactLazy-test
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
Labels: CLA Signed, React Core Team

#28606 [Fizz][Legacy] use static markup mode for renderToStaticNodeStream
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/server/ReactDOMLegacyServerNodeStream.js
Labels: CLA Signed, React Core Team

#28610 [Flight Reply] Don't allow Symbols to be passed to a reply
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/ReactFlightTemporaryReferences.js
  packages/react-server/src/ReactFlightReplyServer.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28611 [Fizz] Recover from errors thrown by progressive enhancement form generation
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
Labels: CLA Signed, React Core Team

#28599 Use `declare const` instead of `declare var`
  packages/react-client/src/forks/ReactFlightClientConfig.custom.js
  packages/react-devtools-extensions/flow-typed/jest.js
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-server/src/ReactFlightServerConfigBundlerCustom.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
  packages/react-server/src/forks/ReactServerStreamConfig.custom.js
  packages/scheduler/src/forks/SchedulerNative.js
  scripts/flow/environment.js
  scripts/flow/react-devtools.js
  scripts/flow/react-native-host-hooks.js
  scripts/flow/xplat.js
  scripts/jest/typescript/jest.d.ts
Labels: CLA Signed, React Core Team

#28613 Cleanup enableFloat flag
  packages/react-dom-bindings/src/client/ReactDOMComponentTree.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom-bindings/src/server/ReactDOMFlightServerHostDispatcher.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticNode-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/react-dom-server-rendering-stub-test.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberHotReloading.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28427 Update RN dynamic flag types
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  scripts/flow/xplat.js
Labels: CLA Signed, React Core Team

#28583 Better NEXT_MAJOR support for RN flags
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  scripts/flags/flags.js
Labels: CLA Signed, React Core Team

#28491 Add `React.useActionState`
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-dom/src/__tests__/ReactDOMFizzForm-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-refresh/src/ReactFreshBabelPlugin.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/index.stable.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactHooks.js
  packages/react/src/ReactServer.experimental.js
  packages/react/src/ReactServer.js
Labels: CLA Signed, React Core Team

#28625 Add Type: Feature Request to stalebot ignore
  .github/stale.yml
Labels: CLA Signed, React Core Team

#28596 Guard against legacy context not being supported in DevTools fixture
  packages/react-devtools-shell/src/app/InspectableElements/Contexts.js
Labels: CLA Signed, React Core Team

#28614 Cleanup enableFormActions flag
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom-bindings/src/events/ReactDOMEventReplaying.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetExternalRuntime.js
  packages/react-dom-bindings/src/shared/ReactDOMFormActions.js
  packages/react-dom-bindings/src/shared/ReactDOMUnknownPropertyHook.js
  packages/react-dom/src/__tests__/ReactDOMFizzForm-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/react-dom-server-rendering-stub-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberHostContext.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMForm-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28617 Make enableBigIntSupport a dynamic flag for Meta
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28299 Test showing mismatches after suspending force fallbacks to be shown
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
Labels: CLA Signed, React Core Team

#28513 Test for suspending with modern strict mode
  packages/react-reconciler/src/__tests__/StrictEffectsMode-test.js
Labels: CLA Signed, React Core Team

#28361 Add test for throttling suspended siblings
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
Labels: CLA Signed, React Core Team

#28628 fix[devtools/ci]: split profiling cache test for different react versions and toEqual checker
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
Labels: CLA Signed, React Core Team

#28643 Fix tests on main
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
Labels: CLA Signed, React Core Team

#28633 Switch facebook-www build version to file content hash
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#28639 Cleanup `alwaysThrottleDisappearingFallbacks` Flag
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#28632 Add useActionState to CHANGELOG-canary.md
  CHANGELOG-canary.md
Labels: CLA Signed, React Core Team

#28645 Turn on enableRenderableContext in experimental
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
Labels: CLA Signed, React Core Team

#28646 Bump canary versions to v19-canary
  ReactVersions.js
  fixtures/art/package.json
  fixtures/fizz/package.json
  fixtures/ssr/package.json
  fixtures/ssr2/package.json
  packages/jest-react/package.json
  packages/react-art/package.json
  packages/react-dom-bindings/package.json
  packages/react-dom/package.json
  packages/react-is/package.json
  packages/react-reconciler/package.json
  packages/react-server-dom-esm/package.json
  packages/react-server-dom-turbopack/package.json
  packages/react-server-dom-webpack/package.json
  packages/react-test-renderer/package.json
  packages/react/package.json
  packages/shared/ReactVersion.js
  packages/use-subscription/package.json
  packages/use-sync-external-store/package.json
Labels: CLA Signed, React Core Team

#28650 Remove unmountComponentAtNode outside of legacy mode
  packages/react-dom/src/client/ReactDOMLegacy.js
Labels: CLA Signed, React Core Team

#28652 Update error messages
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/utils.js
  packages/react-devtools-shell/src/app/index.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReportingLegacy-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFiber-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyContextDisabled-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyRootWarnings-test.js
  packages/react-dom/src/__tests__/renderSubtreeIntoContainer-test.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-server/src/ReactFizzClassComponent.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/__tests__/ReactCreateElement-test.js
  packages/react/src/__tests__/ReactElementClone-test.js
  packages/react/src/__tests__/ReactJSXTransformIntegration-test.js
  packages/react/src/jsx/ReactJSXElement.js
  scripts/jest/shouldIgnoreConsoleError.js
Labels: CLA Signed, React Core Team

#28440 Remove legacy hydration mode
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.js
  packages/react-dom/index.stable.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationReconnecting-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyMount-test.js
  packages/react-dom/src/__tests__/ReactLegacyRootWarnings-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/unstable_testing.classic.fb.js
  packages/react-dom/unstable_testing.js
  packages/react-dom/unstable_testing.stable.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
Labels: CLA Signed, React Core Team, React 19

#28419 [RTR] Enable warning flag
  packages/react-devtools-shared/src/__tests__/setupTests.js
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  scripts/jest/setupTests.js
  scripts/jest/shouldIgnoreConsoleWarn.js
Labels: CLA Signed, React Core Team, React 19

#28458 Remove enableClientRenderFallbackOnTextMismatch flag
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzSuppressHydrationWarning-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team, React 19

#28497 Remove react-test-renderer/shallow export
  packages/react-test-renderer/__tests__/shallow-test.js
  packages/react-test-renderer/npm/shallow.js
  packages/react-test-renderer/package.json
  packages/react-test-renderer/shallow.js
  yarn.lock
Labels: CLA Signed, React Core Team, React 19

#28498 Use concurrent root in RTR
  packages/react-reconciler/src/__tests__/ErrorBoundaryReconciliation-test.internal.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererAct-test.js
  packages/react-test-renderer/src/__tests__/ReactTestRendererTraversal-test.js
  packages/react/src/__tests__/ReactProfilerDevToolsIntegration-test.internal.js
Labels: CLA Signed, React Core Team, React 19

#28476 Move Hydration Warnings from the DOM Config into the Fiber reconciliation
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzSuppressHydrationWarning-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-reconciler/src/ReactFiberConfigWithNoHydration.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  scripts/jest/shouldIgnoreConsoleError.js
Labels: CLA Signed, React Core Team, React 19

#28502 Move Hydration Mismatch Errors to Throw or Log Once (Kind of)
  packages/react-dom/src/__tests__/ReactDOMFizzForm-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzSuppressHydrationWarning-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team, React 19

#28512 Add Diffs to Hydration Warnings
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
Labels: CLA Signed, React Core Team, React 19

#28655 Add Flag to Favor Hydration Performance over User Safety
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28627 [Fiber] Don't Rethrow Errors at the Root
  packages/internal-test-utils/ReactInternalTestUtils.js
  packages/internal-test-utils/internalAct.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/__tests__/InvalidEventListeners-test.js
  packages/react-dom/src/__tests__/ReactBrowserEventEmitter-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReportingLegacy-test.js
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/__tests__/ReactDOMSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactErrorLoggingRecovery-test.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-native-renderer/src/__tests__/ReactNativeEvents-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
  packages/react-reconciler/src/__tests__/ReactFlushSyncNoAggregateError-test.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
  packages/react/src/ReactAct.js
  packages/react/src/ReactCurrentActQueue.js
  packages/react/src/ReactStartTransition.js
  packages/react/src/__tests__/ReactCoffeeScriptClass-test.coffee
  packages/react/src/__tests__/ReactES6Class-test.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
  packages/shared/reportGlobalError.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  scripts/jest/matchers/toWarnDev.js
  scripts/jest/setupTests.js
  scripts/jest/shouldIgnoreConsoleError.js
  scripts/rollup/validate/eslintrc.fb.js
  scripts/rollup/validate/eslintrc.rn.js
  scripts/rollup/validate/eslintrc.umd.js
Labels: CLA Signed, React Core Team, React 19

#28660 Remove orphaned disableJavaScriptURLs reference
  packages/shared/forks/ReactFeatureFlags.native-oss.js
Labels: CLA Signed, React Core Team

#28541 ReactDOM: Remove every test-util except `act()`
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team, React 19

#28597 Deprecate `act` from `react-dom/test-utils` in favor of act from `react`
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/test-utils/ReactTestUtils.js
Labels: CLA Signed, React Core Team, React 19

#28607 [Fizz][Legacy] Remove renderToNodeStream
  packages/react-dom/npm/server.browser.js
  packages/react-dom/npm/server.bun.js
  packages/react-dom/npm/server.edge.js
  packages/react-dom/npm/server.node.js
  packages/react-dom/server.browser.js
  packages/react-dom/server.bun.js
  packages/react-dom/server.edge.js
  packages/react-dom/server.node.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationNewContext-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingBrowser-test.js
  packages/react-dom/src/server/ReactDOMFizzServerBun.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.js
  packages/react-dom/src/server/ReactDOMLegacyServerNode.js
  packages/react-dom/src/server/ReactDOMLegacyServerNodeStream.js
  packages/react-dom/src/server/react-dom-server.bun.stable.js
Labels: CLA Signed, React Core Team, React 19

#28267 [react-dom] Remove `findDOMNode` from OSS builds
  packages/react-dom/index.experimental.js
  packages/react-dom/index.js
  packages/react-dom/index.stable.js
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMEventListener-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMSuspensePlaceholder-test.js
  packages/react-dom/src/__tests__/ReactEmptyComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/__tests__/findDOMNode-test.js
  packages/react-dom/src/__tests__/react-dom-server-rendering-stub-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/unstable_testing.experimental.js
  packages/react-dom/unstable_testing.js
  packages/react-dom/unstable_testing.stable.js
  packages/react/src/__tests__/ReactCoffeeScriptClass-test.coffee
  packages/react/src/__tests__/ReactES6Class-test.js
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
Labels: CLA Signed, React Core Team, React 19

#28663 Dymanic favorSafetyOverHydrationPerf
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28664 Remove errorHydratingContainer
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzSuppressHydrationWarning-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationLegacyContextDisabled-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/utils/ReactDOMServerIntegrationTestUtils.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  scripts/jest/shouldIgnoreConsoleError.js
Labels: CLA Signed, React Core Team

#28665 Don't log onRecoverableError if the current commit fail
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#28222 [Fiber] Remove the digest property from errorInfo passed to onRecoverableError
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team, React 19

#28631 s/form state/action state
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/createFastHashJS.js
Labels: CLA Signed, React Core Team

#28635 Add support for preload media to ReactDOM
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/shared/ReactDOMFloat.js
  packages/react-dom/src/shared/ReactDOMTypes.js
Labels: CLA Signed

#28120 Noop unstable_batchedUpdates
  packages/react-dom/index.classic.fb.js
  packages/react-dom/src/__tests__/ReactLegacyMount-test.js
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMRootFB.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#27742 Remove module pattern function component support
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponentState-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactWorkTags.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSubtreeFlagsWarning-test.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react-refresh/src/__tests__/ReactFreshIntegration-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team, React 19

#28670 Revert "Remove module pattern function component support"
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponentState-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactWorkTags.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSubtreeFlagsWarning-test.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react-refresh/src/__tests__/ReactFreshIntegration-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28671 Remove module pattern function component support (flag only)
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactCompositeComponentState-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-refresh/src/__tests__/ReactFreshIntegration-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#27450 Land enableCustomElementPropertySupport for React 19
  packages/react-dom-bindings/src/client/DOMPropertyOperations.js
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/events/plugins/ChangeEventPlugin.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/ReactDOMUnknownPropertyHook.js
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationAttributes-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team, React 19

#28673 Revert "Remove zoom from special cases list"
  packages/react-dom-bindings/src/shared/isUnitlessNumber.js
Labels: CLA Signed, React Core Team, React 19

#28668 Warn when using useFormState
  packages/react-dom/index.experimental.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#28674 Test for ReactTestRenderer
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.js
Labels: CLA Signed, React Core Team

#28677 Align React Native OSS/Test Feature Flags
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
Labels: CLA Signed

#28676 Land enableNewBooleanProps everywhere
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/ReactDOMUnknownPropertyHook.js
  packages/react-dom-bindings/src/shared/possibleStandardNames.js
  packages/react-dom/src/__tests__/ReactDOMAttribute-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationAttributes-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team, React 19

#28678 Mock modules in tests using `Module`
  packages/react-server-dom-turbopack/src/__tests__/utils/TurbopackMock.js
  packages/react-server-dom-webpack/src/__tests__/utils/WebpackMock.js
Labels: CLA Signed

#27798 Remove React.createFactory
  packages/react-is/README.md
  packages/react-is/src/__tests__/ReactIs-test.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.stable.js
  packages/react/src/ReactClient.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team, React 19

#28675 Don't let error boundaries catch errors during hydration
  packages/react-dom/src/__tests__/ReactDOMFizzShellHydration-test.js
  packages/react-reconciler/src/ReactFiberThrow.js
Labels: CLA Signed, React Core Team

#28684 Include regular stack trace in serialized errors from Fizz
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/ReactDOMServerExternalRuntime.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineCodeStrings.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetShared.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-server/src/ReactFizzServer.js
  scripts/babel/transform-prevent-infinite-loops.js
Labels: CLA Signed, React Core Team

#28680 Suppress console output in unit tests
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationInput-test.js
  packages/react/src/__tests__/ReactStrictMode-test.js
Labels: CLA Signed

#28686 Finish cleaning up digest from onRecoverableError
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-reconciler/src/ReactCapturedValue.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
Labels: CLA Signed, React Core Team
