Repository facebook/react, pull requests merged in 2024-08, with the labels that each got.

#28728 [Devtools] Ensure initial read of `useFormStatus` returns `NotPendingTransition`
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegrationDOM-test.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberHostContext.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team, React 19

#30555 [DevTools] Make Element Inspection Feel Snappy
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/setupTests.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/Components.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContext.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementErrorBoundary.js
Labels: CLA Signed, React Core Team

#30560 [DevTools] Enable pointEvents while scrolling
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
Labels: CLA Signed, React Core Team

#27647 Cloned flag to avoid extra clones in persistent renderer
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/__tests__/ReactPersistent-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30583 [compiler] Validate against setState in useMemo (resubmit of #30552)
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateNoSetStateInRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-unused-usecallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-effect-indirect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-effect-indirect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-conditional-setState-in-useMemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-conditional-setState-in-useMemo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo-indirect-useCallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo-indirect-useCallback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-named-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-named-function.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-nested-ifs.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-return-empty.expect.md
Labels: CLA Signed, React Core Team

#30544 [compiler] Simplify FunctionExpression node
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Labels: CLA Signed, React Core Team

#30545 [compiler] Refactor makeTemporary outside HIRBuilder
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
Labels: CLA Signed, React Core Team

#30546 [compiler] Add typing for useContext hook
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
Labels: CLA Signed, React Core Team

#30547 [compiler] Add flag for lowering context access
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
Labels: CLA Signed, React Core Team

#30584 [DevTools] Allow Highlighting/Inspect HostSingletons/Hoistables and Resources
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Highlighter.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Labels: CLA Signed, React Core Team

#30586 [DevTools] Rename mountFiberRecursively/updateFiberRecursively
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30590 [DevTools] Track DOM nodes to Fiber map for HostHoistable Resources
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30588 [Flight] Warn for keyless fragments in an array
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30579 chore[packages/react-devtools]: remove unused index.js
  packages/react-devtools/index.js
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#30593 Fix typos in Turbopack configuration and in Node.js loader error messages
  packages/react-server-dom-esm/src/ReactFlightESMNodeLoader.js
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackNodeLoader.js
  packages/react-server-dom-webpack/src/ReactFlightWebpackNodeLoader.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed

#30595 Remove flag enableUseDeferredValueInitialArg
  packages/react-dom/src/__tests__/ReactDOMFizzDeferredValue-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/__tests__/ReactDeferredValue-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30585 [compiler] Refactor createTemporaryPlace
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
Labels: CLA Signed, React Core Team

#30598 Replace NodeJS 21 with 22 in devEngines field
  fixtures/flight/package.json
  package.json
Labels: CLA Signed, React Core Team

#30609 [CI] fix the shared_lint cached key
  .github/workflows/shared_lint.yml
Labels: CLA Signed

#30616 Fix rust lints
  compiler/crates/react_hir/src/merge_consecutive_blocks.rs
  compiler/crates/react_semantic_analysis/src/scope_view.rs
Labels: CLA Signed, React Core Team

#30617 [ci] Make compiler publish script runnable
  compiler/scripts/release/publish.js
Labels: CLA Signed, React Core Team

#30569 [compiler] Add Identifier.declarationId
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
  fixtures/flight/package.json
  package.json
Labels: CLA Signed, React Core Team

#30618 [final] Actually publish packages to npm
  .github/workflows/compiler_prereleases.yml
Labels: CLA Signed, React Core Team

#30619 [ci] Fix dist-tag command
  compiler/scripts/release/publish.js
Labels: CLA Signed, React Core Team

#30620 [ci] Fix incorrect tags being pushed for compiler releases
  compiler/scripts/release/publish.js
Labels: CLA Signed, React Core Team

#30629 [compiler][repro] False positives for ValidatePreserveMemo
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-extended-contextvar-scope.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-extended-contextvar-scope.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useCallback-dep-scope-pruned.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useCallback-dep-scope-pruned.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useMemo-overlap-scopes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useMemo-overlap-scopes.ts
Labels: CLA Signed, React Core Team

#30630 [compiler] Remove transitive memo check in validatePreserveMemo
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-extended-contextvar-scope.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useCallback-dep-scope-pruned.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useCallback-dep-scope-pruned.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useCallback-dep-scope-pruned.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useCallback-extended-contextvar-scope.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useCallback-extended-contextvar-scope.tsx
Labels: CLA Signed, React Core Team

#30631 [compiler] Replace `for...in` with `for...of` for array of strings
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Labels: CLA Signed

#30628 [compiler] Add context callee import if required
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/LowerContextAccess.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.lower-context-access-array-destructuring.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.lower-context-access-destructure-multiple.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.lower-context-access-mixed-array-obj.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.lower-context-access-nested-destructuring.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.lower-context-access-property-load.expect.md
Labels: CLA Signed, React Core Team

#30639 [compiler] remove duplicate root files
  compiler/.gitmodules
  compiler/.watchmanconfig
  compiler/CODE_OF_CONDUCT.md
  compiler/CONTRIBUTING.md
  compiler/LICENSE
Labels: CLA Signed, React Core Team

#30651 [ci] fix path in compiler_typescript.yml
  .github/workflows/compiler_typescript.yml
Labels: CLA Signed, React Core Team

#30632 [compiler][be] Cleanup class naming in PromoteUsedTemporaries
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PromoteUsedTemporaries.ts
Labels: CLA Signed, React Core Team

#30633 [compiler][be] Remove completed todo comment
  compiler/packages/babel-plugin-react-compiler/src/HIR/MergeConsecutiveBlocks.ts
Labels: CLA Signed, React Core Team

#30592 Punctuation & correcting spelling mistakes
  compiler/docs/DESIGN_GOALS.md
Labels: CLA Signed

#30652 [compiler] Patch error reporting for blocklisted imports
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Imports.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Labels: CLA Signed, React Core Team

#30644 [DevTools] Unmount by walking previous nodes no longer in the new tree
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30657 [DevTools] Remove lodash.throttle
  packages/react-devtools-shared/package.json
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Labels: CLA Signed, React Core Team

#30658 [DevTools] Further Refactoring of Unmounts
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/ownersListContext-test.js
  packages/react-devtools-shared/src/__tests__/profilingCache-test.js
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30666 [compiler] Publish to latest tag
  compiler/scripts/release/publish.js
Labels: CLA Signed, React Core Team

#30669 Unit Test for `findNodeHandle` Error Behavior
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Labels: CLA Signed

#30673 Fix unstable_useContextWithBailout incorrect dispatcher assignment
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#30665 [DevTools] Unmount instance by walking the instance tree instead of the fiber tree
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30668 [DevTools] Compute new reordered child set from the instance tree
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30674 [compiler] Allow lets to be hoisted
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneHoistedContexts.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateLocalsNotReassignedAfterRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.function-expression-references-variable-its-assigned-to.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.function-expression-references-variable-its-assigned-to.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.mutate-captured-arg-separately.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.mutate-captured-arg-separately.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-function-expression-references-later-variable-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-nested-let-declaration-2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-nested-let-declaration-2.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-nested-let-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-nested-let-declaration.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-simple-let-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-simple-let-declaration.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/mutate-captured-arg-separately.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/mutate-captured-arg-separately.js
Labels: CLA Signed

#30675 [Flight] erroring after abort should not result in unhandled rejection
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30683 [Flight] do not emit error after abort
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30676 fix[react-devtools/InspectedElement]: fixed border stylings when some of the panels are not rendered
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContextTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementErrorsAndWarningsTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementPropsTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSharedStyles.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSourcePanel.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSourcePanel.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementStateTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementStyleXPlugin.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSuspenseToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
Labels: CLA Signed, React Core Team

#30692 Fix unstable_useContextWithBailout dispatcher assignment
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#30684 [DevTools] Support Server Components in Tree
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/frontend/types.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#30688 Move `react-html` to `react-markup`
  packages/react-client/src/forks/ReactFlightClientConfig.markup.js
  packages/react-html/npm/index.js
  packages/react-html/npm/react-html.react-server.js
  packages/react-markup/README.md
  packages/react-markup/index.js
  packages/react-markup/npm/index.js
  packages/react-markup/npm/react-markup.react-server.js
  packages/react-markup/package.json
  packages/react-markup/react-markup.react-server.js
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-markup/src/ReactMarkupClient.js
  packages/react-markup/src/ReactMarkupClient.stable.js
  packages/react-markup/src/ReactMarkupLegacyClientStreamConfig.js
  packages/react-markup/src/ReactMarkupServer.js
  packages/react-markup/src/ReactMarkupServer.stable.js
  packages/react-markup/src/__tests__/ReactMarkupClient-test.js
  packages/react-markup/src/__tests__/ReactMarkupServer-test.js
  packages/react-reconciler/src/forks/ReactFiberConfig.markup.js
  packages/react-server/src/forks/ReactFizzConfig.markup.js
  scripts/error-codes/codes.json
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#30689 Rename `renderToMarkup` to `renderToHTML`
  packages/react-client/src/forks/ReactFlightClientConfig.markup.js
  packages/react-markup/README.md
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-markup/src/ReactMarkupClient.js
  packages/react-markup/src/ReactMarkupServer.js
  packages/react-markup/src/__tests__/ReactMarkupClient-test.js
  packages/react-markup/src/__tests__/ReactMarkupServer-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#30681 [compiler] Support for useTransition
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/preserve-use-memo-transition.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/preserve-use-memo-transition.ts
Labels: CLA Signed

#30696 [DevTools] Hide props section if it is null
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementPropsTree.js
Labels: CLA Signed, React Core Team

#30690 Publish `experimental_renderToHTML`
  packages/react-markup/README.md
  packages/react-markup/package.json
  packages/react-markup/src/ReactMarkupClient.js
  packages/react-markup/src/ReactMarkupServer.js
  packages/react-markup/src/__tests__/ReactMarkupClient-test.js
  packages/react-markup/src/__tests__/ReactMarkupServer-test.js
Labels: CLA Signed, React Core Team

#30703 [Flight/DevTools] Pass the Server Component's "key" as Part of the ReactComponentInfo
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#30699 [compiler] Allow hoisting of destructured variable declarations
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoist-destruct.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoist-destruct.js
Labels: CLA Signed

#30719 [flow] Eliminate a few React.Element type that will be synced to react-native
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react/index.js
Labels: CLA Signed

#30722 [Fax] Make `react-markup` publishable via scripts
  ReactVersions.js
Labels: CLA Signed, React Core Team

#30705 [Flight][Static] Implement halting a prerender behind enableHalt
  packages/react-server-dom-esm/src/server/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/server/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/server/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/server/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerNode.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30717 [DevTools] Find owners from the parent path that matches the Fiber or ReactComponentInfo
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30730 [Fizz] handle throwing after abort during render
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30741 [Flight] Source Map Server Actions to their Server Location
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-server-dom-esm/src/ReactFlightESMReferences.js
  packages/react-server-dom-esm/src/server/ReactFlightServerConfigESMBundler.js
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackReferences.js
  packages/react-server-dom-turbopack/src/server/ReactFlightServerConfigTurbopackBundler.js
  packages/react-server-dom-webpack/src/ReactFlightWebpackReferences.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/server/ReactFlightServerConfigWebpackBundler.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightServerConfigBundlerCustom.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
Labels: CLA Signed, React Core Team

#30731 [Flight] model halted references explicitly
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30747 [Flight] Rename Chunk constructor to ReactPromise
  packages/react-client/src/ReactFlightClient.js
Labels: CLA Signed, React Core Team

#30746 [Flight] Emit Infinite Promise as a Halted Row
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30748 [Flight] Revert Emit Infinite Promise as a Halted Row (#30746)
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30740 [Flight] model halting as never delivered chunks
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-esm/src/server/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/server/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/server/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/server/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerNode.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30753 [flow] Remove CI_MAX_WORKERS option
  scripts/flow/config/flowconfig
  scripts/flow/createFlowConfigs.js
Labels: CLA Signed, React Core Team

#30751 [Fizz] track postpones when aborting boundaries with a postpone
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30750 [Flight] When halting omit any reference rather than refer to a shared missing chunk
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30757 Ensure `react-dom/client` is built in Codesandbox preview builds
  package.json
Labels: CLA Signed, React Core Team

#30732 [Fizz][Static] when aborting a prerender halt unfinished boundaries instead of erroring
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStatic-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticNode-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30760 Test infra: Support gate('enableFeatureFlag')
  scripts/babel/__tests__/transform-test-gate-pragma-test.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#30768 [Flight] use microtask for scheduling during prerenders
  packages/internal-test-utils/ReactInternalTestUtils.js
  packages/internal-test-utils/internalAct.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30756 Remove turbopack unbundled/register/loader
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node-turbopack-bundled.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-node-turbopack.js
  packages/react-server-dom-turbopack/client.node.unbundled.js
  packages/react-server-dom-turbopack/esm/package.json
  packages/react-server-dom-turbopack/esm/react-server-dom-turbopack-node-loader.production.js
  packages/react-server-dom-turbopack/node-register.js
  packages/react-server-dom-turbopack/npm/client.node.unbundled.js
  packages/react-server-dom-turbopack/npm/esm/package.json
  packages/react-server-dom-turbopack/npm/node-register.js
  packages/react-server-dom-turbopack/npm/server.node.unbundled.js
  packages/react-server-dom-turbopack/npm/static.node.unbundled.js
  packages/react-server-dom-turbopack/package.json
  packages/react-server-dom-turbopack/server.node.unbundled.js
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackNodeLoader.js
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackNodeRegister.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOM-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMBrowser-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMEdge-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMForm-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMNode-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMReply-test.js
  packages/react-server-dom-turbopack/src/__tests__/ReactFlightTurbopackDOMReplyEdge-test.js
  packages/react-server-dom-turbopack/src/__tests__/utils/TurbopackMock.js
  packages/react-server-dom-turbopack/src/server/react-flight-dom-server.node.unbundled.js
  packages/react-server-dom-turbopack/src/server/react-flight-dom-server.node.unbundled.stable.js
  packages/react-server-dom-turbopack/static.node.unbundled.js
  scripts/rollup/bundles.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#30770 [Fizz] use microtasks rather than tasks when scheduling work while prerendering
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30775 [ez] Add @noformat etc headers into some files
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#30779 [DevTools] Support REACT_LEGACY_ELEMENT_TYPE for formatting JSX
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#30761 Feature flag: enableSiblingPrerendering
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30771 [compiler] Environment option for resolving imported module types
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/TypeSchema.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-logical.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-logical.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls-mutable-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls-mutable-lambda.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-in-hook.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-in-hook.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-log-default-import.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-log-default-import.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-log.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-log.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-store-capture-namespace-import.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-store-capture-namespace-import.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-store-capture.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-store-capture.tsx
  compiler/packages/snap/src/compiler.ts
  compiler/packages/snap/src/constants.ts
  compiler/packages/snap/src/runner-worker.ts
  compiler/packages/snap/src/sprout/shared-runtime-type-provider.ts
  compiler/packages/snap/src/sprout/shared-runtime.ts
Labels: CLA Signed, React Core Team

#30783 [compiler] Repro of missing memoization due to capturing w/o mutation
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-missed-memoization-from-capture-in-invoked-function-inferred-as-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-missed-memoization-from-capture-in-invoked-function-inferred-as-mutation.js
Labels: CLA Signed, React Core Team

#30784 [compiler] Add returnIdentifier to function expressions
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/LowerContextAccess.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-named-function-with-shadowed-local-same-name.expect.md
Labels: CLA Signed, React Core Team

#30789 [compiler] Rename HIRFunction.returnType
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/LowerContextAccess.ts
Labels: CLA Signed, React Core Team

#30790 [compiler] Flatten returnIdentifier to just returnType
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/LowerContextAccess.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-named-function-with-shadowed-local-same-name.expect.md
Labels: CLA Signed, React Core Team

#30758 [Flight ESM] Wire up Source Maps in the flight-esm fixture
  fixtures/flight-esm/server/global.js
  fixtures/flight-esm/server/region.js
  fixtures/flight-esm/src/index.js
  fixtures/flight/src/index.js
Labels: CLA Signed, React Core Team

#30769 [DevTools] Make Functions Clickable to Jump to Definition
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.css
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#30778 [Flight] Preserve location of bound server actions
  packages/react-server-dom-esm/src/ReactFlightESMReferences.js
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackReferences.js
  packages/react-server-dom-webpack/src/ReactFlightWebpackReferences.js
Labels: CLA Signed, React Core Team

#30792 Revert "[compiler][eslint] remove compilationMode override; report bailouts on first line"
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
Labels: CLA Signed, React Core Team

#30759 Fix: Synchronous popstate transitions
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
Labels: CLA Signed, React Core Team

#30793 [compiler] Repros for missing memoization due to lack of phi type inference
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-missing-memoization-lack-of-phi-types.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-missing-memoization-lack-of-phi-types.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-missing-memoization-lack-of-phi-types-explicit-types.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-missing-memoization-lack-of-phi-types-explicit-types.js
Labels: CLA Signed, React Core Team

#30794 [compiler] Typedefs for Array.prototype.flatMap
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
Labels: CLA Signed, React Core Team

#30795 [compiler] Remove phi type, infer phi.id.type
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/SSA/EnterSSA.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/PropagatePhiTypes.ts
Labels: CLA Signed, React Core Team

#30786 [DevTools] Make function inspection instant
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-extensions/src/main/sourceSelection.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
Labels: CLA Signed, React Core Team

#30806 [ez] Remove trailing space from babel-refresh header
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#30798 [DevTools] Use Owner Stacks to Implement View Source of a Server Component
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#29210 Enable suspenseCallback on React Native
  packages/react-reconciler/src/__tests__/ReactSuspenseCallback-test.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
Labels: CLA Signed

#30817 [DevTools] Track Tree Base Duration of Virtual Instances
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.js
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarSelectedFiberInfo.js
Labels: CLA Signed, React Core Team

#30818 [DevTools] Remove findCurrentFiberUsingSlowPathByFiberInstance
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30822 [DevTools] Reconcile Fibers Against Previous Children Instances
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30419 Spawn new task if we hit stack overflow
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30838 [compiler] Enable optional dependencies by default
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-with-optional-property-load.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.useMemo-infer-less-specific-conditional-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/conditional-member-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/memberexpr-join-optional-chain.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/memberexpr-join-optional-chain2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-scope-missing-mutable-range.expect.md
Labels: CLA Signed, React Core Team

#30840 [compiler] Inferred deps must match exact optionality of manual deps
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-optional-member-expression-as-memo-dep-non-optional-in-body.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-optional-member-expression-as-memo-dep-non-optional-in-body.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-member-expression-as-memo-dep-non-optional-in-body.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-member-expression-single-with-unconditional.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-member-expression-single-with-unconditional.js
Labels: CLA Signed, React Core Team

#30824 feat[react-devtools]: support Manifest v3 for Firefox extension
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-extensions/src/background/dynamicallyInjectContentScripts.js
  packages/react-devtools-extensions/src/background/executeScript.js
  packages/react-devtools-extensions/src/background/setExtensionIconAndPopup.js
  packages/react-devtools-extensions/src/background/tabsManager.js
  packages/react-devtools-extensions/src/contentScripts/prepareInjection.js
  packages/react-devtools-shared/babel.config.js
Labels: CLA Signed, React Core Team

#30825 fix[react-devtools/extensions]: fixed tabs API calls and displaying restricted access popup
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-extensions/src/background/tabsManager.js
  packages/react-devtools-extensions/src/main/registerEventsLogger.js
Labels: CLA Signed, React Core Team

#30826 chore[react-devtools/extensions]: remove unused storage permission
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
Labels: CLA Signed, React Core Team

#30827 chore[react-devtools/hook]: remove unused native values
  packages/react-devtools-extensions/src/contentScripts/installHook.js
Labels: CLA Signed, React Core Team

#30841 [DevTools] Remove displayName from inspected data
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
Labels: CLA Signed, React Core Team

#30802 [DevTools] Track virtual instances on the tracked path for selections
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30839 [DevTools] Filter Server Components
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30848 [DevTools] Increase max payload for websocket in standalone app
  packages/react-devtools-core/src/standalone.js
Labels: CLA Signed

#30837 fix[react-devtools/ReactDebugHooks]: support unstable prefixes in hooks and useContextWithBailout
  packages/react-debug-tools/src/ReactDebugHooks.js
Labels: CLA Signed, React Core Team

#30847 [Flight] Ship DEV-only enableServerComponentLogs flag in Stable/Canary
  packages/shared/ReactFeatureFlags.js
Labels: CLA Signed, React Core Team
