Repository facebook/react, pull requests merged in 2024-04, with the labels that each got.

#28693 Clean up console.log tests
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react/src/__tests__/ReactStrictMode-test.js
Labels: CLA Signed, React Core Team

#28692 [ESLint] Update README links to react.dev
  packages/eslint-plugin-react-hooks/README.md
Labels: CLA Signed

#28679 Clarify RTR native feature flags are fb specific
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#28696 Land useModernStrictMode in www
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28695 Convert deprecated stalebot to github action
  .github/stale.yml
  .github/workflows/stale.yml
Labels: CLA Signed, React Core Team

#28708 [tests] Disallow unasserted console.log
  scripts/jest/matchers/__tests__/toWarnDev-test.js
  scripts/jest/matchers/toWarnDev.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#28698 [be] Remove unshipped experimental <Cache> element type
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shell/src/app/ElementTypes/index.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ReactCacheElement-test.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/ReactClient.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactSymbols.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/getComponentNameFromType.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#28712 Cleanup enableNewBooleanProps
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
Labels: CLA Signed, React Core Team

#28715 Remove reference to deleted <Cache> in un-linted file
  packages/react-devtools-shell/src/app/ElementTypes/index.js
Labels: CLA Signed, React Core Team

#28701 Hardcode enableLegacyFBSupport flag
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28705 Update RTR readme
  packages/react-test-renderer/README.md
Labels: CLA Signed, React Core Team, React 19

#28716 Differentiate null and undefined in Custom Elements - removing sets to undefined
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
Labels: CLA Signed, React Core Team, React 19

#28706 [be] Remove unused, experimental getCacheSignal API
  packages/react-reconciler/src/ReactFiberCache.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzCache.js
  packages/react-server/src/flight/ReactFlightServerCache.js
  packages/react-suspense-test-utils/src/ReactSuspenseTestUtils.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactFetch.js
  packages/react/src/ReactHooks.js
  packages/react/src/ReactServer.experimental.js
Labels: CLA Signed, React Core Team

#28662 Make ART Concurrent if Legacy Mode is disabled
  packages/react-art/src/ReactART.js
  packages/react-art/src/__tests__/ReactART-test.js
Labels: CLA Signed, React Core Team

#28681 Reland #28672: Remove IndeterminateComponent
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactWorkTags.js
  packages/react-reconciler/src/__tests__/ReactSubtreeFlagsWarning-test.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#28657 Use the disableLegacyMode where ever we check the ConcurrentMode mode
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/__tests__/ReactNativeError-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeEvents-test.internal.js
  packages/react-native-renderer/src/__tests__/ReactNativeMount-test.internal.js
  packages/react-native-renderer/src/__tests__/__snapshots__/ReactNativeEvents-test.internal.js.snap
  packages/react-native-renderer/src/__tests__/__snapshots__/ReactNativeMount-test.internal.js.snap
  packages/react-native-renderer/src/__tests__/createReactNativeComponentClass-test.internal.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/Activity-test.js
  packages/react-reconciler/src/__tests__/DebugTracing-test.internal.js
  packages/react-reconciler/src/__tests__/ReactContextPropagation-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIsomorphicAct-test.js
  packages/react-reconciler/src/__tests__/ReactSubtreeFlagsWarning-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseEffectsSemantics-test.js
  packages/react-reconciler/src/__tests__/ReactSuspenseFuzz-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseList-test.js
  packages/react-reconciler/src/__tests__/ReactSuspensePlaceholder-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/StrictEffectsMode-test.js
  packages/react-reconciler/src/__tests__/StrictEffectsModeDefaults-test.internal.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react/src/ReactAct.js
Labels: CLA Signed, React Core Team

#28656 Move ReactDOMLegacy implementation into RootFB
  packages/react-devtools-shell/src/app/index.js
  packages/react-devtools-shell/src/e2e-regression/app-legacy.js
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.js
  packages/react-dom/index.stable.js
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-dom/src/__tests__/ReactDeprecationWarnings-test.js
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/__tests__/findDOMNodeFB-test.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMLegacy.js
  packages/react-dom/src/client/ReactDOMRootFB.js
  packages/react-dom/unstable_testing.js
  packages/react-dom/unstable_testing.stable.js
  packages/react-reconciler/src/__tests__/ReactScope-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28719 Fix: Class components should "consume" ref prop
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberLazyComponent.js
  packages/react-reconciler/src/__tests__/ReactClassComponentPropResolution-test.js
  packages/react/src/__tests__/ReactCreateElement-test.js
  packages/react/src/__tests__/ReactJSXRuntime-test.js
Labels: CLA Signed, React Core Team

#28647 Enable feature flags for v19
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
Labels: CLA Signed, React Core Team, React 19

#28724 [FB] use modern entrypoint in tests
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react/index.modern.fb.js
  scripts/jest/setupHostConfigs.js
Labels: CLA Signed, React Core Team

#28720 Remove @providesModule remnants
  .circleci/config.yml
  scripts/circleci/check_modules.sh
  scripts/rollup/wrappers.js
Labels: CLA Signed, React Core Team

#28711 Cleanup enableBigIntSupport flag
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactDOMOption.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/client/ToStringValue.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/escapeTextForBrowser.js
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMInput-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationBasic-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationInput-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationTextarea-test.js
  packages/react-dom/src/__tests__/ReactDOMTextarea-test.js
  packages/react-dom/src/__tests__/ReactMultiChildText-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/__tests__/ReactTopLevelText-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/ReactChildren.js
  packages/react/src/__tests__/ReactChildren-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28731 Classes consume ref prop during SSR, too
  packages/react-dom/src/__tests__/ReactClassComponentPropResolutionFizz-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#28699 Cleanup enableUseRefAccessWarning flag
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/__tests__/useRef-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreNative-test.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
Labels: CLA Signed, React Core Team

#28738 Emit Server Error Prefix in the .stack Property Too
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#28736 Use a Wrapper Error for onRecoverableError with a "cause" Field for the real Error
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzShellHydration-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzSuppressHydrationWarning-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-reconciler/src/ReactCapturedValue.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  scripts/error-codes/__tests__/__snapshots__/transform-error-messages.js.snap
  scripts/error-codes/__tests__/transform-error-messages.js
  scripts/error-codes/codes.json
  scripts/error-codes/transform-error-messages.js
Labels: CLA Signed, React Core Team

#28729 Enable stale action
  .github/workflows/stale.yml
Labels: CLA Signed, React Core Team

#28733 Remove defaultProps support (except for classes)
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDeprecationWarnings-test.js
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberLazyComponent.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/ReactLazy.js
  packages/react/src/__tests__/ReactElementClone-test.js
  packages/react/src/__tests__/forwardRef-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28739 Remove _owner field from JSX elements in prod if string refs are disabled
  packages/jest-react/src/JestReact.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react/src/__tests__/ReactCreateElement-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactElementType.js
Labels: CLA Signed, React Core Team

#28473 Move string ref coercion to JSX runtime
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationRefs-test.js
  packages/react-dom/src/__tests__/ReactDeprecationWarnings-test.js
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-dom/src/__tests__/multiple-copies-of-react-test.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.js
  packages/react/src/__tests__/ReactCoffeeScriptClass-test.coffee
  packages/react/src/__tests__/ReactES6Class-test.js
  packages/react/src/__tests__/ReactElementClone-test.js
  packages/react/src/__tests__/ReactStrictMode-test.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28753 Track Owner for Server Components in DEV
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-devtools-shared/src/__tests__/componentStacks-test.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-native-renderer/src/ReactNativeFiberInspector.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFlightHooks.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/__tests__/ReactFetch-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactComponentStackFrame.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#28766 Make class prop resolution faster
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#28768 Fast JSX: Don't clone props object
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28754 [Flight] Support FormData from Server to Client
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#27507 docs: fix typo in fixtures/nesting/README.md
  fixtures/nesting/README.md
Labels: CLA Signed, Resolution: Stale

#28778 Add Promise as a child test to Flight fixture
  fixtures/flight/__tests__/__e2e__/smoke.test.js
  fixtures/flight/src/App.js
Labels: CLA Signed, React Core Team

#28775 jsx: Remove unnecessary hasOwnProperty check
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28751 [Fiber] Move updatePriority tracking to renderers
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactDOMUpdatePriority.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/ReactDOMEventListener.js
  packages/react-dom-bindings/src/events/ReactDOMEventReplaying.js
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactEventPriorities.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassUpdateQueue.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactReconcilerConstants.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#28500 [DOM] move `flushSync` out of the reconciler
  packages/react-art/src/ReactART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/ReactDOMUpdateBatching.js
  packages/react-dom-bindings/src/server/ReactDOMFlightServerHostDispatcher.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/client/ReactDOMRootFB.js
  packages/react-dom/src/shared/ReactDOMFlushSync.js
  packages/react-dom/src/shared/ReactDOMTypes.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberHotReloading.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react/src/ReactCurrentBatchConfig.js
  scripts/error-codes/codes.json
Labels: CLA Signed

#28730 feat[devtools]: ship source maps for content scripts and ignore list installHook script
  packages/react-devtools-extensions/package.json
  packages/react-devtools-extensions/src/__tests__/ignoreList-test.js
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-shared/SourceMapIgnoreListPlugin.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28782 [TestUtils] Build limited test-utils
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/__tests__/__snapshots__/ReactTestUtils-test.js.snap
  packages/react-dom/src/test-utils/ReactTestUtils.js
  packages/react-dom/src/test-utils/ReactTestUtilsFB.js
  packages/react-dom/test-utils.fb.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#28780 [Flight] Allow lazily resolving outlined models
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#28770 [DOM] Shrink ReactDOMCurrentDispatcher method names
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/ReactDOMFlightServerHostDispatcher.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/ReactFlightClientConfigDOM.js
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-dom/src/ReactDOMSharedInternalsFB.js
  packages/react-dom/src/shared/ReactDOMFloat.js
  packages/react-dom/src/shared/ReactDOMFlushSync.js
  packages/react-dom/src/shared/ReactDOMTypes.js
Labels: CLA Signed, React Core Team

#28765 [Fiber] Use real event priority for hydration scheduling
  packages/react-dom-bindings/src/events/ReactDOMEventReplaying.js
Labels: CLA Signed, React Core Team

#27345 Add support for transition{run,start,cancel} events
  packages/react-dom-bindings/src/events/DOMEventNames.js
  packages/react-dom-bindings/src/events/DOMEventProperties.js
  packages/react-dom-bindings/src/events/getVendorPrefixedEventName.js
  packages/react-dom/src/__tests__/ReactDOMEventPropagation-test.js
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/test-utils/ReactTestUtilsFB.js
Labels: CLA Signed

#26760 [Float] treat `props.async` in Float consistent with the rest of react-dom
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#28784 [DOM] disallow client entrypoints with react-server condition
  packages/react-dom/npm/client.react-server.js
  packages/react-dom/npm/profiling.react-server.js
  packages/react-dom/npm/server.react-server.js
  packages/react-dom/npm/static.react-server.js
  packages/react-dom/npm/unstable_testing.react-server.js
  packages/react-dom/package.json
Labels: CLA Signed, React Core Team

#28785 [DOM] Fix package.json files for #28784
  packages/react-dom/package.json
Labels: CLA Signed, React Core Team

#28786 Rename The Secret Export of Server Internals
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/__tests__/ReactCache-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server/src/ReactSharedInternalsServer.js
  packages/react/src/ReactServer.experimental.js
  packages/react/src/ReactServer.js
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#28788 Soften useFormState warning
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#28769 Run stale job hourly
  .github/workflows/stale.yml
Labels: CLA Signed, React Core Team

#28774 CI: Run with Node.js 18.20
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#28789 Rename SECRET INTERNALS to `__CLIENT_INTERNALS_DO_NOT_USE_OR_WARN_USERS_THEY_CANNOT_UPGRADE`
  fixtures/dom/public/act-dom.html
  packages/react-cache/src/ReactCacheOld.js
  packages/react-devtools-shared/src/__tests__/legacy/editing-test.js
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-devtools-shared/src/__tests__/legacy/storeLegacy-v15-test.js
  packages/react-devtools-shared/src/devtools/cache.js
  packages/react-dom/client.js
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.experimental.js
  packages/react-dom/index.js
  packages/react-dom/index.modern.fb.js
  packages/react-dom/index.stable.js
  packages/react-dom/npm/client.js
  packages/react-dom/server-rendering-stub.js
  packages/react-dom/src/ReactDOMServer.js
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMEventListener-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationNewContext-test.js
  packages/react-dom/src/__tests__/ReactDOMSuspensePlaceholder-test.js
  packages/react-dom/src/__tests__/ReactEmptyComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/__tests__/react-dom-server-rendering-stub-test.js
  packages/react-dom/src/test-utils/ReactTestUtilsFB.js
  packages/react-dom/unstable_testing.classic.fb.js
  packages/react-dom/unstable_testing.experimental.js
  packages/react-dom/unstable_testing.modern.fb.js
  packages/react-dom/unstable_testing.stable.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-server/src/ReactSharedInternalsServer.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/index.stable.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactServer.experimental.js
  packages/react/src/ReactServer.js
  packages/scheduler/npm/umd/scheduler.development.js
  packages/scheduler/npm/umd/scheduler.production.min.js
  packages/scheduler/npm/umd/scheduler.profiling.min.js
  packages/shared/ReactDOMSharedInternals.js
  packages/shared/ReactSharedInternals.js
  packages/shared/forks/Scheduler.umd.js
  packages/shared/forks/consoleWithStackDev.www.js
  scripts/rollup/shims/facebook-www/ReactBrowserEventEmitter_DO_NOT_USE.js
Labels: CLA Signed, React Core Team

#28795 [DOM] Infer react-server entries bundles if not explicitly configured
  packages/react-dom/src/ReactDOMSharedInternals.js
  scripts/rollup/packaging.js
Labels: CLA Signed, React Core Team

#28794 [Tests][Fizz] Test script runtime even when external runtime is available
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  scripts/jest/TestFlags.js
Labels: CLA Signed, React Core Team

#28796 [Fizz] Stop publishing external-runtime to stable channel
  packages/shared/ReactFeatureFlags.js
  scripts/rollup/bundles.js
  scripts/rollup/packaging.js
Labels: CLA Signed, React Core Team

#28797 Fix cloneElement using string ref w no owner
  packages/react/src/__tests__/ReactElementClone-test.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28801 Attempt to fix diff syncing for Meta
  .github/workflows/commit_artifacts.yml
Labels: CLA Signed, React Core Team

#28781 Warn if outdated JSX transform is detected
  packages/react-dom/src/__tests__/ReactDeprecationWarnings-test.js
  packages/react/src/__tests__/ReactCreateElement-test.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28758 [tests] assertLog before act in ReactCompositeComponentState
  packages/react-dom/src/__tests__/ReactCompositeComponentState-test.js
Labels: CLA Signed, React Core Team

#28759 [tests] assertLog before act in ReactDOMServerSelectiveHydration
  packages/react-dom/src/__tests__/ReactDOMServerSelectiveHydration-test.internal.js
Labels: CLA Signed, React Core Team

#28760 [tests] assertLog before act in ReactUpdates
  packages/react-dom/src/__tests__/ReactUpdates-test.js
Labels: CLA Signed, React Core Team

#28761 [tests] assertLog before act in ReactErrorBoundaries
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
Labels: CLA Signed, React Core Team

#28811 Hardcode disableIEWorkarounds for www
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#28812 Remove Scheduler.log from ReactSuspenseFuzz-test
  packages/react-reconciler/src/__tests__/ReactSuspenseFuzz-test.internal.js
Labels: CLA Signed, React Core Team

#28799 Removes the react-interactions project which is unused
  packages/react-interactions/README.md
  packages/react-interactions/events/focus.js
  packages/react-interactions/events/src/dom/create-event-handle/Focus.js
  packages/react-interactions/events/src/dom/create-event-handle/__tests__/useFocus-test.internal.js
  packages/react-interactions/events/src/dom/create-event-handle/__tests__/useFocusWithin-test.internal.js
  packages/react-interactions/events/src/dom/create-event-handle/useEvent.js
  packages/react-interactions/npm/drag.js
  packages/react-interactions/npm/focus.js
  packages/react-interactions/npm/hover.js
  packages/react-interactions/npm/input.js
  packages/react-interactions/npm/press-legacy.js
  packages/react-interactions/npm/press.js
  packages/react-interactions/npm/scroll.js
  packages/react-interactions/npm/swipe.js
  packages/react-interactions/npm/tap.js
  packages/react-interactions/package.json
Labels: CLA Signed, React Core Team

#28814 [tests] add assertLog for legacy mode tests
  packages/react-dom/src/__tests__/ReactDOMSuspensePlaceholder-test.js
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
Labels: CLA Signed, React Core Team

#28737 [tests] Assert scheduler log empty in internalAct
  packages/internal-test-utils/internalAct.js
  scripts/flow/environment.js
Labels: CLA Signed, React Core Team

#28815 [Float] Don't preload images inside `<noscript>`
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
Labels: CLA Signed, React Core Team

#28804 Automatically reset forms after action finishes
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#28808 Scaffolding for requestFormReset API
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/ReactDOMFlightServerHostDispatcher.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/ReactDOMFormActions.js
  packages/react-dom/index.classic.fb.js
  packages/react-dom/index.experimental.js
  packages/react-dom/index.js
  packages/react-dom/index.modern.fb.js
  packages/react-dom/index.stable.js
  packages/react-dom/src/ReactDOMSharedInternals.js
  packages/react-dom/src/ReactDOMSharedInternalsFB.js
  packages/react-dom/src/client/ReactDOM.js
  packages/react-dom/src/client/ReactDOMFB.js
  packages/react-dom/src/shared/ReactDOMTypes.js
  packages/react-reconciler/src/ReactFiberHooks.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28809 ReactDOM.requestFormReset
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#28732 [tests] add `assertConsole<method>Dev` helpers
  packages/internal-test-utils/ReactInternalTestUtils.js
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
  packages/internal-test-utils/internalAct.js
  packages/jest-react/src/JestReact.js
  scripts/jest/matchers/reactTestMatchers.js
Labels: CLA Signed, React Core Team

#28824 Fix nightly release job
  scripts/release/publish-commands/publish-to-npm.js
Labels: CLA Signed, React Core Team

#28825 Fix nightly release job for real
  scripts/release/publish-commands/publish-to-npm.js
Labels: CLA Signed, React Core Team

#28826 Backwards compatibility for string refs on WWW
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28593 DevTools: Rely on sourcemaps to compute hook name of built-in hooks in newer versions
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.js
Labels: CLA Signed, React Core Team, React 19

#28802 [Fizz] hoistables should never flush before the preamble
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#28553 feat[devtools]: add package for fusebox integration
  .gitignore
  packages/react-devtools-fusebox/README.md
  packages/react-devtools-fusebox/package.json
  packages/react-devtools-fusebox/src/frontend.js
  packages/react-devtools-fusebox/webpack.config.frontend.js
  packages/react-devtools-shared/buildUtils.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28832 feat[devtools-fusebox]: support theme option
  packages/react-devtools-fusebox/src/frontend.js
Labels: CLA Signed, React Core Team

#28828 Remove `flight-browser` fixture
  fixtures/flight-browser/index.html
Labels: CLA Signed, React Core Team

#28835 Fix mistaken "react-server" condition
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#28829 Remove redundant props assign
  packages/react-reconciler/src/ReactFiberClassComponent.js
Labels: CLA Signed, React Core Team

#28793 Use use() in the Cache if available
  packages/react-devtools-shared/src/devtools/cache.js
Labels: CLA Signed, React Core Team

#28831 [Devtools] Look for a ReactMemoCacheSentinel on state
  packages/react-devtools-shared/src/backend/ReactSymbols.js
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed, React Core Team

#28840 React DevTools 5.0.2 -> 5.1.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#28836 Add on(Caught|Uncaught|Recoverable) opts to RN
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
Labels: CLA Signed, React Core Team

#28844 Delete AUTHORS.md
  AUTHORS
  scripts/authors
Labels: CLA Signed, React Core Team

#28819 [Flight Reply] Encode Typed Arrays and Blobs
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReplyEdge-test.js
  packages/react-server/src/ReactFlightReplyServer.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#28413 Devtools: Add support for useFormStatus
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspection-test.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegrationDOM-test.js
  packages/react-devtools-shell/src/app/InspectableElements/CustomHooks.js
Labels: CLA Signed, React Core Team, React 19

#28846 Enable flag disableClientCache
  packages/shared/ReactFeatureFlags.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#28818 Move enableUseDeferredValueInitialArg to canary
  packages/shared/ReactFeatureFlags.js
Labels: CLA Signed, React Core Team

#28847 [Flight] Encode ReadableStream and AsyncIterables
  .eslintrc.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReplyEdge-test.js
  packages/react-server/src/ReactFizzThenable.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightThenable.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28850 Add ReactNativeTypes for root options
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed, React Core Team

#28851 Promote ASYNC_ITERATOR symbol to React Symbols
  packages/react-client/src/ReactFlightClient.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactSymbols.js
Labels: CLA Signed, React Core Team

#28852 Test top level fragment inside lazy semantics
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/__tests__/ReactFragment-test.js
Labels: CLA Signed, React Core Team

#28855 console test utils fix: match entire string, not just first letter
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
Labels: CLA Signed, React Core Team

#28856 Complete the typo fix
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
Labels: CLA Signed, React Core Team

#28735 [UMD] Remove umd builds
  .eslintrc.js
  fixtures/dom/README.md
  fixtures/dom/package.json
  fixtures/dom/src/index.js
  fixtures/dom/src/react-loader.js
  fixtures/fiber-triangle/index.html
  fixtures/fizz-ssr-browser/index.html
  fixtures/stacks/BabelClasses-compiled.js
  fixtures/stacks/BabelClasses-compiled.js.map
  fixtures/stacks/BabelClasses.js
  fixtures/stacks/Components.js
  fixtures/stacks/Example.js
  fixtures/stacks/index.html
  fixtures/stacks/package.json
  fixtures/stacks/yarn.lock
  netlify.toml
  package.json
  packages/react-art/package.json
  packages/react-cache/package.json
  packages/react-dom/client.js
  packages/react-dom/package.json
  packages/react-dom/src/client/ReactDOM.js
  packages/react-is/package.json
  packages/react-refresh/package.json
  packages/react-server-dom-turbopack/package.json
  packages/react-server-dom-webpack/package.json
  packages/react-test-renderer/package.json
  packages/react/package.json
  packages/react/src/forks/ReactSharedInternalsClient.umd.js
  packages/scheduler/package.json
  packages/scheduler/src/__tests__/SchedulerUMDBundle-test.internal.js
  packages/shared/forks/Scheduler.umd.js
  scripts/flow/environment.js
  scripts/jest/setupEnvironment.js
  scripts/rollup/build.js
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/rollup/modules.js
  scripts/rollup/packaging.js
  scripts/rollup/validate/eslintrc.umd.js
  scripts/rollup/validate/index.js
  scripts/rollup/wrappers.js
Labels: CLA Signed, React Core Team

#28857 Update ReactNativeTypes for root options (part 2)
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed, React Core Team

#27800 convert circleci workflow devtools_regression_tests to github actions
  .github/workflows/devtools_regression_tests.yml
Labels: CLA Signed

#28865 Revert "convert circleci workflow devtools_regression_tests to github actions"
  .github/workflows/devtools_regression_tests.yml
Labels: CLA Signed

#28859 delete useless eslint-disable-next-line
  packages/react-reconciler/src/ReactFiberCompleteWork.js
Labels: CLA Signed

#28842 Add early return to diffProperties
  packages/react-native-renderer/src/ReactNativeAttributePayload.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#28867 Support writing to this.refs from userspace
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactFiberRefs-test.js
  packages/react/src/ReactBaseClasses.js
Labels: CLA Signed, React Core Team

#28869 Write Diff Train import branch to this repo
  .github/workflows/commit_artifacts.yml
Labels: CLA Signed

#28864 Remove ReactFlightFB bundles
  packages/react-client/src/forks/ReactFlightClientConfig.dom-fb-experimental.js
  packages/react-server-dom-fb/src/ReactFlightClientConfigFBBundler.js
  packages/react-server-dom-fb/src/ReactFlightDOMClientFB.js
  packages/react-server-dom-fb/src/ReactFlightDOMServerFB.js
  packages/react-server-dom-fb/src/ReactFlightReferencesFB.js
  packages/react-server-dom-fb/src/ReactFlightServerConfigFBBundler.js
  packages/react-server-dom-fb/src/__tests__/ReactFlightDOMServerFB-test.internal.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-fb-experimental.js
  packages/react/src/ReactServerFB.js
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#28858 [Devtools] Rename Forget badge
  packages/react-devtools-shared/src/devtools/constants.js
  packages/react-devtools-shared/src/devtools/views/Components/Badge.css
  packages/react-devtools-shared/src/devtools/views/Components/Element.css
  packages/react-devtools-shared/src/devtools/views/Components/ForgetBadge.css
  packages/react-devtools-shared/src/devtools/views/Components/ForgetBadge.js
Labels: CLA Signed

#28860 Add missing bundle types for ReactCacheOld
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#28870 [Fizz] escape <style> textContent as css
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Labels: CLA Signed, React Core Team

#28871 [Fizz] escape <script> textContent similar to bootstrapScript
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Labels: CLA Signed, React Core Team

#28872 Deprecate `renderToStaticNodeStream`
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/server/ReactDOMLegacyServerNodeStream.js
Labels: CLA Signed, React Core Team

#28873 Remove `renderToStaticNodeStream`
  packages/react-dom/npm/server.browser.js
  packages/react-dom/npm/server.bun.js
  packages/react-dom/npm/server.edge.js
  packages/react-dom/npm/server.node.js
  packages/react-dom/server.browser.js
  packages/react-dom/server.bun.js
  packages/react-dom/server.edge.js
  packages/react-dom/server.node.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationNewContext-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/server/ReactDOMFizzServerBun.js
  packages/react-dom/src/server/ReactDOMLegacyServerBrowser.js
  packages/react-dom/src/server/ReactDOMLegacyServerNode.js
  packages/react-dom/src/server/ReactDOMLegacyServerNodeStream.js
  packages/react-dom/src/server/react-dom-server.bun.stable.js
Labels: CLA Signed, React Core Team

#28874 Deprecate `renderToStaticNodeStream` (#28872)
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/server/ReactDOMLegacyServerNodeStream.js
Labels: CLA Signed, React Core Team

#28877 Revert "Support writing to this.refs from userspace"
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactFiberRefs-test.js
  packages/react/src/ReactBaseClasses.js
Labels: CLA Signed, React Core Team

#28827 Run Closure on non-minified prod builds, too
  package.json
  scripts/rollup/build.js
  scripts/rollup/plugins/closure-plugin.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28880 Build react-reconciler for FB builds
  scripts/rollup/bundles.js
  scripts/rollup/wrappers.js
Labels: CLA Signed, React Core Team

#28878 [Experiment] Reuse memo cache after interruption
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/__tests__/useMemoCache-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28853 Warn for Child Iterator of all types but allow Generator Components
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactMultiChild-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28854 [Flight / Flight Reply] Encode Iterator separately from Iterable
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server/src/ReactFlightReplyServer.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team, React 19

#28849 [Flight] Support (Async) Generator ServerComponent
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#28883 Remove warning for ref cleanup function
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#28813 Rename the react.element symbol to react.transitional.element
  packages/react-devtools-shared/src/__tests__/legacy/inspectElement-test.js
  packages/react-devtools-shared/src/backend/ReactSymbols.js
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactSymbols.js
  packages/shared/__tests__/ReactSymbols-test.internal.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28891 Cleanup `replayFailedUnitOfWorkWithInvokeGuardedCallback`and `enableProfilerNestedUpdateScheduledHook`
  packages/react/src/__tests__/ReactProfilerComponent-test.internal.js
Labels: CLA Signed, React Core Team

#28773 eslint-plugin-react-hooks: Add support for ESLint v9
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/__tests__/ESLintRulesOfHooks-test.js
  packages/eslint-plugin-react-hooks/package.json
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28899 Create short link for jsx warning
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28904 warn -> error for Test Renderer deprecation
  packages/internal-test-utils/shouldIgnoreConsoleError.js
  packages/internal-test-utils/shouldIgnoreConsoleWarn.js
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-devtools-shell/src/app/index.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
Labels: CLA Signed, React Core Team

#28750 Add descriptions of new methods to the react-reconciler readme
  packages/react-reconciler/README.md
Labels: CLA Signed, React Core Team, React 19

#28911 Go back to shared refs instance object
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactFiberRefs-test.js
  packages/react/src/ReactBaseClasses.js
Labels: CLA Signed, React Core Team, React 19

#28905 Update canary channel label to "beta"
  .circleci/config.yml
  ReactVersions.js
Labels: CLA Signed, React Core Team

#28912 (Land #28798) Move Current Owner (and Cache) to an Async Dispatcher
  packages/react-dom/src/__tests__/ReactCompositeComponent-test.js
  packages/react-dom/src/client/ReactDOMRootFB.js
  packages/react-native-renderer/src/ReactNativePublicCompat.js
  packages/react-reconciler/src/ReactFiberAsyncDispatcher.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCurrentOwner.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzAsyncDispatcher.js
  packages/react-server/src/ReactFizzCache.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/flight/ReactFlightAsyncDispatcher.js
  packages/react-server/src/flight/ReactFlightServerCache.js
  packages/react-suspense-test-utils/src/ReactSuspenseTestUtils.js
  packages/react/src/ReactCacheImpl.js
  packages/react/src/ReactHooks.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactSharedInternalsServer.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed, React Core Team

#28929 Add changelog for 18.3
  CHANGELOG.md
Labels: CLA Signed, React Core Team

#28921 fix: add `react-server` condition for `react/jsx-dev-runtime`
  packages/react/jsx-dev-runtime.react-server.js
  packages/react/npm/jsx-dev-runtime.react-server.js
  packages/react/package.json
  scripts/rollup/bundles.js
Labels: CLA Signed

#28939 Import correct prod version of jsx-dev-runtime for react-server
  packages/react/npm/jsx-dev-runtime.react-server.js
Labels: CLA Signed, React Core Team

#28955 [react-native] Add unit test to ReactNativeAttributePayload
  packages/react-native-renderer/src/__tests__/ReactNativeAttributePayload-test.internal.js
Labels: CLA Signed

#28954 Move useMemoCache hook to react/compiler-runtime
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-shell/src/app/InspectableElements/UseMemoCache.js
  packages/react-reconciler/src/__tests__/useMemoCache-test.js
  packages/react/compiler-runtime.js
  packages/react/index.classic.fb.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/index.modern.fb.js
  packages/react/npm/compiler-runtime.js
  packages/react/package.json
  packages/react/src/ReactClient.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team
