Repository facebook/react, pull requests merged in 2024-05, with the labels that each got.

#28056 ReactDOM: Fix missing form data when the submitter is outside the form
  packages/react-dom-bindings/src/events/plugins/FormActionEventPlugin.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
Labels: CLA Signed, React 19

#28969 Introduce a faster version of the addProperties function
  packages/react-native-renderer/src/ReactNativeAttributePayload.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#28975 Devtools: Streamline getting extension from branch
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#28976 Devtools: Fix build-for-devtools
  package.json
  packages/react-devtools-extensions/webpack.backend.js
Labels: CLA Signed, React Core Team

#28974 DevTools: Fix inspecting components with multiple reads of the same Context in React 17
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
Labels: CLA Signed, React Core Team

#28977 Enable Wave 1 of Feature Flags for React Native
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Labels: CLA Signed

#28816 Add flag to test fast jsx
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#28970 [DevTools] Check in `frontend.d.ts` for react-devtools-fusebox, include in build output
  .eslintignore
  .prettierignore
  .prettierrc.js
  packages/react-devtools-fusebox/package.json
  packages/react-devtools-fusebox/src/frontend.d.ts
  scripts/shared/pathsByLanguageVersion.js
Labels: CLA Signed, Component: Developer Tools

#28963 Stop committing resources to an external repo
  .github/workflows/commit_artifacts.yml
Labels: CLA Signed

#28978 Bundle config: inline internal hook wrapper
  scripts/rollup/wrappers.js
  scripts/rollup/wrappers/registerInternalModuleBegin.js
  scripts/rollup/wrappers/registerInternalModuleEnd.js
Labels: CLA Signed, React Core Team

#28807 [Flight] Track Owner on AsyncLocalStorage When Available
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/flight/ReactFlightAsyncDispatcher.js
  packages/react-server/src/flight/ReactFlightCurrentOwner.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-bun.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node.js
Labels: CLA Signed, React Core Team

#28887 Use undici polyfill for tests in old Node versions
  package.json
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReplyEdge-test.js
  yarn.lock
Labels: CLA Signed, React Core Team

#28893 [Flight Reply] Encode ReadableStream and AsyncIterables
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReplyEdge-test.js
  packages/react-server/src/ReactFlightReplyServer.js
Labels: CLA Signed, React Core Team

#28989 Update `compiled-rn` destination paths to `vendor/react`
  .github/workflows/commit_artifacts.yml
Labels: CLA Signed

#29003 Add FB build for ReactReconcilerConstants
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#28990 Setup Wave 2 of Feature Flags for React Native
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Labels: CLA Signed

#28964 Set enableUseMemoCacheHook to true everywhere
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
Labels: CLA Signed, React Core Team, React 19

#28973 [DevTools] Expose "view source" options to Fusebox integration
  packages/react-devtools-fusebox/src/frontend.d.ts
  packages/react-devtools-fusebox/src/frontend.js
Labels: CLA Signed

#29006 Allow specifying timeout in tests via third argument
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#28982 fix[react-devtools]: add backwards compat with legacy element type symbol
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#29014 feat[react-devtools]: display forget badge for components in profiling session
  packages/react-devtools-shared/src/__tests__/profilingCharts-test.js
  packages/react-devtools-shared/src/devtools/ProfilerStore.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementBadges.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementBadges.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitTreeBuilder.js
  packages/react-devtools-shared/src/devtools/views/Profiler/FlamegraphChartBuilder.js
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.css
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.js
  packages/react-devtools-shared/src/devtools/views/Profiler/RankedChartBuilder.js
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarSelectedFiberInfo.css
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarSelectedFiberInfo.js
  packages/react-devtools-shared/src/devtools/views/Profiler/WhatChanged.css
  packages/react-devtools-shared/src/devtools/views/Profiler/WhatChanged.js
  packages/react-devtools-shared/src/devtools/views/Profiler/types.js
Labels: CLA Signed, React Core Team

#28986 [Flight Reply] Encode binary streams as a single collapsed Blob
  packages/react-client/src/ReactFlightReplyClient.js
Labels: CLA Signed, React Core Team

#28987 [Fizz] Fallback to client replaying actions if we're trying to serialize a Blob
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#28988 [Flight Reply] Resolve outlined models async in Reply just like in Flight Client
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReplyEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/utils/WebpackMock.js
  packages/react-server/src/ReactFlightReplyServer.js
Labels: CLA Signed, React Core Team

#29016 fix[react-devtools/ci]: fix configurations for e2e testing
  package.json
  packages/react-devtools-shell/webpack-server.js
Labels: CLA Signed, React Core Team

#29015 Clean up fastAddProperties and make it more correct
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
Labels: CLA Signed

#29023 fix[react-devtools/InspectedElementView.css]: dont draw bottom border for empty badge list
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSharedStyles.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.css
Labels: CLA Signed, React Core Team

#28743 Cleanup enableServerComponentKeys flag
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29025 Facebook: merge react index.classic.fb and index.modern.fb
  packages/react/index.fb.js
  packages/react/index.modern.fb.js
Labels: CLA Signed, React Core Team

#29026 Upgrade jest and jsdom
  package.json
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/events/__tests__/SyntheticWheelEvent-test.js
  yarn.lock
Labels: CLA Signed

#29032 Track Stack of JSX Calls
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactElementType.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactTypes.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/transform-error-messages.js
  scripts/eslint-rules/prod-error-codes.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#29019 Support useFormStatus in progressively-enhanced forms
  packages/react-dom-bindings/src/events/plugins/FormActionEventPlugin.js
  packages/react-dom-bindings/src/shared/ReactDOMFormActions.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
Labels: CLA Signed, React Core Team

#28996 [Flight] Encode references to existing objects by property path
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#28997 [Flight Reply] Dedupe Objects and Support Cyclic References
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server/src/ReactFlightReplyServer.js
Labels: CLA Signed, React Core Team

#29010 [Flight Reply] Encode Objects Returned to the Client by Reference
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/ReactFlightTemporaryReferences.js
  packages/react-server-dom-esm/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReply-test.js
  packages/react-server/src/ReactFlightActionServer.js
  packages/react-server/src/ReactFlightReplyServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightServerTemporaryReferences.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#29035 [Flight] Enable Binary and ReadableStreams in Stable
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#29041 Clean up the enableEarlyReturnForPropDiffing experiment
  packages/react-native-renderer/src/ReactNativeAttributePayload.js
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#29043 [Flight] Error if a legacy React Element is attempted to be rendered
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#29052 Enable `enableUnifiedSyncLane` for React Native (Meta)
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
Labels: CLA Signed

#29027 Remove 2 no longer existing files from inlinedHostConfig
  scripts/shared/inlinedHostConfigs.js
Labels: CLA Signed, React Core Team

#29060 Bump React 19 beta to RC
  .circleci/config.yml
  ReactVersions.js
Labels: CLA Signed, React Core Team

#29072 Add a `main` field to `eslint-plugin-react-compiler`, fixes #29068.
  compiler/packages/eslint-plugin-react-compiler/package.json
Labels: CLA Signed

#29073 Fix ESLint and Prettier configs for React Compiler
  .eslintignore
  .prettierignore
Labels: CLA Signed, React Core Team

#29076 [heathcheck] Check for namespaced StrictMode
  compiler/packages/react-compiler-healthcheck/src/checks/strictMode.ts
Labels: CLA Signed, React Core Team

#29079 compiler: fix jsx text attributes with double quotes
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/quoted-strings-in-jsx-attribute-escaped.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/quoted-strings-in-jsx-attribute-escaped.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/quoted-strings-in-jsx-attribute.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/quoted-strings-in-jsx-attribute.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/quoted-strings-jsx-attribute-escaped-constant-propagation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/quoted-strings-jsx-attribute-escaped-constant-propagation.js
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#29081 [compiler:eslint] Fix false positive with TS type param syntax
  compiler/packages/eslint-plugin-react-compiler/__tests__/ReactCompilerRuleTypescript-test.ts
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
Labels: CLA Signed, React Core Team

#29082 [compiler] Various fixes for publishing script
  compiler/scripts/publish.js
Labels: CLA Signed, React Core Team

#29083 [compiler] Check if current branch is main
  compiler/scripts/publish.js
Labels: CLA Signed, React Core Team

#29084 [compiler] Add readme for babel plugin
  compiler/packages/babel-plugin-react-compiler/README.md
Labels: CLA Signed, React Core Team

#29086 chore(docs): fix typo (plugion => plugin) in DESIGN_GOALS.md
  compiler/docs/DESIGN_GOALS.md
Labels: CLA Signed

#29087 [compiler:publish] Specify https for registry
  compiler/scripts/publish.js
Labels: CLA Signed, React Core Team

#29096 [React Compiler] Fix rule name for ESLint plugin
  compiler/packages/eslint-plugin-react-compiler/README.md
Labels: CLA Signed

#29102 docs: fix typo DESIGN_GOALS.md
  compiler/docs/DESIGN_GOALS.md
Labels: CLA Signed

#29095 compiler: merge reactive scopes across const StoreLocal
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MergeReactiveScopesThatInvalidateTogether.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/alias-nested-member-path.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/array-map-frozen-array-noAlias.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/array-map-frozen-array.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/array-map-mutable-array-mutating-lambda-noAlias.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/array-map-mutable-array-mutating-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/const-propagation-into-function-expression-global.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/dont-merge-overlapping-scopes-store-const-used-later.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/dont-merge-overlapping-scopes-store-const-used-later.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/dont-merge-overlapping-scopes-with-intermediate-reassignment.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/dont-merge-overlapping-scopes-with-intermediate-reassignment.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/for-of-continue.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-recursive-call-within-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-within-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-local-tag-in-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-memberexpr-tag-in-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/maybe-mutate-object-in-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-mutable-range-shared-inner-outer-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ssa-property.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ssa-reassign-in-rval.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/try-catch-within-function-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-test-polymorphic.expect.md
Labels: CLA Signed, React Core Team

#29122 [compiler:playground] Fix broken builds
  compiler/apps/playground/package.json
  compiler/packages/snap/package.json
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#29118 [compiler] Todo for for-await loops
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-for-await-loops.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-for-await-loops.js
Labels: CLA Signed, React Core Team

#29139 Lazily freeze in case anything in the currently initializing chunk is blocked
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/utils/WebpackMock.js
Labels: CLA Signed

#29141 compiler: Workaround Babel bug with unicode in jsx string attrs
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-string-attribute-non-ascii.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-string-attribute-non-ascii.js
Labels: CLA Signed, React Core Team

#29140 Add issue template for React Compiler
  .github/ISSUE_TEMPLATE/compiler_bug_report.yml
Labels: CLA Signed, React Core Team

#29142 compiler: update comment on memo cache import code
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Imports.ts
Labels: CLA Signed, React Core Team

#29085 [Compiler][script] Dedupe error report counts before reporting in healthcheck
  compiler/packages/react-compiler-healthcheck/src/checks/reactCompiler.ts
Labels: CLA Signed, React Core Team

#29133 [compiler:playground] Resizable tabs
  compiler/apps/playground/components/Editor/EditorImpl.tsx
  compiler/apps/playground/components/Editor/Input.tsx
  compiler/apps/playground/components/Editor/Output.tsx
  compiler/apps/playground/components/TabbedWindow.tsx
  compiler/apps/playground/package.json
  compiler/yarn.lock
Labels: CLA Signed

#29147 [compiler:publish] Don't hash node_modules
  compiler/scripts/release/publish-manual.js
Labels: CLA Signed, React Core Team

#29150 [compiler:publish] Bump time to reconsider to 3s
  compiler/scripts/release/publish-manual.js
Labels: CLA Signed, React Core Team

#29153 [compiler:publish] Don't check branch in debug mode
  compiler/scripts/release/publish-manual.js
Labels: CLA Signed, React Core Team

#29114 Add packageManager fields for Corepack compat
  compiler/package.json
  package.json
Labels: CLA Signed

#29103 Add hyperlink for Good First Issues header
  README.md
Labels: CLA Signed

#28940 feat(hyperlink): added a hyperlink to Node in README.md file
  README.md
Labels: CLA Signed

#29154 compiler: fix accidental propagation of function effects from StartMemoize/FinishMemoize
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-in-effect-indirect-usecallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-in-effect-indirect-usecallback.js
Labels: CLA Signed, React Core Team

#29162 [compiler:chore] fix SSA pdf reference link
  compiler/packages/babel-plugin-react-compiler/src/SSA/EliminateRedundantPhi.ts
Labels: CLA Signed

#29049 refactor[react-devtools]: rewrite context menus
  packages/react-devtools-inline/__tests__/__e2e__/components.test.js
  packages/react-devtools-shared/src/backend/utils.js
  packages/react-devtools-shared/src/devtools/ContextMenu/ContextMenu.css
  packages/react-devtools-shared/src/devtools/ContextMenu/ContextMenu.js
  packages/react-devtools-shared/src/devtools/ContextMenu/ContextMenuContainer.js
  packages/react-devtools-shared/src/devtools/ContextMenu/ContextMenuItem.css
  packages/react-devtools-shared/src/devtools/ContextMenu/ContextMenuItem.js
  packages/react-devtools-shared/src/devtools/ContextMenu/Contexts.js
  packages/react-devtools-shared/src/devtools/ContextMenu/types.js
  packages/react-devtools-shared/src/devtools/ContextMenu/useContextMenu.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementHooksTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/KeyValue.js
  packages/react-devtools-shared/src/devtools/views/Components/KeyValueContextMenuContainer.css
  packages/react-devtools-shared/src/devtools/views/Components/KeyValueContextMenuContainer.js
  packages/react-devtools-shared/src/devtools/views/Components/NewKeyValue.js
  packages/react-devtools-timeline/src/CanvasPage.js
  packages/react-devtools-timeline/src/CanvasPageContextMenu.js
Labels: CLA Signed, React Core Team

#29159 [Compiler playground] bold changed passes
  compiler/apps/playground/components/Editor/Output.tsx
  compiler/apps/playground/components/TabbedWindow.tsx
Labels: CLA Signed

#29167 feat(compiler-healthcheck): Support strict mode check for nextjs apps
  compiler/packages/react-compiler-healthcheck/src/checks/strictMode.ts
  compiler/packages/react-compiler-healthcheck/src/index.ts
Labels: CLA Signed

#27981 React DOM: Add support for Popover API
  fixtures/attribute-behavior/AttributeTableSnapshot.md
  fixtures/attribute-behavior/public/index.html
  fixtures/attribute-behavior/src/attributes.js
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/events/DOMEventNames.js
  packages/react-dom-bindings/src/events/DOMEventProperties.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom-bindings/src/events/ReactDOMEventListener.js
  packages/react-dom-bindings/src/events/SyntheticEvent.js
  packages/react-dom-bindings/src/events/plugins/SimpleEventPlugin.js
  packages/react-dom-bindings/src/shared/possibleStandardNames.js
  packages/react-dom/src/__tests__/DOMPropertyOperations-test.js
  packages/react-dom/src/__tests__/ReactDOMEventPropagation-test.js
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/events/plugins/__tests__/SimpleEventPlugin-test.js
  packages/react-dom/src/test-utils/ReactTestUtilsFB.js
Labels: CLA Signed, React Core Team

#29008 Stop using Scheduler.log to test double invocations
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/react-reconciler/src/__tests__/StrictEffectsMode-test.js
  packages/react-reconciler/src/__tests__/StrictEffectsModeDefaults-test.internal.js
Labels: CLA Signed, React Core Team

#29177 Enable `disableStringRefs` and `enableRefAsProp` for React Native (Meta)
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
Labels: CLA Signed

#29198 Fix assertConsoleErrorDev on message mismatch with withoutStack: true
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
Labels: CLA Signed, React Core Team

#29180 [compiler:playground] Wait for build before running playground
  compiler/package.json
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#29204 [Flight] don't overwrite existing chunk listeners in 'wakeChunkIfInitialized'
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Labels: CLA Signed

#29205 [compiler:playground] Update babel.config.js
  compiler/apps/playground/__tests__/e2e/page.spec.ts
Labels: CLA Signed, React Core Team

#28965 [Fiber] render boundary in fallback if it contains a new stylesheet during sync update
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactSuspenseyCommitPhase-test.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#29207 [Flight Reply] retain listeners when resolving models with existing listeners
  packages/react-server/src/ReactFlightReplyServer.js
Labels: CLA Signed, React Core Team

#29007 Dim `console` calls on additional Effect invocations due to `StrictMode`
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/devtools/views/Settings/DebuggingSettings.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsShared.css
  packages/react-devtools-shared/src/hook.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/StrictEffectsModeDefaults-test.internal.js
  packages/react/src/__tests__/ReactStrictMode-test.js
Labels: CLA Signed, React Core Team

#29219 [Flight] Allow temporary references in `decodeReplyFromBusboy`
  packages/react-server-dom-esm/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
Labels: CLA Signed, React Core Team

#29218 compiler: Handle TSNonNullAssertion expressions
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/non-null-assertion.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/non-null-assertion.ts
Labels: CLA Signed

#29038 Unify ReactFiberCurrentOwner and ReactCurrentFiber
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-dom/src/__tests__/refs-test.js
  packages/react-dom/src/client/ReactDOMRootFB.js
  packages/react-native-renderer/src/ReactNativePublicCompat.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberAsyncDispatcher.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCurrentOwner.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactStrictModeWarnings.js
Labels: CLA Signed, React Core Team

#29044 Set the current fiber to the source of the error during error reporting
  packages/react-devtools-shared/src/__tests__/treeContext-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReportingLegacy-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/shared/consoleWithStackDev.js
  scripts/eslint-rules/warning-args.js
Labels: CLA Signed, React Core Team

#29088 Move createElement/JSX Warnings into the Renderer
  fixtures/flight/server/region.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/ReactChildren.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactSharedInternalsServer.js
  packages/react/src/__tests__/ReactChildren-test.js
  packages/react/src/__tests__/ReactElementClone-test.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/__tests__/forwardRef-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactComponentStackFrame.js
  packages/shared/ReactElementType.js
  packages/shared/consoleWithStackDev.js
  packages/shared/forks/consoleWithStackDev.www.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#29222 [Fiber] clarify entry condition for suspensey commit recursion
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#29226 Fix async batching in React.startTransition
  packages/react-dom/src/__tests__/ReactStartTransitionMultipleRenderers-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.js
  packages/react-reconciler/src/ReactFiberTransition.js
  packages/react-reconciler/src/__tests__/ReactAsyncActions-test.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
Labels: CLA Signed, React Core Team

#29206 [Fiber] Use Owner/JSX Stack When Appending Stacks to Console
  .eslintrc.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom-bindings/src/client/validateDOMNesting.js
  packages/react-dom/src/__tests__/ReactChildReconciler-test.js
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactMultiChild-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactHooks-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/ReactMemo-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/ReactForwardRef.js
  packages/react/src/ReactMemo.js
  packages/react/src/__tests__/ReactCreateRef-test.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/__tests__/createReactClassIntegration-test.js
  packages/react/src/__tests__/forwardRef-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactElementType.js
  scripts/flow/environment.js
  scripts/jest/matchers/toWarnDev.js
Labels: CLA Signed, React Core Team

#29221 [Fiber] Replace setCurrentDebugFiberInDEV with runWithFiberInDEV
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactStrictModeWarnings.js
Labels: CLA Signed, React Core Team

#29223 [Fiber] Enable Native console.createTask Stacks When Available
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/shared/consoleWithStackDev.js
Labels: CLA Signed, React Core Team

#29193 cleanup[react-devtools]: remove unused supportsProfiling flag from store config
  packages/react-devtools-extensions/src/main/getProfilingFlags.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-fusebox/src/frontend.js
  packages/react-devtools-inline/src/frontend.js
  packages/react-devtools-shared/src/devtools/store.js
Labels: CLA Signed, React Core Team

#29615 Repro function expr hoisting
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-hoisting-functionexpr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-hoisting-functionexpr.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-pruned-scope-leaks-value.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-pruned-scope-leaks-value.ts
  compiler/packages/snap/src/SproutTodoFilter.ts
  compiler/packages/snap/src/sprout/shared-runtime.ts
Labels: Component: Optimizing Compiler, CLA Signed, React Core Team

#29236 Throw if React and React DOM versions don't match
  packages/react-dom/src/client/ReactDOMClient.js
  packages/react-dom/src/client/ReactDOMClientFB.js
  packages/react-dom/src/server/ReactDOMFizzServerBrowser.js
  packages/react-dom/src/server/ReactDOMFizzServerBun.js
  packages/react-dom/src/server/ReactDOMFizzServerEdge.js
  packages/react-dom/src/server/ReactDOMFizzServerNode.js
  packages/react-dom/src/server/ReactDOMFizzStaticBrowser.js
  packages/react-dom/src/server/ReactDOMFizzStaticEdge.js
  packages/react-dom/src/server/ReactDOMFizzStaticNode.js
  packages/react-dom/src/shared/ensureCorrectIsomorphicReactVersion.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react/src/__tests__/ReactMismatchedVersions-test.js
  packages/use-sync-external-store/src/__tests__/useSyncExternalStoreShared-test.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#29610 Clean up disableDOMTestUtils
  packages/react-dom/src/__tests__/ReactTestUtils-test.js
  packages/react-dom/src/test-utils/ReactTestUtilsFB.js
  packages/react-dom/test-utils.fb.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#29618 Fix: Use action implementation at time of dispatch
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#29596 Export `version` from `react-dom` entry with `react-server` condition
  packages/react-dom/src/ReactDOMReactServer.js
Labels: CLA Signed

#29611 [Flight] Check if a return value is a client reference before introspecting
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#29621 feat(compiler): Implement constant string concat propagation
  compiler/packages/babel-plugin-react-compiler/src/Optimization/ConstantPropagation.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-string-concat.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-string-concat.js
Labels: CLA Signed

#29627 Fix "findNodeHandle inside its render()" False Positive Warning
  packages/react-native-renderer/src/ReactNativePublicCompat.js
Labels: CLA Signed

#29630 Update .git-blame-ignore-revs
  .git-blame-ignore-revs
  compiler/.git-blame-ignore-revs
Labels: CLA Signed, React Core Team

#29592 compiler: Add todo for getter/setter syntax
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-object-expression-get-syntax.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-object-expression-get-syntax.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-object-expression-set-syntax.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-object-expression-set-syntax.js
Labels: Component: Optimizing Compiler, CLA Signed, React Core Team

#29626 Tweak error message for "Should have a queue"
  packages/react-reconciler/src/ReactFiberHooks.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#29650 feat(compiler): Implement constant folding for more binary expressions
  compiler/packages/babel-plugin-react-compiler/src/Optimization/ConstantPropagation.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/assignment-variations.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-bit-ops.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-bit-ops.js
Labels: CLA Signed

#29608 Add tests for ReactNativeAttributePayloadFabric.js
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
  packages/react-native-renderer/src/__tests__/ReactNativeAttributePayloadFabric-test.internal.js
Labels: CLA Signed

#29662 Fix `key` Warning for Flattened Positional Children
  packages/react/src/__tests__/ReactChildren-test.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed

#29652 fix[ReactDebugHooks/find-primitive-index]: remove some assumptions
  packages/react-debug-tools/src/ReactDebugHooks.js
Labels: CLA Signed, React Core Team

#29632 [Flight] Eval Fake Server Component Functions to Recreate Native Stacks
  packages/react-client/src/ReactFlightClient.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#29671 [Flight] Try/Catch Eval
  packages/react-client/src/ReactFlightClient.js
Labels: CLA Signed, React Core Team

#29661 Add react-easy-state to list of known incompatible libraries.
  compiler/packages/react-compiler-healthcheck/src/config.ts
Labels: CLA Signed

#29675 Fix Missing `key` Validation in `React.Children`
  packages/react/src/ReactChildren.js
  packages/react/src/__tests__/ReactChildren-test.js
Labels: CLA Signed

#29625 Use both displayName and name in forwardRef/memo
  packages/react/src/ReactForwardRef.js
  packages/react/src/ReactMemo.js
Labels: CLA Signed, React Core Team

#29691 Don't allow blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: CLA Signed, React Core Team

#29673 Create a root task for every Flight response
  packages/react-client/src/ReactFlightClient.js
Labels: CLA Signed, React Core Team

#29670 Fix: `useTransition` after `use` gets stuck in pending state
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/__tests__/ReactUse-test.js
Labels: CLA Signed, React Core Team
