Repository facebook/react, pull requests merged in 2024-07, with the labels that each got.

#30148 [compiler] Clone computation block in change detection mode
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Labels: CLA Signed

#30156 Update `react-refresh-webpack-plugin` in Flight fixture
  fixtures/flight/package.json
  fixtures/flight/playwright.config.js
  fixtures/flight/yarn.lock
Labels: CLA Signed

#30140 [Flight Server] Run Server Components in console.createTask when available
  fixtures/flight/package.json
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30142 [Fizz] Run console.createTask during SSR when available
  fixtures/flight/package.json
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30159 chore[react-devtools/ui]: fix strict mode badge styles
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
Labels: CLA Signed, React Core Team

#30152 [Fizz] Enable owner stacks for SSR
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzAsyncDispatcher.js
  packages/react-server/src/ReactFizzCallUserSpace.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzCurrentTask.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30158 chore[react-devtools/renderer]: dont show strict mode warning for prod renderer builds
  packages/react-devtools-shared/src/backend/renderer.js
Labels: CLA Signed, React Core Team

#30151 [compiler][playground] Formatting changes to pass tabs
  compiler/apps/playground/components/Editor/Output.tsx
Labels: CLA Signed

#30173 [Fizz] Gate legacyContext field on disableLegacyContext
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30132 [Fizz] Include a component stack in prod but only lazily generate it
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30174 [Fizz] Implement debugInfo
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30182 [Fizz] Track Current debugTask and run it for onError Callbacks
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30199 React DevTools 5.3.0 -> 5.3.1
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#30198 Add regression test for #30172
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Labels: CLA Signed

#30131 [Flight] Allow String Chunks to Passthrough in Node streams and renderToMarkup
  packages/react-client/src/ReactFlightClient.js
  packages/react-html/src/ReactHTMLLegacyClientStreamConfig.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server/src/ReactServerStreamConfigNode.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#30204 Don't strip out component stack in assertConsole helpers
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
Labels: CLA Signed, React Core Team

#29199 fix: path handling in react devtools
  packages/react-devtools-shared/src/__tests__/utils-test.js
  packages/react-devtools-shared/src/hooks/SourceMapConsumer.js
  packages/react-devtools-shared/src/hooks/parseHookNames/parseSourceAndMetadata.js
  packages/react-devtools-shared/src/symbolicateSource.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed

#30207 [Flight] Add option to replay console logs or not
  packages/react-client/src/ReactFlightClient.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
Labels: CLA Signed, React Core Team

#30197 [Flight] Implement captureStackTrace and owner stacks on the Server
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/flight/ReactFlightComponentStack.js
  packages/shared/consoleWithStackDev.js
Labels: CLA Signed, React Core Team

#30206 [Flight] Set Current Owner / Task When Calling console.error or invoking onError/onPostpone
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#29665 Consider dispatch from `useActionState` stable
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.js
Labels: CLA Signed, React Core Team

#30290 Add unknown location information to component stacks
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactComponentStackFrame.js
Labels: CLA Signed, React Core Team

#30116 Upgrade flow to 0.233.0
  package.json
  scripts/flow/react-native-host-hooks.js
  yarn.lock
Labels: CLA Signed, React Core Team

#30117 Upgrade flow to 0.234.0
  package.json
  packages/react-reconciler/src/ReactFiberThenable.js
  packages/react-server/src/ReactFizzThenable.js
  packages/react-server/src/ReactFlightThenable.js
  packages/react/src/ReactChildren.js
  packages/react/src/ReactLazy.js
  yarn.lock
Labels: CLA Signed, React Core Team

#30118 Upgrade flow to 0.235.0
  package.json
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/hook.js
  packages/react-dom-bindings/src/client/DOMAccessibilityRoles.js
  packages/react-dom-bindings/src/client/DOMPropertyOperations.js
  packages/react-dom-bindings/src/events/getListener.js
  packages/react-dom-bindings/src/server/ReactDOMFlightServerHostDispatcher.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-native-renderer/src/legacy-events/EventPluginRegistry.js
  packages/react/src/ReactChildren.js
  packages/shared/enqueueTask.js
  yarn.lock
Labels: CLA Signed, React Core Team

#30292 Warn for useFormState on initial render
  fixtures/flight/src/Counter.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMForm-test.js
Labels: CLA Signed, React Core Team

#30289 [DevTools] Print component stacks as error objects to get source mapping
  .eslintrc.js
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/__tests__/utils.js
  packages/react-devtools-shared/src/backend/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/constants.js
  scripts/flow/react-devtools.js
  scripts/jest/devtools/setupEnv.js
Labels: CLA Signed, React Core Team

#30293 [Flight] Add context for non null prototype error
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#30295 [Flight] Fully support serializing Map/Set in console logs
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30298 [Fizz] Refactor Component Stack Nodes
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
  scripts/babel/transform-prevent-infinite-loops.js
Labels: CLA Signed

#30299 Dedupe legacy context warnings
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationLegacyContextDisabled-test.internal.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-server/src/ReactFizzClassComponent.js
Labels: CLA Signed, React Core Team

#30300 [Fiber] Override the getCurrentStack temporarily while printing errors
  packages/react-reconciler/src/ReactFiberErrorLogger.js
Labels: CLA Signed, React Core Team

#30294 [Flight] Serialize rate limited objects in console logs as marker an increase limit
  packages/react-client/src/ReactFlightClient.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30303 CI: reduce job waterfall for runtime test jobs
  .github/workflows/runtime_test.yml
Labels: CLA Signed, React Core Team

#30297 Warn about legacy context when legacy context is not disabled
  packages/react-dom/src/__tests__/ReactDOMFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationLegacyContext-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-native-renderer/src/__tests__/ReactNativeEvents-test.internal.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactNewContext-test.js
  packages/react-server/src/ReactFizzClassComponent.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/__tests__/ReactCoffeeScriptClass-test.coffee
  packages/react/src/__tests__/ReactContextValidator-test.js
  packages/react/src/__tests__/ReactES6Class-test.js
  packages/react/src/__tests__/ReactStrictMode-test.js
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
  packages/react/src/__tests__/createReactClassIntegration-test.js
Labels: CLA Signed, React Core Team

#30302 Format DOM Nesting Warning as Diff View + An Additional Log for Stack Trace
  packages/react-dom-bindings/src/client/validateDOMNesting.js
  packages/react-dom/src/__tests__/ReactDOMComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/validateDOMNesting-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
Labels: CLA Signed, React Core Team

#30305 Add RN fork of consoleWithStackDev so we can improve the mainline one
  packages/shared/forks/consoleWithStackDev.rn.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#30307 Convert some tests to use assertConsoleErrorDev or just avoid mocking
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
Labels: CLA Signed, React Core Team

#28734 Experiment with using an object literal for Fiber creation
  packages/react-reconciler/src/ReactFiber.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30309 Override the getCurrentStack temporarily while printing uncaught errors
  packages/react-reconciler/src/ReactFiberErrorLogger.js
Labels: CLA Signed, React Core Team

#30314 feat(compiler): Ignore `TSInterfaceDeclaration`
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ignore-inner-interface-types.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ignore-inner-interface-types.ts
Labels: Component: Optimizing Compiler, CLA Signed

#30315 easy: add link to legacy context warning
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30312 Delete suppressWarning in OSS
  packages/shared/consoleWithStackDev.js
Labels: CLA Signed, React Core Team

#29872 Updates ViewConfig types to delegate isInAParentText context
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed

#30317 Gate inlined consoleWithStackDev transpilation
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
Labels: CLA Signed, React Core Team

#30318 Use explicit git hash length in version string
  scripts/rollup/build-all-release-channels.js
Labels: CLA Signed, React Core Team

#30319 Feature flag to disable legacy context for function components
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationLegacyContext-test.js
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactIncremental-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-reconciler/src/__tests__/ReactUse-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30306 Remove top stack frame from getCurrentStack
  packages/react-reconciler/src/ReactCurrentFiber.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react/src/ReactOwnerStack.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactSharedInternalsServer.js
  packages/shared/forks/consoleWithStackDev.rn.js
  packages/shared/forks/consoleWithStackDev.www.js
Labels: CLA Signed, React Core Team

#30310 Add FB RSC Entry for React Package
  packages/react/src/ReactServer.fb.js
Labels: CLA Signed, React Core Team

#30308 Remove Component Stack from React Logged Warnings and Error Reporting
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReportingLegacy-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/__tests__/createReactClassIntegration-test.js
  packages/shared/consoleWithStackDev.js
  packages/shared/forks/consoleWithStackDev.rn.js
  scripts/jest/matchers/toWarnDev.js
Labels: CLA Signed, React Core Team

#30313 Disable consoleWithStackDev Transform except in RN/WWW
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/shared/consoleWithStackDev.js
  scripts/jest/preprocessor.js
  scripts/print-warnings/print-warnings.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team

#30326 Add build-for-flight-dev script to package.json
  package.json
Labels: CLA Signed

#25968 Fixed `useSyncExternalStoreWithSelector` to update memoizedSnapshot on change
  packages/use-sync-external-store/src/useSyncExternalStoreWithSelector.js
Labels: CLA Signed, Resolution: Stale

#30327 [Fizz] correctly track header length
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Labels: CLA Signed, React Core Team

#30325 [Flight] Encode the name of a function as an object property
  packages/react-client/src/ReactFlightClient.js
Labels: CLA Signed, React Core Team

#30339 [native-fb] set disableDefaultPropsExceptForClasses flag to true
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Labels: CLA Signed, React Core Team

#30333 [compiler] Handle earlier creation of early return on scopes
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PropagateEarlyReturns.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
Labels: CLA Signed, React Core Team

#30340 [Fiber] Ensure `srcset` and `src` are assigned last on `img` instances
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
Labels: CLA Signed, React Core Team

#30347 [ci] Add DevTools jobs to gh actions
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30349 [ci] Try sharding test_build
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30352 [ci] Remove DevTools jobs from circleci build_and_test
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30353 [ci] Remove some circleci jobs
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30354 [ci] Add check_error_codes to gh actions
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30355 [ci] Remove check_error_codes from circleci
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30356 [ci] Add run_fixtures_flight_tests to gh actions
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30357 [ci] Remove run_fixtures_flight_tests from circleci
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30358 [ci] Add RELEASE_CHANNEL_stable_yarn_test_dom_fixtures to gh actions
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30359 [ci] Remove RELEASE_CHANNEL_stable_yarn_test_dom_fixtures from circleci
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30345 fix(compiler): Align return types of `ErrImp<E>` and `OkImpl<T>` with `Result<T, E>` for TS 5.5
  compiler/packages/babel-plugin-react-compiler/src/Utils/Result.ts
Labels: CLA Signed

#30364 [ci][ez] Rename artifact from process_artifacts_combined
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30385 [ci] Rename temporary build parts
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30374 [ci] Fork scripts/release/download-experimental-build.js
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30375 [ci] Use yargs to parse args to download-experimental-build
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30376 [ci] Add script to download artifact from github
  scripts/release/download-experimental-build-ghaction.js
Labels: CLA Signed, React Core Team

#30390 [ci] Only run sizebot on pull requests
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30392 [ci] Fix sizebot job omitting build_and_lint dependency
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30391 Add run prettier commit to .git-blame-ignore-revs
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30393 [ci] Update sizebot node_modules caching strategy
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#30395 [test] Add `findSourceMapURL` to `ReactNoopFlightClient`
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
Labels: CLA Signed, React Core Team

#30400 [Flight] Consistently flag debugOwner field
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30369 Tag all user space call sites with the "react-stack-bottom-frame" name
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzCallUserSpace.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightCallUserSpace.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed

#30410 [Flight] Parse Stack on the Server and Transfer Structured Stack
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFlightOwnerStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightStackConfigV8.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-bun.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
  packages/shared/ReactTypes.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#30343 Set enableFastJSX flag to true
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30337 Add _debugStack and _debugTask under enableObjectFiber flag
  packages/react-reconciler/src/ReactFiber.js
Labels: CLA Signed, React Core Team

#30420 [BE] upgrade prettier to 3.3.3
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-noAlias.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-noAlias.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-constant-prop.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-constant-prop.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ternary-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ternary-expression.js
  package.json
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-devtools-shared/src/devtools/views/Settings/ComponentsSettings.js
  packages/react-devtools-shared/src/hooks/astUtils.js
  packages/react-devtools-timeline/src/content-views/ReactMeasuresView.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/SyntheticEvent.js
  packages/react-dom-bindings/src/events/plugins/SelectEventPlugin.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/shared/ReactDOMResourceValidation.js
  packages/react-dom/src/__tests__/ReactDOMFizzStatic-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzSuppressHydrationWarning-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMServerSuspense-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/shared/ReactDOMFloat.js
  packages/react-dom/src/test-utils/FizzTestUtils.js
  packages/react-native-renderer/src/__tests__/ResponderEventPlugin-test.internal.js
  packages/react-native-renderer/src/legacy-events/EventPluginUtils.js
  packages/react-native-renderer/src/legacy-events/ResponderEventPlugin.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ReactFlushSync-test.js
  packages/react-reconciler/src/__tests__/ReactFlushSyncNoAggregateError-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalSideEffects-test.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/react-reconciler/src/__tests__/useSyncExternalStore-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/scheduler/npm/umd/scheduler.development.js
  packages/scheduler/npm/umd/scheduler.production.min.js
  packages/scheduler/npm/umd/scheduler.profiling.min.js
  packages/shared/ReactComponentStackFrame.js
  packages/shared/ReactTypes.js
  scripts/jest/TestFlags.js
  scripts/jest/config.build-devtools.js
  scripts/jest/config.build.js
  scripts/jest/devtools/config.build-devtools-regression.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/build.js
  yarn.lock
Labels: CLA Signed, React Core Team

#30417 [DevTools] Implement Owner Stacks
  packages/react-devtools-extensions/package.json
  packages/react-devtools-shared/src/__tests__/componentStacks-test.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/DevToolsOwnerStack.js
  packages/react-devtools-shared/src/backend/console.js
  scripts/jest/devtools/setupEnv.js
  yarn.lock
Labels: CLA Signed, React Core Team

#30416 Reverse engineer original stack frames when virtual frames are re-serialized
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30421 [BE] switch to hermes parser for prettier
  .prettierignore
  .prettierrc.js
  compiler/apps/playground/package.json
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-noAlias.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-constant-prop.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ternary-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/ternary-expression.js
  compiler/yarn.lock
  package.json
  packages/react-devtools-shared/src/hooks/astUtils.js
  packages/react-noop-renderer/src/createReactNoop.js
  scripts/flow/config/flowconfig
  yarn.lock
Labels: CLA Signed, React Core Team

#30422 Update yarn build options
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team

#30372 Log Fragment name when trying to render a lazy fragment
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
Labels: CLA Signed

#30433 Transform JSX to Lazy Requires instead of Wrappers
  scripts/babel/__tests__/transform-lazy-jsx-import-test.js
  scripts/babel/transform-lazy-jsx-import.js
  scripts/jest/devtools/setupEnv.js
  scripts/jest/preprocessor.js
  scripts/jest/setupTests.js
Labels: CLA Signed, React Core Team

#30434 [compiler] Add babel-plugin-idx to snap
  compiler/packages/snap/package.json
  compiler/packages/snap/src/compiler.ts
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#30435 [compiler] Repro for interaction b/w outlining and idx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.idx-outlining.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.idx-outlining.js
Labels: CLA Signed, React Core Team

#30427 [Flight] Prefix owner stacks added to the console.log with the current stack
  packages/react-devtools-shared/src/__tests__/componentStacks-test.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/console.js
Labels: CLA Signed, React Core Team

#30429 [Fiber] Call life-cycles with a react-stack-bottom-frame stack frame
  packages/react-devtools-shared/src/__tests__/console-test.js
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberThrow.js
Labels: CLA Signed, React Core Team

#30431 [compiler] repro of false positive for ValidatePreserveManualMemo
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useMemo-with-refs.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.false-positive-useMemo-with-refs.flow.js
Labels: CLA Signed, React Core Team

#30436 Remove forceConcurrentByDefaultForTesting flag
  packages/react-art/src/__tests__/ReactART-test.js
  packages/react-dom/src/__tests__/ReactDOMNativeEventHeuristic-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ReactExpiration-test.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactInterleavedUpdates-test.js
  packages/react-reconciler/src/__tests__/ReactSuspense-test.internal.js
  packages/react-reconciler/src/__tests__/ReactSuspenseWithNoopRenderer-test.js
  packages/react-reconciler/src/__tests__/ReactUse-test.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/jest/setupTests.www.js
Labels: CLA Signed, React Core Team

#30426 [BE] enable prettier for flow fixtures
  .prettierignore
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/component-declaration-basic.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/component-declaration-basic.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-with-typecast-as-default-value.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-with-typecast-as-default-value.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.component-syntax-ref-gating.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.component-syntax-ref-gating.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating-with-hoisted-type-reference.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating-with-hoisted-type-reference.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-declaration-basic.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-declaration-basic.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-types-through-type-cast.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-types-through-type-cast.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-attribute-with-jsx-fragment-value.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-attribute-with-jsx-fragment-value.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-with-refs.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-with-refs.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-alias-used-as-annotation_.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-alias-used-as-annotation_.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-alias-used-as-variable-annotation_.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-alias-used-as-variable-annotation_.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-alias.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-alias.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-annotations/type-annotation-as-array_.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-annotations/type-annotation-as-array_.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-annotations/type-annotation-as-number_.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-annotations/type-annotation-as-number_.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-annotations/type-annotation-var-array_.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-annotations/type-annotation-var-array_.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-cast-expression.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-cast-expression.flow.js
Labels: CLA Signed, React Core Team

#30396 [Flight] Allow parens in filenames when parsing stackframes
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightStackConfigV8.js
Labels: CLA Signed, React Core Team

#30443 [compiler] Repro for outlining bug in funcexprs
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.js
Labels: CLA Signed, React Core Team

#30449 Use brackets instead of parenthesis in empty name eval
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
Labels: CLA Signed, React Core Team

#30441 Fix resolving of references to deduped props in lazy elements
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Labels: CLA Signed

#30450 Fix existing usage of names/type in build command
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team

#30447 [Flight] Add filterStackFrame options to the RSC Server
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server-dom-esm/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30452 [Flight] Include environment name both in the virtual URL and findSourceMapURL
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#30455 Configure the requested environment and annotate tasks at boundary between environments
  packages/react-client/src/ReactFlightClient.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
Labels: CLA Signed, React Core Team

#30445 Remove allowConcurrentByDefault flag
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactTypeOfMode.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30461 Switch to binding the console with badging instead of calling it directly
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/forks/ReactFlightClientConfig.custom.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
Labels: CLA Signed, React Core Team

#30456 [compiler] Add tests for incorrect global mutation detection
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.js
Labels: CLA Signed, React Core Team

#30464 [compiler] Always emit FuncDecl for outlined functions
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.expect.md
Labels: CLA Signed, React Core Team

#30465 [compiler] Add repro for outlining in non VarDecls
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-react-memo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-react-memo.js
Labels: CLA Signed, React Core Team

#30467 [ci] Cleanup run_devtools_e2e_tests
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30468 [ci] Remove devtools_regression_tests workflow from circleci
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30472 [ci] Temporary fork runtime_commit_artifacts
  .github/workflows/runtime_commit_artifacts_v2.yml
Labels: CLA Signed, React Core Team

#30351 [Fiber] use srcset to trigger load even on img mount
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#30476 [ci] Add commit steps to new runtime_commit_artifacts_v2
  .github/workflows/runtime_commit_artifacts_v2.yml
Labels: CLA Signed, React Core Team

#30477 [ci] Unfork runtime_commit_artifacts
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_commit_artifacts_v2.yml
Labels: CLA Signed, React Core Team

#30479 [ci] Update runtime_commit_artifacts step versions
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#30480 [circleci] Remove build_and_test workflow
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30475 [compiler] Add git info to `package.json` files in compiler packages
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/make-read-only-util/package.json
  compiler/packages/react-compiler-healthcheck/package.json
  compiler/packages/react-compiler-runtime/package.json
  compiler/packages/snap/package.json
Labels: CLA Signed

#30407 Add unstable context bailout for profiling
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactContextWithBailout-test.js
  packages/react/index.fb.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#30485 [ci] Update prepare-release-from-ci to dl from GH
  scripts/release/shared-commands/download-build-artifacts-ghaction.js
Labels: CLA Signed, React Core Team

#30486 [ci] Fix invalid username and email in synthetic commit
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#30483 [Fizz] Prerender fallbacks before children
  packages/react-dom/src/__tests__/ReactDOMFizzStatic-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticNode-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30495 [ci] Add prerelease workflows to GH actions
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Labels: CLA Signed, React Core Team

#30496 [ci] Delete .circleci
  .circleci/config.yml
Labels: CLA Signed, React Core Team

#30498 [ci] Fix prereleases reusable workflow
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_nightly.yml
Labels: CLA Signed, React Core Team

#30499 [ci] Fix ci prep script
  scripts/release/shared-commands/get-build-id-for-commit.js
  scripts/release/shared-commands/parse-params.js
Labels: CLA Signed, React Core Team

#30500 [ci] Remove jestSequencer
  scripts/jest/config.base.js
  scripts/jest/jestSequencer.js
Labels: CLA Signed, React Core Team

#30501 [ci] Remove references to CIRCLE_NODE_{TOTAL,INDEX}
  packages/react/src/__tests__/ReactClassEquivalence-test.js
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/stats.js
Labels: CLA Signed, React Core Team

#30502 [ez] Remove circleci badge from readme
  README.md
Labels: CLA Signed, React Core Team

#30497 [Fizz] Don't perform work when closing
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30504 [ci] Fix passing secrets to runtime_prereleases
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Labels: CLA Signed, React Core Team

#30490 [DevTools] Rename Fiber to Element in the Bridge Protocol and RendererInterface
  .eslintrc.js
  packages/react-devtools-extensions/src/contentScripts/renderer.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/index.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/profilingHooks.js
  packages/react-devtools-shared/src/backend/shared/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/shared/DevToolsConsolePatching.js
  packages/react-devtools-shared/src/backend/shared/DevToolsOwnerStack.js
  packages/react-devtools-shared/src/backend/shared/ReactSymbols.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
  packages/react-devtools-shared/src/frontend/types.js
Labels: CLA Signed, React Core Team

#30511 [ci] Temporarily always build from source for codesandbox
  package.json
Labels: CLA Signed, React Core Team

#30488 [Fizz] Allow aborting during render
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#30514 Update enableLazyContextPropagation flag
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30512 [ci] Override actions/cache default timeout
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30513 [RN] experiment to move Fabric completeWork to the commit phase
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#30515 [ci] Add polling to download-build-artifacts
  scripts/rollup/build.js
Labels: CLA Signed, React Core Team

#30519 [Fiber/DevTools] Stop injecting findHostInstanceByFiber
  packages/react-reconciler/src/ReactFiberReconciler.js
Labels: CLA Signed, React Core Team

#30491 [DevTools] Rename NativeElement to HostInstance in the Bridge
  packages/react-devtools-extensions/src/main/elementSelection.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Highlighter.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/canvas.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/index.js
  packages/react-devtools-shared/src/backend/views/utils.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectHostNodesToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitFlamegraph.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitRanked.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Labels: CLA Signed, React Core Team

#30529 [ci] Make some workflows dispatchable
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/shared_stale.yml
Labels: CLA Signed, React Core Team

#30530 [ci] Read node version from .nvmrc instead of hardcoding
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/shared_lint.yml
Labels: CLA Signed, React Core Team

#30531 [ci] Fix incorrect polling
  scripts/release/shared-commands/download-build-artifacts.js
Labels: CLA Signed, React Core Team

#30425 Enable prettier for some blocklisted fixtures with invalid GraphQL
  .prettierignore
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-and-local-variables-with-default.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-and-local-variables-with-default.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-inside-logical-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-inside-logical-expression.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-logical.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-logical.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls-mutable-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls-mutable-lambda.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-in-hook.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-in-hook.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-literal.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-literal.js
Labels: CLA Signed, React Core Team

#30494 [DevTools] Implement "best renderer" by taking the inner most matched node
  packages/react-devtools-shared/src/__tests__/legacy/storeLegacy-v15-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Labels: CLA Signed, React Core Team

#30522 [Fiber] Make DevTools Config use Static Injection
  packages/react-art/src/ReactART.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/client/ReactDOMClient.js
  packages/react-dom/src/client/ReactDOMClientFB.js
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-native-renderer/src/ReactNativeFiberInspector.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react-test-renderer/src/ReactTestRenderer.js
Labels: CLA Signed, React Core Team

#30517 [DevTools] Add DevToolsInstance to Store Stateful Information
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#30528 Assign resolved outlined props to element object (and not only tuple)
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Labels: CLA Signed
