Repository facebook/react, pull requests merged in 2025-04, with the labels that each got.

#32785 Add startGestureTransition API
  fixtures/view-transition/src/components/Page.js
  fixtures/view-transition/src/components/SwipeRecognizer.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberTransition.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react/index.experimental.development.js
  packages/react/index.experimental.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
  packages/react/src/ReactTransitionType.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#32786 Remove useSwipeTransition
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberConcurrentUpdates.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberTransition.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFlightHooks.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react/index.experimental.development.js
  packages/react/index.experimental.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactHooks.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactTypes.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#32790 Adjust range start/end based on the duration and delay of the animation
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32788 Get rid of the directional gesture options
  fixtures/view-transition/src/components/SwipeRecognizer.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#32792 Support addTransitionType in startGestureTransition
  fixtures/view-transition/src/components/Page.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberTransition.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
  packages/react/src/ReactTransitionType.js
Labels: CLA Signed, React Core Team

#32793 Warn if addTransitionType is called when there are no pending Actions
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
  packages/react/src/ReactTransitionType.js
Labels: CLA Signed, React Core Team

#32797 Solidify addTransitionType Semantics
  packages/react-reconciler/src/ReactFiberAsyncAction.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberTransition.js
  packages/react-reconciler/src/ReactFiberTransitionTypes.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
  packages/react/src/ReactTransitionType.js
Labels: CLA Signed, React Core Team

#32774 Warn for using a React owned node as a Container if it also has text content
  packages/react-dom-bindings/src/client/ReactDOMComponentTree.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32801 Don't shadow EventListenerOptionsOrUseCapture and FocusOptions types
  .eslintrc.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32800 Clarify that the transitionLanes used by Transition Tracing is a LaneMap
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactInternalTypes.js
Labels: CLA Signed, React Core Team

#32803 Follow through all the phases when an error happens during snapshotting
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32807 Delete CHANGELOG-canary.md
  CHANGELOG-canary.md
Labels: CLA Signed, React Core Team

#32808 Minor Tweak to Performance Track
  packages/react-reconciler/src/ReactFiberPerformanceTrack.js
Labels: CLA Signed, React Core Team

#32812 [DevTools] Release and aquire host instances when they're cloned in persistent mode
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Labels: CLA Signed, React Core Team

#32815 Fix Bugs Measuring Performance Track for Effects
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactProfilerTimer.js
Labels: CLA Signed, React Core Team

#32819 Add Suspensey Images behind a Flag
  fixtures/view-transition/src/components/Page.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberPerformanceTrack.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32821 [Bugfix] Infinite uDV loop in popstate event
  packages/react-dom/src/__tests__/ReactDOMFiberAsync-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#32822 Workaround against display: inline bug in Safari
  fixtures/view-transition/src/components/Page.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
Labels: CLA Signed, React Core Team

#32823 Fix `Failed to execute 'measure' on 'Performance'` error
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32828 Allow Passing Blob/File/MediaSource/MediaStream to src of <img>, <video> and <audio>
  fixtures/flight/package.json
  fixtures/flight/src/App.js
  fixtures/flight/src/GenerateImage.js
  fixtures/flight/yarn.lock
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactDOMSrcObject.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMImageLoad-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMSrcObject-test.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
  packages/react-server/src/ReactServerStreamConfigBrowser.js
  packages/react-server/src/ReactServerStreamConfigBun.js
  packages/react-server/src/ReactServerStreamConfigEdge.js
  packages/react-server/src/ReactServerStreamConfigFB.js
  packages/react-server/src/ReactServerStreamConfigNode.js
  packages/react-server/src/forks/ReactServerStreamConfig.custom.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32820 Enable Suspensey Images inside <ViewTransition> subtrees
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactTypeOfMode.js
  packages/react-reconciler/src/__tests__/ReactSuspenseyCommitPhase-test.js
  packages/shared/ReactFeatureFlags.js
Labels: CLA Signed, React Core Team

#32833 Add unstable_Activity to server entrypoint
  packages/react/src/ReactServer.experimental.js
Labels: CLA Signed, React Core Team

#32834 Emit Activity boundaries as comments in Fizz
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
Labels: CLA Signed, React Core Team

#32513 docs(eslint-plugin-react-hooks): add 6.0 documentation
  packages/eslint-plugin-react-hooks/README.md
Labels: CLA Signed

#32840 Send notification to Discord if automated publish fails
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_nightly.yml
Labels: CLA Signed, React Core Team

#32839 [eprh] Temporarily disable ref access in render validation
  compiler/packages/eslint-plugin-react-compiler/__tests__/ReactCompilerRule-test.ts
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
  packages/eslint-plugin-react-hooks/__tests__/ReactCompilerRule-test.ts
  packages/eslint-plugin-react-hooks/src/rules/ReactCompiler.ts
Labels: CLA Signed, React Core Team

#32838 Clarify that there's three different kinds of OffscreenProps
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberActivityComponent.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberConcurrentUpdates.js
  packages/react-reconciler/src/ReactFiberOffscreenComponent.js
  packages/react-reconciler/src/ReactFiberSuspenseContext.js
  packages/react-reconciler/src/ReactFiberThrow.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#32841 Move Built-in Props Types to React Types
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberActivityComponent.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitEffects.js
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberDuplicateViewTransitions.js
  packages/react-reconciler/src/ReactFiberSuspenseComponent.js
  packages/react-reconciler/src/ReactFiberSuspenseContext.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#32850 Emit Preamble Contribution inline instead of the end of a boundary
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#32851 Try not. Do... or do not. Hydrate Suspense Boundaries.
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
Labels: CLA Signed, React Core Team

#32849 Clear Update flag for unchanged trees in the beginning of the commit phase
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
Labels: CLA Signed, React Core Team

#32810 Remove redundant __DEV__ condition
  packages/react-reconciler/src/ReactFiberBeginWork.js
Labels: CLA Signed

#32855 Upgrade node.js to 20 LTS
  .nvmrc
  fixtures/flight-esm/.nvmrc
  fixtures/flight/.nvmrc
  fixtures/flight/yarn.lock
Labels: CLA Signed, React Core Team

#32868 [compiler] Update rimraf
  compiler/package.json
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32859 [compiler] Init react-mcp-server
  compiler/packages/react-mcp-server/README.md
  compiler/packages/react-mcp-server/package.json
  compiler/packages/react-mcp-server/src/compiler/index.ts
  compiler/packages/react-mcp-server/src/index.ts
  compiler/packages/react-mcp-server/src/types/algolia.ts
  compiler/packages/react-mcp-server/src/utils/algolia.ts
  compiler/packages/react-mcp-server/todo.md
  compiler/packages/react-mcp-server/tsconfig.json
  compiler/packages/react-mcp-server/tsup.config.ts
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#31398 [DevTools] feat: show changed hooks names in the Profiler tab
  packages/react-devtools-shared/src/devtools/views/Components/Components.js
  packages/react-devtools-shared/src/devtools/views/DevTools.js
  packages/react-devtools-shared/src/devtools/views/Profiler/HookChangeSummary.css
  packages/react-devtools-shared/src/devtools/views/Profiler/HookChangeSummary.js
  packages/react-devtools-shared/src/devtools/views/Profiler/HoveredFiberInfo.js
  packages/react-devtools-shared/src/devtools/views/Profiler/WhatChanged.js
  packages/react-devtools-shared/src/hookNamesCache.js
Labels: CLA Signed, Component: Developer Tools

#32914 [DevTools] Make Toggle hover state more visible
  packages/react-devtools-shared/src/devtools/constants.js
  packages/react-devtools-shared/src/devtools/views/Toggle.css
Labels: CLA Signed

#32917 Update @playwright/test
  compiler/apps/playground/package.json
  compiler/apps/playground/yarn.lock
  fixtures/flight/package.json
  fixtures/flight/yarn.lock
  packages/react-devtools-inline/package.json
  yarn.lock
Labels: CLA Signed, React Core Team

#32918 [ci] Don't run some checks for non-members/collaborators
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed, React Core Team

#32916 Warn if you pass a hidden prop to Activity
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/Activity-test.js
Labels: CLA Signed, React Core Team

#32862 Don't try to hydrate a hidden Offscreen tree
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
Labels: CLA Signed, React Core Team

#32933 [ci] Fix check_access output
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed, React Core Team

#32934 [ci] Fix check_access fr
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed, React Core Team

#32928 [mcp] Add inspect script
  compiler/packages/react-mcp-server/package.json
Labels: CLA Signed, React Core Team

#32937 [mcp] Also emit bailout messages with no loc
  compiler/packages/react-mcp-server/src/index.ts
Labels: CLA Signed, React Core Team

#32952 [compiler] Update publish tags
  compiler/scripts/release/publish.js
Labels: CLA Signed, React Core Team

#32951 [devtools] Fix "View source" for sources with URLs that aren't normalized
  packages/react-devtools-extensions/src/main/fetchFileWithCaching.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-shared/src/symbolicateSource.js
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, React Core Team

#32977 [ci] Remove compiler weekly release
  .github/workflows/compiler_prereleases_weekly.yml
Labels: CLA Signed, React Core Team

#32978 [eprh] Bump stable version
  ReactVersions.js
Labels: CLA Signed, React Core Team

#32980 [ci] Change to string type
  .github/workflows/compiler_prereleases.yml
  .github/workflows/compiler_prereleases_manual.yml
Labels: CLA Signed, React Core Team

#32981 [compiler] Only append hash and date for experimental releases
  compiler/scripts/release/publish.js
Labels: CLA Signed, React Core Team

#32990 Build `react-server-dom-webpack` for codesandbox
  .codesandbox/ci.json
  package.json
Labels: CLA Signed, React Core Team

#32900 Hide/unhide the content of dehydrated suspense boundaries if they resuspend
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoHydration.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
Labels: CLA Signed, React Core Team

#32844 Set hidden Offscreen to the shellBoundary regardless of previous state
  packages/react-reconciler/src/ReactFiberSuspenseContext.js
Labels: CLA Signed, React Core Team

#32842 Implement ActivityInstance in FiberConfigDOM
  packages/react-dom-bindings/src/client/ReactDOMComponentTree.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/ReactDOMEventListener.js
  packages/react-dom-bindings/src/events/ReactDOMEventReplaying.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineCodeStrings.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetShared.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoHydration.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/ReactFiberHydrationDiffs.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
Labels: CLA Signed, React Core Team

#32953 [Flight] Don't hang forever when prerendering a rejected promise
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/server/ReactFlightDOMServerEdge.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#32996 [forgive] Log inferEffectDependencies
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
Labels: CLA Signed, React Core Team

#32998 [forgive] Hacky first pass at adding decorations for inferred deps
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Options.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/react-forgive/client/src/extension.ts
  compiler/packages/react-forgive/server/src/custom-requests/autodepsdecorations.ts
  compiler/packages/react-forgive/server/src/index.ts
  compiler/packages/react-forgive/server/src/utils/lsp-adapter.ts
Labels: CLA Signed, React Core Team

#32999 [forgive] Refactor inferred deps
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Options.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/react-forgive/client/src/colors.ts
  compiler/packages/react-forgive/client/src/extension.ts
  compiler/packages/react-forgive/server/src/custom-requests/autodepsdecorations.ts
  compiler/packages/react-forgive/server/src/index.ts
  compiler/packages/react-forgive/server/src/requests/autodepsdecorations.ts
  compiler/packages/react-forgive/server/src/utils/lsp-adapter.ts
  compiler/packages/react-forgive/server/src/utils/range.ts
  compiler/packages/react-forgive/tsconfig.json
Labels: CLA Signed, React Core Team

#33000 [forgive] Add code action to remove dependency array
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Options.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/react-forgive/server/src/index.ts
  compiler/packages/react-forgive/server/src/requests/autodepsdecorations.ts
  compiler/packages/react-forgive/server/src/utils/range.ts
Labels: CLA Signed, React Core Team

#33002 [forgive] Polish decorations
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/react-forgive/client/src/autodeps.ts
  compiler/packages/react-forgive/client/src/extension.ts
  compiler/packages/react-forgive/client/src/mapping.ts
  compiler/packages/react-forgive/server/src/index.ts
  compiler/packages/react-forgive/server/src/requests/autodepsdecorations.ts
Labels: CLA Signed, React Core Team

#33004 [compiler] Add missing copyrights
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Reanimated.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/ValidateNoUntransformedReferences.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/AssertValidBlockNesting.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildReactiveScopeTerminalsHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectHoistablePropertyLoads.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectOptionalChainDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/MergeOverlappingReactiveScopesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PropagateScopeDependenciesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PruneUnusedLabelsHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/StabilizeBlockIds.ts
  compiler/packages/babel-plugin-react-compiler/src/Transform/index.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateNoCapitalizedCalls.ts
  compiler/packages/babel-plugin-react-compiler/tsup.config.ts
  compiler/packages/eslint-plugin-react-compiler/tsup.config.ts
  compiler/packages/make-read-only-util/tsup.config.ts
  compiler/packages/react-compiler-healthcheck/src/config.ts
  compiler/packages/react-compiler-healthcheck/tsup.config.ts
  compiler/packages/react-compiler-runtime/tsup.config.ts
  compiler/packages/react-forgive/client/src/autodeps.ts
  compiler/packages/react-forgive/client/src/colors.ts
  compiler/packages/react-forgive/client/src/extension.ts
  compiler/packages/react-forgive/client/src/mapping.ts
  compiler/packages/react-forgive/server/src/compiler/compat.ts
  compiler/packages/react-forgive/server/src/requests/autodepsdecorations.ts
  compiler/packages/react-forgive/server/src/utils/range.ts
  compiler/packages/react-mcp-server/src/types/algolia.ts
  compiler/packages/react-mcp-server/tsup.config.ts
  compiler/scripts/release/prompt-for-otp.js
  compiler/scripts/release/publish.js
  compiler/scripts/release/shared/build-packages.js
  compiler/scripts/release/shared/packages.js
  compiler/scripts/release/shared/utils.js
Labels: CLA Signed, React Core Team

#33010 [forgive] Don't look up user babel configs
  compiler/packages/react-forgive/server/src/compiler/index.ts
Labels: CLA Signed, React Core Team

#33013 [chore] Update caniuse-lite
  compiler/apps/playground/yarn.lock
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#33009 [mcp] Convert docs resource to tool
  compiler/packages/react-mcp-server/package.json
  compiler/packages/react-mcp-server/src/index.ts
  compiler/packages/react-mcp-server/src/utils/algolia.ts
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32983 [compiler] Add changelog
  compiler/CHANGELOG.md
Labels: CLA Signed, React Core Team

#33016 [Fizz] Emit link rel="expect" to block render before the shell has fully loaded
  fixtures/ssr/server/render.js
  fixtures/ssr/src/components/Chrome.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerEdge-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStatic-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticBrowser-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticNode-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFloat-test.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/test-utils/FizzTestUtils.js
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-server-dom-fb/src/__tests__/ReactDOMServerFB-test.internal.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#33026 [ci] Reduce non-deterministic builds for eslint-plugin-react-hooks
  scripts/rollup/build.js
Labels: CLA Signed

#32991 [compiler] Patch for reactive refs in inferred effect dependencies
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReactivePlaces.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-ref-ternary.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-ref-ternary.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inline-jsx-transform.expect.md
Labels: CLA Signed

#32984 [compiler] Fallback for inferred effect dependencies
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectHoistablePropertyLoads.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PropagateScopeDependenciesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/bailout-retry/mutate-after-useeffect-granular-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/bailout-retry/mutate-after-useeffect-granular-access.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/bailout-retry/mutate-after-useeffect-ref-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/bailout-retry/mutate-after-useeffect-ref-access.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/bailout-retry/mutate-after-useeffect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/bailout-retry/mutate-after-useeffect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/error.todo-infer-deps-on-retry.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/infer-deps-on-retry.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/infer-deps-on-retry.js
Labels: CLA Signed

#33027 [Fizz] Enable the progressiveChunkSize option
  fixtures/ssr/src/components/Chrome.js
  fixtures/ssr/src/components/LargeContent.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactServerStreamConfigFB.js
Labels: CLA Signed, React Core Team

#33023 [devtools] Allow inspecting cause, name, message, stack of Errors in props
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/hydration.js
  packages/react-devtools-shared/src/utils.js
  packages/react-devtools-shell/src/app/Hydration/index.js
Labels: CLA Signed, React Core Team

#33043 [react-native] Pull up enableFastAddPropertiesInDiffing check
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
Labels: CLA Signed

#33029 [Fizz] Outline if a boundary would add too many bytes to the next completion
  fixtures/ssr/server/render.js
  fixtures/ssr/src/components/Chrome.js
  fixtures/ssr/src/components/LargeContent.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#32736 Use console.timeStamp instead of performance.measure in Component Performance Track
  packages/react-client/src/ReactFlightPerformanceTrack.js
  packages/react-reconciler/src/ReactFiberPerformanceTrack.js
  scripts/flow/environment.js
Labels: CLA Signed, React Core Team

#32809 Run Component Track Logs in the console.createTask() of the Fiber
  packages/react-client/src/ReactFlightPerformanceTrack.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberPerformanceTrack.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactProfilerTimer.js
Labels: CLA Signed, React Core Team

#33039 [devtools] Restore "double-click to view owners tree" functionality
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
Labels: CLA Signed, React Core Team

#33056 Add Fragment Refs to Fabric with intersection observer support
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/__tests__/ReactFabricFragmentRefs-test.internal.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  scripts/error-codes/codes.json
Labels: CLA Signed

#33065 [Fizz] Remove globals from external runtime
  packages/react-dom-bindings/src/server/ReactDOMServerExternalRuntime.js
Labels: CLA Signed, React Core Team

#33030 [Flight] Defer Elements if the parent chunk is too large
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed, React Core Team

#33045 [mdn] Initial experiment for adding performance tool
  compiler/packages/react-mcp-server/package.json
  compiler/packages/react-mcp-server/src/index.ts
  compiler/packages/react-mcp-server/src/utils/runtimePerf.ts
  compiler/yarn.lock
Labels: CLA Signed

#33047 [compiler][bugfix] Returned functions are not always frozen
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-returned-inner-fn-mutates-context.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-returned-inner-fn-mutates-context.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-returned-inner-fn-reassigns-context.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-returned-inner-fn-reassigns-context.js
Labels: CLA Signed

#33068 [Fizz] Ignore error if content node is gone
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetInlineCodeStrings.js
  packages/react-dom-bindings/src/server/fizz-instruction-set/ReactDOMFizzInstructionSetShared.js
Labels: CLA Signed, React Core Team

#33074 [mcp] Make tool more reliable and fix integration issues with babel
  compiler/packages/react-mcp-server/src/index.ts
  compiler/packages/react-mcp-server/src/utils/runtimePerf.ts
Labels: CLA Signed
