Repository facebook/react, pull requests merged in 2025-03, with the labels that each got.

#32496 Add a shorthand for building the view-transition fixture
  package.json
Labels: CLA Signed, React Core Team

#32427 Polyfill onScrollEnd Event in Safari
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactDOMComponentTree.js
  packages/react-dom-bindings/src/events/DOMEventProperties.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom-bindings/src/events/plugins/ScrollEndEventPlugin.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#31813 [compiler][ez] Add validation for auto-deps config
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/envConfig-test.ts
Labels: CLA Signed, React Core Team

#32162 [autodeps] Support namespaces
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/import-namespace-useEffect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/import-namespace-useEffect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/todo.import-default-property-useEffect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/todo.import-default-property-useEffect.js
Labels: CLA Signed, React Core Team

#32498 docs(eslint-plugin-react-hooks): clarify config details for prior versions
  packages/eslint-plugin-react-hooks/README.md
Labels: CLA Signed

#32517 [flags] make enableScrollEndPolyfill dynamic
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32500 During a Swipe Gesture Render a Clone Offscreen and Animate it Onscreen
  fixtures/view-transition/src/components/Page.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#32523 Set direction in animate call directly
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32530 [ez] Remove unused netlify.toml
  netlify.toml
Labels: CLA Signed, React Core Team

#32479 Support beforetoggle/toggle events for dialog
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom/src/__tests__/ReactDOMEventPropagation-test.js
Labels: CLA Signed

#32534 [Flight] Expose registerServerReference from the client builds
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-server-dom-esm/src/client/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-esm/src/client/ReactFlightDOMClientNode.js
  packages/react-server-dom-parcel/src/client/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-parcel/src/client/ReactFlightDOMClientEdge.js
  packages/react-server-dom-parcel/src/client/ReactFlightDOMClientNode.js
  packages/react-server-dom-turbopack/src/client/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-turbopack/src/client/ReactFlightDOMClientEdge.js
  packages/react-server-dom-turbopack/src/client/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMReplyEdge-test.js
  packages/react-server-dom-webpack/src/client/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-webpack/src/client/ReactFlightDOMClientEdge.js
  packages/react-server-dom-webpack/src/client/ReactFlightDOMClientNode.js
  packages/react-server/src/ReactFlightReplyServer.js
Labels: CLA Signed, React Core Team

#32538 Add Owner Stack to attribute hydration mismatches
  packages/react-dom/src/__tests__/ReactDOMFizzForm-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
Labels: CLA Signed, React Core Team

#32539 [compiler] Make CompilerError compatible with reflection
  compiler/packages/babel-plugin-react-compiler/src/CompilerError.ts
Labels: CLA Signed, React Core Team

#32536 docs(eslint-plugin-react-hooks): add changelog for 5.1.0 & 5.2.0
  packages/eslint-plugin-react-hooks/CHANGELOG.md
Labels: CLA Signed

#32359 [flags] make enableComponentPerformanceTrack dynamic
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32528 Fix asserts caused by OffscreenComponent rendering in React Native with passChildrenWhenCloningPersistedNodes
  packages/react-reconciler/src/ReactFiberCompleteWork.js
Labels: CLA Signed

#32550 [compiler] Migrate compiler packages to tsup
  compiler/apps/playground/next-env.d.ts
  compiler/apps/playground/playwright.config.js
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/babel-plugin-react-compiler/scripts/build.js
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Reanimated.ts
  compiler/packages/babel-plugin-react-compiler/tsconfig.json
  compiler/packages/babel-plugin-react-compiler/tsup.config.ts
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/scripts/build.js
  compiler/packages/eslint-plugin-react-compiler/src/index.ts
  compiler/packages/eslint-plugin-react-compiler/tsconfig.json
  compiler/packages/eslint-plugin-react-compiler/tsup.config.ts
  compiler/packages/make-read-only-util/package.json
  compiler/packages/make-read-only-util/scripts/build.js
  compiler/packages/make-read-only-util/tsup.config.ts
  compiler/packages/react-compiler-healthcheck/package.json
  compiler/packages/react-compiler-healthcheck/scripts/build.js
  compiler/packages/react-compiler-healthcheck/tsup.config.ts
  compiler/packages/react-compiler-runtime/package.json
  compiler/packages/react-compiler-runtime/tsup.config.ts
  compiler/scripts/release/shared/build-packages.js
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32566 Make renameElementSymbol dynamic for native fb
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
Labels: CLA Signed, React Core Team

#32549 Enable moveBefore in experimental releases
  packages/shared/ReactFeatureFlags.js
Labels: CLA Signed, React Core Team

#32567 Check if a child is a new child before calling moveBefore
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32569 [rcr] Fix incorrect output platform
  compiler/packages/react-compiler-runtime/scripts/build.js
  compiler/packages/react-compiler-runtime/tsup.config.ts
Labels: CLA Signed, React Core Team

#32565 [Flight]: Client-side `registerServerReference` must not break `.bind()`
  packages/react-client/src/ReactFlightReplyClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
Labels: CLA Signed, React Core Team

#32540 Log errors from startViewTransition to onRecoverableError
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#32465 Add ref to Fragment (alternative)
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFragmentRefs-test.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitEffects.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32579 Ignore AbortError for gestures
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32520 [compiler] Repro for object spread and Array.from with mutable iterators
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-array-spread-mutable-iterator.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-array-spread-mutable-iterator.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo-granular-iterator-semantics.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo-granular-iterator-semantics.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo-type-inference-array-from.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo-type-inference-array-from.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Labels: CLA Signed, React Core Team

#32581 [compiler] Dedupe @babel/types
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/FindContextIdentifiers.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/index.ts
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/snap/package.json
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32583 [playground] Update various deps
  compiler/apps/playground/next-env.d.ts
  compiler/apps/playground/package.json
  compiler/apps/playground/yarn.lock
Labels: CLA Signed, React Core Team

#32527 Add DOM fixture page for Fragment Ref
  fixtures/dom/src/components/Header.js
  fixtures/dom/src/components/fixtures/fragment-refs/index.js
  fixtures/dom/src/style.css
Labels: CLA Signed, React Core Team

#32586 [playground] Use onMount to check if the editor is available
  compiler/apps/playground/__tests__/e2e/page.spec.ts
  compiler/apps/playground/components/Editor/Input.tsx
  compiler/apps/playground/package.json
Labels: CLA Signed, React Core Team

#32588 Update babel configs used in jest
  babel.config-ts.js
  babel.config.js
  package.json
  yarn.lock
Labels: CLA Signed, React Core Team

#32416 feat(eslint-plugin-react-hooks): merge rule from eslint-plugin-react-compiler into `react-hooks` plugin
  babel.config-react-compiler.js
  compiler/apps/playground/yarn.lock
  compiler/packages/babel-plugin-react-compiler/tsconfig.json
  compiler/packages/babel-plugin-react-compiler/tsup.config.ts
  compiler/yarn.lock
  fixtures/eslint-v6/yarn.lock
  fixtures/eslint-v7/yarn.lock
  fixtures/eslint-v8/yarn.lock
  fixtures/eslint-v9/yarn.lock
  package.json
  packages/eslint-plugin-react-hooks/__tests__/ReactCompilerRule-test.ts
  packages/eslint-plugin-react-hooks/__tests__/ReactCompilerRuleTypescript-test.ts
  packages/eslint-plugin-react-hooks/package.json
  packages/eslint-plugin-react-hooks/src/index.ts
  packages/eslint-plugin-react-hooks/src/rules/ReactCompiler.ts
  packages/eslint-plugin-react-hooks/src/types/hermes-eslint.d.ts
  packages/eslint-plugin-react-hooks/src/types/hermes-parser.d.ts
  packages/eslint-plugin-react-hooks/tsconfig.json
  packages/react-refresh/src/__tests__/__snapshots__/ReactFreshBabelPlugin-test.js.snap
  scripts/error-codes/__tests__/__snapshots__/transform-error-messages.js.snap
  scripts/jest/config.base.js
  scripts/react-compiler/build-compiler.sh
  scripts/react-compiler/link-compiler.sh
  scripts/rollup/build.js
  scripts/rollup/bundles.js
  yarn.lock
Labels: CLA Signed

#32570 fix: clarify which mobx libs are not compatible with compiler
  compiler/packages/react-compiler-healthcheck/src/config.ts
Labels: CLA Signed

#32601 [ci] Update eslint-plugin-react-hooks output location for Meta builds
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32602 [ci] mkdir before mv
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32597 [compiler][ez] Stop bailing out early for hoisted gated functions
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Gating.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Options.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Labels: CLA Signed, React Core Team

#32598 [compiler] Avoid bailouts when inserting gating
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Gating.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/component-syntax-ref-gating.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/component-syntax-ref-gating.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/error.component-syntax-ref-gating.flow.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/error.component-syntax-ref-gating.flow.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/error.gating-hoisting.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/error.gating-hoisting.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/error.gating-use-before-decl.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/error.gating-use-before-decl.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/gating-use-before-decl-ref.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/gating-use-before-decl-ref.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/gating-use-before-decl.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/gating-use-before-decl.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/invalid-fnexpr-reference.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/invalid-fnexpr-reference.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/reassigned-fnexpr-variable.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/gating/reassigned-fnexpr-variable.js
Labels: CLA Signed, React Core Team

#32511 [compiler] clean up retry pipeline: `fireRetry` flag -> compileMode
  compiler/packages/babel-plugin-react-compiler/scripts/jest/makeTransform.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferFunctionEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-capitalized-fn-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-capitalized-fn-call.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-eslint-suppressions.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-eslint-suppressions.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-preserve-memo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-preserve-memo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-prop-write.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-prop-write.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-ref-current-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-ref-current-access.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-validate-conditional-hook.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-validate-conditional-hook.js
Labels: CLA Signed, React Core Team

#32603 [ci] Update yarn and node_modules cache key
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
  package.json
  scripts/react-compiler/build-compiler.sh
Labels: CLA Signed, React Core Team

#32604 [ci] Fix node_modules cache glob
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_prereleases.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
Labels: CLA Signed, React Core Team

#32606 Revert "[ci] Fix node_modules cache glob (#32604)"
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_prereleases.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
Labels: CLA Signed, React Core Team

#32607 Revert "[ci] Update yarn and node_modules cache key (#32603)"
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
  package.json
  scripts/react-compiler/build-compiler.sh
Labels: CLA Signed, React Core Team

#32608 [ci] Cache runtime and compiler only for test runs
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  package.json
  scripts/react-compiler/build-compiler.sh
Labels: CLA Signed, React Core Team

#32609 [ci] Update node_modules cache path
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_prereleases.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
Labels: CLA Signed, React Core Team

#32585 Merge restoreEnterViewTransitions and restoreExitViewTransitions
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32605 Gate flushGestureMutations and flushGestureAnimations
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#32611 Make xViewTransitionToHostInstances helpers reusable
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32612 Measure and apply names for the "new" phase
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32613 Move traverseFragmentInstanceChildren to internal ReactFiberTreeReflection
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
Labels: CLA Signed, React Core Team

#32617 Remove Mutation Check Around commit/measureUpdateViewTransition
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberFlags.js
Labels: CLA Signed, React Core Team

#32621 Partially revert #32588
  babel.config.js
  package.json
Labels: CLA Signed, React Core Team

#32499 [refactor] Add element type for Activity
  packages/react-devtools-shared/src/__tests__/storeComponentFilters-test.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/devtools/views/Settings/ComponentsSettings.js
  packages/react-devtools-shared/src/frontend/types.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactWorkTags.js
  packages/react-reconciler/src/__tests__/ReactErrorStacks-test.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
  packages/react-server/src/ReactFizzServer.js
  packages/react/src/ReactClient.js
  packages/shared/ReactSymbols.js
  packages/shared/getComponentNameFromType.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#32640 [bug] Fix component name for Portal and add tests
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
  packages/shared/getComponentNameFromType.js
Labels: CLA Signed, React Core Team

#32619 Add observer methods to fragment instances
  fixtures/dom/src/components/fixtures/fragment-refs/EventListenerCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/IntersectionObserverCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/ResizeObserverCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/index.js
  fixtures/dom/src/style.css
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFragmentRefs-test.js
  packages/react-dom/src/__tests__/ReactDOMTestSelectors-test.js
  packages/react-dom/src/__tests__/utils/IntersectionMocks.js
Labels: CLA Signed, React Core Team

#32646 [devtools] add filters for internal builds
  packages/react-devtools-shared/src/devtools/views/Settings/ComponentsSettings.js
Labels: CLA Signed, React Core Team

#32647 Fix COMMIT_SHA when generating PR artifacts
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32648 [ci] Don't use third party action to push commits
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32651 Materialize the tree ID when ViewTransition name=auto consumes one
  fixtures/view-transition/src/components/Page.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#32652 Don't auto-start browser in SSR fixtures
  fixtures/ssr/package.json
  fixtures/view-transition/package.json
Labels: CLA Signed, React Core Team

#31791 fix(react-compiler): implement NumericLiteral as ObjectPropertyKey
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/numeric-literal-as-object-property-key.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/numeric-literal-as-object-property-key.js
Labels: CLA Signed

#32653 Measure Updated ViewTransition Boundaries
  fixtures/view-transition/src/components/Page.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#32656 Update ViewTransition fixture to include bigger buttons/swipe
  fixtures/view-transition/src/components/Page.css
  fixtures/view-transition/src/components/Page.js
Labels: CLA Signed, React Core Team

#32660 Add getClientRects to fragment instances
  fixtures/dom/src/components/Fixture.js
  fixtures/dom/src/components/fixtures/fragment-refs/EventListenerCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/FocusCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/GetClientRectsCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/IntersectionObserverCase.js
  fixtures/dom/src/components/fixtures/fragment-refs/index.js
  fixtures/dom/src/style.css
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFragmentRefs-test.js
  packages/react-dom/src/__tests__/utils/IntersectionMocks.js
Labels: CLA Signed, React Core Team

#32214 Revert "Fix:- Improve HOC support and state preservation in React Refresh"
  packages/react-refresh/src/ReactFreshRuntime.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
Labels: CLA Signed, React Core Team

#32616 [compiler] Hoist dependencies from functions more conservatively
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectHoistablePropertyLoads.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/function-expression-prototype-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-named-callback-cross-context.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-named-callback-cross-context.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-named-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-named-callback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-named-chained-callbacks.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-named-chained-callbacks.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-simple.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/array-map-simple.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/conditional-call-chain.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/conditional-call-chain.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/conditional-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/conditional-call.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/conditionally-return-fn.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/conditionally-return-fn.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/direct-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/direct-call.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/function-with-conditional-callsite-in-another-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/function-with-conditional-callsite-in-another-function.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/hook-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/hook-call.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/jsx-and-passed.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/jsx-and-passed.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/jsx-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/jsx-function.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/return-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/return-function.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/use-memo-returned.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/assume-invoked/use-memo-returned.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/bug-invalid-array-map-manual.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/bug-invalid-array-map-manual.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/return-object-of-functions.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/inner-function/nullable-objects/return-object-of-functions.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/propagate-scope-deps-hir-fork/reduce-reactive-deps/infer-nested-function-uncond-access-local-var.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/propagate-scope-deps-hir-fork/reduce-reactive-deps/infer-object-method-uncond-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reactive-control-dependency-on-context-variable.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/context-var-granular-dep.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/rename-source-variables-nested-object-method.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useEffect-nested-lambdas.expect.md
  compiler/packages/snap/src/SproutTodoFilter.ts
Labels: CLA Signed, React Core Team

#32664 Minor Fixes to View Transition Fixture
  fixtures/view-transition/src/components/Chrome.css
  fixtures/view-transition/src/components/SwipeRecognizer.js
Labels: CLA Signed, React Core Team

#32668 [ci] Properly format commit message
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32673 [ci] Properly format commit message take 2
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32671 [ci] Bump all node_modules cache keys
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_prereleases.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
Labels: CLA Signed, React Core Team

#32666 [eslint-plugin-react-compiler] Fix type error with recommended config
  compiler/packages/eslint-plugin-react-compiler/src/index.ts
Labels: CLA Signed

#32672 [ci] Centralize cache
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32674 [ci] Bump build_and_lint to 25 workers
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32677 [ci] Parameterize branch cleanup
  .github/workflows/shared_cleanup_branch_caches.yml
Labels: CLA Signed, React Core Team

#32678 [ci] Cache playwright browsers
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32679 [ci] Specify if-no-files-found on actions/upload-artifact@v4
  .github/workflows/compiler_playground.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32681 [ci] Fix Will commit these changes www step
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32670 Enable Fragment refs in Experimental
  packages/shared/ReactFeatureFlags.js
Labels: CLA Signed, React Core Team

#32685 [ci] Warm cache
  .github/workflows/runtime_build_and_test.yml
Labels: React Core Team

#32686 [ci] Fail on cache miss
  .github/workflows/runtime_build_and_test.yml
Labels: React Core Team

#32687 [ci] Also cache playground playwright browsers
  .github/workflows/compiler_playground.yml
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32684 Set accurate value for alwaysThrottleRetries on www
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
Labels: CLA Signed, React Core Team

#32518 [refactor] move isValidElementType to react-is
  packages/react-is/src/ReactIs.js
  packages/react/src/ReactMemo.js
  packages/shared/isValidElementType.js
Labels: CLA Signed, React Core Team

#32690 [ci] Don't fail on cache miss
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32691 [ci] Add daily stale branch cache cleanup
  .github/workflows/shared_cleanup_stale_branch_caches.yml
Labels: CLA Signed, React Core Team

#32665 [compiler][bugfix] Don't insert hook guards in retry pipeline
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-dont-add-hook-guards-on-retry.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-dont-add-hook-guards-on-retry.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/repro-dont-add-hook-guards-on-retry.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/repro-dont-add-hook-guards-on-retry.js
Labels: CLA Signed, React Core Team

#32693 [ci] Bump number of shards for test_build to 10
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32699 Force layout before startViewTransition
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32701 [ci] Scope permissions for runtime_commit_artifacts.yml
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#32645 [activity] remove ref for now
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberActivityComponent.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/__tests__/Activity-test.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#32707 [ci] Add missing permissions
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_close_direct_sync_branch_prs.yml
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed

#32709 [ci] Also give permissions on pull_requests
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed, React Core Team

#32708 [ci] Don't use pull_request_target
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed, React Core Team

#32710 [ci] Add missing permissions to runtime_commit_artifacts.yml
  .github/workflows/runtime_commit_artifacts.yml
Labels: CLA Signed, React Core Team

#31792 fix(react-compiler): optimize components declared with arrow function and implicit return and `compilationMode: 'infer'`
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/arrow-function-with-implicit-return.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/arrow-function-with-implicit-return.js
Labels: CLA Signed

#32706 [compiler][be] Move e2e tests to BabelPlugin transformer
  compiler/packages/babel-plugin-react-compiler/scripts/jest/e2e-forget.config.js
  compiler/packages/babel-plugin-react-compiler/scripts/jest/makeTransform.ts
  compiler/packages/babel-plugin-react-compiler/scripts/jest/setupEnvE2E.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/e2e/constant-prop.e2e.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/e2e/update-button.e2e.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/e2e/update-expressions.e2e.js
Labels: CLA Signed

#32529 Stop creating Owner Stacks if many have been created recently
  fixtures/owner-stacks/.gitignore
  fixtures/owner-stacks/README.md
  fixtures/owner-stacks/package.json
  fixtures/owner-stacks/public/favicon.ico
  fixtures/owner-stacks/public/index.html
  fixtures/owner-stacks/public/logo192.png
  fixtures/owner-stacks/public/logo512.png
  fixtures/owner-stacks/public/manifest.json
  fixtures/owner-stacks/public/robots.txt
  fixtures/owner-stacks/src/App.css
  fixtures/owner-stacks/src/App.js
  fixtures/owner-stacks/src/index.css
  fixtures/owner-stacks/src/index.js
  fixtures/owner-stacks/src/logo.svg
  fixtures/owner-stacks/src/reportWebVitals.js
  fixtures/owner-stacks/yarn.lock
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactOwnerStacks-test.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/__tests__/ReactFlightServer-test.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactSharedInternalsServer.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactOwnerStackReset.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32697 [compiler][optim] Add map and set constructors
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Types.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/map-constructor.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/map-constructor.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-add-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-add-mutate.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-constructor-arg.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-constructor-arg.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-constructor.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-constructor.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-copy-constructor-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-copy-constructor-mutate.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-for-of-iterate-values.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/global-types/set-for-of-iterate-values.ts
Labels: CLA Signed, React Core Team

#32682 Add getRootNode to fragment instances
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFragmentRefs-test.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
Labels: CLA Signed, React Core Team

#32723 Merge ViewTransition layout/onLayout props into update/onUpdate
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
Labels: CLA Signed

#32724 [compiler][bugfix] Fix hoisting of let declarations
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneHoistedContexts.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-invalid-tdz-let.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-invalid-tdz-let.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-nested-let-declaration-2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-nested-let-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-reassigned-let-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-reassigned-let-declaration.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-reassigned-twice-let-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-reassigned-twice-let-declaration.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-simple-let-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/mutate-captured-arg-separately.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/recursive-function-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/recursive-function-expression.js
Labels: CLA Signed, React Core Team

#32727 [ci] Make maintainer check always remote
  .github/workflows/shared_check_maintainer.yml
Labels: CLA Signed, React Core Team

#32711 [ci] Add artifact attestation to build
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32728 [scripts] Verify artifact integrity when downloading
  scripts/release/shared-commands/download-build-artifacts.js
Labels: CLA Signed, React Core Team

#32730 [ci] Pass GH_TOKEN to runtime_prereleases
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Labels: CLA Signed, React Core Team

#32733 [flow] Replace $PropertyType with indexed access type in ReactNativeTypes
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed

#32738 [ci] Dont sign builds originating from anything other than facebook/react
  .github/workflows/runtime_build_and_test.yml
  scripts/release/download-experimental-build.js
  scripts/release/prepare-release-from-ci.js
  scripts/release/shared-commands/download-build-artifacts.js
Labels: CLA Signed, React Core Team

#32746 [ci] Fix incorrect condition
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32748 [ci] Fix param casing
  .github/workflows/runtime_build_and_test.yml
  scripts/release/download-experimental-build.js
Labels: CLA Signed, React Core Team

#32749 Avoid double logging component render time
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32752 Warn for duplicate ViewTransition names
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberDuplicateViewTransitions.js
Labels: CLA Signed, React Core Team

#32726 Fix ownerStackLimit feature gating for tests
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/jest/setupTests.www.js
  scripts/jest/setupTests.xplat.js
Labels: CLA Signed

#32741 [crud] Revert CRUD overload
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberCommitEffects.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32757 [ci] Skip yarn install on cache hit
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_prereleases.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_releases_from_npm_manual.yml
  .github/workflows/shared_lint.yml
Labels: CLA Signed, React Core Team

#32758 [compiler][be] Test runner (snap) now uses tsup bundled plugin
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/babel-plugin-react-compiler/src/HIR/index.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/index.ts
  compiler/packages/babel-plugin-react-compiler/src/index.ts
  compiler/packages/babel-plugin-react-compiler/tsconfig.json
  compiler/packages/snap/package.json
  compiler/packages/snap/src/constants.ts
  compiler/packages/snap/src/runner-watch.ts
  compiler/packages/snap/src/runner-worker.ts
  compiler/packages/snap/src/runner.ts
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32734 Rename <ViewTransition className="..."> to <ViewTransition default="...">
  fixtures/view-transition/src/components/Page.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
Labels: CLA Signed, React Core Team

#32761 Add "auto" class to mean the built-in should run
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
Labels: CLA Signed, React Core Team

#32751 Add getComputedStyle helper to ViewTransition refs
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32763 s/HTML/text for text hydration mismatches
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMHydrationDiff-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#32764 Mark shouldStartViewTransition as true when there's an enter animation
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32769 [compiler] Fix inferEffectDependencies lint false positives
  compiler/packages/babel-plugin-react-compiler/src/Babel/BabelPlugin.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/ValidateNoUntransformedReferences.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferEffectDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/no-emit-lint-repro.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/no-emit-lint-repro.js
  compiler/packages/snap/src/compiler.ts
Labels: CLA Signed, React Core Team

#32777 [release] Also split the onlyPackages param
  scripts/release/prepare-release-from-npm-commands/parse-params.js
  scripts/release/publish-commands/parse-params.js
Labels: CLA Signed, React Core Team

#32780 [compiler][snap] Fix test filter + watch mode
  compiler/packages/snap/src/runner-watch.ts
Labels: CLA Signed, React Core Team

#32781 Add changelog for 19.1.0
  CHANGELOG.md
Labels: CLA Signed, React Core Team

#32772 Mark the root as animating if any Portal mutates or resizes
  fixtures/view-transition/src/components/Page.css
  fixtures/view-transition/src/components/Page.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32795 Remove v19 beta specific issue template
  .github/ISSUE_TEMPLATE/19.md
Labels: CLA Signed, React Core Team

#32783 Unify BatchConfigTransition and Transition types
  packages/react-reconciler/src/ReactFiberActivityComponent.js
  packages/react-reconciler/src/ReactFiberAsyncAction.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberTracingMarkerComponent.js
  packages/react-reconciler/src/ReactFiberTransition.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactStartTransition.js
Labels: CLA Signed, React Core Team
