Repository facebook/react, pull requests merged in 2025-01, with the labels that each got.

#31893 DevTools: fork FastRefresh test for <18 versions of React
  packages/react-devtools-shared/src/__tests__/FastRefreshDevToolsIntegration-test.js
  packages/react-devtools-shared/src/hook.js
Labels: CLA Signed, React Core Team

#31919 [compiler] Update rollup plugins
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/rollup.config.js
  compiler/packages/eslint-plugin-react-compiler/rollup.config.js
  compiler/packages/react-compiler-healthcheck/rollup.config.js
  compiler/packages/react-compiler-runtime/rollup.config.js
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#31828 [Fiber] Yield every other frame for Transition/Retry work
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#31866 [Fiber] Mark cascading updates
  packages/react-reconciler/src/ReactFiberPerformanceTrack.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactProfilerTimer.js
Labels: CLA Signed, React Core Team

#31876 [Fiber] Mark error boundaries and commit phases when an error is thrown
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberPerformanceTrack.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactProfilerTimer.js
Labels: CLA Signed, React Core Team

#31921 [Fiber] Gate Update flag on BeforeMutationMask on flags
  packages/react-reconciler/src/ReactFiberFlags.js
Labels: CLA Signed, React Core Team

#31922 [Fiber] Avoid return value from commitBeforeMutationEffects
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#31930 [Fiber] Refactor Commit Phase into Separate Functions for Before Mutation/Mutation/Layout
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactDeferredValue-test.js
Labels: CLA Signed, React Core Team

#31965 Make RefStatic and LayoutStatic the same bit
  packages/react-reconciler/src/ReactFiberFlags.js
Labels: CLA Signed, React Core Team

#31772 [flags] Remove enableServerComponentLogs
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#31783 [fizz] fix empty string href double warning
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationAttributes-test.js
Labels: CLA Signed, React Core Team

#31983 [assert helpers] react-dom (pt3)
  packages/react-dom/src/__tests__/ReactDOMInvalidARIAHook-test.js
  packages/react-dom/src/__tests__/ReactDOMLegacyComponentTree-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMLegacyFiber-test.js
  packages/react-dom/src/__tests__/ReactDOMOption-test.js
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/__tests__/ReactDOMSelect-test.js
  packages/react-dom/src/__tests__/ReactDOMServerLifecycles-test.js
  packages/react-dom/src/__tests__/ReactDOMServerPartialHydration-test.internal.js
  packages/react-dom/src/__tests__/ReactDOMShorthandCSSPropertyCollision-test.js
  packages/react-dom/src/__tests__/ReactDOMSingletonComponents-test.js
  packages/react-dom/src/__tests__/ReactDOMTextarea-test.js
  packages/react-dom/src/__tests__/ReactErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactFunctionComponent-test.js
  packages/react-dom/src/__tests__/ReactIdentity-test.js
  packages/react-dom/src/__tests__/ReactLegacyCompositeComponent-test.js
  packages/react-dom/src/__tests__/ReactLegacyContextDisabled-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-dom/src/__tests__/ReactLegacyMount-test.js
  packages/react-dom/src/__tests__/ReactLegacyUpdates-test.js
  packages/react-dom/src/__tests__/ReactMountDestruction-test.js
  packages/react-dom/src/__tests__/ReactMultiChild-test.js
  packages/react-dom/src/__tests__/ReactMultiChildText-test.js
  packages/react-dom/src/__tests__/ReactRenderDocument-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-dom/src/__tests__/ReactServerRenderingHydration-test.js
  packages/react-dom/src/__tests__/ReactTestUtilsAct-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-dom/src/__tests__/validateDOMNesting-test.js
Labels: CLA Signed, React Core Team

#31823 react-hooks/rules-of-hooks: detect issues in class properties
  packages/eslint-plugin-react-hooks/__tests__/ESLintRuleExhaustiveDeps-test.js
  packages/eslint-plugin-react-hooks/__tests__/ESLintRulesOfHooks-test.js
  packages/eslint-plugin-react-hooks/package.json
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.js
  yarn.lock
Labels: CLA Signed

#31993 fix: `react-compiler-runtime` should be cjs
  compiler/packages/react-compiler-runtime/scripts/build.js
Labels: CLA Signed

#31994 [rcr] Generate ts defs
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/react-compiler-runtime/package.json
  compiler/packages/react-compiler-runtime/scripts/build.js
  compiler/packages/snap/package.json
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#31984 [tests] fix hidden use() warnings
  packages/react-reconciler/src/__tests__/ReactUse-test.js
Labels: CLA Signed, React Core Team

#31985 bot for pr notifications
  .github/workflows/discord_notify.yml
Labels: CLA Signed, React Core Team

#32006 Fix notify target, add lines
  .github/workflows/discord_notify.yml
Labels: CLA Signed, React Core Team

#32009 [playground] Use default compiler config
  compiler/apps/playground/components/Editor/EditorImpl.tsx
Labels: CLA Signed, React Core Team

#32010 [ci] Make gh workflow names consistent
  .github/workflows/shared_discord_notify.yml
Labels: CLA Signed, React Core Team

#31989 [tests] Remove to*Dev matchers
  .eslintrc.js
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
  scripts/eslint-rules/__tests__/no-to-warn-dev-within-to-throw-test.internal.js
  scripts/eslint-rules/index.js
  scripts/eslint-rules/no-to-warn-dev-within-to-throw.js
  scripts/jest/matchers/__tests__/toWarnDev-test.js
  scripts/jest/matchers/toWarnDev.js
  scripts/jest/setupTests.js
  scripts/jest/spec-equivalence-reporter/setupTests.js
  scripts/jest/typescript/jest.d.ts
Labels: CLA Signed, React Core Team

#32005 chore[react-devtools-shell]: disable warnings in dev server overlay
  packages/react-devtools-shell/webpack-server.js
Labels: CLA Signed, React Core Team

#32008 [flags] remove enableDeferRootSchedulingToMicrotask
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react/src/__tests__/ReactProfiler-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#31966 [Fiber] Delete isMounted internals
  packages/react-dom/src/__tests__/ReactComponentLifeCycle-test.js
  packages/react-reconciler/src/ReactFiberClassComponent.js
  packages/react-reconciler/src/ReactFiberContext.js
  packages/react-reconciler/src/ReactFiberTreeReflection.js
  packages/react-reconciler/src/__tests__/ReactIncrementalReflection-test.js
  packages/react-server/src/ReactFizzClassComponent.js
Labels: CLA Signed, React Core Team

#31975 Add <ViewTransition> Component
  fixtures/view-transition/README.md
  fixtures/view-transition/package.json
  fixtures/view-transition/public/favicon.ico
  fixtures/view-transition/public/index.html
  fixtures/view-transition/server/index.js
  fixtures/view-transition/server/render.js
  fixtures/view-transition/src/components/App.js
  fixtures/view-transition/src/components/Chrome.css
  fixtures/view-transition/src/components/Chrome.js
  fixtures/view-transition/src/components/Page.css
  fixtures/view-transition/src/components/Page.js
  fixtures/view-transition/src/index.js
  fixtures/view-transition/yarn.lock
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-devtools-shared/src/utils.js
  packages/react-dom-bindings/src/client/CSSPropertyOperations.js
  packages/react-dom-bindings/src/client/DOMPropertyOperations.js
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-is/src/ReactIs.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberMutationTracking.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactWorkTags.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react/index.experimental.development.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactServer.experimental.development.js
  packages/react/src/ReactServer.experimental.js
  packages/shared/ReactComponentStackFrame.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactSerializationErrors.js
  packages/shared/ReactSymbols.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/getComponentNameFromType.js
  packages/shared/isValidElementType.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#31999 [Fiber] Use className on <ViewTransition> to assign view-transition-class
  fixtures/view-transition/package.json
  fixtures/view-transition/server/index.js
  fixtures/view-transition/server/render.js
  fixtures/view-transition/src/components/Page.js
  fixtures/view-transition/src/components/Transitions.module.css
  fixtures/view-transition/yarn.lock
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#31996 [Fiber] Support only View Transitions v2
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32002 [Fiber] Suspend the commit while we wait for the previous View Transition to finish
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/__tests__/ReactFiberHostContext-test.internal.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#32028 ViewTransitions in Navigation
  fixtures/view-transition/server/render.js
  fixtures/view-transition/src/components/App.js
  fixtures/view-transition/src/components/Page.js
  fixtures/view-transition/src/index.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#32029 Execute layout phase before after mutation phase inside view transition
  fixtures/view-transition/src/components/App.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#32031 Suspensey Fonts for View Transition
  fixtures/view-transition/src/components/Chrome.js
  fixtures/view-transition/src/components/Page.css
  fixtures/view-transition/src/components/Page.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32033 Remove enableGetInspectorDataForInstanceInProduction flag
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactNativeFiberInspector.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#32034 Add ViewTransitionComponent to Stacks and DevTools
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/frontend/types.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/getComponentNameFromFiber.js
Labels: CLA Signed, React Core Team

#32035 [playground] Partially revert #32009
  compiler/apps/playground/components/Editor/EditorImpl.tsx
Labels: CLA Signed, React Core Team

#32012 [compiler] Playground qol: shared compilation option directives with tests
  compiler/apps/playground/__tests__/e2e/__snapshots__/page.spec.ts/compilationMode-all-output.txt
  compiler/apps/playground/__tests__/e2e/__snapshots__/page.spec.ts/compilationMode-infer-output.txt
  compiler/apps/playground/__tests__/e2e/page.spec.ts
  compiler/apps/playground/components/Editor/EditorImpl.tsx
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/parseConfigPragma-test.ts
  compiler/packages/snap/src/compiler.ts
Labels: CLA Signed, React Core Team

#32019 chore[DevTools/TraceUpdates]: display names by default
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/index.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/constants.js
  packages/react-devtools-shared/src/devtools/views/Settings/GeneralSettings.js
  packages/react-devtools-shared/src/devtools/views/Settings/SettingsContext.js
Labels: CLA Signed, React Core Team

#32015 chore[DevTools/Tree]: don't pre-select root element and remove unused code
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
Labels: CLA Signed, React Core Team

#31892 DevTools: fix initial host instance selection
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-shared/src/devtools/store.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
Labels: CLA Signed, React Core Team

#31956 DevTools: merge element fields in TreeStateContext
  packages/react-devtools-inline/__tests__/__e2e__/components.test.js
  packages/react-devtools-inline/__tests__/__e2e__/devtools-utils.js
  packages/react-devtools-shared/src/__tests__/inspectedElement-test.js
  packages/react-devtools-shared/src/__tests__/profilerContext-test.js
  packages/react-devtools-shared/src/devtools/utils.js
  packages/react-devtools-shared/src/devtools/views/Components/Element.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSourcePanel.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/context.js
  packages/react-devtools-shared/src/devtools/views/Components/SelectedTreeHighlight.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
Labels: CLA Signed, React Core Team

#31968 [DevTools] feat[Tree]: set initial scroll offset when inspected element index is set
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
Labels: CLA Signed, React Core Team

#32018 fix[DevTools/Tree]: only scroll to item when panel is visible
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/frontend/hooks/useExtensionComponentsPanelVisibility.js
Labels: CLA Signed, React Core Team

#32036 [Fiber] Support moveBefore at the top level of a container
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32038 View Transition Refs
  .eslintrc.js
  fixtures/view-transition/src/components/Page.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitEffects.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#32041 View Transition Events
  fixtures/view-transition/src/components/Page.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#32050 View Transition Class Names based on event kind
  fixtures/view-transition/src/components/Page.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
Labels: CLA Signed, React Core Team

#32055 [compiler][ez] Patch compilationMode:infer object method edge case
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-nested-object-method.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-nested-object-method.jsx
Labels: CLA Signed, React Core Team

#32054 Use internal `ReactCompilerRuntime` in `react/compiler-runtime` entrypoint
  packages/react/compiler-runtime.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactCompilerRuntime.js
Labels: CLA Signed, React Core Team

#32045 fix(eslint-plugin-react-compiler): support v9 context api
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
Labels: CLA Signed

#32066 [DevTools] Prevent crash when starting consecutive profiling sessions
  packages/react-devtools-shared/src/devtools/ProfilerStore.js
Labels: CLA Signed

#32067 [Fizz] Restore `useMemoCache` in renderers with support for Client APIs
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzHooks.js
Labels: CLA Signed, React Core Team

#32070 Fix Flight fixture CI
  fixtures/flight/package.json
  fixtures/flight/yarn.lock
Labels: CLA Signed, React Core Team

#32068 Reduce risk of leaving shipped Hooks as nullable on Dispatcher
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzHooks.js
Labels: CLA Signed, React Core Team

#32058 Flag to remove www console forks
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/forks/consoleWithStackDev.www.js
Labels: CLA Signed, React Core Team

#32074 chore[DevTools]: don't use batchedUpdate
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/StyleEditor.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/context.js
  packages/react-devtools-shared/src/devtools/views/Profiler/ProfilerContext.js
  packages/react-devtools-shared/src/devtools/views/UnsupportedVersionDialog.js
Labels: CLA Signed, React Core Team

#32075 [internal] fix console patch, add RN
  packages/shared/forks/consoleWithStackDev.rn.js
  packages/shared/forks/consoleWithStackDev.www.js
  scripts/rollup/bundles.js
Labels: CLA Signed, React Core Team

#32077 Fix copy functionality in Firefox
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
Labels: CLA Signed

#32079 [actions] split out compiler notify
  .github/workflows/shared_discord_notify.yml
Labels: CLA Signed, React Core Team

#32086 fix[DevTools]: fix HostComponent naming in filters for Native
  .eslintrc.js
  packages/react-devtools-core/webpack.standalone.js
  packages/react-devtools-fusebox/webpack.config.frontend.js
  packages/react-devtools-shared/src/devtools/views/Settings/ComponentsSettings.js
Labels: CLA Signed, React Core Team

#32080 Fix local react usage in DOM fixture
  .github/workflows/runtime_build_and_test.yml
  fixtures/dom/package.json
  fixtures/dom/src/index.js
  fixtures/dom/src/react-loader.js
  fixtures/dom/yarn.lock
Labels: CLA Signed, React Core Team

#32088 fix[DevTools]: support useResourceEffect
  packages/react-debug-tools/src/ReactDebugHooks.js
Labels: CLA Signed, React Core Team

#32090 React DevTools 6.0.1 -> 6.1.0
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#32092 [ci] Better filtering for discord notifications
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_discord_notify.yml
Labels: CLA Signed, React Core Team

#32091 [rcr] Always target node
  compiler/packages/react-compiler-runtime/scripts/build.js
  compiler/packages/snap/package.json
Labels: CLA Signed, React Core Team

#32100 [ci] Automatically label PRs from core team
  .github/workflows/shared_core_label.yml
  MAINTAINERS
Labels: CLA Signed, React Core Team

#32102 Fix outdated maintainers list
  MAINTAINERS
Labels: CLA Signed, React Core Team

#30774 feat(eslint-plugin-react-hooks): support flat config
  packages/eslint-plugin-react-hooks/README.md
  packages/eslint-plugin-react-hooks/src/index.js
Labels: CLA Signed, React Core Team

#32110 Fix maintainer check condition
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed

#32111 [ci] Fix maintainer output condition check
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
Labels: CLA Signed, React Core Team

#32087 Fix moveBefore feature detection
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed

#31960 [compiler] validation against calling impure functions
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/TypeSchema.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValiateNoImpureFunctionsInRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-impure-functions-in-render.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-impure-functions-in-render.js
Labels: CLA Signed, React Core Team

#32112 [ci] Use correct actor when checking if maintainer
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
  .github/workflows/shared_check_maintainer.yml
  .github/workflows/shared_label_core_team_prs.yml
Labels: CLA Signed, React Core Team

#32069 [Fizz] Support Suspense boundaries anywhere
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-dom/src/__tests__/ReactDOMFizzDeferredValue-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticBrowser-test.js
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-noop-renderer/src/ReactNoopServer.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#32115 [eslint-plugin-react-hooks] Inline meta fields
  packages/eslint-plugin-react-hooks/src/index.js
Labels: CLA Signed, React Core Team

#32116 [Flight] Transport custom error names in dev mode
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Labels: CLA Signed

#32120 Support eslint 8+ flat plugin syntax out of the box for eslint-plugin-react-compiler
  compiler/packages/eslint-plugin-react-compiler/README.md
  compiler/packages/eslint-plugin-react-compiler/src/index.ts
Labels: CLA Signed

#32105 Add Transition Types
  fixtures/view-transition/src/components/App.js
  fixtures/view-transition/src/components/Page.js
  fixtures/view-transition/src/components/Transitions.module.css
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberViewTransitionComponent.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react/index.experimental.development.js
  packages/react/index.experimental.js
  packages/react/index.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactSharedInternalsClient.js
  packages/react/src/ReactTransitionType.js
Labels: CLA Signed, React Core Team

#32106 DevTools: support useEffectEvent and forward-fix experimental prefix support
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-devtools-shell/src/app/InspectableElements/InspectableElements.js
  packages/react-devtools-shell/src/app/InspectableElements/UseEffectEvent.js
Labels: CLA Signed, React Core Team

#32157 Include error name in error chunks
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#32149 docs(eslint-plugin-react-compiler): fix typo
  compiler/packages/eslint-plugin-react-compiler/README.md
Labels: CLA Signed

#32138 fix(react-compiler): `JSXText` emits incorrect with bracket
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-bracket-in-text.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-bracket-in-text.jsx
Labels: CLA Signed

#32131 [compiler][ez] Patch for JSX escape sequences in @babel/generator
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-preserve-escape-character.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-propagate-type-of-ternary-nested.expect.md
Labels: CLA Signed, React Core Team

#32093 [compiler][ez] rewrite invariant in InferReferenceEffects
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferFunctionEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
Labels: CLA Signed, React Core Team

#32160 [compiler][ez] Fix main (bad rebase / amend for #32095)
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-mixedreadonly-map-shape.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-mixedreadonly-map-shape.js
Labels: CLA Signed, React Core Team

#32161 Move effect dep inference tests to infer-effect-dependencies directory
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/infer-deps-custom-config.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/infer-deps-custom-config.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/infer-effect-dependencies.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/infer-effect-dependencies.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/nonreactive-dep.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/nonreactive-dep.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/nonreactive-ref-helper.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/nonreactive-ref-helper.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/nonreactive-ref.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/nonreactive-ref.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/outlined-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/outlined-function.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/pruned-nonreactive-obj.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/pruned-nonreactive-obj.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-memberexpr-merge.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-memberexpr-merge.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-memberexpr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-memberexpr.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-optional-chain.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-optional-chain.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-variable.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/reactive-variable.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/todo-import-namespace-useEffect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/infer-effect-dependencies/todo-import-namespace-useEffect.js
Labels: CLA Signed, React Core Team

#30660 Fix:- Improve HOC support and state preservation in React Refresh
  packages/react-refresh/src/ReactFreshRuntime.js
  packages/react-refresh/src/__tests__/ReactFresh-test.js
Labels: CLA Signed

#32207 Clarify useActionState async non-transition warning
  packages/react-dom/src/__tests__/ReactDOMForm-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#32215 [ci] Make maintainer check workflow usable from other repositories
  .github/workflows/shared_check_maintainer.yml
Labels: CLA Signed, React Core Team

#32216 [ci] Parse inputs for maintainer check workflow
  .github/workflows/shared_check_maintainer.yml
Labels: CLA Signed, React Core Team

#32217 [ci] Fix typo
  .github/workflows/shared_check_maintainer.yml
Labels: CLA Signed, React Core Team

#32225 fix(react-compiler-healthcheck): Add shebang to banner
  compiler/packages/react-compiler-healthcheck/scripts/build.js
Labels: CLA Signed

#32238 Update MAINTAINERS
  MAINTAINERS
Labels: CLA Signed, React Core Team

#32132 [Flight Parcel] Pass import maps through client references
  packages/react-server-dom-parcel/src/ReactFlightParcelReferences.js
  packages/react-server-dom-parcel/src/client/ReactFlightClientConfigBundlerParcel.js
  packages/react-server-dom-parcel/src/server/ReactFlightServerConfigParcelBundler.js
  packages/react-server-dom-parcel/src/shared/ReactFlightImportMetadata.js
  scripts/flow/environment.js
Labels: CLA Signed

#32163 [Fiber] Support Suspense boundaries anywhere (excluding hydration)
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberConfigWithNoSingletons.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
Labels: CLA Signed, React Core Team

#32260 [RN] Add support for document instance in React Native
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/ReactNativePrivateInterface.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/createPublicInstance.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/createPublicRootInstance.js
  scripts/flow/react-native-host-hooks.js
Labels: CLA Signed

#32272 Expose new method in Fabric renderer to access root instance from root tag
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/shims/ReactNativeTypes.js
Labels: CLA Signed, fb-exported

#32273 [Fiber] Read the class name from props.layout
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed, React Core Team

#32266 [ci] Try to parallelize devtools builds
  .github/workflows/runtime_build_and_test.yml
  scripts/ci/pack_and_store_devtools_artifacts.sh
Labels: CLA Signed, React Core Team

#32267 [ci] Remove build_devtools_and_process_artifacts as a dependency to run_devtools_e2e_tests
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32254 [Fiber] Track Appearing Named ViewTransition in the accumulateSuspenseyCommit Phase
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#32275 [ci] Only install chromium for flight fixtures
  .github/workflows/runtime_build_and_test.yml
Labels: CLA Signed, React Core Team

#32262 chore[DevTools]: make clipboardWrite optional for chromium
  .eslintrc.js
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-shared/src/devtools/ContextMenu/types.js
  packages/react-devtools-shared/src/devtools/store.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementContextTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementPropsTree.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementSourcePanel.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementStateTree.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/StyleEditor.js
  packages/react-devtools-shared/src/devtools/views/Profiler/SidebarEventInfo.js
  packages/react-devtools-shared/src/devtools/views/UnsupportedBridgeProtocolDialog.js
  packages/react-devtools-shared/src/errors/PermissionNotGrantedError.js
  packages/react-devtools-shared/src/frontend/utils/withPermissionsCheck.js
  packages/react-devtools-timeline/src/CanvasPageContextMenu.js
  scripts/flow/react-devtools.js
Labels: CLA Signed, React Core Team

#32277 Fix typo in dangerfile.js which results in an unreachable code path…
  dangerfile.js
Labels: CLA Signed

#32117 Permit non-`DEV` Elements in `React.Children` w/ `DEV`
  packages/react/src/__tests__/ReactChildren-test.js
  packages/react/src/jsx/ReactJSXElement.js
Labels: CLA Signed

#32279 build(eslint-plugin-react-hooks): add dev dependencies for typescript migration
  compiler/packages/eslint-plugin-react-compiler/package.json
  packages/eslint-plugin-react-hooks/package.json
  yarn.lock
Labels: CLA Signed

#32210 Reconciler: Combine identical cases in findParent
  packages/react-reconciler/src/ReactFiberCommitWork.js
Labels: CLA Signed

#32164 [compiler][rfc] Hacky retry pipeline for fire
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-capitalized-fn-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-capitalized-fn-call.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-eslint-suppressions.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-eslint-suppressions.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-preserve-memo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-preserve-memo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-prop-write.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-prop-write.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-ref-current-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/bailout-validate-ref-current-access.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/error.todo-syntax.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/error.todo-syntax.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/todo-use-no-memo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-retry/todo-use-no-memo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-validate-conditional-hook.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/bailout-validate-conditional-hook.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/transform-fire/error.invalid-conditional-use-effect.expect.md
Labels: CLA Signed, React Core Team
