Repository facebook/react, pull requests merged in 2025-02, with the labels that each got.

#32296 DevTools: fix host component filter option title
  packages/react-devtools-shared/src/devtools/views/Settings/ComponentsSettings.js
Labels: CLA Signed, React Core Team

#32297 fix[react-devtools-fusebox]: add extension globals to build
  packages/react-devtools-fusebox/webpack.config.frontend.js
Labels: CLA Signed, React Core Team

#32283 build(eslint-plugin-react-hooks): tsconfig and global types
  packages/eslint-plugin-react-hooks/src/types/estree.d.ts
  packages/eslint-plugin-react-hooks/src/types/global.d.ts
  packages/eslint-plugin-react-hooks/tsconfig.json
  packages/eslint-plugin-react-hooks/tsup.config.ts
Labels: CLA Signed

#32294 [Flight Parcel] Implement findSourceMapURL
  fixtures/flight-parcel/.parcelrc
  fixtures/flight-parcel/package.json
  fixtures/flight-parcel/src/Todos.tsx
  fixtures/flight-parcel/src/server.tsx
  fixtures/flight-parcel/yarn.lock
  packages/react-server-dom-parcel/src/client/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-parcel/src/client/ReactFlightDOMClientEdge.js
  packages/react-server-dom-parcel/src/client/ReactFlightDOMClientNode.js
  scripts/flow/environment.js
Labels: CLA Signed

#32224 [Fiber] support hydration when rendering Suspense anywhere
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationUntrustedURL-test.js
  packages/react-markup/src/ReactFizzConfigMarkup.js
  packages/react-reconciler/src/ReactFiberCommitHostEffects.js
  packages/react-reconciler/src/ReactFiberConfigWithNoHydration.js
  packages/react-reconciler/src/ReactFiberHydrationContext.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-server/src/ReactFizzServer.js
Labels: CLA Signed, React Core Team

#32250 [Fiber] Disable comments as containers in OSS
  packages/react-dom-bindings/src/client/ReactDOMContainer.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/events/DOMPluginEventSystem.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-dom/src/client/ReactDOMRootFB.js
Labels: CLA Signed, React Core Team

#32306 Set enableViewTransition to dynamic for www
  packages/react/index.fb.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32298 DevTools: refactor NativeStyleEditor, don't use custom cache implementation
  packages/react-devtools-inline/__tests__/__e2e__/components.test.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/LayoutViewer.css
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/StyleEditor.css
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/StyleEditor.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/context.js
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/index.css
  packages/react-devtools-shared/src/devtools/views/Components/NativeStyleEditor/index.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
Labels: CLA Signed, React Core Team

#32311 Export addTransitionType for www
  packages/react/index.fb.js
Labels: CLA Signed, React Core Team

#32321 [Fiber] `getHoistableRoot()` should account for Document containers
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Labels: CLA Signed, React Core Team

#32252 [Fiber][Dev] Relax dom nesting validation when the root is a Document, html tag, or body tag
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom-bindings/src/client/validateDOMNesting.js
  packages/react-dom/src/__tests__/ReactDOM-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFloat-test.js
  packages/react-dom/src/__tests__/validateDOMNesting-test.js
Labels: CLA Signed, React Core Team

#32326 React DevTools 6.1.0 -> 6.1.1
  packages/react-devtools-core/package.json
  packages/react-devtools-extensions/chrome/manifest.json
  packages/react-devtools-extensions/edge/manifest.json
  packages/react-devtools-extensions/firefox/manifest.json
  packages/react-devtools-inline/package.json
  packages/react-devtools-timeline/package.json
  packages/react-devtools/CHANGELOG.md
  packages/react-devtools/package.json
Labels: CLA Signed, React Core Team

#32327 fix[react-devtools-standalone]: define missing globals
  packages/react-devtools-core/webpack.standalone.js
Labels: CLA Signed

#32318 Ship enableFabricCompleteRootInCommitPhase
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32324 [compiler] Improve error messages for unhandled terminal and instruction kinds
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PrintReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
Labels: CLA Signed

#32331 [compiler] Add simple walltime measurement
  compiler/packages/babel-plugin-react-compiler/src/Babel/BabelPlugin.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Options.ts
Labels: CLA Signed, React Core Team

#32332 [ci] Use 'opened' event for discord notifications
  .github/workflows/compiler_discord_notify.yml
  .github/workflows/runtime_discord_notify.yml
Labels: CLA Signed, React Core Team

#32335 [ci] Disallow PRs against builds branch
  .github/workflows/shared_close_direct_sync_branch_prs.yml
Labels: CLA Signed, React Core Team

#32337 [ci] Fix typo
  .github/workflows/shared_close_direct_sync_branch_prs.yml
Labels: CLA Signed, React Core Team

#32342 Remove useActionState Hook export from experimental react-server condition
  packages/react/src/ReactServer.experimental.development.js
  packages/react/src/ReactServer.experimental.js
Labels: CLA Signed, React Core Team

#32344 Trigger Discord notification when draft PR is set to "ready for review"
  .github/workflows/runtime_discord_notify.yml
Labels: CLA Signed, React Core Team

#32348 [react-native] fix divergence in synced code
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed, React Core Team

#32349 [react-native] Suppress Flow nonstrict-import check in ReactNativeTypes
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed, React Core Team

#32357 [builds/facebook-fbsource] Add workflow to close direct PRs
  .github/workflows/shared_close_direct_sync_branch_prs.yml
Labels: CLA Signed

#30767 [devtools] Introduce REACT_DEVTOOLS_PORT for the standalone react-devtools
  packages/react-devtools/README.md
  packages/react-devtools/preload.js
Labels: CLA Signed

#32203 [crud] Narrow resource type
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberCommitEffects.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react/src/ReactHooks.js
Labels: CLA Signed, React Core Team

#32204 [crud] Rename useResourceEffect flag
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationHooks-test.js
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberCommitEffects.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactHooksWithNoopRenderer-test.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32355 Added dev-only warning for null/undefined create in use*Effect
  packages/react/src/ReactHooks.js
Labels: CLA Signed

#32363 [RN] Set up test to create public instances lazily in Fabric
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed

#32368 [compiler] Upgrade esbuild
  compiler/package.json
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32371 [ci] Also notify compiler ready for review PRs
  .github/workflows/compiler_discord_notify.yml
Labels: CLA Signed, React Core Team

#32372 fix(devtools): Handle nullish values passed to `formatConsoleArguments`
  packages/react-devtools-shared/src/__tests__/utils-test.js
  packages/react-devtools-shared/src/backend/utils/formatConsoleArguments.js
Labels: CLA Signed

#30880 fix value formatting of proxies of class instances
  packages/react-devtools-shared/src/utils.js
Labels: CLA Signed, Component: Developer Tools

#32053 Enable owner stacks in Canary builds
  packages/react/index.stable.development.js
  packages/react/src/ReactServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
Labels: CLA Signed, React Core Team

#32373 Add useSwipeTransition Hook Behind Experimental Flag
  fixtures/view-transition/src/components/Page.css
  fixtures/view-transition/src/components/Page.js
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactFiberConcurrentUpdates.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberRootScheduler.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/ReactFlightHooks.js
  packages/react/index.experimental.development.js
  packages/react/index.experimental.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/ReactTypes.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/codes.json
Labels: CLA Signed, React Core Team

#32382 Change TouchedViewDataAtPoint type in ReactNativeTypes to use supported by Flow tooling syntax
  packages/react-native-renderer/src/ReactNativeTypes.js
Labels: CLA Signed

#32393 build: add support to the rollup build for building typescript packages
  babel.config-ts.js
  package.json
  packages/react/src/__tests__/ReactTypeScriptClass-test.ts
  scripts/jest/config.base.js
  scripts/rollup/build.js
  scripts/rollup/bundles.js
  scripts/rollup/packaging.js
  scripts/rollup/wrappers.js
  yarn.lock
Labels: CLA Signed

#32396 test(eslint): create eslint test fixtures
  fixtures/eslint-v6/.eslintrc.json
  fixtures/eslint-v6/README.md
  fixtures/eslint-v6/build.mjs
  fixtures/eslint-v6/index.js
  fixtures/eslint-v6/package.json
  fixtures/eslint-v6/yarn.lock
  fixtures/eslint-v7/.eslintrc.json
  fixtures/eslint-v7/README.md
  fixtures/eslint-v7/build.mjs
  fixtures/eslint-v7/index.js
  fixtures/eslint-v7/package.json
  fixtures/eslint-v7/yarn.lock
  fixtures/eslint-v8/.eslintrc.json
  fixtures/eslint-v8/README.md
  fixtures/eslint-v8/build.mjs
  fixtures/eslint-v8/index.js
  fixtures/eslint-v8/package.json
  fixtures/eslint-v8/yarn.lock
  fixtures/eslint-v9/README.md
  fixtures/eslint-v9/build.mjs
  fixtures/eslint-v9/eslint.config.mjs
  fixtures/eslint-v9/index.js
  fixtures/eslint-v9/package.json
  fixtures/eslint-v9/yarn.lock
  fixtures/eslint/README.md
  fixtures/eslint/index.js
  fixtures/eslint/package.json
  fixtures/eslint/proxy/index.js
  fixtures/eslint/proxy/package.json
  fixtures/eslint/watch.sh
  fixtures/eslint/yarn.lock
Labels: CLA Signed

#32240 feat(eslint-plugin-react-hooks): convert to typescript and package type declarations
  packages/eslint-plugin-react-hooks/babel.config.js
  packages/eslint-plugin-react-hooks/index.js
  packages/eslint-plugin-react-hooks/jest.config.js
  packages/eslint-plugin-react-hooks/npm/index.d.ts
  packages/eslint-plugin-react-hooks/package.json
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.ts
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.ts
  packages/eslint-plugin-react-hooks/src/index.js
  packages/eslint-plugin-react-hooks/src/index.ts
  packages/eslint-plugin-react-hooks/src/types/estree.d.ts
  packages/eslint-plugin-react-hooks/tsconfig.json
  packages/eslint-plugin-react-hooks/tsup.config.ts
  scripts/rollup/bundles.js
  yarn.lock
Labels: CLA Signed

#32398 chore: remove `devEngines` declaration in root package
  package.json
Labels: CLA Signed

#32397 ci: add workflow for running the eslint plugin e2e tests
  .github/workflows/runtime_eslint_plugin_e2e.yml
  fixtures/eslint-v6/build.mjs
  fixtures/eslint-v6/package.json
  fixtures/eslint-v6/yarn.lock
  fixtures/eslint-v7/build.mjs
  fixtures/eslint-v7/package.json
  fixtures/eslint-v7/yarn.lock
  fixtures/eslint-v8/build.mjs
  fixtures/eslint-v8/package.json
  fixtures/eslint-v8/yarn.lock
  fixtures/eslint-v9/build.mjs
  fixtures/eslint-v9/package.json
  fixtures/eslint-v9/yarn.lock
Labels: CLA Signed

#32400 refactor(eslint-plugin-react-hooks): change array type and improve conditionals
  .eslintrc.js
  .github/workflows/runtime_eslint_plugin_e2e.yml
  package.json
  packages/eslint-plugin-react-hooks/src/ExhaustiveDeps.ts
  packages/eslint-plugin-react-hooks/src/RulesOfHooks.ts
  yarn.lock
Labels: CLA Signed

#32413 Update CNAME
  CNAME
Labels: CLA Signed

#32376 [flags] enable owner stacks everywhere
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/jest/setupTests.www.js
  scripts/jest/setupTests.xplat.js
Labels: CLA Signed, React Core Team

#32096 [compiler] Delete LoweredFunction.dependencies and hoisted instructions
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectHoistablePropertyLoads.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/MergeOverlappingReactiveScopesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PropagateScopeDependenciesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/visitors.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/AnalyseFunctions.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferMutableContextVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/LowerContextAccess.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/OutlineFunctions.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/SSA/EliminateRedundantPhi.ts
  compiler/packages/babel-plugin-react-compiler/src/SSA/EnterSSA.ts
  compiler/packages/babel-plugin-react-compiler/src/Transform/TransformFire.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/aliased-nested-scope-fn-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/aliased-nested-scope-fn-expr.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/aliased-nested-scope-truncated-dep.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/aliased-nested-scope-truncated-dep.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-unused-callback-nested.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-mutate-2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-no-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-simple-alias-iife.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-alias-computed-load-2-iife.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-alias-computed-load-3-iife.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-alias-computed-load-4-iife.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-alias-computed-load-iife.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-reference-changes-type.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/codegen-inline-iife-reassign.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/const-propagation-into-function-expression-global.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/const-propagation-into-function-expression-primitive.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-into-function-expressions.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/context-variable-as-jsx-element-tag.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.hoisting-simple-function-declaration.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.hook-call-freezes-captured-identifier.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.hook-call-freezes-captured-identifier.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.hook-call-freezes-captured-memberexpr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.hook-call-freezes-captured-memberexpr.jsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.todo-repro-named-function-with-shadowed-local-same-name.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-setstate-captured-indirectly-jsx.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-setstate-captured-indirectly-jsx.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-setstate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-setstate.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-call-freezes-captured-memberexpr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-call-freezes-captured-memberexpr.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-local-tag-in-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/jsx-memberexpr-tag-in-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/lambda-mutated-non-reactive-to-reactive.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/lambda-mutated-ref-non-reactive.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nested-function-shadowed-identifiers.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-reordering-depslist-assignment.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/rewrite-phis-in-lambda-capture-context.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/use-operator-conditional.expect.md
Labels: CLA Signed, React Core Team

#32097 [compiler] Remove redundant InferMutableContextVariables
  compiler/packages/babel-plugin-react-compiler/src/Inference/AnalyseFunctions.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferMutableContextVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-mutate-global-in-effect-fixpoint.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-mutate-global-in-effect-fixpoint.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reanimated-shared-value-writes.expect.md
Labels: CLA Signed, React Core Team

#32287 [compiler] Represent array accesses with PropertyLoad
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectHoistablePropertyLoads.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/CollectOptionalChainDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/DeriveMinimalDependenciesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PropagateScopeDependenciesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Types.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/ConstantPropagation.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/InlineJsxTransform.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/LowerContextAccess.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PropagateEarlyReturns.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneInitializationDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/TypeInference/InferTypes.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateHooksUsage.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateNoCapitalizedCalls.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateNoRefAccesInRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/mixedreadonly-mutating-map.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/error.useMemo-dep-not-recognized.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-dep-array-literal-access.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/preserve-memo-validation/useMemo-dep-array-literal-access.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reactivity-via-aliased-mutation-array.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reactivity-via-aliased-mutation-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-store-capture-namespace-import.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/type-provider-store-capture.expect.md
Labels: CLA Signed, React Core Team

#31812 [compiler][be] Clean up bug test fixtures; evaluate more fixtures
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/call-spread.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/call-spread.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-fun-alias-captured-mutate-2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-fun-alias-captured-mutate-2.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-fun-alias-captured-mutate-arr-2.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-fun-alias-captured-mutate-arr-2.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-captured-mutate-arr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-captured-mutate-arr.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-computed-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-computed-mutate.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-mutate.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-receiver-computed-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-receiver-computed-mutate.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-receiver-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-alias-receiver-mutate.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-simple-alias.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-func-simple-alias.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-capture-ref-before-rename.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-capture-ref-before-rename.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-conditional-capture-mutate.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-conditional-capture-mutate.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-renamed-ref.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-renamed-ref.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-runs-inference.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-runs-inference.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-shadow-captured.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-function-shadow-captured.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-reference-changes-type.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/capturing-reference-changes-type.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/computed-store-alias.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/computed-store-alias.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-into-function-expressions.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/constant-propagation-into-function-expressions.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-functionexpr-conditional-dep.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hoisting-functionexpr-conditional-dep.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/edge-case-merge-uncond-optional-chain-and-cond.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/edge-case-merge-uncond-optional-chain-and-cond.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/infer-function-cond-access-not-hoisted.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reduce-reactive-deps/infer-function-cond-access-not-hoisted.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/try-catch-maybe-null-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/try-catch-maybe-null-dependency.ts
  compiler/packages/snap/src/SproutTodoFilter.ts
Labels: CLA Signed, React Core Team

#32420 [eslint] Target ES5
  packages/eslint-plugin-react-hooks/tsconfig.json
Labels: CLA Signed, React Core Team

#32417 [compiler] remove invariant to account for backedges
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-backedge-reference-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-backedge-reference-effect.js
Labels: CLA Signed, React Core Team

#32428 [compiler][playground] Upgrade to Next 15.2.0-canary.64
  compiler/apps/playground/components/StoreContext.tsx
  compiler/apps/playground/next-env.d.ts
  compiler/apps/playground/package.json
  compiler/apps/playground/yarn.lock
Labels: CLA Signed, React Core Team

#32434 Revert "Ship enableFabricCompleteRootInCommitPhase (#32318)"
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Labels: CLA Signed, React Core Team

#32330 [flow] Eliminate usage of global React types in ReactNativeTypes.js
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react/index.js
Labels: CLA Signed

#32379 Rerender useSwipeTransition when direction changes
  .eslintrc.js
  fixtures/view-transition/src/components/Page.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/shared/ReactTypes.js
  scripts/error-codes/codes.json
  scripts/flow/environment.js
  scripts/rollup/validate/eslintrc.cjs.js
  scripts/rollup/validate/eslintrc.cjs2015.js
  scripts/rollup/validate/eslintrc.esm.js
  scripts/rollup/validate/eslintrc.fb.js
  scripts/rollup/validate/eslintrc.rn.js
Labels: CLA Signed, React Core Team

#32412 Allow passing range option to useSwipeTransition
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/shared/ReactTypes.js
Labels: CLA Signed, React Core Team

#32422 Add Example of a SwipeRecognizer
  fixtures/view-transition/src/components/Chrome.css
  fixtures/view-transition/src/components/Page.css
  fixtures/view-transition/src/components/Page.js
  fixtures/view-transition/src/components/SwipeRecognizer.js
Labels: CLA Signed, React Core Team

#32445 [Fizz] Responsive images should not be preloaded with link headers
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Labels: CLA Signed, React Core Team

#25231 use-sync-external-store: Add `exports` field to `package.json`
  packages/use-sync-external-store/package.json
  packages/use-sync-external-store/shim/with-selector.js
Labels: CLA Signed, Resolution: Backlog, React Core Team

#32446 [RN] Move definition of public instances to ReactNativePrivateInterface
  packages/react-native-renderer/src/ReactNativeFiberHostComponent.js
  packages/react-native-renderer/src/ReactNativeFiberInspector.js
  packages/react-native-renderer/src/ReactNativePublicCompat.js
  packages/react-native-renderer/src/ReactNativeTypes.js
  packages/react-native-renderer/src/__mocks__/react-native/Libraries/ReactPrivate/ReactNativePrivateInterface.js
  scripts/flow/react-native-host-hooks.js
Labels: CLA Signed

#32425 [flags] remove enableRemoveConsolePatches
  packages/react-reconciler/src/ReactFiberDevToolsHook.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/consoleWithStackDev.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  packages/shared/forks/consoleWithStackDev.rn.js
  packages/shared/forks/consoleWithStackDev.www.js
  scripts/babel/transform-replace-console-calls.js
  scripts/rollup/build.js
  scripts/rollup/forks.js
Labels: CLA Signed, React Core Team

#31917 [forgive] Scaffold workspaces
  .github/workflows/compiler_typescript.yml
  compiler/packages/react-forgive/client/package.json
  compiler/packages/react-forgive/client/yarn.lock
  compiler/packages/react-forgive/package.json
  compiler/packages/react-forgive/server/package.json
  compiler/packages/react-forgive/server/src/index.ts
  compiler/packages/react-forgive/server/tsconfig.json
  compiler/packages/react-forgive/server/yarn.lock
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#31927 [forgive] Add build scripts
  compiler/packages/react-forgive/.vscodeignore
  compiler/packages/react-forgive/package.json
  compiler/packages/react-forgive/scripts/build.mjs
  compiler/packages/react-forgive/scripts/client.mjs
  compiler/packages/react-forgive/scripts/server.mjs
Labels: CLA Signed, React Core Team

#31918 [forgive] Init
  .gitignore
  compiler/.gitignore
  compiler/packages/react-forgive/.vscode-test.mjs
  compiler/packages/react-forgive/.yarnrc
  compiler/packages/react-forgive/LICENSE
  compiler/packages/react-forgive/client/package.json
  compiler/packages/react-forgive/client/src/extension.ts
  compiler/packages/react-forgive/package.json
  compiler/packages/react-forgive/scripts/server.mjs
  compiler/packages/react-forgive/server/package.json
  compiler/packages/react-forgive/server/src/compiler/index.ts
  compiler/packages/react-forgive/server/src/compiler/options.ts
  compiler/packages/react-forgive/server/src/index.ts
  compiler/packages/react-forgive/server/tsconfig.json
  compiler/packages/react-forgive/server/yarn.lock
  compiler/yarn.lock
Labels: CLA Signed, React Core Team

#32001 Use valid CSS selectors in useId format
  packages/react-debug-tools/src/__tests__/ReactHooksInspectionIntegration-test.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMUseId-test.js
  packages/react-reconciler/src/ReactFiberHooks.js
Labels: CLA Signed, React Core Team

#32462 Move ViewTransitions helpers to ReactFiberCommitViewTransitions
  packages/react-reconciler/src/ReactFiberCommitViewTransitions.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Labels: CLA Signed, React Core Team

#32476 [forgive] Add basic codelens provider
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Options.ts
  compiler/packages/react-forgive/server/src/compiler/compat.ts
  compiler/packages/react-forgive/server/src/compiler/index.ts
  compiler/packages/react-forgive/server/src/index.ts
Labels: CLA Signed, React Core Team

#32477 [forgive][ez] Ignore test file
  compiler/packages/react-forgive/.vscodeignore
Labels: CLA Signed, React Core Team

#32486 [release] Update publishing scripts to make publishing allowlisted packages easier
  scripts/release/prepare-release-from-npm-commands/parse-params.js
  scripts/release/prepare-release-from-npm.js
  scripts/release/publish-commands/parse-params.js
  scripts/release/publish.js
Labels: CLA Signed, React Core Team

#32487 [ci] Add workflow to publish releases
  .github/workflows/runtime_releases_from_npm_manual.yml
Labels: CLA Signed, React Core Team

#32489 [ci] Fix --dry not being passed correctly
  .github/workflows/runtime_releases_from_npm_manual.yml
Labels: CLA Signed, React Core Team

#32451 Add Commit Scaffolding for Gestures
  fixtures/view-transition/src/components/SwipeRecognizer.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberApplyGesture.js
  packages/react-reconciler/src/ReactFiberConfigWithNoMutation.js
  packages/react-reconciler/src/ReactFiberGestureScheduler.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
Labels: CLA Signed, React Core Team

#32491 [ci] Fix discord notification title
  .github/workflows/runtime_releases_from_npm_manual.yml
Labels: CLA Signed, React Core Team

#32492 [ci] Upload release for easier debugging
  .github/workflows/runtime_releases_from_npm_manual.yml
Labels: CLA Signed, React Core Team

#32411 refactor(eslint-plugin-react-hooks): move rules to `rules` folder
  packages/eslint-plugin-react-hooks/README.md
  packages/eslint-plugin-react-hooks/src/index.ts
  packages/eslint-plugin-react-hooks/src/rules/ExhaustiveDeps.ts
  packages/eslint-plugin-react-hooks/src/rules/RulesOfHooks.ts
Labels: CLA Signed

#32457 feat(eslint-plugin-react-hooks): make flat config the `recommended` config
  fixtures/eslint-v9/eslint.config.ts
  fixtures/eslint-v9/package.json
  fixtures/eslint-v9/tsconfig.json
  fixtures/eslint-v9/yarn.lock
  packages/eslint-plugin-react-hooks/README.md
  packages/eslint-plugin-react-hooks/src/index.ts
Labels: CLA Signed

#32493 [ci] Don't erroneously mark failures as successes
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_eslint_plugin_e2e.yml
Labels: CLA Signed, React Core Team
